[2020-11-16 20:11] txf- commented on #222
Yeah, makes sense. I hope I didn't come across as being too pushy.

[2020-11-16 20:16] MarshallAsch commented on #222
All good, asking why we are "reinventing the wheel" is a perfectly valid question.

[2020-11-16 20:18] txf- commented on #222
I'm liable to need both projects installed, one to control cooling and another to do the lighting of various systems. I don't want to end up in a position where I need x number of different programs running to handle all that stuff, something ostensibly both programs exist to remedy.

Maybe I'm only worrying about a hypothetical.

[2020-11-16 20:33] MarshallAsch commented on #222
That makes a lot of sense Its why I have been adding support for my devices to this project

What devices do you currently have / which program do you use to control them?

If you prefer to use the liquidctl program you can add an issue for a new device on here

[2020-11-16 21:56] txf- opened #225 "Add support for GSkill Trident Z Neo RAM"
I believe that this RAM uses the Asus AuraSync protocol over SMBus. I might tackle this myself once the liquidctl SMBus functions take shape.

I presume that this will also apply any Trident Z RAM with RGB like the Royal.

[2020-11-16 21:57] txf- commented on #222
will do. Thanks.

[2020-11-17 01:59] jonasmalacofilho commented on #222
@txf-

Your questions were valid...  And, honestly, I don't have a final answer to them.

For now, I'm interested in exploring how to do I²C/SMBus with Python, figuring out which devices¹ we can support across all platforms, and how to handle device detection in the safest possible way.

I think the experience will be valuable regardless of whether we decide to use the OpenRGB SDK, and even if we

[2020-11-18 16:03] lakinwecker opened #226 "Support for Floe Riing RGB 360 TT Premium Edition (CL-W158-PL12SW-A)"
https://github.com/chestm007/linux_thermaltake_riing supports it, but I prefer the interface this project is exposing, and the features this project supports.  It's not yet clear to me whether the same features can be implemented for my cooler, but if they can I think I'd be interested in looking into it.  Of course, that depends on whether you'd accept a PR of this sort.

[2020-11-18 20:52] jonasmalacofilho commented on #226
Absolutely!

---

License are compatible: as of [`linux_thermaltake_riing@d805e05f0e06`](https://github.com/chestm007/linux_thermaltake_riing/commit/d805e05f0e06beb92d6c95a1a3e9d78a307d51d1) all relevant files are licensed under the GPL-2.0-or-later.

[2020-11-18 22:03] lakinwecker commented on #226
The likelihood I have time in the near future is slim. So if someone else comes along and wants to work on this instead of me, they should feel free to do so. But I'll try and make time before the new year.

[2020-11-18 23:03] jonasmalacofilho commented on #226
That's fine.

But can you edit the issue title and description to clarify the specific device (or devices) you're interested in?

[2020-11-19 00:23] lakinwecker commented on #226
Done. I assume it's the same as many of their other devices, but that's the one I have.

[2020-11-19 00:28] jonasmalacofilho commented on #226
Thanks!

[2020-11-20 01:51] Hely0n commented on #78
Are you planning to create a service, which controls the rad fans via a smart device according to liquid temp? I tried to make a little powershell script, because I think it makes more sense than blowing with higher CPU temp (spikes). Unfortunately I failed with the script as powershell don't like python or so...

Great work btw! Absolutely glad to get rid of that hungry CAM 😄

[2020-11-20 02:03] jonasmalacofilho commented on #78
There already exists a script for this: [`extra/yoda`](https://github.com/jonasmalacofilho/liquidctl/blob/master/extra/yoda).

I also planned to integrate it into the main liquidctl CLI (#72), but this is no longer likely to happen.

[2020-11-21 12:37] NitroNokia opened #227 "Exporting to hwinfo"
Is there some kind of documentation for exporting data to hwinfo?
Everything works, drivers are correct, liquiddump shows data. Can't seem to find easy way to export data out. Im using evga clc280.

status --debug
[debug.txt](https://github.com/jonasmalacofilho/liquidctl/files/5577605/debug.txt)

[2020-11-21 13:32] jonasmalacofilho commented on #227
Hi @NitroNokia,

HWiNFO supports integration through the Windows Register, and I made some experiments with.  Unfortunately that work has stalled, but please take a look at #101 for a proof of concept and more details.

---

I'm going to close this issue as duplicate of that other one.  Let's continue the conversation there.

[2020-11-21 13:32] #227 closed

[2020-11-21 13:39] jonasmalacofilho commented on #72
Quick update: integrating this into the CLI stalled, and I'm no longer working on that.

Users wanting software-based fan or pump speed profiles should use the [`extra/yoda`](https://github.com/jonasmalacofilho/liquidctl/blob/master/extra/yoda) script for now, which is fairly usable as is; contributions to improve it are also very welcome.

Finally, I'm closing this issue, but if someone wants to

[2020-11-21 13:39] #72 closed

[2020-11-22 06:56] voltagex opened #229 "Windows: Corsair Hydro H115i"
I'd really like to change the fan speeds on my 115i without needing iCUE.

[code]

Is this supposed to work?

[2020-11-22 08:10] jonasmalacofilho commented on #229
Hi!

Please show me the output of each command with the flag `--debug` appended.

[2020-11-23 06:09] Albinoman887 commented on #137
any progress with this?

[2020-11-23 12:07] voltagex commented on #229
[code]

[2020-11-23 15:38] MarshallAsch opened #231 "Code style and formatting refactor"
As of the new style guide (that is scheduled to be added in #230) a code refactor is in order.

Things to clean up
- [x] check and fix the formatting of log messages
- [x] check and fix the formatting of exception messages
- [x] check how values are entered into log messages (format strings vs lazy formatting)
- [x] how unsafe flags are handled in drivers (but may need to be revisited in #232)
- [

[2020-11-23 17:21] NitroNokia commented on #227
So now its working correctly, i think that the cause of the problem was that i was missing ms build tools or something like that. After installing those, and running LQiNFO.py everything working correctly.

[2020-11-23 18:07] jonasmalacofilho commented on #229
This appears to be a problem at the driver level.

Did you notice that this driver requires a special driver, and did you follow the steps to install it?

- [Installing on Windows](https://github.com/jonasmalacofilho/liquidctl#installing-on-windows)
- linked from [Asetek 690LC liquid coolers](https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/asetek-690lc-guide.md)
- linked from [Suppo

[2020-11-23 19:57] ArshZilpe commented on #167
@jonasmalacofilho

[2020-11-23 22:14] jonasmalacofilho commented on #167
No news on my side, I haven't been able to decode those `.bin` files yet.

They may be the key to understanding the traffic captures.  By the way, protocol looks nothing like is used used by the Kraken Z coolers.

[2020-11-23 22:16] ArshZilpe commented on #167
I see. That's a shame. Thank you anyway! I'll keep digging around.

[2020-11-23 22:18] jonasmalacofilho commented on #137
As far as I knew the ball was in your court ;)

[2020-11-24 10:44] voltagex commented on #229
Ah sorry about that.

In my defence, it's only marked as E, not Z on the wiki:

![image](https://user-images.githubusercontent.com/159567/100082897-e5cb1680-2e9c-11eb-82f8-00f8f728e408.png)

I can confirm with WinUSB installed via Zadig it's working correctly.

[code]

[2020-11-24 10:44] #229 closed

[2020-11-24 11:31] jonasmalacofilho commented on #229
Don't worry about it.

In fact, this was in part caused by Corsair's less-than-ideal naming scheme: you're looking at the wrong line, you have a H115i, not H115i _Platinum._

Anyway, I'm glad it's working now! : )

[2020-11-24 11:39] #204 closed

[2020-11-24 12:07] jonasmalacofilho commented on #216
@glassworks-projects

Hi again,

I'm not sure if you were following the upstream discussion, but here's the gist:

- the segmentation fault should be fixed (pending cython-hidapi updating their submodule),
- but no device will be found.

Unfortunately none of us (liquidctl, cython-hidapi, hidapi) knows why no HIDs are enumerated when running from a boot agent.  One idea is that the agent might _no

[2020-11-24 14:29] MarshallAsch commented on #225
I believe that this also uses the ASUS smbus protocol: [here](https://gitlab.com/CalcProgrammer1/OpenRGB/-/wikis/ASUS-Aura-Overview).

Parts of a reference probe implementation from openRGB [here](https://gitlab.com/CalcProgrammer1/OpenRGB/-/blob/master/Controllers/AsusAuraSMBusController/AsusAuraSMBusControllerDetect.cpp).

@txf- would you be able to provide output for `sudo i2cdetect -l` then `u

[2020-11-25 07:04] jonasmalacofilho opened #232 "Cannot pass unsafe feature to connect through context manager"
This came up as I'm writing tests for the EVGA Pascal APIs.  I'm making the issue to remember to fix it later.

All SMBus code is unsafe to `connect()`, and requires `unsafe='smbus'`.  However, we can't pass arguments to `__enter__`, so using the current context manager implementation on `BaseDriver` is not useful:

[code]

The exception is caused by `set_color` seeing the smbus feature, and thus

[2020-11-25 11:07] #224 closed

[2020-11-25 12:52] #101 closed

[2020-11-26 12:45] #232 closed

[2020-11-26 13:22] jonasmalacofilho commented on #62
I would like to have liquidctl 1.5 in Debian 11 (Bullseye) and Ubuntu 21.04.

The schedule is a bit tight though, since both will start their feature freezes in early February.  So we should probably get 1.4.2 packaged before that, only requiring a quick update after 1.5.

@MarshallAsch, do you by any chance have any experience with this?

[2020-11-26 16:18] MarshallAsch commented on #62
Unfortunately I do not, I have never created a distro package before.

[2020-11-27 14:28] andytank123 commented on #137
I've made an attempt at making a working driver using @jlask fork as a starting point. The code can be found [here](https://github.com/andytank123/liquidctl).

Please note, this has not been tested at all. My H100i PRO is still in the post, when it arrives I'll still be stuck in a queue waiting for a CPU to use with it.

[2020-11-27 15:04] joaqim commented on #137
You forgot to import asetek_pro.py into driver/__init__.py
[code]

[2020-11-27 15:10] joaqim commented on #137
Testing your code with h115i Pro, status and changing fixed speed on fans work.

[2020-11-27 15:41] andytank123 commented on #137
Thank you for testing this actually works.

Currently you can't set an individual fans speed. Now that I know it works, I'll change it so channel `fan`, changes all fans, channel `fan1` changes the first, `fan2` the second, etc.

[2020-11-27 15:48] joaqim commented on #137
That would be great Andrew.
Also setting colors works aswell but that has worked on @jlask's fork previously. I've just been waiting for someone to make fans work since I ran into problems.

[2020-11-27 16:06] andytank123 commented on #137
Thank you, now I know I didn't break the RGB. I've pushed a new version with more devices and individual fan controls.

[2020-11-27 16:57] MarshallAsch commented on #137
Feel free to make a PR with your new drivers so it can be reviewed and added to the rest of the project.

[2020-11-27 20:13] txf- opened #235 "General API for dealilng the device-specific properties"
_Original title: Setting the pump mode outside of initialize_

---

[code]

the initialize function seems to be the only place where pump mode is set. As the function comment states, initialize doesn't do anything once fans are configured. But it is a bit strange to have to call initialize every time I want to change pump mode. Is there some reason I'm missing that this is done this way?

[2020-11-27 22:02] Albinoman887 commented on #137
W00t w00t

On Fri, Nov 27, 2020, 8:57 AM Marshall Asch <notifications@github.com>
wrote:

[2020-11-28 04:56] jonasmalacofilho commented on #235
There are two reasons for this:
- not having a better *general* API for dealing with this type of device state (yet)
- it is important to put the cooler in a know state during initialization

The second is easily kept if we improve the first: just continue to default to `balanced` mode.

[2020-11-28 06:01] gwstorm opened #236 "Error running under testing/python (3.9) in Arch Linux"
Python 3.9 hit testing in Arch Linux on Nov 26th. Updating to it breaks liquidctl with the following output -

[code]
Downgrading back to stable 3.8.6-1 returns normal functionality. I'm not sure if this is already known or a bit too preemptive, but if you need any further output or checks, I'd be happy to help. All dependencies are installed through pacman/aur. No pip.

[2020-11-28 06:47] jonasmalacofilho commented on #236
I'm using Arch as well, I'll give it a try here as soon as I can.

In the meantime, did you remake and reinstall the `liquidct[-git]` package after upgrading to Python 3.9?

[2020-11-28 07:00] gwstorm commented on #236
I did rebuild liquidctl and I tried to install the git package, but it actually errored out as well. The git package does still successfully build under python 3.8 though. I don' t have that output under 3.9 at the moment. It ended with something about pytest. It looks like 3.9 has a *lot* of python packages adjusting and the only real sane way for me to get back to normal with gkraken was to down

[2020-11-28 07:17] jonasmalacofilho commented on #236
I was able to reproduce this, as well as confirm that a _successful_ rebuild (and reinstall) fixes the problem.

_(This is common and all Python packages in the official repositories will have been rebuilt by the time `python` hits `extra`)._

However, you mentioned that liquidctl isn't building on 3.9 due to errors during the `check()` phase.  Can you post the output here when you have some time?

[2020-11-28 07:25] gwstorm commented on #236
I just upgraded to testing again and tried a clean rebuild of `liquidctl-git` and this was the result, which is the same as what I received before -

[code]

[2020-11-28 07:34] jonasmalacofilho commented on #236
Oh, it seems that `pytest` needs its rebuild too : )

You can rebuild it locally (for example, using the ABS), but then you would need to manually downgrade it when going back to stable.

P.S. our tests have been running on Python 3.9 in CI, and barring some Arch-specific issue, as soon as `pytest` can run, `check()` should pass without additional issues.

[2020-11-28 07:41] gwstorm commented on #236
Oh, well in that case it looks like everything will be just fine in the end. Sorry for all of that. Liquidctl is pretty vital for me so I get a bit nervous when issues come up!

Thanks for your time and prompt replies.

[2020-11-28 07:41] #236 closed

[2020-11-28 08:08] jonasmalacofilho commented on #236
I completely understand.  And thanks for letting me know about the problem, regardless of whether it will (probably) be gone once 3.9 is out of `testing` (and we trigger a rebuild of the AUR packages).

By the way, I'll leave the issue pinned until that happens, just in case someone else also stumbles on this.

[2020-11-28 19:02] #222 closed

[2020-11-28 22:26] MarshallAsch commented on #225
@txf- The SMBus base classes have now been created and merged into master if you want to take a look at that if your still interested in adding a driver for this.

[2020-11-29 16:18] txf- commented on #225
finally got ubuntu installed on my new pc. For reference the results of i2cdetect:
[code]
this doesn't seem to be particularly clear.  This is on an x570 motherboard.

[2020-11-29 16:27] jonasmalacofilho commented on #225
I just learned that nvkm stands for NVIDIA Kernel Module, aka nouveau, and you might be able to gather more information about the `sor*` buses by inspecting `/sys/bus/i2c/devices/i2c-<number>/device`.

Can you also post the output of `ls -l /sys/bus/i2c/devices/`?

[2020-11-29 16:38] txf- commented on #225
output:
l```
s -l /sys/bus/i2c/devices/
total 0
lrwxrwxrwx 1 root root 0 nov 29 15:54 i2c-0 -> ../../../devices/pci0000:00/0000:00:03.1/0000:09:00.0/i2c-0
lrwxrwxrwx 1 root root 0 nov 29 15:54 i2c-1 -> ../../../devices/pci0000:00/0000:00:03.1/0000:09:00.0/i2c-1
lrwxrwxrwx 1 root root 0 nov 29 15:54 i2c-10 -> ../../../devices/pci0000:00/0000:00:03.1/0000:09:00.0/i2c-10
lrwxrwxrwx 1 root root 0 nov

[2020-11-29 17:04] jonasmalacofilho commented on #225
That's exactly what I was hoping to see, since their location is defined by the DDR4 spec.

What driver are the parents of `i2c-1[4-6]` using?
(You should be able to find this with `ls -l /sys/bus/i2c/devices/<dev>/device/driver`).

---

How about `lspci`, can you see a SMBus controller there?

And what you get with `lspci -vvv -s <address of that smbus controller>`?

[2020-11-29 18:49] txf- commented on #225
this is what I get:
[code]

lscpi:
[code]
it says the kernel module is i2c_piix4 as expected, but i2cdetect doesn't list it as such.

[2020-11-29 23:55] jonasmalacofilho commented on #225
Possibly, but I would also check the other "ports" (i2c-1 and i2c-2).  Based on what I've been looking into for the Vengeance RAM, I expected the device address part (least significant 3 bits) to be same between SPD and LED.

[2020-11-30 00:16] txf- commented on #225
IIRC I probed i2c 1 and 2 and no devices enumerated on those busses. I'll check again tomorrow, though.

[2020-11-30 00:55] jonasmalacofilho commented on #225
If they are really different buses, absolutely; but if these ports are just some abstraction at the data layer, with a single bus at the physical level, it shouldn't matter.

In the DIMM module the SPD EEPROM and the LED controller are almost certainly different chips.  The only limitation is the DIMM connector, which has pins for a single 2-wire SMBus.

That said, the DIMM connector also only has

[2020-11-30 11:17] txf- commented on #225
Running OpenRGB on windows detects one of the sticks at 0x74. I don't know how pertinent this is, I believe SMBus (as opposed to I2C) has the ability to remap addresses at runtime?

[2020-11-30 11:33] jonasmalacofilho commented on #225
SMBus 2.0 and later that have that ability in the address resolution protocol.

The addresses could change from boot to boot:

[2020-11-30 12:58] jonasmalacofilho commented on #225
I forgot to mention, but the upside of SMBus 2.0 and ARP is that it's also possible to enumerate the bus.

I'm not sure if we can use this from user-space (or even kernel space, the board firmware could be in control)... and we don't want to really "enumerate" the entire bus (this would be slow and could also confuse the board firmware).  But it might be possible to query the unique ID of a partic

[2020-12-01 21:46] voltage321 commented on #79
Hi Everyone. I would be glad to help, but I only a web developer. I just got my nzxt kraken z73, please, let me know if you need anything.

Also, can I sync my CPU temp in nzxt display with MacOS?

[2020-12-02 14:44] jonasmalacofilho commented on #236
Python 3.9 arrived in `extra` today; was able to rebuild liquidctl (with the `check` function unchanged) without issues.

[2020-12-02 18:08] gwstorm commented on #236
Confirmed that it worked for me. Full system upgrade and a rebuild of `liquidctl-git` and everything is great.

Thanks for maintaining this package!

[2020-12-02 18:34] jonasmalacofilho commented on #236
Thanks!

For others coming here, `liquidctl` (non `-git`) should work just as well.

[2020-12-02 23:38] redno2 opened #238 "Dependence needed for ubuntu"
Hi,
on the latest ubuntu 20.04 your need to add these libs as a dependence which is not installed by default, to install liquidctl with pip3.

`sudo apt install libusb-1.0-0-dev libudev-dev `

May be interesting to add it in your documentation.

thanks.

[2020-12-02 23:40] #238 closed

[2020-12-03 00:37] redno2 opened #239 "H115i Platinum no working"
Hi,

I'm on the latest Ubuntu and liquidctl doesn't work with this "supported device". Installed with pip3.

[code]

Any idea ?

[2020-12-03 01:28] jonasmalacofilho commented on #239
Corsair strikes again with their confusing and inconsistent names.  That device was sold as the H115i PRO, not Platinum (which is exists but is completely different).

Support for the Corsair PRO series is under development, but already fairly advanced: take a look at PR #234.  Before that it was tracked in issue #137.

[2020-12-03 01:28] #239 closed

[2020-12-03 01:33] jonasmalacofilho commented on #238
Thanks!

It's already in the documentation though.

—https://github.com/jonasmalacofilho/liquidctl#installing-on-linux

[2020-12-03 02:11] Frick-David commented on #134
Went again and updated the issue for the `liquidctl` package. `python3-usb` was fixed by its maintainer on void's end as there had been a hiccup. Should be good to go barring any changes needed (although if there are, they should be minor ones).

Thanks, will post back!

[2020-12-03 02:26] jonasmalacofilho commented on #134
Ok, thanks!  And it's great to have you back.

[2020-12-03 18:54] gabrik opened #240 "Add support for NCT6798"
_Original title: Add support for Corsair Hydro H100x_

---

First thanks for this awesome tool.

It would be possible to add this Corsair AIO?

I can give all the needed help and test it.

My current setup is:

Debian sid - 5.9.0-4-amd64
System is AMD Ryzen 9 3900X on ASRock X570 PhantomGaming 4

I can see the fans and the pump (I guess) from `lm-sensors`

Thanks!

PS.
The device is not connected

[2020-12-04 16:51] cluxter commented on #188
This sounds like a nice project. Do you have a Git repo somewhere to which we could contribute?

[2020-12-04 17:56] jonasmalacofilho commented on #240
Hi @gabrik!

Since you're connecting the fans and pump to the motherboard, what is really necessary is support for that board.  Presumably for the Super I/O chip it's using.  Do you happen to know which is it?

Regardless, supporting this type of thing is something I'm still evaluating: one hand we're now experimenting with non-USB devices, so that's a maybe; on the other, Super I/O chips (really)

[2020-12-04 20:51] Sporknife commented on #188
@cluxter yea i do. I made it public some time ago again. Repo linked [here](https://github.com/Sporknife/Liquidctl-Qt).

[2020-12-05 09:26] cloudcrypt commented on #78
Is there a way to use this tool to automatically control the speed of the radiator fans **connected to motherboard headers** (without any extra hardware device/controller) based on the liquid temperature readings?
(i.e. to recreate the previous functionality...)
Thanks!

[2020-12-05 21:48] jonasmalacofilho commented on #78
It is, but you need to find a (relatively flexible) program that supports your motherboard.

[2020-12-05 22:16] MPasadu opened #241 "Kraken X62 read error"
no more an issue

[2020-12-05 22:18] #241 closed

[2020-12-10 13:04] brandon-feder opened #242 "Corsair H100i Platinum SE not setting leds properly"
Hello. When my computer is booting, both the fans ( and the pump ) light up with there default RGB barf. However, once the liquidcfg service is started, only one fan (and the pump) light up while the other fan does not. Both fans are spinning, but only one lights up. I am not sure whether this is a hardware or software issue, but I was hoping that if it is a software issue, that someone would help

[2020-12-10 22:46] jonasmalacofilho commented on #242
Hi @brandon-feder,

What specific variant of the H100i do you have?  Can you also post which specific liquidctl commands you are using, as well as their corresponding output with `--debug`?

[2020-12-10 22:49] #219 closed

[2020-12-10 22:50] MarshallAsch commented on #242
Not quite related to your immediate problem but there is a fix in progress for that "default RGB barf" that shows up while the computer is booting. (see #193 for more details on that.)

[2020-12-10 22:51] #173 closed

[2020-12-10 22:53] #216 closed

[2020-12-11 11:28] #223 closed

[2020-12-11 11:43] jonasmalacofilho commented on #225
@txf-

Some DDR4 stuff I was working on has finally reached the main branch: [`liquidctl.driver.ddr4`](https://github.com/jonasmalacofilho/liquidctl/blob/master/liquidctl/driver/ddr4.py).

The blind probing of addresses is significantly limited by first inspecting the detected DIMMs and their corresponding SPD EEPROM data.  Unfortunately this is fairly specific to the kernel support for a given SM

[2020-12-11 13:42] brandon-feder commented on #242
Hello. Thanks for your reply. I have a H100i RGB PLATINUM SE. The only commands I run are `sudo liquidctl initialize` and `sudo liquidctl set led color fixed ffffff`. Its output using the `--debug` flag is the following:

[code]

and

[code]

Also, thanks @MarshallAsch. I will look into this.

[2020-12-11 14:44] MarshallAsch commented on #242
all of that output looks correct. What fan types do you have connected? Is it the two ML fans that came with the cooler or did you switch to different fans?

Is this a new issue (it worked before and has since stoped working) or is this the first time you are using `liquidctl`?

[2020-12-11 14:52] brandon-feder commented on #242
They are the fans that came with the computer, and this issue just started when I upgraded my motherboard. I have used liquidctl for a while now.

[2020-12-11 15:36] MarshallAsch commented on #242
Does it work properly using icue in windows (either as a dual boot or in a vm)?

[2020-12-11 16:29] brandon-feder commented on #242
Yes it does. In my Windows VM, I tried it and both fans and the cooler work just as expected.

[2020-12-11 16:49] MarshallAsch commented on #242
hmm thats odd. I just checked it on mine. (the non SE version) and everything worked as expected and it is using the same firmware version. I'll look at this some more over the next couple days and see what I can come up with.

Aside from your motherboard upgrade did anything else change?

[2020-12-11 16:52] brandon-feder commented on #242
I changed nothing else. I possible moved some cables around but all the components are identical. Thanks for your help. And no rush. It's not that important that the RGB works if the fans are spinning.

[2020-12-11 18:15] gabrik commented on #240
Hi @jonasmalacofilho

From sensors I can see this:

[code]

Also `pwmconfig` reports:

[code]

So I guess the chip is `nct6798`, also with `fancontrol` I can adjust the speed of the fans and the pump but it does not five a very fine control, or at least I wasn't able to make a nice curve, that is, for the time being I'm using the curve configured in the bios.

Please let me know if  you need me to

[2020-12-11 22:11] jonasmalacofilho commented on #240
It's very unlikely that we'll be able to do much better than the nct6798 driver.  What we could explore is using `liquidctl` as a (possibly better) alternative to `fancontrol` for standard hwmon drivers.  In your opinion, what fine control knobs are lacking in `fancontrol`?

[2020-12-11 22:21] jonasmalacofilho commented on #242
@brandon-feder

Back in #170 you were using a git version of liquidctl from before 1.4.1.  Could you rule out this issue being a regression in 1.4.1 or 1.4.2 (by going back to previous versions/builds)?

Apart from that your power saving/ErP motherboard settings may be different now, and could be wiping some state liquidctl was relying on being already set.  Do you think you can provide some USB [

[2020-12-12 17:54] MPasadu opened #243 "How to reset / set to default a fan curve?"
I've set a fan curve and a pump curve for my Kraken X62.
Now I actually only need the pump curve set by liquid temp and want to run the fan curve via my motherboard's bios (cpu temp).

But I can't find how to disable/reset the fan curve now so my motherboard curve is used instead.
These settings seem to be stored on the hardware itself, right? But when I override them with NZXT's Cam, and then clo

[2020-12-12 19:10] jonasmalacofilho commented on #243
To restore the default settings, power off the cooler.  Depending on your power saving/ErP motherboard settings this will require turning off the PSU (and waiting for all caps to be drained); because the cooler's controller, as other USB devices, can be powered from the 5 V Stand-by rail.

---

That said, you might not actually need that, since:

- the default/factory settings are also curves base

[2020-12-12 19:11] #243 closed

[2020-12-13 19:46] brandon-feder commented on #242
Hello. Sorry for not getting back to you sooner. I will try to get you this traffic captures by later today or tomorrow. I appreciate your help.

[2020-12-14 22:23] brandon-feder commented on #242
Hello. I downgraded liquidctl to a few previous versions. However, because support for my cooler is relatively knew, I did not go back that far. Id also like to note that liquidctl worked perfectly fine before I upgraded my motherboard and that unless there was an update in the hour or two it took to swap the boards, I doubt that the version is the problem. Either way, I can attach the Wireshark d

[2020-12-15 07:15] Webxorcist commented on #79
Hello,

I just bought and installed the NZXT Kraken Z73. This is my output:

:~> lsusb -d 1e71:3008 -v

Bus 001 Device 003: ID 1e71:3008 NZXT NZXT KrakenZ Device
Couldn't open device, some information will be missing
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass            0
  bDeviceSubClass         0
  bDeviceProtocol

[2020-12-15 08:06] jonasmalacofilho commented on #242
To prevent most private information from leaking, make sure to filter the packets to only those from/to the cooler.

One simple way to do that is to first need to figure out the device's address number with lsusb.  Taking as an example my Kraken cooler:

[code]

With this information you can capture only the desired bus (in this case by selecting the `usbmon1` input) and device (using filter `usb.

[2020-12-15 09:45] Webxorcist commented on #79
I got liquitctl working on my Suse Tumbleweed system. Thanks for your efforts!
Why would I need to put in my own settings as for fan/pump speeds? I can already see that if the temp rises, the pump will work harder. Why would I need to tinker with this?

I am really happy I can now read my temperature and can do some sort of display design.

[2020-12-15 10:14] gabrik commented on #240
When using `fancontrol` I was able to set only a few parameters:

- Temperature at which fan should stop
- Temperature at which fan should start spinning
- Initial fan RPM
- Temperature at which fan should be at maximum speed

Then it does linear interpolation between the points to calculate the right PWM and hence fan speed.

It also does not have any way to know if a "fan" is actually a "pump".

[2020-12-15 10:17] inglor commented on #79
@Webxorcist you don't _need_ to. But now you have the option to adjust the curve of pump/fan.

I think the pump / fans are using an internal hardcoded curve which is the default if you don't provide anything. This is like a failsafe for the AIO to not sit idle when you start the PC or in unsupported OSes. You can tell there's also there's also a failsafe for the screen to show the liquid temp in w

[2020-12-15 11:01] Webxorcist commented on #79
@inglor Thank you for your answer. I don't have windows at all, so I do have the liquid temp in the white background. I'll see how to change this in the future. For now I am just happy to see the liquid temp on my monitor, since I have a Ryzen CPU that needs the 5.10 kernel to read out the CPU temp.

[2020-12-16 03:34] jonasmalacofilho commented on #240
I need to look into `fancontrol`.  I know it exists, and I know what the hwmon interfaces expose, but I don't have any first time experience trying to use it.

That said, our CLI only exposes chip-native features.  While with our APIs it's possible to extend those features, like implementing more fine grained profiles than what the hardware supports, this wouldn't be accessible through the CLI.  T

[2020-12-17 06:59] ghhausi commented on #137
Hi - hope this is the right place to ask:
I am running macOS 11.0.1 on a Gigabyte Aorus Z390 Pro, and I am almost satisfied:
- I have a Corsair H115i Pro - and want to control it via liquidctl but it doesn't see the device
(the H115i Pro identifies as H115i Platinum)

iMac ~ % liquidctl list
Device ID 0: Gigabyte RGB Fusion 2.0 8297 Controller
iMac ~ %

But I can see it on the USB:
iMac ~ % ioreg

[2020-12-17 07:10] jonasmalacofilho commented on #137
@ghhausi

This driver hasn't been merged yet, so it isn't available on the main liquidctl branch or the last stable release.   It should be merged soon, after which you'll be able to use with by simply switching to the `--HEAD` formula.

[2020-12-20 10:48] gardotd426 opened #244 "Support for EVGA XC3 Ultra RTX 3090?"
Hey, so I was completely shocked to see the new support for the EVGA FTW3 1080 and the ROG Strix GPUs after adding the new SMBUS dependency, as well as motherboards and all sorts of new stuff. Well, that got me wondering if it would be possible to at least look into adding the support for the XC3 Ultra RTX 3090 from EVGA. I doubt you remember but I was one of those 3 or 4 people that had X*3 AIOs

[2020-12-20 11:36] jonasmalacofilho commented on #244
Oh, hi again!

With SMBus/I²C devices we're making sure that the drivers are developed by someone with access to the actual hardware, since testing this stuff properly is very important.

If can work on this, it shouldn't be very hard at all.  And we'll obviously help, including reviewing your code before you actually have to run it...  feel free to join our [developer's server on Discord](https:/

[2020-12-20 11:37] gardotd426 commented on #244
Awesome, I'll check all that out and hopefully see you on the Discord

On Sun, Dec 20, 2020 at 6:36 AM Jonas Malaco <notifications@github.com>
wrote:

[2020-12-21 15:30] gabrik commented on #240
@jonasmalacofilho sorry for the delay, here you go:

[code]

[2020-12-23 15:53] JeongJae0815 opened #245 "all liquidctl command except "liquidctl list" doesn't work in my computer"
Hi
Thanks for every support about this water cooling control system. 👍
I recently install liquidctl, but only list command works in my computer.
I really don't know why this kind of things happened.

![스크린샷 2020-12-24 오전 12 56 51](https://user-images.githubusercontent.com/22664723/103014914-e978b880-4582-11eb-8ad4-674591904681.png)

![스크린샷 2020-12-24 오전 12 57 18](https://user-images.githubusercont

[2020-12-23 16:28] jonasmalacofilho commented on #245
Starting with the first error:

[code]

`liquidctl` cannot be executed under `LC_ALL=C` and Python 3.6, because non-ASCII characters are used in the output (see #84).

Also consider that `LC_ALL=C` is not really supposed to be used indiscriminately/globally:

---

The second error is utterly unexpected.  Can you run

[code]

to gather more information and show me the output?

[2020-12-23 16:30] jonasmalacofilho commented on #245
Additionally, do you really have *two* H100i v2 coolers on that system?

[2020-12-24 23:47] ROODAY opened #246 "Fan curve support for NZXT Kraken x61 on Windows?"
Looking through the issues I found this https://github.com/liquidctl/liquidctl/blob/master/extra/krakencurve-poc which says it supports the x62 but doesn't explicitly say x61, nor does it have a sensor option for Windows. Does anyone have a workaround, or could point me in the direction of getting it working? I don't mind having to write a little code, but I'm not sure where to start (never dealt

[2020-12-25 13:23] Jackiiiii opened #247 "Aorus liquid cooler?"
Hello, does it not support Aorus liquid cooler? and if not... is there anyway i can use my display and setting for Fan and Pump?... on linux..

i m searching now like last 3 days....

[2020-12-25 14:04] jonasmalacofilho commented on #246
We haven't been able to implement support for fan profiles on legacy Asetek 690LC devices like the X61.

These devices are painful to work with, but take a look at [#35 (comment)](https://github.com/liquidctl/liquidctl/issues/35#issuecomment-529792488).  Note however that's a very old issue, and so are any patches attached there.

---

A simpler alternative for you might be to run the fan profiles

[2020-12-25 14:06] jonasmalacofilho commented on #247
Not yet, see #167.

I'm not sure.

---

Closing as a duplicate of #167.

[2020-12-25 14:06] #247 closed

[2020-12-25 17:14] ROODAY commented on #246
@jonasmalacofilho I don't mind running in software (what's the difference between software and hardware, just that hardware is faster/more accurate?) but my concern was that for extra/yoda and extra/krakencurve-poc it says that there are no system sensors supported for Windows. Will that be an issue, or will it still work out of the box? (i.e. be able to read temps and adjust fan/pump accordingly)

[2020-12-25 17:42] jonasmalacofilho commented on #246
@ROODAY happy holidays!

By software I meant on your host/main CPU, instead of the controllers embedded CPU.  The main advantage of the latter is that it can be more reliable, since it's isolated from the rest of the system.  Also, `yoda` is experimental and not yet battle tested.

Still, while `yoda` wont have access to system sensors on Windows, you'll still be able to set up a profile based on

[2020-12-25 17:48] #184 closed

[2020-12-25 18:01] jonasmalacofilho commented on #240
I'm the one that's sorry, I totally messed up and the raw output of `sensors` wouldn't show me what I wanted to see anyway.

---

Still, having liquidctl support the NCT6798 chip wouldn't really help you very much (like I mentioned, the PWM inflection points would be the same, since they are defined at the hardware level).  And the chip (itself) is already well supported on Linux.

Writing a bette

[2020-12-25 18:04] #46 closed

[2020-12-25 18:05] jonasmalacofilho commented on #62
RFP: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=977256

[2020-12-25 18:56] MarshallAsch commented on #245
It also did not seem to have been run as root, did you also install  the `udev` rules to allow non root access? Could this be an odd permissions error?

[2020-12-25 21:31] jonasmalacofilho commented on #245
@MarshallAsch

That's possible... and it would make sense.

[2020-12-26 16:54] ROODAY commented on #246
Is there a specific DLL version I need to get yoda to work with the X61, similar to how I needed to install the WinUSB driver for the X61? I followed the install instructions for setting up liquidctl with python and putting the libusb dll in my python install (I used the latest release and the VS2019/MS64 folder), but when I try running show sensors I get the following error:
[code]

Do I need to

[2020-12-26 17:03] jonasmalacofilho commented on #246
`yoda` has the same driver requirements as liquidctl.  The issue is likely caused by not having passed `--legacy-690lc`.

You'll need to do a cold boot (turn off the PSU and wait for any caps to completely drain) to make the cooler responsive again.  After that

[code]

should display the internal coolant temperature sensor.

[2020-12-27 00:27] ROODAY commented on #246
Ah my bad, I missed that note in the yoda.py args. Last question, is this supposed to run indefinitely? I ended up running this (as close to the NZXT silent profile as I could remember):
[code]
but it never gave any output, is that because it's polling in the background? If so, is there a recommended way of running it as a service in Windows?

[2020-12-27 02:01] jonasmalacofilho commented on #246
Yes, since yoda is controlling the profile, it has run continuously.  Updated fan/pump speeds will be sent to the cooler at `--interval` intervals.

Probably with Task Manager, although I admit I haven't given it much thought.

Do you know how system services are set up on Windows (from the perspective of program authors)?

[2020-12-27 02:59] ROODAY commented on #246
Unfortunately not, most of my experience is in web-dev so I haven't made any Windows apps. Sad that Windows doesn't have something as simple as systemd. I did find [this SO post](https://stackoverflow.com/questions/32404/how-do-you-run-a-python-script-as-a-service-in-windows) though, I'll comment again once I figure out a good method!

[2020-12-27 17:00] wyrmss opened #248 "Does not recognize devices"
Hello, I report my problem.
When installing liquidctl, it does not recognize the devices, I leave you captures so that you can see what it can be.
I do not know English so I will try to be as graphic as possible, I pass you captures.
![liquidctl_1](https://user-images.githubusercontent.com/62921394/103175691-1c18fe80-486c-11eb-9283-fb7403f16f7f.png)

As you can see the id do appear, but it does no

[2020-12-27 17:10] MarshallAsch commented on #248
Have you tried running the command with sudo? That should not be causing the devices to not be recognized but its worth a shot.

[2020-12-27 17:15] wyrmss commented on #248
Hello

`As you can see the id shows up, but it doesn't detect them, not even with sudo.`

If as I said before, I do not work as sudo or as root

A greeting.

[2020-12-27 17:19] jonasmalacofilho commented on #248
The issue is likely to be that the `usbhid` driver has been unbound, possibly by OpenCorsairLink (or other tools using libusb).

Try restarting or following [this troubleshooting section](https://github.com/liquidctl/liquidctl#device-not-listed-linux).

[2020-12-27 17:20] jonasmalacofilho commented on #248
Also note that we don't yet support Corsair Pro coolers on the current stable release or even the main development branch.

But it's coming...

[2020-12-27 17:21] jonasmalacofilho commented on #248
Sorry, one more comment: you're somehow using a very old version of liquidctl, please try to update to 1.4.2.

[2020-12-27 17:22] wyrmss commented on #248
Uninstall OpencorsairLink and remove all your files and folders that were left after the uninstallation, restart the pc and the same, it does not detect them.

A greeting.

[2020-12-27 17:27] wyrmss commented on #248
Also use the new 1.4.2 with the same result, using this is because it is in the community opensuse repositories and not having to use a virtual environment and so all users can use it.

If it is an impetuous need for the latest version, desistlo this I have installed again the 1.4.2.

A greeting.

[2020-12-27 17:29] jonasmalacofilho commented on #248
Right, I just noticed that the PID for what you're calling a RM1000 doesn't match what we expect at all.  In fact, it seems to use the CorsairLink dongle, which RMi PSUs usually don't.

Then again, you said RM1000, not RM1000i.... if that's indeed correct (no "i" on your model), then we unfortunately don't support it.

---

The Corsair H115i Pro will ultimately need to wait for 1.5.0, but in the m

[2020-12-27 17:44] jonasmalacofilho commented on #248
Leaving this here in case it's a really a RM1000 (no "i")...

Can you [capture some USB traffic](https://github.com/liquidctl/liquidctl/blob/master/docs/developer/capturing-usb-traffic.md) between the RM1000 and iCue/CorsairLink?  If they are similar to what we've seen for the RMi series, I could try enabling support for it in our driver.

---

P.S. Please join our [developer's Discord server](htt

[2020-12-27 17:59] wyrmss commented on #248
Hello

So I must deduce that there is no error, only that my hardware is not supported :(.

My Corsair **RM1000 1000W 80 Plus Gold Modular** psu is not supported?

I understand that the H115i Pro will have it in the next or next updates :).
If so, as I read in the thread that you reported to me, we will wait for the next version to go from OpencorsairLink to liquidctl.

Regards and thanks for ever

[2020-12-27 18:04] wyrmss commented on #248
I don't use windows, I'm really sorry, I can't use corsairlink or icue

[2020-12-27 18:08] jonasmalacofilho commented on #248
That's too bad : \

[2020-12-27 18:08] #248 closed

[2020-12-27 18:10] wyrmss commented on #248
So sorry.

My psu https://www.corsair.com/es/es/Categories%C3%ADas/Products/Units-of-source-of-alimentaci%C3%B3n/rm-series-config/p/CP-9020062- NA

[2020-12-28 08:32] gabrik commented on #240
@jonasmalacofilho sorry I'm not able for the time being to join the team.
It is something I'm interested in but I do not have much spare time to dedicate to it.

I may take a more deep look at it and come with some PR once I have more spare time.

[2020-12-28 14:33] jonasmalacofilho commented on #240
That's fine.

Anyway, I'm going to close this issue since there isn't anything specific to the NCT6798 we can do.

[2020-12-28 14:33] #240 closed

[2020-12-28 16:34] ROODAY commented on #246
@jonasmalacofilho I think I got it running as a service however I can't verify the status. From that SO post, I downloaded [NSSM](http://nssm.cc/download) (the pre-release version since I'm on the latest Win 10) and added it to my path. I then ran `nssm.exe install WinService`, and then installed with the following args:
[code]
Then I went into Windows services and found the service it installed (

[2020-12-28 17:10] JeongJae0815 commented on #245
@jonasmalacofilho @MarshallAsch
 I really appreciate you responding quickly.

I can recognize my system's python version is lower than 3.6

[2020-12-28 18:46] jonasmalacofilho commented on #246
I checked our driver and we apparently already do our best to release the device as soon and as often as possible.  So I don't think there's anything else we can do, it seems to be a Windows thing...

Yes, it's still necessary.

[2020-12-28 18:51] jonasmalacofilho commented on #245
Oh... I only noticed that the first screenshot showed Python 3.6 paths but, indeed, the later dumps don't specify it (and Ubuntu 16.04 is quite old by now).

Good to know! : )

I'll close this then...

[2020-12-28 18:51] #245 closed

[2020-12-28 23:54] ROODAY commented on #246
Dang, that's unfortunate. I tried getting NSSM to log output to a file so I could least check up on it from time to time but it caused issues when restarting yoda manually (not sure if that will really be an issue though as long as I don't touch it), so I guess that's the closest I can get to viewing status.

As for the part with initialize, that was an easy fix actually by just creating another s

[2020-12-29 14:06] aluveitie opened #249 "Support for AURA USB LED Controller?"
Any plans to support Asus AURA LED Controller which is connected through USB?

[2020-12-29 14:08] jonasmalacofilho commented on #249
As long as someone with one of these controllers can work on the feature, merging/accepting it would be a no-brainer.

[2020-12-29 14:12] aluveitie commented on #249
OpenRGB would have a working implementation
https://gitlab.com/CalcProgrammer1/OpenRGB/-/tree/master/Controllers/AsusAuraUSBController

[2020-12-29 20:53] MarshallAsch commented on #154
@sam-brett Hey I have completed support for the Commander Pro and the Lighting Node Pro. I believe that the lighting node core should use the same protocol as those two devices. Would you be able to test [this](https://github.com/MarshallAsch/liquidctl/tree/commander-pro) version and see if it works for your device.

you will have to add this to line `120` in the `liquidctl/driver/commander_pro.py

[2020-12-30 00:42] SamboyCoding opened #250 "Missing device ID For Corsair H115i Platinum?"
Hi

I'm using this software to control my NZXT Smart device and was pleasantly surprised to find that it should - in theory - also support my Corsair H115i Platinum.

However, it doesn't show up in the device list, and when I checked the [source file](https://github.com/liquidctl/liquidctl/blob/master/liquidctl/driver/hydro_platinum.py) my device ID doesn't show up.

According to that file, the de

[2020-12-30 00:47] jonasmalacofilho commented on #250
You're right, and this device predates the coolers actually sold as "Platinum".  As far as we know yours was sold as a H115i Pro.

See #137 and #234 to follow the work on supporting it.

[2020-12-30 00:47] #250 closed

[2020-12-30 00:51] jonasmalacofilho opened #251 "Update man page to match option changes from I²C/SMBus drivers"
At least `--non-volatile` is missing, and the how the options are organized may need to be adjusted too.

[2020-12-30 00:57] jonasmalacofilho commented on #246
I'm reopening this because I want to check the `PyUsbDevice.release()` behavior on Windows before the next release.

---

Additionally, these inconsistent permission errors are very weird.  Can you try to use`PYUSB_DEBUG=debug` and `LIBUSB_DEBUG=4` to figure out what's different between runs with and without `--verbose`?

[2020-12-30 10:51] historical-theology opened #252 "FreeBSD 13-CURRENT: ImportError: /usr/local/lib/python3.7/site-packages/hid.so: Undefined symbol "hid_get_input_report""
I have a new installation of the latest FreeBSD 13-CURRENT (Dec. 24 snapshot) on an X370 motherboard. I have used variously plain (glorious) liquidctl and also the Gkraken frontend in Manjaro GNU/Linux without problem over the past few years on this same system to control my Kraken X62.

I installed 'py37-liquidctl' from the official FreeBSD repository ('pkg install py37-liquidctl'). When trying t

[2020-12-30 11:32] jonasmalacofilho commented on #252
I think this is caused by a mismatch between py37-hidapi and hidapi.  In particular, py37-hidapi expects hidapi to export that symbol, but it wont until a later version.  Take a look at trezor/cython-hidapi#90.

[2020-12-30 16:49] MarshallAsch opened #253 "Update drivers to use the new direction flags"
Re: https://github.com/liquidctl/liquidctl/pull/213#discussion_r549895314

Change the mode strings for these devices to use the direction flag to specify forwards or backwards

Devices that need updating:

- [x] kraken x2 m2
- [x] kraken x3 z3
- [x] nzxt hue2
- [x] nzxt smart device v1

[2020-12-30 18:05] MarshallAsch commented on #251
This is added in the man pages update in #213

[2020-12-30 20:50] jonasmalacofilho commented on #251
Thanks!  After merging that I'll give it one last check before closing this.

[2020-12-30 23:50] ROODAY commented on #246
@jonasmalacofilho Will do! I'm busy for the next couple days, just wanted to let you know I saw this!

[2020-12-31 01:37] historical-theology commented on #252
@jonasmalacofilho Well, that is a bummer! I was not able to get `hidapi` to build from source (and I do not recommend bothering, since it required me to install a bunch of otherwise useless Linux compatibility cruft), so it would seem that I will be stuck until the package is updated to 0.9.X in the official FreeBSD repository.

The good news is that should not take long. I will report back here w

[2020-12-31 21:41] #155 closed

[2020-12-31 23:55] 00firestar00 commented on #218
Here is the descriptor for this device:

[code]

[2021-01-01 01:27] MarshallAsch commented on #218
@00firestar00 would you be able to capture some of the traffic between the device and the icue using wireshark with some comments about what buttons in icue were clicked I dont have one of those devices available to test things with.

[2021-01-01 03:54] 00firestar00 commented on #218
I'll attach 2 files of me clicking around in it. Mostly changing the colors.
I ran wireshark from within windows, though not sure if that was the best option.

The problem is there seems to be a lot of garbage traffic, so I'm not actually sure what traffic was an action I took, or just corsair spam. I can try again, but i'm not really familiar with wireshark or how to potentially filter out garbag

[2021-01-01 08:27] jonasmalacofilho commented on #251
All good.

[2021-01-01 08:27] #251 closed

[2021-01-02 04:32] #253 closed

[2021-01-02 17:37] basmith7 commented on #172
I had the same problem and turn the computer off for a few minutes fixed it.

This was the only resource I could find on the problem, so I wanted to post for posterity.

[2021-01-02 22:51] MarshallAsch opened #257 "TODO comment"
https://github.com/liquidctl/liquidctl/blob/30dd13e4deff0e4c78f8fb932e87705b705c87a5/liquidctl/driver/rgb_fusion2.py#L175-L177

This code block has a comment to remove it. Can this now be removed @jonasmalacofilho?

[2021-01-02 23:17] jonasmalacofilho commented on #257
Yes, thank you.

[2021-01-03 16:55] aravance opened #259 "Linux with hidapi-0.10.1 is showing RGB Fusion controller twice"
## Description of Bug
#### System details
* Distro: Arch Linux
* `uname -r`

* ``pacman -Q liquidctl hidapi `pacman -Qi liquidctl | awk -F'[:<=>]' '/^Depends/ {print $2}'` ``

### Steps to reproduce
`liquidctl list`

### Expected

### Actual

### Workaround
I downgraded to hidapi-0.9.0-2 from package cache, and the devices now show up only once.

## Hardware Configuration
* x570 Aorus Master rev1.

[2021-01-03 17:11] jonasmalacofilho commented on #259
Can you please run

[code]

and post the output?

[2021-01-03 18:45] aravance commented on #259
Worth note, hidapi 0.10.1 introduced a change to handling of usages and pages: https://github.com/libusb/hidapi/releases

I reported a similar issue with OpenRGB here: https://gitlab.com/CalcProgrammer1/OpenRGB/-/issues/924

### 0.9.0-2

{'path': b'/dev/hidraw1', 'vendor_id': 4152, 'product_id': 4781, 'serial_number': '', 'release_number': 281, 'manufacturer_string': 'SteelSeries ', 'product_strin

[2021-01-04 00:26] jonasmalacofilho commented on #259
That's what I figured, as these controllers expose two usages.

But on 0.9.2, hidapi-hidraw returns `usage: 0x342a`, instead of `0` (as documented at the time) or one of the actual usages (`0x10` or `0xcc`).

This complicates things, since I have to match the usage on 0.10.0, but can't possibly do so on 0.9.2...

Additionally, I also need to somehow check whether hidraw or libusb is in use, becaus

[2021-01-04 00:42] jonasmalacofilho commented on #259
Oh, `usage: 0x342a` apparently came from uninitialized memory, since `usage` and `usage_page` were simply [never assigned to](https://github.com/libusb/hidapi/blob/hidapi-0.9.0/linux/hid.c).  : (

---

We need [cython-hidapi](https://github.com/trezor/cython-hidapi/) to export `hid_version_str` or `hid_api_version` (both new in 0.10.0, fixed in 0.10.1).

Additionally, we may also need some cython-

[2021-01-04 01:51] jonasmalacofilho commented on #259
I added a Arch-specific quick fix patch to [liquidctl-git<sup>AUR</sup>](https://aur.archlinux.org/packages/liquidctl-git/).

Hopefully we can have a more portable solution by the time liquidctl 1.5 is released.

[2021-01-04 09:15] jonasmalacofilho commented on #259
This should now be permanently fixed in the master branch.  Can you give it a try and let me know?

(liquidctl-git<sup>AUR</sup> has been updated accordingly)

---

Filipe, I'm not going to ping you here, but if you end up reading this:

Since this issue is specific to this driver and to distros already running hidapi 0.10, and since we also already have a release scheduled for the end of the mont

[2021-01-05 14:03] aravance commented on #259
I pulled the latest AUR without the patch, and it's not working as expected.

[2021-01-05 14:20] jonasmalacofilho commented on #259
Can you post the `--debug` output?

[2021-01-05 14:29] aravance commented on #259
Sorry, typo. Everything is confirmed working.

[2021-01-05 15:29] #259 closed

[2021-01-06 00:13] #257 closed

[2021-01-06 18:44] DrPeroxide opened #260 "Software based fan or pump control (continued)"
I noticed in the docs that the app currently only supports fixed duty values for the Smart Device. A lot of users like myself rely on Fan curves that can respond to changes to CPU or GPU temp to optimise cooling and noise levels.

I'm very invested in getting this feature added, so would be happy to work on it myself. Has anyone closer to the project had any thoughts as to how this should be desig

[2021-01-07 19:36] hmajid2301 commented on #79
Hi is there any progress on LCD screen ? Is it being worked on ?

[2021-01-07 19:47] jonasmalacofilho commented on #79
There are no maintainers working on it at the moment.  My opinion is that someone with the cooler needs to work on this, given the large expected level of experimentation that will probably be necessary.

[2021-01-07 20:06] jonasmalacofilho commented on #260
I'm glad to hear that you're interested in working on this, and it's obviously an useful feature.  But there are some complications...

First, these devices don't themselves support profiles, so they would need to run "in software", that is, on the main system's CPU.  This deviates from how liquidctl normally works, and requires a lot of care regarding error conditions and recovery.

Integrating t

[2021-01-07 20:20] inglor commented on #79
I got the cooler but I don't know where to start with the reverse engineering of LCD screen stuff.

[2021-01-07 20:23] himekifee commented on #79
I wireshark dumped packets and find some patterns but have no time. If anyone want to work on that, you can continue from my progress.

[2021-01-07 20:30] jonasmalacofilho commented on #79
@inglor yeah, it's not simple.  Perhaps the general advice in [Techniques for analyzing USB protocols](https://github.com/liquidctl/liquidctl/blob/master/docs/developer/techniques-for-analyzing-usb-protocols.md) can help?  The truth is that this type of stuff is still fairly new (to us and to the market in general), and each vendor is implementing it a different (and sometimes needlessly weird) wa

[2021-01-07 20:44] inglor commented on #79
@jonasmalacofilho I do have to mention that what I've send back in Feb might not be how they are doing it now (https://github.com/liquidctl/collected-device-data/tree/master/NZXT%20Kraken%20Z63)

After countless talks back and forth with NZXT Support they send me an RMA unit as the one I had had the issue with certain motherboards (Asus Crosshair Hero VIII (WIFI) not appearing when starting window

[2021-01-07 20:49] himekifee commented on #79
PRed

[2021-01-08 00:45] ROODAY commented on #246
@jonasmalacofilho Sorry for the delay, I've been prepping for a move, which incidentally means I won't have access to my desktop for a couple weeks while the moving company ships it. In regards to your last comment, running with the `--verose` flag and those 2 environment variables you gave makes the the log file grow huge quickly. So the full set of changes from my normal working setup and this t

[2021-01-09 00:23] hmajid2301 commented on #79
Has anyone been able to pass the kraken through to virtual machine for testing ?

[2021-01-09 10:51] himekifee commented on #79
I did, what's the problem?

[2021-01-09 11:19] MacGyver27 commented on #79
That's what I did but wasn't able to get it fully working with the OLED screen.. What i did was a USB passthrough for the Kraken but apparently isn't enough for it's windows software to fully work. It apparently needs to see the CPU itself to read the temperatures and the load.. so the end effect was that NZXT cam pushed the animation to the OLED screen but it was suck at 0/0 values for example..

[2021-01-09 11:23] himekifee commented on #79
Oh, I didn't. I think the packet is sent through usb interrupt. Does anyone have some interests working on this so we can talk about this in chat groups like gitter? I have several ideas but need more people to work on that.

[2021-01-09 14:16] jonasmalacofilho commented on #79
That's probably not going to work.  Even if possible, it would mean giving the VM (probably unrestricted) access to the CPU MSRs, which could allow the Windows VM to do stuff the host doesn't expect.

---

You're welcome to join our developer's Discord server: <https://discord.gg/Cyb5CFAhd9>.

[2021-01-10 01:27] wkruddy opened #261 "[Z490 Vision D] When running liquidctl list or initialize, it doesn't list the actual LED nodes, so I can't interact."
Hey, maybe I'm just doing something wrong here but, I can't seem to see any LED channels
[code]

According to your docs, shouldn't it also be outputting `└── LED channnels                               7` by default on this Mobo?

Running on Big Sur 11.1 ATM, Homebrew, `liquidctl 1.4.2` .

This means I can't run any commands, or target any LED channels. Looking through the docs, I'm pretty sure I

[2021-01-10 04:02] jonasmalacofilho commented on #261
The docs are outdated, the "LED channels" item was removed since it was unreliable (commit 2c24b020134989c2ffec0028586aa7bb48f4ccd4).

You should be able to just use channels `led1`, `led2`, ... `led8`.  Let me know if you get any unexpected errors.

[2021-01-11 13:58] hmajid2301 opened #262 "Create Completions for Fish Shell"
Would it be possible to add a completions file for fish shell alongside bash ?

Some Examples: https://github.com/fish-shell/fish-shell/tree/master/share/completions

[2021-01-12 03:05] #261 closed

[2021-01-13 00:21] jonasmalacofilho commented on #62
RFP converted into an ITP (someone is working on it).  In fact, it should soon be in Debian:

[2021-01-13 00:21] #62 closed

[2021-01-13 00:25] jonasmalacofilho commented on #262
I don't personally know enough about the fish shell to work on this, but it would be nice to have.

That said, it seems that the completion file would be distributed with the fish shell... so any work should probably be submitted to that repository.

[2021-01-13 00:28] jonasmalacofilho commented on #252
I'm going to close this issue, but please let me know when the situation is fixed in FreeBSD 13.

P.S. By the way, the problem is almost certainly affecting other programs that use cython-hidapi.

[2021-01-13 00:28] #252 closed

[2021-01-13 00:30] jonasmalacofilho commented on #249
That's a good starting point.  Although, to be clear, I don't plan on working on this feature myself, at least in the short term.

[2021-01-13 00:36] #139 closed

[2021-01-13 00:43] #196 closed

[2021-01-13 00:49] jonasmalacofilho commented on #154
Ping @sam-brett.

[2021-01-14 12:56] davidrapan commented on #79
Hi little bit of info about lcd...

1. CAM draws over OffscreenCanvas with size 320x320
2. Rotates according to your setting xD
3. Then gets Image data buffer (I have example)
4. Slices them, generates guid (sets as data.id) and send it to Kraken

And then u just tell device which image to show... (at least what i saw so far)
But i guess u guys already knows.

Anyway I'll come back when I'll have

[2021-01-14 13:11] himekifee commented on #79
Ya, we already investigated LCD bucket, LCD mode, gifsicle, brightness, usb packets in discord but another guy showed full reverse engineering so we are pretty much stopped and waiting for him to post things now.

[2021-01-14 14:42] davidrapan commented on #79
Yeah, i just wanted to get rid of the CAM as soon as possible... but now when i know how they do things... and when i look at my $$$ Kraken... Im amazed... not even surprised why not even after a year so there is no fix (5m tops) for two GPUs and so and so... lol

[2021-01-16 19:22] ZeldaZach opened #263 "Corsair H1XXi Elite Capellix Support"
The New Corsair Elite Capellix series uses a brand new connector, called the [Commander CORE](https://www.corsair.com/us/en/Categories/Products/Accessories-%7C-Parts/Commander-CORE-RGB-%26-PWM-Fan-Controller/p/CW-8960071). I'm assuming this device has similar protocols to the Lightning Node Pro and Commander Pro, but there doesn't seem to be support for it yet here.

Would love to help bring in su

[2021-01-17 05:32] jonasmalacofilho commented on #137
Current WIP (continuing PR #234) is in branch [`asetek-pro`](https://github.com/liquidctl/liquidctl/tree/asetek-pro).

[2021-01-17 16:10] kevinlester commented on #154
@MarshallAsch Thank you for creating the patch to support the Lightning Node Core (LNC).  I gave it a try on my setup and it was recognized successfully, but I couldn't get some of the lighting effects to work.  My setup is:
- Lightning Node Core plugged into the Commander Pro
- Commander Pro plugged into the motherboard
- H100i Pro XT with fan power plugged into the AIO, and RGBs plugged into the

[2021-01-17 18:42] kevinlester commented on #154
[](url)

Below is a debug log for a failed liquidctl command.  I executed several successful commands prior to this one (though this one was not the first failed command in the sequence).  Example failed command:  `liquidctl --match 'Lighting Node Core' set led1 color fixed 000000 --start-led 1 --debug 2> out.txt`.

Debug log details:
<details>
<summary>Details</summary>
[DEBUG] liquidctl.cli: run

[2021-01-17 22:00] jonasmalacofilho commented on #154
As it only has LED channels, I think this makes sense.  But maybe it can still report on its voltage rails, @MarshallAsch?

There's now support in liquidctl for reading temperatures from DDR4 modules that use standard EEPROM+sensor chips.  There's more information about this on the [DDR4 DIMMs guide](https://github.com/liquidctl/liquidctl/blob/master/docs/ddr4-guide.md).

The option was renamed to

[2021-01-18 04:11] kevinlester commented on #154
Switched.

Cool, using that option works as expected.  I ran through all the lighting options and they all seemed to function correctly.

Below is a "clean" debug log after a reboot.  Liquidctl was initialized, then I ran through a few different modes until the LEDs no longer changed from my commands.  The log is from the first command that had no visible effect.

<details>
<summary>Details</summa

[2021-01-18 14:47] jonasmalacofilho commented on #154
It appears to be just that, but the limit is in the device side.  Can you figure out by experimentation what that exact limit is on the LNC?

@MarshallAsch can you do the same on the Commander Pro?

That makes sense.

While we check whether it applies to the Commander Pro as well (I imagine it supports as many QL120s in a channel as the LNC), you can temporarily lift the 96-LED limit by changing t

[2021-01-18 17:04] kevinlester commented on #154
The correct answer appears to be 8.  The 9th command consistently fails to make a change.

Nice, my last 6 LEDs are now happily liquidctl-ing

Yup, definitely not working on the second channel.

I'll have to set up a windows VM to capture the traffic.  Will report back once I get that set up.

[2021-01-20 01:01] xX-Kryptos-Xx commented on #246
Great piece of software. Thank you (and contributors) for all of your hard work on this. Proprietary software from EVGA was not cutting it. I just wanted to chime in on my setup. Took a bit of configuration but it worked out nicely.

I have an EVGA CLC 280 (Asetek 690LC non-legacy) and I use LQiNFO (yoda) to display pump/fan/coolant temp status in Rainmeter. Works out nicely as Rainmeter can pull

[2021-01-20 05:23] jonasmalacofilho commented on #246
It could be that yoda is running with higher privileges, and then lower privileged liquidctl instances cannot take ownership of the device _interface_ (even though yoda should be releasing _it_ to the OS between updates).

I'll try to reproduce these permission errors here...  _(and this is where I rant that it's really inconvenient that we can't get proper log output from these services)._

---

[2021-01-20 07:41] ROODAY commented on #246
@jonasmalacofilho Sure I can look into making a PR! I just need some time as I'm waiting for my computer to reach my new address, going to be about another week and a half before I can start.

[2021-01-20 20:33] MarshallAsch commented on #154
Hey sorry I didn't get back to this sooner.

I was looking at some comments on the corsair forums and I saw that number there that they impose on the number of LED's. It could have been an old value.  Maybe the limit is 136? which is 4 of those fans.

From my tests with @BangerTech on the `Lighting Node PRO` did not have support for getting the voltage. but if the core does that is simple to add.

[2021-01-20 21:55] zk2004mb opened #265 "Don't forget to initialize when you upgrade from Catalina to Big Sur"
~~Hi!~~
~~I just upgrade from 10.15.7 to 11.1 this afternoon. However, the liqudctl seems stop working.~~
~~I can still see my device:~~

~~(base) user ~ % liquidctl list~~
~~Device ID 0: NZXT RGB & Fan Controller (experimental)~~

~~But when I type  liquidctl status~~
~~It will just be stuck there. Also when I try to change the fan speed, the code will be executed but the actual speed won't chang

[2021-01-20 23:26] billygilbrech commented on #218
I'm still here, just went inactive

[2021-01-21 02:35] kevinlester commented on #154
Sorry for the delay.  I couldn't get iCue to detect my Corsair devices devices in VirtualBox, but got it working using virt-manager.  In iCue I now see my AIO, Commander Pro, and LNC.

It does not show voltages in icue.

Here's traffic captured on my Linux host with iCue running in my windows VM.  I couldn't get the display filter to work as described in your development docs, but hopefully these

[2021-01-21 07:03] jonasmalacofilho commented on #265
Updating to Big Sur didn't require a reboot?

In general you should always `liquidctl initialize` your devices after booting up the system.

[2021-01-21 07:13] jonasmalacofilho commented on #134
Once the Void package is available it will automatically be listed in our README by repology.

@Frick-David, if you need any help, feel free to ping us on discord.

[2021-01-21 07:13] #134 closed

[2021-01-21 14:53] MarshallAsch commented on #218
I was talking with @ZeldaZach last night going over how to reverse eng the protocol and he got an idea how to figure out the protocol. He was going to work on a basic protocol doc, but it might have to be implemented by someone else.

For now Im going to assign this issue to you.

[2021-01-21 15:03] billygilbrech commented on #218
Excellent. Thank you! I can help if needed. I do have access to both Linux and Windows on my system. :)

[2021-01-21 15:16] chasingmaxwell commented on #218
I also have the Commander Core and H150i Elite Capellix with access to both linux and windows. If there's any way I can help with this effort I'd be glad to.

[2021-01-21 15:49] ZeldaZach commented on #218
Yeah feel free to assign this my way. I'll do some digging over the next week or so and see what I can uncover. @chasingmaxwell if you'd like to team up and help with the cause, feel free to reach out directly on Discord Zach#1064

[2021-01-21 21:55] jostack commented on #218
Hello everyone, I also have this Aio in case you need help.

`root@brain:/home/neuron/aio/liquidctl# lsusb -d 1b1c:0c1c -v

Bus 003 Device 006: ID 1b1c:0c1c Corsair
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass            0
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0        64
  idVendor

[2021-01-22 05:35] Priva28 opened #267 "Setting LED colour on Corsair H100i Platinum SE only sets colour for pump and one fan."
Pretty much the title. Fan/pump control works great as expected but setting RGB colour seems to only be half working.

Running `sudo liquidctl initialize all` shows this:
[code]

Running `sudo liquidctl set led color off` works and turns all of the LEDs off for the pump, fan 1 and fan 2.

But running `sudo liquidctl set led color fixed ffffff` only sets the colour for the pump and fan 1 LED while

[2021-01-22 07:03] jonasmalacofilho commented on #267
Can you provide the output of `liquidctl list --debug`?

Additionally, do you know how many LEDs are in the pump and in each fan?

[2021-01-22 08:08] Priva28 commented on #267
Sure:
[code]

[2021-01-22 13:12] CKGrafico commented on #21
I've tried with 32 and 64 versions and always same error.

liquidctl list
usb.core.NoBackendError: No backend available

[2021-01-22 13:44] Nolij opened #268 "Support for Corsair iCUE H150i RGB PRO XT"
As stated in title.

[2021-01-22 17:43] jonasmalacofilho commented on #268
We're tracking the support for the H150i PRO XT in issue #138.  Closing this as a duplicate of that one.

[2021-01-22 17:43] #268 closed

[2021-01-22 17:46] #265 closed

[2021-01-22 17:54] jonasmalacofilho commented on #21
@CKGrafico

First, is there a particular reason why you can't use the `liquidctl.exe` we supply that already bundles libusb?

Still, if you really need to install libusb manually, you should probably first remove all copies of libusb DLLs from your filesystem, and then re-add them only to corresponding 32 and 64-bit system directories.  You definitively don't want programs finding a libusb DLL tha

[2021-01-22 18:31] zk2004mb commented on #265
Actually I never had any problem after a reboot without initialize. That's why I didn't figure that out in the first place.

[2021-01-22 18:42] jonasmalacofilho commented on #265
That's because that device can draw power from the 5V Stand-by rail and, generally, will keep itself initialized even after the host has been shutdown (as long as the PSU is still on).  Still, generally a good idea to always initialize after a new boot.

Anyway, thanks for the info!

[2021-01-22 19:22] jonasmalacofilho commented on #149
Closing due to inactivity (and by now the driver has already changed quite a bit).

[2021-01-22 19:22] #149 closed

[2021-01-22 19:26] jonasmalacofilho commented on #242
@brandon-feder

I'm not sure you got my reply to your email: the captures you sent me were of network traffic, not USB traffic.

[2021-01-22 19:45] MarshallAsch commented on #267
This should be an easy fix that Im working on. The H100i Platinum SE uses the LL fans that have 16 leds on each of them.

[2021-01-22 21:27] MarshallAsch commented on #149
@ShaunTheQuietGamer  incase you are still having the issue you can add the `--unsafe=pro_xt_lighting` flag, without it the Pro XT devices cannot currently control the colors.

[2021-01-22 21:30] MarshallAsch commented on #242
This is the same issue as #267 (I just noticed that that one is a duplicate). And it is because the `Corsair H100i Platinum SE` cooler has LL fans that have 16 LED's and not 4. It will be fixed once #269 gets merged.

[2021-01-22 21:33] MarshallAsch commented on #267
This is a duplicate of #242.

closing.

[2021-01-22 21:33] #267 closed

[2021-01-22 22:31] #242 closed

[2021-01-23 09:54] CKGrafico commented on #21
Yes @jonasmalacofilho, the reason is that I'm a little bit stupid (or sleepy xD) sorry and thanks

[2021-01-23 12:37] jabra98 opened #270 "Is there a way to speed up the status query?"
I'm trying to integrate it into another program, but an invocation through a syscall takes like 700ms . Is there a way to speed things up?

[2021-01-23 15:19] kevinlester commented on #154
If it's helpful, here is a packet capture from iCue where I only changed the color of the 3 fans that I cannot control in liquidctl (specified using led2).  In the capture I had all the lights off, then turned all the lights on the back 3 fans to white, then all the lights on the back 3 fans to blue.
[channel2_LNC_capture.pcapng.zip](https://github.com/liquidctl/liquidctl/files/5860396/channel2_LN

[2021-01-23 23:52] jonasmalacofilho commented on #270
What device and OS are we talking about, exactly?

Also, are you using our Python APIs, or executing the `liquidctl` CLI?

[2021-01-24 00:06] jabra98 commented on #270
I'm using the Kraken x62 on Arch Linux. Yeah, I use the liquidctl CLI. Is there an C/C++ API aswell?

[2021-01-24 00:44] jonasmalacofilho commented on #270
No, but in theory you could integrate a Python interpreter and use the liquidctl APIs from there.

---

That said, a better alternative might be for you to use the `krx62` kernel driver from [liquidtux](https://github.com/liquidctl/liquidtux) (packaged for Arch in [liquidtux-dkms-git<sup>AUR</sup>](https://aur.archlinux.org/packages/liquidtux-dkms-git/)), and poll the hwmon data from sysfs.

*Just

[2021-01-24 00:51] #260 closed

[2021-01-24 00:54] jonasmalacofilho commented on #260
@DrPeroxide

I'm going to close this for now since I haven't heard back from you.

But if you still intend to work on this, please let me know.  Also, join our developers' Discord server: <https://discord.gg/PQAbEhAvV9>.

[2021-01-24 01:07] jabra98 commented on #270
Alright, thanks for clarifying.

[2021-01-24 01:13] #270 closed

[2021-01-24 05:45] #231 closed

[2021-01-24 15:35] MarshallAsch commented on #138
Hey @AvitusA  and @lyarbean I think that we have got a working version in the [138-h150i-pro-xt](/liquidctl/liquidctl/tree/138-h150i-pro-xt) branch if you would be able to check that out.

- `liquidctl status` should now show the fan speeds for all 3 fans. (using offset 43 that @jonasmalacofilho found)
- `liquidctl set fan speed 50` should set all 3 fans to 50%
- `liquidctl set fan3 speed 00` shou

[2021-01-24 20:01] jonasmalacofilho commented on #138
Ping @xiaoxie5002 as well.

[2021-01-25 03:12] MarshallAsch commented on #262
@hmajid2301
I was looking this up to see how similar it is to bash completions and it seems that it can be included here and installed the same way that the other completion is installed.

https://fishshell.com/docs/current/#tab-completion

These seem like some good starting points:
https://medium.com/@fabioantunes/a-guide-for-fish-shell-completions-485ac04ac63c
https://fishshell.com/docs/current/

[2021-01-25 03:34] MarshallAsch commented on #154
@kevinlester is that capture using software mode or hardware mode? The implementation is only for hardware control at the moment because software control requires sending a message to the device every 20 seconds or so and `liquidctl` does not run as a service.

[2021-01-25 03:51] MarshallAsch commented on #154
Also looking at the device again there is one lighting channel not 2. My bad about that.

Aside from that, you have 6 QL120s fans so the first 34 LED's will be for the first fan, the next 34 will be for fan 2, etc...

Can you give it another shot on the latest version of the [liquidctl/154-node-core](/liquidctl/154-node-core) branch to see if that fixed the rest of your issues @kevinlester?

[2021-01-25 04:19] kevinlester commented on #154
Software mode.  I'll grab a capture changing all the fans in hardware mode in the morning.  I just did a quick pull of that branch and don't see an immediate difference at the moment.  If I understood your last comment correctly, the following command should turn my first 4 fans to rainbow, correct?  So far only my first 3 are responding.
[code]
But all the LEDs on my first 3 are responding (no lo

[2021-01-25 07:38] jonasmalacofilho commented on #193
Can we leave this for 1.6.0?  Do we want to do that?

[2021-01-25 13:21] Nolij commented on #138
All working on mine with the exclusion of the color setting which doesn't set the colors on the ring, only the corsair logo.

[2021-01-25 18:11] jonasmalacofilho commented on #138
@Nolij

That may be expected.  Can you also try the `fixed` mode, instead of `super-fixed`?

[2021-01-25 18:37] MarshallAsch commented on #138
^ yup my bad, I mixed up those two color modes.

[2021-01-26 01:22] kevinlester commented on #154
Success!  The latest version of the 154-node-core branch works perfectly based on my testing.  I am able to address all 204 LEDs and am prevented from issuing commands that have no response from the LNC.  I have a feeling I forgot to `pip install .` last night.  In any case, after correctly using the branch all seems to be working as expected.  Huzzah!

[2021-01-26 01:38] MarshallAsch commented on #154
Excellent! glad it worked. It will be included in release 1.6.0.

[2021-01-26 02:42] #154 closed

[2021-01-26 09:57] planeturban opened #274 "Running two liquidctl processes causes Corsair H100i PRO XT to stop responding to read requests."
I've noticed this twice now; after a while (don't think it's X time but rather X read requests) my H100i PRO XT stops responding. The reason for me thinking it's X reads is that both times this has happend I've had a `while 1; do sleep; liquidctl status; done` loop running.

I've tried rm-ing usbhid module and loading it again.

I can write, but the process hangs after this:

[code]

[code]

[2021-01-26 10:37] jonasmalacofilho commented on #274
The use of two simultaneous instances of liquidctl could explain this, as the sequence numbers may be received by the device out of order, and we already have previous reasons to think it can sometimes lock up when that happens.

Can you confirm/reproduce this two instances scenario (a loop + another instance), and provide the `--debug` output of both at the time when the device freezes?

Assuming

[2021-01-26 10:39] jonasmalacofilho commented on #274
Oh, can you switch to the current code in the master branch before trying to reproduce the problem?

[2021-01-26 12:00] planeturban commented on #274
Sure:

[code]

[2021-01-26 13:57] MarshallAsch commented on #193
Yup that would make sense, I may not have a complete set of hardware modes.
I did not work on this issue as much as I had intended too.

[2021-01-26 14:07] jonasmalacofilho commented on #274
I actually wanted to compare the various `loaded sequence` and `stored sequence` lines.  But that's ok for now.

---

I reviewed the code and we definitively need to implement a `RuntimeStorage.load_add` method that atomically adds to the current value, returning the previous value, and rewrite `hydro_platinum._sequence` in terms of it.

In the meantime, the only workaround is to avoid running mul

[2021-01-26 14:43] planeturban commented on #274
So, there's a lock up in the hid device itself? Since I don't have any other instances runnig now?

Here are the full outputs:

[code]

[code]

[2021-01-26 14:46] jonasmalacofilho commented on #274
Once the device locks up, it will probably stay that way until powered down (which may require turning off the PSU for a couple of minutes).  But if the device is brought back to a working state, it should not lock up again as long as you only run a single liquidctl instance at a time.

[2021-01-26 14:49] MarshallAsch commented on #274
There is also a `RESET` command that can be sent to the device if you want to write yourself some code to send the message that has resolved the same problem on my H100i Platinum. (not caused by liquidctl). https://github.com/liquidctl/collected-device-data/blob/master/Corsair%20H100i%20RGB%20Platinum/04%20-%20capture%20-%20marshallasch/protocol.md#special-restart-command

[2021-01-27 06:49] planeturban commented on #274
Actually, I might just do that. Get som new skills. :)

Thanks.

[2021-01-27 17:25] jonasmalacofilho opened #276 "Significantive performance regression in current HEAD/future 1.5.0"
Haven't had time to investigate this yet, but my personal [`liquidcfg`](https://github.com/jonasmalacofilho/dotfiles/blob/master/liquidctl/liquidcfg) script is taking almost 3 time as long with the current HEAD/future 1.5.0 than with 1.4.2.

[2021-01-27 17:36] jonasmalacofilho commented on #276
False alarm, it's just that:

- with the new version my script does more stuff, including dealing with a particularly slow device
- probing for the new buses has some added cost (but it's small)

[2021-01-27 17:36] #276 closed

[2021-01-27 23:29] jonasmalacofilho opened #277 "Tracking issue for 1.5.0 release"
# Release checklist

## Prepare repository

 - [x] Update liquidctl/version.py
 - [x] Update last update data in the man page
 - [x] Make sure the CHANGELOG is up to date
 - [x] Update the link in the README to the stable executable for Windows
 - [x] Remove "N/New driver, ..." notes from the table of supported devices
 - [x] Commit "release: prepare for v<version>"

## Test

_with `"$(liquidctl -

[2021-01-28 01:55] #277 closed

[2021-01-28 10:49] jonasmalacofilho commented on #138
The feature has been merged into our main branch, but you still feel free to report any bugs (here or in new issues).

[2021-01-28 12:08] lyarbean commented on #138
@jonasmalacofilho  I was away from my machine these days. I tested it today. It seems that it can not change fan3's speed, the speed of fan3 is displayed about 1100 no matter what duty I issue.  The color can be changed as expected.

[2021-01-28 18:47] jonasmalacofilho commented on #138
Can you provide the complete output of

[code]

[2021-01-29 10:36] Jdelefosse opened #278 "Corsair H100i PRO XT doesn't work anymore"
Hi,

I just discovered this wonderful soft two days ago. I wanted to get rid of iCue so I jump on liquidctl

I have a Corsair H100i PRO XT, and at the beginning it worked just fine.
Yesterday, I updated from 1.4.2 to 1.5.0 without problems, then I did some stress tests (OCCT and Prime95), and at some point my computer crashed (weirdly because my max temps for the CPU was at 76°C).
Since then I did

[2021-01-29 10:56] jonasmalacofilho commented on #278
That's quite odd.  How are you getting liquidctl, are you using our supplied executables or are you installing it with `pip`?

Can you provide the output of the same command with an additional `--debug` flag?

[2021-01-29 11:00] Jdelefosse commented on #278
I'm using the supplied executable.

Here the output with the debug flag:
`liquidctl initialize all --debug
[DEBUG] __main__: running liquidctl v1.4.2 (AppVeyor; liquidctl-1.4.2-bin-windows-x86_64)
[DEBUG] liquidctl.driver.usb: searching HidapiBus (api=hid, drivers=[CorsairHidPsu, HydroPlatinum, Kraken2, KrakenX3, KrakenZ3, NzxtEPsu, RgbFusion2, SmartDevice, SmartDevice2, _CommonSmartDeviceDriver])

[2021-01-29 11:07] jonasmalacofilho commented on #278
Oh, that makes sense.

The crash corrupted a file where liquidctl saves some temporary state.  And apparently I didn't succeed in making our parsing resilient enough to these types of issues.

Can you please attach (you may need to zip it) the file in

[code]

so I can make this more robust?

After that you can simply delete the file and liquidctl (1.4.2 and 1.5.0) should work again : )

---

That

[2021-01-29 11:11] Jdelefosse commented on #278
Here is the folder zipped.
[loc1_1_0_20_7_1_4_78_5_0_0000_4_1_55_2_16_11_88_001111000030.zip](https://github.com/liquidctl/liquidctl/files/5893433/loc1_1_0_20_7_1_4_78_5_0_0000_4_1_55_2_16_11_88_001111000030.zip)

And yes after deleting it, it's actually working again thanks.

[2021-01-29 11:58] #278 closed

[2021-01-29 15:43] lyarbean commented on #138
[code]

[2021-01-29 15:50] jonasmalacofilho commented on #138
Hm, can you do a few more?

[code]

_(I swapped which fans get 5% and which get 65%, as well as added `--debug` to the status command so I can check the raw bytes we're getting from the device)_

[2021-01-30 03:12] lyarbean commented on #138
[code]
[code]
[code]
[code]
[code]

[2021-01-30 05:10] jonasmalacofilho commented on #138
Unfortunately you ran the same old set of command another time, instead of the new one.  When you get a chance, please run the [new set](https://github.com/liquidctl/liquidctl/issues/138#issuecomment-769885240).

Still, given that two executions of the same command (`set fan3 speed 5`) yielded very different reported Fan 3 speeds (first 1006 rpm, but later only 296  rpm),I'm guessing there's a bug

[2021-01-30 05:16] lyarbean commented on #138
[code]
[code]
[code]

[2021-01-30 05:19] lyarbean commented on #138
After a few  seconds
[code]

[2021-01-30 09:35] jonasmalacofilho commented on #138
Thank you for the additional data.  I found a small issue, and made another small improvement.

Can you try the code in branch [`hydro-pro-xt-final-cooling-fixes`](https://github.com/liquidctl/liquidctl/commits/hydro-pro-xt-final-cooling-fixes)?

[code]

[2021-01-30 12:14] lyarbean commented on #138
@jonasmalacofilho  Likely you've fixed it. Thank you!
[code]
[code]
[code]
[code]
[code]
[code]

[2021-01-30 12:17] jonasmalacofilho commented on #138
Great to hear.  And thank you for catching/testing this!

[2021-01-30 12:17] #138 closed

[2021-01-31 13:16] mattiasghodsian commented on #62
Update for ubuntu ?

[2021-01-31 14:30] jonasmalacofilho commented on #62
Ubuntu automatically takes packages from Debian unstable prior to the [Debian Import Freeze](https://wiki.ubuntu.com/DebianImportFreeze) date.  For Ubuntu 21.04 Hirsute hippo, [that date is 25 February](https://discourse.ubuntu.com/t/hirsute-hippo-release-schedule/18539).  So as long as `liquidctl` reaches Debian unstable by then, it should arrive in Ubuntu 21.04 automatically.

That said, you cou

[2021-02-01 15:34] Nawaf89 opened #281 "my z73"
my z73 dos did not show the correct temp for gpu it shows 0 on the LCD because I have intel gpu and RTX 3080 its show the intel temp anyone knows how to fix it
https://i.imgur.com/jdUHjh4.png
https://i.imgur.com/spCq85Y.png
https://imgur.com/eKoPgOd

[2021-02-01 15:36] Nawaf89 commented on #79
my z73 dos did not show the correct temp for gpu it shows 0 on the LCD because I have intel gpu and RTX 3080 its show the intel temp anyone knows how to fix it
https://i.imgur.com/jdUHjh4.png
https://i.imgur.com/spCq85Y.png
https://imgur.com/eKoPgOd

[2021-02-01 16:01] jonasmalacofilho commented on #281
This is not a support forum for CAM.

[2021-02-01 16:01] #281 closed

[2021-02-01 23:33] jonasmalacofilho commented on #62
Hurray, now available as:

- [liquidctl](https://packages.debian.org/sid/liquidctl) on the Debian sid/unstable repository
- [liquidctl](https://packages.ubuntu.com/hirsute/liquidctl) on the Ubuntu Hirsute Hippo (future 21.04) repository

Other useful links:

- [Debian Package Tracker - liquidctl](https://tracker.debian.org/pkg/liquidctl)
- [Debian Packages Search](https://www.debian.org/distrib/pa

[2021-02-05 00:11] jonasmalacofilho commented on #137
Please test the code in PR #264 (branch [`asetek-pro`](https://github.com/liquidctl/liquidctl/tree/asetek-pro)).

[2021-02-05 19:48] lenonk commented on #79
One interesting thing I've found with my new Z73 is that the default white mode (as on cold boot) shows, and updates, the liquid temperature properly.

However, if I load a Windows VM, and pass the USB device through, and set it to display liquid temps via CAM, it no longer updates the liquid temp after closing the VM.

I suppose this means that all the modes you can set via CAM are really just an

[2021-02-05 21:16] lenonk commented on #79
![Screenshot_20210205_151534](https://user-images.githubusercontent.com/1181733/107089995-26aca900-67c5-11eb-8646-66c3cf1a149c.png)

:(

[2021-02-05 21:19] jonasmalacofilho commented on #79
New link: <https://discord.gg/f5HKCAadsr>.

[2021-02-05 21:20] lenonk commented on #79
Thanks. :)

[2021-02-06 00:34] edgardomortiz opened #282 "Support for Corsair iCUE H150i RGB PRO XT"
What would be needed to add support for this device? Corsair iCUE H150i RGB PRO XT

Edgardo

[2021-02-06 01:17] jonasmalacofilho commented on #282
It's already supported in the master branch.

[2021-02-06 09:14] edgardomortiz commented on #282
Thanks already cloned and installed

[2021-02-06 09:14] #282 closed

[2021-02-06 17:03] kevinlester commented on #154
@MarshallAsch - it took a bit of tinkering to capture the traffic between a guest VM and my device, so I took some time and expanded the developer docs to (hopefully) make it easier for other people to get up and running when they would like to capture traffic.  I have a local branch created with my changes, but don't have write access so can't submit a PR.  May I please have temporary write acces

[2021-02-06 19:42] MarshallAsch commented on #154
@kevinlester You can make a fork of the repository (there should be a fork button at the top of the github page) and then make a PR from your version onto this repository. And then any data captures that you have can be submitted to the [liquidctl/collected-device-data](https://github.com/liquidctl/collected-device-data) repo.

[2021-02-06 20:32] kevinlester commented on #154
👍 [PR](https://github.com/liquidctl/liquidctl/pull/283)

[2021-02-10 19:36] ROODAY commented on #246
@jonasmalacofilho Is there something special required to use the release function added in e227b47? I updated both my liquidctl release and the yoda script, and I still get the `usb.core.USBError: [Errno 13] Access denied (insufficient permissions)` error when trying to run `liquidctl status --legacy-690lc` while yoda is running

[2021-02-10 22:11] jonasmalacofilho commented on #246
Well, I suppose

could still apply.

That said, I think it's more likely that `yoda` is not using the same/fixed liquidctl version.  Note that it too uses the liquidctl APIs that are available on the system (and that this has no relation with the liquidctl source code that was shipped with the script).

Running both programs with `--debug` would help to check that, and to find possible solutions f

[2021-02-10 23:48] ROODAY commented on #246
Hmm it could be possible that system services are running at a higher privilege and that could just be a design feature of Windows. I think Yoda should be using the new version on my system as I made sure the NSSM service was pointing to that release (and the old release was deleted anyways). I'll look around see if there's another way to hook into a running service and see it's output, I'm sure t

[2021-02-10 23:52] jonasmalacofilho commented on #246
This might not be sufficient, you should check the Python environment (global or virtual, depending on top of what your service runs).

[2021-02-11 00:03] jonasmalacofilho commented on #246
Actually, I remember testing that after that patch control could be shared between Administrative and regular prompts.  But maybe I made a mistake (during the tests or in later changes)...

[2021-02-11 04:44] ROODAY commented on #246
Ah, does the newer version of liquidctl require a newer version of python?

[2021-02-11 04:50] jonasmalacofilho commented on #246
No, so far we still support the same Python 3.6+ as always.  This will only change once 3.6 reaches EOL, which IIRC is later this year.

What I meant by the Python environment is that `yoda` will find the liquidctl APIs it will use in the Python environment it's running on, either the global or a virtual one.  So it's not sufficient to remove the old release from where you downloaded it, you also

[2021-02-11 22:17] jonasmalacofilho commented on #137
We really need some feedback on the code in the linked PR/branch, preferably before it suffers too much "patch-rot" due to conflicts with other work done in the meantime.

[2021-02-12 08:49] tillmzw commented on #137
This is what happens when I run the asetek-pro (commit e6289bd) branch on my machine with a H115i cooler:

[code]

Things I have tried:
- fixed color
- pulsing colors
- rainbow colors didn't have an effect
- setting pump seed - `operation not supported by Corsair Hydro H115i Pro (experimental)`
- setting pump mode; I came up with this CLI call by looking at the source but I have no idea how of eve

[2021-02-12 11:11] jonasmalacofilho commented on #137
@tillmzw

Can you please try with a fresh virtual environment, as well as making sure you're working with a clean (from extra changes or files) tree?

The error you reported makes no sense with a clean code base and environment, for a couple of reasons:

- it would have also been observed with `python -m liquidctl.cli status` and all previous commands, as it's been (unconditionally) triggered by f

[2021-02-12 11:12] jonasmalacofilho commented on #137
@andytank123

Can you please provide the USB traffic captures you collected when working on the initial code for the driver?

Additionally, can you take a look at what could be wrong with the rainbow mode?

[2021-02-12 11:42] andytank123 commented on #137
Sorry I've been slow on providing updates. I've started to test the new pull request, and hope to post the results today.

I've also captured a few samples of USB traffic with the official window driver. This has shown that the official drive is producing a large amount of traffic, so analysing it is taking more time than I expected. One difference I've noticed in the official driver is the RGB co

[2021-02-12 12:02] jonasmalacofilho commented on #137
@andytank123

Thanks!

Yes, I've seen that avalanche of updates before.  It's actually quite worrisome, since at some point they will have some measurable impact on CPU temperature and performance (maybe not so much on these devices, but even more likely on the HID ones).

I think what we're using usually lives in iCue as "hardware" modes.  You could also take a look at the traffic from CorsairLin

[2021-02-12 14:54] andytank123 commented on #137
I installed CorsairLink, however running it resulted in BSOD, so I was unable to capture traffic using it. Bellow is the results of my testing

Pump and fan testing
[code]

Test RGB
[code]

[2021-02-12 15:21] tillmzw commented on #137
Sorry, my mistake - due to my wd being in the drivers directory, the interpreter actually tried to import liquidctl's `usb.py` module. If I run it from the project root, it works.

---

Setting pump mode during initialization works well :+1:
Changing fan speeds works at runtime (at least the percentage mode, i.e. `python -m liquidctl.cli set fan speed 50`)

---

---

Sorry for the unclear formulat

[2021-02-12 15:29] jonasmalacofilho commented on #137
@tillmzw , thank you for the additional information.

---

@andytank123 , thanks!

Can you see if you can find where I may have broken the 'rainbow' mode?  I assume it was working correctly before my changes.

_(Obs.: the issue may not be super obvious, as @tillmzw reported that "rainbow works now" for them)._

Regarding the 'alert' mode, the temperature thresholds are by default [quite high](http

[2021-02-14 11:57] andytank123 commented on #137
I don't think the rainbow mode ever worked, The pump defaults to rainbow mode, and I when testing I tested the rainbow mode first and saw no change. So I can't be sure it works, I suggest removing it.

I got the temperature to 36C when testing the alert mode.

[2021-02-14 21:05] jonasmalacofilho commented on #137
Right, but based on the thresholds we current have (which I don't think I changed from what you had initially implemented), I only really expect any change when the liquid temperature gets closes (or above, if the device doesn't interpolate between the three colors) 45°C!

[2021-02-14 21:11] jonasmalacofilho commented on #137
_(Please ignore the previous notification, I accidentally triggered "close with comment")._

Well, at least the hardware appears to have that mode.  Any way of resetting the cooler (to default settings) from iCue, and capturing that section of the traffic?

Also, where did our current 'rainbow' implementation come from?

Hm, but based on the thresholds we currently set, I only think we'll see a ch

[2021-02-15 02:13] jonasmalacofilho commented on #274
@planeturban

Can you test the code in PR #285 (branch [`274-keyval-file-locking`](https://github.com/liquidctl/liquidctl/tree/274-keyval-file-locking)) and see if it fixes the issues you were having with the Pro XT coolers and more than one liquidctl instance running?

Just make sure that all instances of liquidctl (and of the liquidctl APIs) that are running simultaneously have been updated.

[2021-02-15 12:01] planeturban commented on #274
Ran the following test for 5(!) hours (forgot to exit :D).

`watch -n .3 "clear; python3 -m liquidctl.cli status"` and `watch -n .1 "python3 -m liquidctl.cli set fan2 speed  20 0 35 20 40 50 49 20 50 95"` in two different sessions..

Without any issues. Seems ok.

[2021-02-16 04:05] ROODAY commented on #246
@jonasmalacofilho So I updated liquidctl via pip and voila, I am now able to run `liquidctl --legacy-690lc status` while Yoda is running. However now I have a new issue that's even worse, the fan keeps jumping to 100% every couple seconds and then goes back down. At first I thought it was Yoda, so I tried stopping it via the service manager, but the service manger failed to shut it down (not sure

[2021-02-16 04:52] jonasmalacofilho commented on #246
I think the issue has to do with the fact that, on these legacy 690LC devices, `liquidctl status --legacy-690lc` has to send cooling settings to be able to retrieve information from the cooler.

To support this quirk across multiple liquidctl instances and executions, the driver stores some runtime information in the filesystem; on Windows that will be somewhere within `%TEMP%`.  But since yoda an

[2021-02-16 05:04] jonasmalacofilho commented on #274
Thank you, that's good to hear! : )

_(I just hope these devices are able to deal with multi-packet commands from different instances getting intertwined.  Otherwise our atomic `_sequence` wont be enough and we'll need to lock the entire device._

_This potential issue shouldn't be a big deal with the H100i Pro XT, but could be a more significant problem on models with more fans and/or LEDs, like

[2021-02-17 06:21] planeturban commented on #274
Just got back in the office some 30 minutes ago. Had it running all day and night. After 8 hours is locked up with the following error

[code]

Could be my machine. I'll do some digging with hid modules..

[2021-02-17 06:27] planeturban commented on #274
Tried reloading the hid module with no luck. However, I'd say this case with excessive reads and writes to the controller is not a real world scenario. So I'll suggest we'll leave it as is.

Attaching debug logs.

[code]

[2021-02-17 06:31] jonasmalacofilho commented on #274
Can you still read from the device?  And can you change the code in `usb.py:435` to print the value of `res`?

[2021-02-17 06:35] jonasmalacofilho commented on #274
Can you also confirm the commit that matches the code that you're running?

`[DEBUG] __main__: running liquidctl v1.5.0 (6dd4f3de3a18)` is showing stale metadata.

[2021-02-17 06:37] jonasmalacofilho commented on #274
And please feel free to join our developer's Discord channel: <https://discord.gg/f5HKCAadsr>.

[2021-02-17 07:15] planeturban commented on #274
[code]

(I'll join the discord later this evening (CET)).

[2021-02-18 16:31] MarshallAsch commented on #274
@jonasmalacofilho  could the issue that @planeturban is having now be related to the multiple commands not being sent atomically, or the messages being sent out of order.

[2021-02-19 02:07] jonasmalacofilho commented on #274
Yes, that is likely.  Unfortunately locking entire devices is a pretty big change, with some serious ramifications, and will need to be a minor (instead of patch) release.

Given that #285 doesn't actually solve any immediate issues, I'm leaning towards not including it in 1.5.1, as I had originally planned.  It's not a simple cherry-pick, as there are a few merge conflicts, and despite all of our

[2021-02-19 08:38] jonasmalacofilho opened #286 "Checklist for release 1.5.1"
# Release checklist

## Prepare repository

 - [x] Update liquidctl/version.py
 - [x] Update last update data in the man page
 - [x] Make sure the CHANGELOG is up to date
 - [x] Update the link in the README to the stable executable for Windows
 - [x] Remove "U/Starting with upcoming..." notes from the table of supported devices
 - [x] Commit "release: prepare for v<version>"

## Test

With `"$(li

[2021-02-19 09:59] #286 closed

[2021-02-19 13:42] #137 closed

[2021-02-19 19:53] DaEgi01 opened #287 "Provide a winget package."
Please provide a winget package that is always up to date with the newest release on github :)

[2021-02-19 23:11] jonasmalacofilho commented on #287
It's very cool to see Windows finally having a first-party package manager.

https://docs.microsoft.com/en-us/windows/package-manager

This will require creating an installer for liquidctl: winget operates on first-party installers, and is not in itself a packaging tool or format.

We might also want to sign these installers (at least for the releases), which probably involves an annual fee.  And,

[2021-02-20 02:53] DaEgi01 commented on #287
I can't currently help out, even if I'd love to.
This awesome project of yours saves me every day from that awful CAM software,
yet I just have too many side projects already going.

Regarding the packaging, maybe https://docs.microsoft.com/en-us/windows/msix/overview would be an option for windows?
Also I really think you can and should avoid any annual fees :)

[2021-02-20 07:58] jonasmalacofilho commented on #287
Inno and Nullsoft are also (documented to be) well supported.

Just to clarify my previous comment, code signing is not documented to be a requirement.

But unsigned applications (or, more precisely, not signed with MS tools and using their certification scheme) could result in a degraded experience (e.g. will a "unsigned application" warning pop up every time the application is updated?).

There'

[2021-02-22 02:59] jammehcow opened #288 "[Feature] Add IPC support for external integration"
Would be awesome to have some way of communicating with the service/application from another application (e.g. a custom fan controller or a polybar script etc.) Whether that's IPC or some other communication protocol it would be super useful. I'm happy to open a PR for it and work this through since I would like to use it.

[2021-02-22 03:56] jonasmalacofilho commented on #288
First, did you saw that we currently have issue #123 open for providing machine-readable output from `liquidctl status` (probably `liquidctl initialize` and `liquidctl list` as well)?

In fact, I did some benchmarks a couple of days ago and now have a better idea of which structure to output.

This would already cover some use cases.  The other `liquidctl` commands generate no primary output; and

[2021-02-22 04:44] jonasmalacofilho commented on #104
I did some (very limited but perhaps still useful) benchmarking of desserializing the JSON output and performing the most common operations with the data (finding a particular value and finding all values of a certain "type").  And a simpler structure like

[code]

outperformed one with a more complex `"Status": { "<key>": ... }` JSON object.

In the benchmark, which used a fairly powerful statica

[2021-02-23 06:44] jammehcow commented on #288
I didn't see the Python API, that's actually exactly what I'm looking for. Ignore this. Thanks for the reply!

[2021-02-23 06:44] #288 closed

[2021-02-23 21:25] evghenix opened #291 "HyperX Predator RAM Support"
HyperX Predator RAM.

HyperX is RGB fusion ready. This means that it can be controlled using RGB fusion software but it does not work with liquidctl.

The device appears to support the following features:

 - [ ] monitoring of temperatures or other environment sensors
 - [ ] monitoring of fan or pump speeds or duty cycles
 - [ ] monitoring of voltages, currents or power
 - [ ] configurable fan or

[2021-02-23 21:28] evghenix commented on #291
I don't know how "RGB Fusion Ready" device works but it would be great to have those devices work with liquidctl.

[2021-02-24 03:49] jonasmalacofilho commented on #291
I checked the OpenRGB [implementation](https://gitlab.com/CalcProgrammer1/OpenRGB/-/tree/master/Controllers/HyperXDRAMController) and these memory modules use (as expected) a simple protocol over SMBus for LED control.  Do they also support temperature monitoring?

It is probably fairly easy to write a driver to support them on Linux.  This would initially be limited to Intel x86 boards, due to cu

[2021-02-24 17:55] evghenix commented on #291
@jonasmalacofilho  Hello. Updated the issue with all information that I have. Regarding your question as far as I know there is no temperature monitoring, but I could be wrong. And yes I'm Mac/Windows user.

[2021-02-24 18:03] jonasmalacofilho commented on #291
Thanks!

Can you try to get a dump of the SPD data for one of the modules?

Note: this may contain the module's serial number, feel free to replace all chars/digits with `X`s.

[2021-02-24 18:06] evghenix commented on #291
@jonasmalacofilho It is in the issue description. system_profiler SPMemoryDataType
Memory:

Memory Slots:

  ECC: Disabled
  Upgradeable Memory: Yes

    BANK 0/ChannelA-DIMM0:

      Size: 16 GB
      Type: DDR4
      Speed: 3200 MHz
      Status: OK
      Manufacturer: Kingston
      Part Number: KHX3200C16D4/16GX
      Serial Number: xxxxxx

[2021-02-24 18:10] jonasmalacofilho commented on #291
I saw that, but the full SPD dump contains a bit more than data.  Even though we don't use most of it, or that some fields I can safely infer, one particular thing I was interested in was whether the SPD reports the presence of a temperature sensor.

[2021-02-24 18:14] evghenix commented on #291
Did I understood you correctly? You need full output of ```system_profiler``` command?

[2021-02-24 18:20] evghenix commented on #291
Ok, I'll try to do that. Not sure how I can do that on Mac OS.

[2021-02-24 18:34] jonasmalacofilho commented on #291
I actually don't know how to get a dump of SPD data in Mac OS.  In fact, knowing which software does that on Mac could help (since liquidctl will also need to access the SPD), so please let us know which tools you ended up using.

[2021-02-24 18:45] evghenix commented on #291
Did that under Windows. Hope is helps.

`
$ wmic memorychip get /format:LIST

Attributes=2
BankLabel=BANK 0
Capacity=17179869184
Caption=Physical Memory
ConfiguredClockSpeed=3200
ConfiguredVoltage=1200
CreationClassName=Win32_PhysicalMemory
DataWidth=64
Description=Physical Memory
DeviceLocator=ChannelA-DIMM0
FormFactor=8
HotSwappable=
InstallDate=
InterleaveDataDepth=2
InterleavePosition=1
Manufa

[2021-02-24 19:06] jonasmalacofilho commented on #291
Thanks.  I also found some [Thaiphoon](https://i.imgur.com/mEnJOfc.png) [screenshots](https://i.imgur.com/nkprPBu.png) online that complement that.

---

For future reference, these modules don't appear to support temperature monitoring, according to the SPD data.

[2021-02-26 01:26] RMateusPT opened #292 "Lower speed settings for NZXT Smart Device"
Hi,
I was looking for an alternative to keep my fans and leds working without using NZXT CAM Software. Although there are some missing features, like monitoring CPU temps and adjusting fans accordingly or change led colors based on CPU/GPU temperatures.

Anyway, my real issue, is that I know that the fans I'm using goes down to about 700rpm, but even when set to 5%, they are working at around 940r

[2021-02-26 02:15] synic opened #293 "NZXT H series H210i, SmartDevice 2, does not show leds"
The LEDs are connected to the SmartDevice, and are on, however, it doesn't list them in liquidctrl:

[code]

I am using Ubuntu 20.10

[2021-02-26 03:39] jonasmalacofilho commented on #292
In what conditions did you reach those speeds?  And are those DC or PWM fans?

Finally, can you include the output for `.\liquidctl.exe status --debug`?

[2021-02-26 03:43] jonasmalacofilho commented on #293
Can you include the output of `liquidctl status --debug`?

Are those LEDs official NZXT accessories, and are they lit (presumably in their default static white mode)?

Finally, did you execute `liquidctl initialize`?

[2021-02-26 05:29] synic commented on #293
here is the status with `--debug`:

[code]

Yeah, it's just the one LED strip that came with the system, and yes, it's just in the bright white mode.

I did run `liquidctl initialize all`

[2021-02-26 05:33] jonasmalacofilho commented on #293
Thank you.

Weren't the connected accessories reported in the output from `initialize all`?

[2021-02-26 09:12] RMateusPT commented on #292
Hi,
These are PWM fans, the model is RF-AF12C-RB
When using NZXT CAM, the lower speed i could get was @ 20%, and the fan speed was around 700rpm.

Here's the output @ 20%
[code]
And @ 50%
[code]

Thank you.

[2021-02-26 12:08] jonasmalacofilho commented on #292
Can you should me the output of `.\liquidctl.exe set fan1 speed 20 --debug`?

I would also like to known the `status` output (no debug infos necessary) for 100% duty cycle.

---

It's always  possible that there's a subtle bug in liquidctl, but we really don't enforce any minimum duty cycle in software, and the device appears to think it's operating at a lower duty cycle.

This leads me to think t

[2021-02-26 12:20] RMateusPT commented on #292
Hi,
Yes I did initialize the device first, and yes it did cycle through the speed up and slow down for then fans.
For now, there's only 1 fan connected to this device.

Here's the output
[code]
I have a smart device V1 (it's disconnected now) but if needed, I can connect it and make some debugs to see if there's any differences. I can confirm that the fan works at lower speeds on NZXT CAM. The CAM

[2021-02-26 12:32] RMateusPT commented on #292
Hi again. You might be right. The issue might be with the Smart Device V2. Right now, even with CAM, I cant get the fan to work lower than 960RPM. I will re-install the Smart Device V1 and check again and will provide further data.

Thank you.

[2021-02-26 12:52] jonasmalacofilho commented on #292
The device stills appears to think it's operating at the lower duty cycle (when requested),

and the correct speed change when set to 100% also shows that it's using the appropriate control mode (DC) for this fan.

There must be some protocol quirk that we're missing, like a special flag to enable low speeds on DC control.  Can you please capture the USB traffic between the device and CAM, while s

[2021-02-26 13:02] RMateusPT commented on #292
I've connected the V1. and it works as before. This seems to be a limitation with the V2 .
With the V2, liquidctl doesn't detect the Fan1 as a DC nor shows values for Current and Voltage.

I'll try capturing USB traffic, i'll leave for now the output.
[code]

[2021-02-26 13:09] jonasmalacofilho commented on #292
Well, there has been a recent firmware update...

And maybe the minimum fan speed threshold was accidentally affected.  You could report that to NZXT and ask them to release a bug fix for the firmware.

But are you still able to shutdown the SD V2 fans completely with CAM or liquidctl (by setting them to 0%)?

---

As far as we know the SD V2 doesn't report that information, unfortunately.  But it

[2021-02-26 13:17] RMateusPT commented on #292
Probably, I've installed the SD V2  yesterday, NZXT sent it as replacement for the SD V1, duo to another problem I'm having, it's not working properly with my Motherboard hearders (MSI B550) CAM loses connectivity with the USB Device. It did not solved the issue. I'm able to get it work, connecting it to an USB port on the Case or the back IO (I'm working with their support on that)

Yes I can. On

[2021-02-26 16:22] artforlife opened #294 "Unable to Set Color in Corsair H100i Platinum"
I am able to to control fan speeds and modes, but not control the colors. Am I doing something wrong?

[code]

[2021-02-26 16:53] MarshallAsch commented on #294
`ring` is not not a valid channel for that device and the `fading` mode is also not yet supported.
See [docs/corsair-platinum-pro-xt-guide.md](https://github.com/liquidctl/liquidctl/blob/master/docs/corsair-platinum-pro-xt-guide.md) for a list of the available channels and color modes.

There is currently a work in proges for #193 that will add support for more hardware modes, but for now there is

[2021-02-26 19:02] synic commented on #293
@jonasmalacofilho you are right, it's listed there. I just got messed up because it's not in the status output. Trying to set the LED colors does indeed work, though:

[code]

Thank you!

[2021-02-26 19:04] #293 closed

[2021-02-26 20:26] RMateusPT commented on #292
I've captured the USB packets with Wireshark. This is for the SDV1.
[wireshark_SDV1.zip](https://github.com/liquidctl/liquidctl/files/6052306/wireshark_SDV1.zip)

[2021-02-27 09:31] jonasmalacofilho commented on #292
Thanks!

Just to double check the SDV2 capture: you first set fan1 to 50%, then to 15%; both times using CAM.  Is that correct?

Certainly appears so, either due to a firmware bug or, since the device is new, a hardware defect or new limitation.

Try to contact NZXT, and please let me know what they reply (and if they issue a firmware update).

---

Slightly off-topic, but I also noticed something

[2021-02-27 09:32] #294 closed

[2021-02-27 14:05] #262 closed

[2021-02-27 14:06] #188 closed

[2021-02-27 15:22] jonasmalacofilho commented on #226
@lakinwecker is this still something you're interested in working on?

[2021-02-27 15:34] jonasmalacofilho opened #297 "New method for handling device-specific parameters and properties"
We need to refresh how we deal with driver-specific parameters.

The conversion of CLI options and flags into `**kwargs` worked fairly well for a while, but we're starting to have a serious problem with too many flags.  Currently, it's only mitigated by not actually exposing all available device knobs (e.g. Commander Pro or Asetek Pro coolers; controlling fans in rpm, rather than duty %).

Additio

[2021-02-27 15:34] #235 closed

[2021-02-27 15:35] jonasmalacofilho commented on #235
Superseded by #297.

[2021-02-27 15:36] jonasmalacofilho commented on #244
@gardotd426 any news?  Do you need some help?

[2021-02-27 15:41] jonasmalacofilho commented on #249
This is good first issue.  Anyone interested in working on this can join our [developer's Discord server](https://discord.gg/f5HKCAadsr) for help.

[2021-02-27 22:23] lakinwecker commented on #226
If I could find the time, yes. But I have no idea when I'll find the time, Feel free to close it and I'll update you when I do find the time.

[2021-02-27 22:32] gardotd426 commented on #244
Yeah, I tried to use NVapiSpy and it didn't do anything, it didn't work at all, and I told Adam (CalcProgrammer1) and he couldn't really help much. I guess I could try and give it another go, but yeah NVApiSpy won't work w/ Precision X1 I tried it about 8 times.

[2021-02-27 22:50] jonasmalacofilho commented on #244
I had some difficulty too, but it worked once I replaced it globally.

I think X1 may use a hardcoded path for the system DLL, instead of going through the system loader and various candidate paths.

[2021-02-27 23:16] gardotd426 commented on #244
Yeah that was one of the suggestions Adam made, I'll give it a try globally, I'll just have to install Windows on an extra partition. I have Windows in a single-GPU passthrough VM, but I don't want to mess with anything like this in VFIO even though the GPU is basically running as if it were bare metal. I wiped the Windows install I tried this on previously because it was the only reason I even in

[2021-02-27 23:56] jonasmalacofilho commented on #226
Well, feel free to open a PR anytime.  And reach out if you need any help getting started.

[2021-02-27 23:56] #226 closed

[2021-02-28 00:42] jonasmalacofilho opened #298 "Synchronized access to devices"
Some devices require synchronized access and don't cope with receiving out-of-order packets (#274).

Fixing this will require our drivers to implement some form of locking of the devices, probably cooperative.  The most obvious alternative is file locking, but there's the issue of what happens when there are multiple `liquidctl` instances running *with different user privileges.*

In this scenario

[2021-02-28 02:26] evghenix opened #299 "Gigabyte Aorus RX5700XT Graphic card"
It can be controlled with Gigabyte RGB Fusion 2.0

The device appears to support the following features:

 - [x] monitoring of temperatures or other environment sensors
 - [x] monitoring of fan or pump speeds or duty cycles
 - [ ] monitoring of voltages, currents or power
 - [ ] configurable fan or pump speeds
 - [ ] configurable voltages or current/power limits
 - [x] configurable lighting of emb

[2021-02-28 10:12] jonasmalacofilho commented on #299
This obviously requires understanding the protocol that's used to interact with this device.

Unlike with NVIDIA GPUs, I don't know how to sniff this traffic on Windows, and I'm not even sure it's I²C (although that's likely).  On the other hand, at least we can try to reach out to AMD on this one.

in addition to figuring out the protocol, and implementing our specific driver, we also need to imp

[2021-02-28 10:25] jonasmalacofilho commented on #291
We have a policy of requiring substantially higher confidence for I²C/SMBus drivers, when compared with USB/USB HID ones.

Because of this we (the maintainers) can only *help* with the implementation, but it's essential that there's someone with actual access to the device working with us.

Additionally, even though we can use OpenRGB as a reference, I prefer to have access to raw/recent traffic c

[2021-02-28 16:04] evghenix commented on #299
Hi @jonasmalacofilho I cant try to sniff the traffic but I have no clue how to do that. Would be great if anyone can help me with this. Also, as I have multiboot system I can try to install Linux as well.

[2021-02-28 16:09] evghenix commented on #291
@jonasmalacofilho please let me know how I can help. As I have the device I could try to sniff the traffic (but have no clue how) if necessary and do other useful things for you.

[2021-03-01 16:26] babafgd opened #300 "rm1000i Total PSU power show output power instead of input power"
Hi,

I have a Corsair rm1000i PSU and notive that the total power is the sum of all power, not the input power.

ie : output power = input power * efficiency.

The input power needed by the PSU is the sum of all needed power divided by efficiency.

That is the power delivered by the outlet, what we need for the complete system.

Additional information about the system:

- Affected device: (tested

[2021-03-01 18:12] jonasmalacofilho commented on #300
If I understood correctly, you are suggesting that we should replace "Total power" by "Input power".

Unfortunately, the device only provides us with the total [output] power.  In order for us to estimate the input power we would likely need to lift the efficiency curves from the PSU manuals, assuming they are accurate.  Another possibility would be ask Corsair for the data in a machine readable f

[2021-03-01 18:18] babafgd commented on #300
Hi,

You don’t need so big work on efficiency curb as Corsair do the job for you.

On the windows tool you get access to all three : input, output, efficiency.

So I guess only the good Data address is needed.

For « total power » it’s 0xEE.

I have both windows and Linux on the computer, So I can try to see if I
found it.

I would be happy to help !

On Mon 1. Mar 2021 at 19:12, Jonas Malaco <not

[2021-03-01 18:29] jonasmalacofilho commented on #300
So far I've only seen the output power (with `MFR_SPECIFIC_EE`) in the captures I have.  But I suppose the device could support either or both standard `READ_IIN` or `READ_PIN` commands, or some other `MFR_SPECIFIC_??` command that would allow us to properly compute the input power.

_(Note: PMBus has a `READ_POUT` command, but Corsair chooses to use a custom `MFR_SPECIFIC_EE` instead)._

Try to [

[2021-03-01 18:37] babafgd commented on #300
Will do !

On Mon 1. Mar 2021 at 19:29, Jonas Malaco <notifications@github.com> wrote:

--

RG

[2021-03-01 20:32] babafgd commented on #300
Hi,

So first a picture to show what we are looking for

[image: image.png]

As you see PowerIn is bigger than PowerOut, the ratio between them is
efficiency.
Power in -> what is at the wall socket
Power out -> what is needed inside the Computer (out of the PSU)
from liquidctl I have seen only powerOut info, that I have already
confirmed with a Wattmeter.

On my application, I'm looking for the po

[2021-03-01 20:48] jonasmalacofilho commented on #300
Please don't use GitHub's reply-by-email feature.  If you check your issue on the repository, you'll see that what gets to the other side (=me) is completely borked.  For example, I can't see the attachment(s).

---

I'm obviously not disputing that `POUT = PIN * efficiency`.

Let's look at the captures and see what the device sends to iCue, and continue from there.

_(again, the attachments were

[2021-03-01 21:23] babafgd commented on #300
I'm still new to github :) Here is the picture

![image](https://user-images.githubusercontent.com/77416048/109560535-4d1be680-7adc-11eb-9890-3da887b60687.png)

And here is the capture :

[CorsairLink-rm1000i.zip](https://github.com/liquidctl/liquidctl/files/6064540/CorsairLink-rm1000i.zip)

let me know How I can support more.

[2021-03-02 02:58] jonasmalacofilho commented on #300
The traffic you captured doesn't show any use of standard PMBus `READ_IIN` or `READ_PIN` commands by (presumably) iCue.

Still, I decided to give it a shot.  Can you please test c87788f?

[2021-03-02 06:10] jonasmalacofilho commented on #291
Thank you.  What motherboard do you have?

[2021-03-02 06:51] jonasmalacofilho commented on #299
Thanks!

I looked into this a bit and it seems that the bus is indeed I²C.

I talked to Adam @ OpenRGB and he thinks it should be possible to capture the relevant calls to ADL with API Monitor.  Looking at the ADL documentation, I would initiallly focus on [`ADL2_Display_WriteAndReadI2C()` and friends](https://gpuopen-librariesandsdks.github.io/adl/group__I2CDDCEDIDAPI.html).

That said, I don't h

[2021-03-02 08:28] babafgd commented on #300
Hi,

So as said I still have to learn a few things.

I have tested on my ubuntu linux and made the few commadn line :

[code]

I had 3 errors at this step, not sure they are related to liquidctl :
[code]

Then I tested the actual version  of liquictl :

[code]

and got ` Total power                        926.00  W`

So I presume my version has been compiled and it's working as expected from git s

[2021-03-02 09:29] evghenix commented on #291
It's Gigabyte Z390 Aorus Pro

[2021-03-02 15:38] jonasmalacofilho commented on #300
I would need the complete output from the errors to know what's going on.  But if I had to guess, it's probably a missing dependency or kernel module.

---

I messed up and forgot to handle division by zero.  That said, the fact that input power is zero isn't great news...

Can you comment out the culprit

https://github.com/liquidctl/liquidctl/blob/c87788ff11dfc6b91a847f2db85d7714058559cf/liquidc

[2021-03-02 15:47] jonasmalacofilho commented on #299
Adam @ OpenRGB:

[2021-03-02 16:15] babafgd commented on #300
Hi Jonas,

here is the output with commented line and `--debug`

[code]

[2021-03-02 16:15] jonasmalacofilho commented on #291
There are couple of things you should try first, in software.

First, capturing the I²C traffic with i801 sniffer ([executable built by Adam @ OpenRGB](https://discord.com/channels/699861463375937578/702322217622700052/744252923541979277), [source code](https://gitlab.com/CalcProgrammer1/OpenRGB/-/tree/i2c_sniffer_i801)).  As far as I remember, just start the sniffer and then the program of intere

[2021-03-02 16:23] jonasmalacofilho commented on #300
Apparently neither `READ_IIN` (input current) or `READ_PIN` (input power) are supported by the device.

And from your traffic capture, there is no other relevant data that iCue fetches from the device.  It seems that iCue has the efficiency tables...

_(You did capture the traffic from/to iCue, right?  Or was the capture made of another software?)_

[2021-03-02 16:53] evghenix commented on #291
Thanks for the reply. I'll try to find this analyser.

[2021-03-02 17:15] jonasmalacofilho commented on #291
For the logic analyzer, something like [this](https://www.amazon.com/HiLetgo-Analyzer-Ferrite-Channel-Arduino/dp/B077LSG5P2/ref=sr_1_3?dchild=1&keywords=logic+analyzer&qid=1614704242&sr=8-3) should work, which is probably a Saleae Logic clone.  It's hard to tell if it's a good or bad clone, but SMBus is a farily low frequency protocol, so even one of the worse clones will probably be more than eno

[2021-03-02 20:09] babafgd commented on #300
Hi, No I just notice, I was using Corsair link software.

I made a new capture with iCue software if it change anything.

The power was around 122 this time

[CorsairLink-rm1000i-icue.zip](https://github.com/liquidctl/liquidctl/files/6071481/CorsairLink-rm1000i-icue.zip)

[2021-03-02 20:23] jonasmalacofilho commented on #300
Same thing, just `READ_VIN` is fetched for the input side.

We need the efficiency curves, either from the manuals (not that much work, but may not be very accurate and/or precise) or by reaching out to Corsair.  Can you help with this?

P.S. For completeness our driver, we need the curves for all RMi and HXi models.

[2021-03-02 20:44] babafgd commented on #300
Hi,

Ok I will see what I can get from Corsair. I'm not convince they do it with curve calculation as it sounds weird to me. But I will ask them for some curves /data.

[2021-03-03 02:24] jonasmalacofilho commented on #300
Data for 80 PLUS certification is available at <https://www.clearesult.com/80plus/manufacturers/115V-Internal> and related pages.  But most devices have only been tested at ~115V input (where they are less efficient than at ~230V input).

[2021-03-03 07:14] babafgd commented on #300
Hi Jonas,

I found the efficiency curves in the Rmi & Hxi Manual from Corsair. I have added also Ax series as I plan to move to an ax1500i soon.

https://www.corsair.com/corsairmedia/sys_master/productcontent/RMi_Manual.pdf
https://www.corsair.com/corsairmedia/sys_master/productcontent/HXi-Manual.pdf
https://www.corsair.com/corsairmedia/sys_master/productcontent/AXi_Series_Manual.pdf
https://www.c

[2021-03-03 07:35] babafgd commented on #300
Hi,

another comment, on another project I found a similar PSU monitor reding feature, and the have implemented simple curve table for the powerIn calculation :

https://github.com/Hagbard-Celin/cpsumon/blob/master/libcpsumon/src/cpsumon.c

[2021-03-03 07:46] jonasmalacofilho commented on #300
We don't support the AXi series (yet?).

We only need the efficiency values at 10%, 20%, 50% and 100% (the rest is interpolated anyway).  And the following format would be fine:

[code]

Note that the efficiencies at 115 V can be lifted from the link I posted above.   But please let me know if you find any huge discrepancies between the 80 PLUS data and what's on the manual.

[2021-03-03 08:01] jonasmalacofilho commented on #300
For reference, I'll use this data and [`collected-device-data/psu-efficiency/interpolate`](https://github.com/liquidctl/collected-device-data/blob/master/psu-efficiency/interpolate) to get interpolations that behave like:

![RM1000i-115V](https://user-images.githubusercontent.com/1832496/109772734-1f6a9680-7bdd-11eb-894a-f8f6bcc69010.png)

[code]

[2021-03-03 08:13] babafgd commented on #300
Hi,

I did the exercice and the two curves from Corsair manual and 80 plus certificatino does not match, but are close enough for a first step

![image](https://user-images.githubusercontent.com/77416048/109774447-a2511880-7c00-11eb-9a31-9e1d3bdcc650.png)

[2021-03-03 08:19] babafgd commented on #300
Note : the Horizontal scale is logarithm 10 base.

[2021-03-03 12:07] aluveitie commented on #249
There is also a working implementation for MacOS: https://github.com/notjosh/Aureal

[2021-03-03 15:14] jonasmalacofilho commented on #300
@babafgd I no longer can see your comment that started with

What happened?

[2021-03-03 19:50] babafgd commented on #300
Hi, I should have made a mistake as I have seen double message and removed one ...

Here is the Manual picture and the correlation I did :

![image](https://user-images.githubusercontent.com/77416048/109863562-1243bb00-7c62-11eb-9420-c67b26c443ee.png)

![image](https://user-images.githubusercontent.com/77416048/109863584-18d23280-7c62-11eb-866c-d0bcfed0a501.png)

[2021-03-03 21:10] jonasmalacofilho commented on #300
Indeed, there are measurable differences:

[code]

The two bottom lines are data I lifted from the RMi manual in a fairly accurate way, by drawing guide lines on Inkscape and dividing distances.

![Screenshot from 2021-03-03 17-41-47](https://user-images.githubusercontent.com/1832496/109872672-8030b800-7c4b-11eb-9d50-9d553a587acd.png)

---

That said, the data from the manual, good or bad, is cert

[2021-03-03 21:11] jonasmalacofilho commented on #300
Did you reach out to them?

[2021-03-04 00:47] jonasmalacofilho commented on #300
[code]

[2021-03-04 12:09] babafgd commented on #300
That sounds really good ! I have asked in the corsair forum about USB data. in other hand I found thread of people asking for more details and the official answer is that Corsair cannot disclose third party IP. I would assume that with the table you made from 80 plus data and the good interpolation we can be close to the manual Curve and it should be good enough for a first approach. I will then b

[2021-03-04 22:36] sgtcoder commented on #58
This is still not being detected. When will this be fixed?

[2021-03-04 22:58] jonasmalacofilho commented on #58
@sgtcoder

Please open a new issue, following our bug report template.  Specifically, we need to understand *exactly* what you expected liquidctl to do, and what it is doing.

It will help if you provide as much information as you can, like `--debug` information from liquidctl, the output from `lsusb -v -d<vid>:<pid>` (since you apparently have a device detection issue), and information about you

[2021-03-04 23:31] CaseySJ opened #303 "Lighting channel names not being recognized in Smart Device V2 driver"
** DELETE **

The problem is that my Smart Device V2 is not being recognized by macOS itself. Not a liquidctl issue.

[2021-03-04 23:34] CaseySJ commented on #58
@sgtcoder

Are you referring to this issue I logged just a moment ago? I discovered this a few days ago but forgot to log it until your message reminded me...

https://github.com/liquidctl/liquidctl/issues/303#issue-822595027

[2021-03-04 23:38] jonasmalacofilho commented on #303
Hi @CaseySJ, good to see you again!

The Kraken X2 coolers only have `logo`, `ring` and `sync` lighting channels ([guide](https://github.com/liquidctl/liquidctl/blob/master/docs/kraken-x2-m2-guide.md#rgb-lighting)).  Can you check if those work?

[2021-03-04 23:39] jonasmalacofilho commented on #303
Oh, that makes sense... lighting commands intended for the SD2 were then reaching the Kraken2 driver, hence the KeyError.

[2021-03-04 23:39] #303 closed

[2021-03-04 23:39] CaseySJ commented on #303
@jonasmalacofilho

Hello again! Alas, it seems there is a fault in my Hackintosh where the Smart Device V2 is not being recognized by macOS. So I was trying to configure lighting channels for the Kraken instead of the Smart Device V2!!!

[2021-03-04 23:41] CaseySJ commented on #303
Let me fix the Smart Device V2 (could be a hardware connection issue) and then I test see if there's any I/O error as mentioned by @sgtcoder.

Nevertheless, please close/delete this issue as it's User Error.

[2021-03-04 23:44] jonasmalacofilho commented on #303
Thanks!

[2021-03-04 23:58] CaseySJ commented on #58
Okay, after fixing a wiring problem on my Hackintosh, the Smart Device V2 is operational again. With `liquidctl 1.5.1` there is no problem accessing and configuring the device.

[code]

[2021-03-05 02:58] sgtcoder opened #304 "New NZXT RGB & Fan Controller variant 0x200e"
When running `sudo liquidctl list` my NZXT Smart Device V2 is not showing up. I tried `sudo liquidctl initialize all` and the device still did not show up. This may or may not be a bug, but it seemed best to open the new issue here.

NZXT Cam 4 in Windows 10 Detects All of My Devices
- NZXT Kraken X (X42, X52, X62 or X72)
- NZXT Smart Device (V1)
- NZXT Smart Device (V2)

[code]

[code]

[code]

[

[2021-03-05 02:58] sgtcoder commented on #58
@jonasmalacofilho

You are right, sorry about my frustration. I went ahead and opened up a proper ticket.

Here is the link: https://github.com/liquidctl/liquidctl/issues/304

Thank you!

[2021-03-05 04:30] jonasmalacofilho commented on #304
It seems that your NZXT Smart Device V2 has a new product id (PID) `200e`.

_(Which is odd considering that, supposedly, the old PID (`2006`) recently got a firmware update to address hardware differences in newer units, which shouldn't be necessary if the newer units were going to use a new PID anyway)._

Do you think you can provide some USB [traffic captures](https://github.com/liquidctl/liquid

[2021-03-05 04:31] jonasmalacofilho commented on #58
@sgtcoder no problem, and thanks for opening the issue.

[2021-03-05 04:35] sgtcoder commented on #304
@jonasmalacofilho Let me try what you provided. It's actually a RGB and Fan Controller, from my understanding is the same as Smart Device V2. I just received the device fresh from NZXT today: https://www.nzxt.com/products/rgb-fan-controller

[2021-03-05 04:39] jonasmalacofilho commented on #304
That's good to know, we actually differentiate between the two when reporting data to the user.

Anyway, `0x200e` is still a new PID for the RGB & Fan Controller (which we previously new with PID `0x2009`).

[2021-03-05 04:49] sgtcoder commented on #304
@jonasmalacofilho

I added this and it is initializing, but also have to do under root so I can do sudo because it's not in udev yet either (in order to set).

Thank you for the quick response.

[code]

[2021-03-05 05:54] #304 closed

[2021-03-05 05:55] jonasmalacofilho commented on #304
Already added to the main branch.  Thanks!

[2021-03-05 09:27] jonasmalacofilho commented on #300
Can you give commit ~~9bee8da0bacd~~ 7f53e6c90fc1 a try?

[2021-03-05 09:30] jonasmalacofilho commented on #300
Note to myself, about the changelog: if theses changes get merged I'll also need to mention the renaming of "Total power" to "Total power output".

[2021-03-05 19:00] babafgd commented on #300
Hi,

I was fighting a little with git, but finally get it working and here is the output of the 7f53e6c :

Corsair RM1000i
├── Current uptime                    3:31:04
├── Total uptime             27 days, 4:31:04
├── Temperature 1                        53.2  °C
├── Temperature 2                        19.0  °C
├── Fan control mode                 Hardware
├── Fan speed

[2021-03-05 20:04] jonasmalacofilho commented on #300
How precise and accurate is that meter supposed to be?

Still, 1010 W makes more sense with a 80 Plus Gold rated and fairly new 1000 W PSU at 230 V input (assuming the rating matches reality, but let's not open that can of worms).

In fact, based on the efficiency graph in the manual, the RM1000i wouldn't have passed 80 Plus Gold at 230 V.

_(Well, it really isn't listed on the official 80 Plus we

[2021-03-06 20:21] jonasmalacofilho commented on #300
I gave this more thought and, while I appreciate any additional validation you decide do, I think for now we should stick with the advertised efficiency data from the manuals.

In the end, the data we're using is public and official, and thus our estimates are easy for users to verify.  We couldn't say the same if we were to use *ad hoc* collected data.

Still,

---

Unless bugs are found, I'll cl

[2021-03-07 00:28] sgtcoder commented on #304
@jonasmalacofilho not sure if you want me to open up a new ticket, but I am getting an error when trying to access this device in Windows 10. It shows up in liquidctl list, but when trying to intialize it gives me this error:

[code]

[2021-03-07 00:50] jonasmalacofilho commented on #304
No need for now: unlike that old issue with lots of subscribers, only us two and a handful of other people will get notifications from new comments here.

Can you show me the output with `--debug`?

And what terminal shell are you using (Windows Command Prompt, Powershell, other?)?

Finally, if not running our PyInstaller-based executable, what Python version are you using?

[2021-03-07 18:40] sgtcoder commented on #304
That works and makes sense. I need to fix my notifications (they used to send to pushover).

I did try Git BASH since I am a BASH guy, but a batch script in command prompt integrated better (to put a shortcut in the shell:apps). I also have some feedback on the documentation for both Windows and Linux since I had to do a few things more.

I couldn't use your compiled binary yet because it doesn't

[2021-03-07 18:44] sgtcoder commented on #304
Here is the debug:

[code]

[2021-03-07 21:00] jonasmalacofilho commented on #304
Thanks!

Oh, right.

Hm, apparently whatever you tried messed up the ability of the terminal emulator to handle unicode.

Anyway, glad to know you solved it.

That's fine, it just means that it must be the only device you own which reports data during the initialization phase.

Why?  Was this about missing a backend for PyUSB?

In that case, why weren't the official DLLs from the latest libusb rel

[2021-03-07 22:43] sgtcoder commented on #304
Thank you!

```That's fine, it just means that it must be the only device you own which reports data during the initialization phase.```
I was not aware about that. Then technically that's a good feature! I ordered more NZXT RGB fans and another controller.

```Why? Was this about missing a backend for PyUSB?```
It mentioned about missing backend and then later about permission to write to the dev

[2021-03-08 10:24] mschabhuettl commented on #218
@jonasmalacofilho I've also got the Commander Core on my system (Arch Linux), in case you need any help.

[2021-03-08 10:54] babafgd commented on #300
Hi,

I think we made enough progress here until we have more accurate data from corsair. at least it would fit my need. Thanks a lot of the effort.

[2021-03-08 15:23] GER13117 opened #305 "Smart Device V1 does not support temperature-related fan speed"
Hello guys,
So I'm not sure if this is a limitation of  the V1 device, a bug or a mistake I made by myself, but when I call `liquidctl --match smart set fan2 speed 35 0  40 20  45 40  65 40  70 70  85 80  90 100` I get the error-message `ERROR: Error: operation not supported by NZXT Smart Device (V1)`.
I know the Error-Message says that the V1 Device does not support this operation, but I'm not su

[2021-03-08 15:44] jonasmalacofilho commented on #305
This is a limitation of all Smart Devices: they don't have any temperature sensors.

You would need something like [`extra/yoda`](https://github.com/liquidctl/liquidctl/blob/master/extra/yoda), or your own version of that (either using the APIs or with shell scripting), to achieve temperature-controlled fan speeds with these devices.

---

Can you point me to where this is suggested, as that's pro

[2021-03-08 15:46] jonasmalacofilho commented on #304
Oh, ok, don't worry about it.

And thanks!

[2021-03-08 15:55] jonasmalacofilho commented on #218
Thanks!  By the way, you're (all) welcome to join our developer's [Discord server](https://discord.gg/f5HKCAadsr), where you'll find a `#wg-commander-core` channel.

[2021-03-08 15:55] jonasmalacofilho commented on #300
Thank you!

[2021-03-08 15:55] #300 closed

[2021-03-08 15:56] jonasmalacofilho commented on #292
@RMateusPT do you have any news here?

[2021-03-08 17:02] GER13117 commented on #305
Thanks for the quick answer! I read the part where I thought I read it again, I just interpreted too much... So it's everything fine. On the Hackintosh I will check again.

Greetings from Germany

[2021-03-08 18:33] RMateusPT commented on #292
I'm sorry. I was having other issues with my computer, it seems my USB were not even working correctly duo to a Issue with my main board and CPU. Anyway, this is their answer:

`this is something that is known with these particular fans are DC fans so the ability to finely control the RPM on these is not completely guaranteed and they may be a bit higher with the new Smart Device due to the lack o

[2021-03-08 18:33] #292 closed

[2021-03-09 04:33] NickBolles commented on #79
@kebbleytea2 could you share your docker container? Maybe upload it to CA?

[2021-03-09 19:20] KebbleyTea commented on #79
I've got it as a public repo here: https://github.com/KebbleyTea/docker-liquidctl

It currently requires escalated privileges, not really had the time to improve on that. But feel free to fork and improve.
I've since taken out my Z73 due to an issue I had with it.

[2021-03-12 00:42] sgtcoder commented on #304
I don't suppose you know how to setup a systemd service unit when the computer wakes in Ubuntu? After waking my system the lights all turn back to white and reset where it needs to be initialized and reconfigured again. The oneshot method only works at initial boot, but not when waking up computer.

[2021-03-12 00:46] jonasmalacofilho commented on #304
Perhaps you can make systemd (re)start the configuration service when the device is found by udev, by making the by making the device depend on the service, we an udev rule:

[code]

(this is something I found out when looking into [Making systemd units wait for devices](https://github.com/liquidctl/liquidctl/blob/master/docs/linux/making-systemd-units-wait-for-devices.md))

[2021-03-12 00:48] jonasmalacofilho commented on #304
Alternatively, it should be possible to make the service run at every boot *and* resume, which could be more convenient if you have multiple supported devices.  But of the of my head I'm not sure how...

[2021-03-12 00:51] sgtcoder commented on #304
Thank you. I did see the udev rules. I had some issues in the past where the script would load too soon, so I tried running it after. It was all good, but I just added a 4th device, and now I am having resume issues. I will look at the udev rules, but ideally I would like it to have it load on resume and start. Initialize is also starting to get slow too.

[2021-03-12 01:00] jonasmalacofilho commented on #304
Please let me know what you find and, if possible, send me a PR for a new document in `docs/linux/`.

Since the devices are actually resetting to default settings after resuming, the first trick I could mention (don't initialize all devices all the time) is a bad idea.

The second trick is to initialize the devices in parallel.  This isn't a feature of the liquidctl CLI, but you can can execute mu

[2021-03-12 01:07] sgtcoder commented on #304
I will get back to you on the document since there are some nice things we can add.

Going off of this StackOverflow, I got it to load on resume (using systemd): https://askubuntu.com/questions/92218/how-to-execute-a-command-after-resume-from-suspend

[code]

I am unsure why settings are being wiped out now during sleep, that's kind of bothersome. I will dig deeper into this, at least it's working

[2021-03-12 03:14] jonasmalacofilho commented on #304
This isn't going to help much but, technically, you need to initialize a device any time it may be in an uninitialized state, or in a state that differs from critical assumptions made by liquidctl.

In practice this depends on a lot of factors, the most significant simply being how the device works (which is not in our control).  But also the OS, the motherboard, the power saving settings, and (ra

[2021-03-12 06:53] sgtcoder commented on #304
I will get back to you on your comment. I found the reason why the devices are loosing the settings. The new NZXT USB hub uses SATA power vs molex. The SATA rails turn off in sleep and power off whereas the molex power stays on. I am unsure what to do now since the molex version has been discontinued and also only has 3 USB vs 4.

[2021-03-12 09:20] jonasmalacofilho commented on #304
Hm, I forgot about the hub, and it too can cut power to the devices connected to it.

By the way, the embedded controllers in the Kraken and SD V1 are powered by +5VSB *from the USB connection.*  And the SD V2 probably works the same way.

[2021-03-12 09:27] sgtcoder commented on #304
I realized that the VSB is through USB. The NZXT USB 3 is powered through SATA which I preferred, but the SATA shuts power off during sleep and off. The original NZXT USB Hub is powered through a molex and the power stays on always (unless unplugged or no power).

I ended up removing one of the V2 controllers for now. Also, the V2 controllers take about 5 seconds to initialize. The V1 and Kraken a

[2021-03-12 09:54] jonasmalacofilho commented on #304
You could merge the USB cables from both V2 controllers into a single connector; each USB 2.0 header has two ports, and each controller only uses one.  All you need to do is extract the pins from one connector (without damaging them) and insert them into the other one.

Not as a liquidctl feature.  We can detect and issue warnings for some devices (or maybe just one), but that's the exception: mos

[2021-03-12 17:40] sgtcoder commented on #304
[code]
Thank you, that is a good point. I only have 2 USB headers and I kind of need like 5 of them total. Either way, I went back to the old one. They also make splitters too that don't require external power. Not sure what the power limit is though.

If you lived in the US, I would just ship you my secondary V2 device.

I can definitely help test certain things out. What am I testing specificall

[2021-03-13 19:43] ChrisFhey opened #306 "Liquidctl not detecting devices on Ubuntu 20.04 clean install"
Installed liquidctl on a clean Ubuntu 20.04, but no devices are detected. I am using a Corsair Commander Mini with 5 fans attached.

Running `liquidctl initialize` or `liquidctl status` gives the following error:

[code]

Additional information about the system:

- Affected device: Corsair Commander MINI
- Operating system: Ubuntu 20.04 LTS
- Liquidctl version: Ubuntu `liquidctl` package, version

[2021-03-13 20:03] MarshallAsch commented on #306
The corsair commander mini is not a device that liquidctl currently supports, although we would be happy to add it to the project.

@ChrisFhey would you be able to open a new issue using the new device template to give us some more information about the device?

[2021-03-13 20:51] ChrisFhey commented on #306
Sure thing. My apologies, I assumed the Commander devices were already part of Liquidctl.
I'll make a new issue, and close this one then.

[2021-03-13 20:51] #306 closed

[2021-03-13 21:10] MarshallAsch commented on #306
Im hoping that it will use the same communication protocol, that should make it fairly trivial to implement.

[2021-03-13 21:51] ChrisFhey opened #307 "Corsair Commander Mini"
### Description

Controller for Corsair LINK.
It has four Corsair Link Digital ports, six fan control connectors, four temperature inputs, and a port for connecting CORSAIR Link LED lighting strips.

It is mainly used in combination with corsair iCue to control fans and RGB. (Although I am currently using it for fan speed control exclusively)

### The device appears to support the following featur

[2021-03-13 22:12] MarshallAsch commented on #307
Excellent thank you @ChrisFhey  :)

Would you be able to capture some traffic between icue and the device? We have some [usb capturing docs] docs that will walk you through capturing the traffic from a windows vm on linux.

Specifically:
- capture the icue starting up (you can do this by having wireshark capturing the traffic before the vm starts up)
- setting the fan speed to a fixed %
- setting

[2021-03-13 22:18] ChrisFhey commented on #307
Absolutely. I'll look into it as soon as I can.

However, I'm not sure if I can provide data for setting the fan speeds as I have no way to control the Commander Mini on Ubuntu right now, and as such my fans are stuck on max RPM at the moment.

[2021-03-13 22:23] MarshallAsch commented on #307
yup using a windows VM would be the way to go to get that

[2021-03-13 22:26] MarshallAsch commented on #307
You can also join [this](https://discord.gg/CFwbjqPx) discord server if you need some help collecting the trace

[2021-03-13 23:32] ChrisFhey commented on #307
I've just finished setting up the VM for testing, and I've discovered that the Commander Mini I have is not being detected by iCue at all. (Which is strange, as I think I used it with iCue when I was running windows on that PC.)

However, I can connect to it using Corsair Link. Is that potentially something you can use as well, or am I out of luck until I figure out if iCue can support the Mini af

[2021-03-13 23:45] MarshallAsch commented on #307
So I actually have not used corsair link at all I figured that link and icue were slightly different versions of the same thing, but  google says otherwise.

captures from Corsair Link should work. I didn't realize that the device is that much older then the other lighting node / commander products.

Once you get some captures I can take a look at them and see what I can figure out. (If are able t

[2021-03-13 23:47] MarshallAsch commented on #307
this https://forum.corsair.com/forums/showthread.php?t=176371 says you didn't unfortunately, which also means that it is probably a different protocol :(.

[2021-03-13 23:52] ChrisFhey commented on #307
Yes, I saw something similar, sadly. But I am confused about it though, as I really thought I used it with iCue on that PC still.

Either way, would you still be interested in me trying to capture data for the Link?

[2021-03-14 00:03] MarshallAsch commented on #307
yup I am still expecting it to be usb hid traffic. As long as we are able to see what the traffic looks like and be able to confirm what was actually done then we should be able to implement a driver for it.

While doing the capture can you also try to keep track of the order that you did things in, what the fan speeds were set to, what link showed them as, what the temperature probs  temps are. a

[2021-03-14 00:23] sgtcoder commented on #304
Also, I am still getting ```ERROR: Unexpected OS error with NZXT RGB & Fan Controller: OSError: read error``` error in Windows. I did copy the libusb-1.0.dll file to the C:\Windows\System32 folder and it still gives that error. But, when I install that filter, it works.

[2021-03-14 12:59] MennoLabs opened #308 "Corsair Hydro H80i v2: Able to set, but not read fan speed"
$ liquidctl  status
Corsair Hydro H80i v2
├── Liquid temperature       30.8  °C
├── Fan speed                   0  rpm
├── Pump speed               1350  rpm
└── Firmware version      2.8.0.0

$ liquidctl  set fan speed 100
sound like airplane taking off

$ liquidctl  set fan speed 20
quiet again

- Affected device: Corsair Hydro H80i v2
- Operating system: Linux 5.8.0-44 (Kubuntu 20.10)
- Liquidc

[2021-03-14 13:47] ChrisFhey commented on #307
@MarshallAsch I've done a couple of captures. I hope they turned out all right.
Should I just upload the results here, or where would you like them?

[2021-03-14 13:57] MarshallAsch commented on #307
You can toss them here or in a PR to the device data repository [liquidctl/collected-device-data](https://github.com/liquidctl/collected-device-data)

[2021-03-14 14:19] ChrisFhey commented on #307
I'll opt for doing it here then, if you don't mind.

[commander_mini_capture.zip](https://github.com/liquidctl/liquidctl/files/6136820/commander_mini_capture.zip)

It includes the capture file, and a txt file detailing the steps I took in Corsair Link.
Let me know if you need more info.

[2021-03-14 18:17] MarshallAsch commented on #307
I have taken a quick look at that and it uses a completely different protocol.
Are you able to confirm how many fans you have connected, what types they are, what ports they are plugged into, and if the temperature probes are connected

[2021-03-14 19:36] jonasmalacofilho commented on #308
I'm pretty sure this device uses a fan splitter.  If that's the case, only one of the receptacles, usually the first (=the closest to the cooler), will have 4 pins and will be able to read the fan speed.  Is your fan connected to it?

[2021-03-14 19:40] jonasmalacofilho commented on #305
I'm going to close the issue.

Feel free to open a bug report if, after checking/adjusting the USB configuration, Mac OS starts to see the device but liquidctl still can't.

[2021-03-14 19:40] #305 closed

[2021-03-14 21:38] ChrisFhey commented on #307
I've 5 fans connected at the moment.
They're all either Corsair AF or SP series fans, and their spec sheet on the Corsair website states they're not PWM fans. And they have no RGB.
That's all I can tell you about them I'm afraid, as I bought these quite a while ago.

The fans are connected to ports 1, 2, 4, 5, and 6 on the Commander Mini.
Other than the fans, nothing is connected to the Mini at th

[2021-03-14 21:43] MennoLabs commented on #308
I have just opened the case. It's been built to spec for me and all the cables are very tight, but I was able to locate a splitter. One had 3 pins, the other 4 pins. Swapped them, but still no fan speed.
But I also tried opencorsairlink, which also does not give a fan speed.
So this might be hardware related, either defective or not connected right.

[2021-03-14 21:43] #308 closed

[2021-03-14 22:44] jonasmalacofilho commented on #308
Just to double check things no our side, can you show me the complete output of

[code]

[2021-03-14 22:47] MennoLabs commented on #308
$ liquidctl status --debug
[DEBUG] liquidctl.cli: running liquidctl v1.5.0
[DEBUG] liquidctl.driver.smbus: searching LinuxI2c (Ddr4Temperature,
VengeanceRg
b, EvgaPascal, RogTuring)
[DEBUG] liquidctl.driver.smbus: found I²C bus i2c-3
[DEBUG] liquidctl.driver.smbus: found I²C bus i2c-1
[DEBUG] liquidctl.driver.smbus: found I²C bus i2c-8
[DEBUG] liquidctl.driver.smbus: found I²C bus i2c-6
[DEBUG] li

[2021-03-14 23:03] jonasmalacofilho commented on #308
That firmware version seems new, and there's another value that could be a fan speed.  It's a long shot, but maybe the fan speed is now in another place.

Can you show me the data in the `[DEBUG] liquidctl.driver.usb: read 32 bytes: <...>` lines after setting the fan speed to 0%, 50% and 100%?

[2021-03-14 23:05] MennoLabs commented on #308
OK, will check tomorrow. Midnight in this time zone. Thanks a lot for your
willingness to help!

Kind regards,

Menno

On Mon, 15 Mar 2021, 00:03 Jonas Malaco, ***@***.***> wrote:

[2021-03-15 06:43] MennoLabs commented on #308
$ liquidctl  set fan speed 0
$ liquidctl status --debug
[DEBUG] liquidctl.driver.usb: read 32 bytes:
00:00:01:92:00:06:00:9e:04:1a:14:14
:00:00:02:f8:00:22:af:05:00:ff:00:02:08:00:00:00:01:10:c7:0a
$ liquidctl  set fan speed 50
$ liquidctl status --debug
[DEBUG] liquidctl.driver.usb: read 32 bytes:
00:00:01:8c:00:06:00:9e:03:fc:14:14
:00:00:08:f8:00:22:af:05:00:ff:00:02:08:00:00:00:01:10:c7:0a
$ l

[2021-03-15 07:10] jonasmalacofilho commented on #308
Unfortunately the long shot didn't pay off.  The device really doesn't appear to be reporting the fan speed.

[2021-03-15 14:03] ehaupt opened #309 "liquidctl list fails with AttributeError on latest hidraw release"
With `liquidctl 1.5.0` a dependency to [hidraw](https://github.com/daym/hidraw) was introduced. The new dependency however was not compatibly with Python 3.x (Python 2.7 only). I've contacted the author (@daym) and he's kindly [released](https://github.com/daym/hidraw/tree/0.2.1) an updated version compatible with Python 3.x.

Trying `liquidctl 1.5.0` with `hidraw 0.2.1` fails to run with the foll

[2021-03-15 15:26] MennoLabs commented on #308
Thanks for looking into it.
Does "the device" mean every Corsair Hydro H80i v2 with this firmware, or
is it just my Corsair which is either defective or incorrectly installed?
I'll try switching back the fan splitter and see if that makes a
difference..

Op ma 15 mrt. 2021 om 08:11 schreef Jonas Malaco ***@***.***>:

[2021-03-15 22:51] jonasmalacofilho commented on #309
liquidctl has never depended on that `hidraw` package.

What we actually use is the `hidapi` package (source code in [cython-hidapi](https://github.com/trezor/cython-hidapi)), which, depending on how and for which platform it's compiled, exposes one or two modules: `hid` and, optionally, `hidraw`.

When both are available, `hid` will use the libusb-based fallback implementation, so we prefer `hidr

[2021-03-15 22:54] daym commented on #309
I would gladly drop my conflicting hidraw from pypi, but I've lost access to that account a decade ago.

[2021-03-16 07:20] jonasmalacofilho commented on #308
I don't think this behavior is expected for the H80i v2 model: the device appears to support fan control, and it doesn't make sense to not also monitor its speed (even if the latter isn't necessary for the former).

So it's probably an issue with your device of setup.  By the way, make sure to specifically check the cooler's fan splitter; there could be other splitters on that system.

[2021-03-16 07:34] jonasmalacofilho commented on #309
I don't think it's possible (or necessary) to drop an existing package from PyPI.

But not pushing the Python 3 version to PyPI (and maybe untagging the release on GitHub) should avoid it ending up in end-users machines.

So if you're fine with doing that, wow, thanks!

---

_(While `hidapi`'s surprising top level module names are probably at fault, they are already widely used, and they seem to c

[2021-03-16 07:38] ehaupt commented on #309
Thank you @jonasmalacofilho for the clarification.

[2021-03-16 09:30] MennoLabs commented on #308
Hello Jonas,

It's all been installed very neat and tightly, black wires tied to a black
motherboard, so it's quite hard to make out what is what and where it goes.
I Will try to check it out some time.

Thank you very much for your helpfulness, really appreciated!

Kind regards,

Menno

Op di 16 mrt. 2021 om 08:20 schreef Jonas Malaco ***@***.***>:

[2021-03-16 09:58] MennoLabs commented on #308
Also, it might be BIOS-related:
https://forum.corsair.com/forums/showthread.php?t=168410

Op di 16 mrt. 2021 om 10:30 schreef Menno Bakker ***@***.***>:

[2021-03-16 11:31] jonasmalacofilho commented on #308
That's unlikely to be related to your issue.  Although the header powering the cooler should be set to DC/100% for other reasons, it should have no impact on the ability of the device to report the fan speed.

[2021-03-16 11:59] MennoLabs commented on #308
Well, turns out it was the BIOS-setting:
$ liquidctl status
Corsair Hydro H80i v2
├── Liquid temperature       30.4  °C
├── Fan speed                 840  rpm
├── Pump speed               1980  rpm
└── Firmware version      2.8.0.0

The strange thing however is that I can't set the pump slower now.
I used to use opencorsairlink to set it to mode 3, which made it run around
1380 rpm.
AFAIK liquidct

[2021-03-16 13:25] jonasmalacofilho commented on #308
That's quite odd.  But, assuming you're right:

- apparently your BIOS settings were undervolting the cooler, which would also explain lower than usual pump speeds;
- it's very curious that fan control worked, even though the voltage was low enough to cause the cooler to stop reporting the fan speed.

Anyway, glad to hear that you managed to get it to work.

[2021-03-17 12:14] dferrandizmont commented on #304
Sorry for posting, but i'm having same problem with my NZXT RGB & FAN

[code]

[code]

[code]

[code]

[code]

but when I try to list the devices ...

[code]

[2021-03-17 12:29] jonasmalacofilho commented on #304
@dferrandizmont the product ID for this new variant of the RGB & Fan Controller has already been added to the driver: f19913c75af9.

The change will be in the next release and, in the meantime, you can also use the code in the main branch.

[2021-03-17 12:39] dferrandizmont commented on #304
@jonasmalacofilho thanks for the quick reply, working like a charm with the code in the main branch.

Thank you so much!

[2021-03-18 07:35] issamsaid opened #310 "Support for Gigabyte RGB Fusion 2.0 8297 Controller (IT8297BX-GBX599-MASTER)"
It seems that IT8297BX-GBX599-MASTER is not supported.

I am using it with Corsair iCUE H100i ELite on Ubuntu 20.04 LTS

The device appears to support the following features:

 - [ ] monitoring of temperatures or other environment sensors
 - [ ] monitoring of fan or pump speeds or duty cycles
 - [ ] monitoring of voltages, currents or power
 - [x] configurable fan or pump speeds
 - [ ] configurabl

[2021-03-18 13:42] jonasmalacofilho commented on #310
The 8297 controller is a USB device; the chip itself is made by ITE.  Can you show the complete output from `lsusb` and `lsusb -v -d 048d:5702`?

Another thing that comes to mind is that it is a LED controller (hence RGB Fusion 2.0), but you selected "configurable fan or pump speeds" as the only available features.  Can you elaborate?

Finally, we already support a Gigabyte RGB Fusion 2.0 8297 Con

[2021-03-18 14:50] issamsaid commented on #310
@jonasmalacofilho  i am actually trying to find a way to control the fans as they are on all the time.

isaid@nvdxb-musk:~$ lsusb -v -d 048d:5702
isaid@nvdxb-musk:~$
the lsusb is empty an so is `liquidctl status`

isaid@nvdxb-musk:~$ sudo liquidctl initialize
Gigabyte RGB Fusion 2.0 8297 Controller
├── Hardware name       IT8297BX-GBX599-MASTER
└── Firmware version                   1.0.1.0

isaid

[2021-03-18 15:06] jonasmalacofilho commented on #310
The fans are controlled by another chip, probably a ITE (but maybe a Nuvoton) Super I/O chip; doesn't `sensors-detect` (from lm-sensors) detect anything?

I'm assuming, of course, that your fans are connected to the motherboard.  And in that case you should also be able to set fan curves in the BIOS settings.

---

I'm going to close the issue as the 8297 RGB controller is already supported.

[2021-03-18 15:06] #310 closed

[2021-03-18 15:09] jonasmalacofilho commented on #310
If you're trying to control the H100i Elite Capellix (with the external controller that comes with it), you might want to follow/subscribe to #218.

[2021-03-18 19:15] jonasmalacofilho commented on #307
The USB IDs match those of the Cooling Node, an older device.  And that also more closely matches your description of the device, with a single CLINK port (the Commander Mini has four).

I also don't think that's how the CLINK port works; as far as I know, it would need to be connected to a Lighting Node (or a device more capable than it) for it to *indirectly* allow control over strip/fan LEDs.

[2021-03-19 23:16] ChrisFhey commented on #307
Hello Jonas, sorry for the delay in my reply.

I'm not sure what a Corsair Cooling Node is, but that is indeed what Ubuntu declares the device as if I perform an lsusb:

`Bus 001 Device 002: ID 1b1c:0c04 Corsair Link Cooling Node`

However, it is as far as I know still a Corsair Commander MINI, and is reported as such by Corsair Link itself as well:

![Screenshot 2021-03-20 001342](https://user-im

[2021-03-20 06:21] jonasmalacofilho commented on #307
That's interesting, thanks for clearing that out.

It could be just another episode of Corsair confusing their own names (like with the Pro coolers that have "Platinum" descriptors), but it could also mean that both Cooling Node and (current) Commander Mini share the same protocol.

@MarshallAsch do you see any similarities between these captures and the Commander Core?  (I assume when you said it

[2021-03-20 11:25] ChrisFhey commented on #307
No problem. Let me know if there's anything else I can help you guys with. :)

[2021-03-20 12:38] MarshallAsch commented on #307
I can check my notes to be sure about the specifics but the protocol has no overlap with any of the other devices I have looked at (the commander pro family of devices, h100i platinum, commander core). It seems to be 64 byte messages and only the first 6 or so have data, I have identified a couple of the messages but haven't quite been able to determine the format of them.

[2021-03-20 13:52] jonasmalacofilho commented on #307
It appears to somewhat match the Cooling Node implementation in OpenCorsairLink:

[code]

- [CoolIT opcodes (OCL)](https://github.com/audiohacked/OpenCorsairLink/blob/61d336a61b85705a5e128762430dc136460b110e/include/protocol/coolit.h#L64)
- [Porting drivers from OpenCorsairLink (to help navigate OCL)](https://github.com/liquidctl/liquidctl/blob/master/docs/developer/porting-drivers-from-opencorsai

[2021-03-20 19:28] historical-theology commented on #252
@jonasmalacofilho, I reported the fact that comms/hidapi is out of date to the port maintainer, who immediately updated it. Until the next quarterly update (April), comms/hidapi must be built from the latest ports tree (v. 0.10.1) before installing liquidctl, but then `liquidctl` and all other required packages can be installed from the most recent binary builds with `sudo pkg install liquidctl`.

[2021-03-20 19:59] jonasmalacofilho commented on #252
Awesome, and thanks for letting me know!

[2021-03-21 04:34] jonasmalacofilho commented on #304
@sgtcoder

Essentially, I want to ask you to test the `nzxt-smartdevice` driver in [liquidtux](https://github.com/liquidctl/liquidtux), for the SDV1.

It's a Linux hardware monitoring driver, so fan monitoring – speeds, current and voltage – and control are made available in `/sys/class/hwmon/hwmon?/*`.¹  As that's a standard interface, you can use tools like `sensors`, `fancontrol`, Psensor, Freo

[2021-03-21 20:38] sgtcoder commented on #304
@jonasmalacofilho

I ended up ditching the V1 controller and upgrading to V2 for everything. I still have the V1 smart device that I can always link up to test.

As far as the resume state and having to initialize, was only because the new NZXT Internal USB 3 Hub (that I could only stand to use for 2 days) isn't wired to receive power from the VSB on the motherboard. Due to this serious flaw, I al

[2021-03-22 02:41] jonasmalacofilho commented on #304
@sgtcoder

Do you want to join our [Discord server](https://discord.gg/f5HKCAadsr), or chat via IRC?

Thanks!

What you could do (and it's probably more practical) to test that part is, while suspended, connect and disconnect the Smart Device to the USB port.  But a simple suspend-resume cycle, even if not powering down the device, would already help a bit.

Regarding using `dkms.conf`, maybe [thi

[2021-03-24 12:52] alkanna commented on #167
Hey, I started digging around and found some patterns already :
It seems that on my 360 version of the cooler (3 fans) there are always 5 data packets being sent when changing the configuration of the lightning (not this is only RGB control testing for now, I haven't dug into temperature reporting yet)

Let's take these 4 packets :
[code]

This happens on saving some RGB config for the AIO. So far

[2021-03-24 16:27] jonasmalacofilho commented on #167
Very nice! Can you attach a traffic capture?

---

To get started writing a liquidctl driver, I suggest you begin with basic temperature/fan speed monitoring, then go into fan speed control, and let fan LED control [and the screen] for last.

[Porting drivers from OpenCorsairLink](https://github.com/liquidctl/liquidctl/blob/master/docs/developer/porting-drivers-from-opencorsairlink.md), despite th

[2021-03-25 18:24] alkanna commented on #167
@jonasmalacofilho The discord invite is expired is seems :)

[2021-03-25 19:30] jonasmalacofilho commented on #167
@alkanna updated.

[2021-03-25 23:52] ArshZilpe commented on #167
@jonasmalacofilho Hey! I have attached a traffic capture (I'm pretty sure). I'm still learning how to do this haha.

One thing I noticed was that every time the temperature changed on the display, there is a chunk of `SET_REPORT` Request and Response packets. I'm not 100% sure if they're related though.

[AIOcapture.zip](https://github.com/liquidctl/liquidctl/files/6208489/AIOcapture.zip)

[2021-03-31 07:15] jonasmalacofilho opened #312 "Incorrect expecations on hid_get_feature_report"
When looking into libusb/hidapi#229, I noticed that the behavior of `hid_get_feature_report` when report IDs are not used [is not as clear as I though](https://github.com/libusb/hidapi/issues/229#issuecomment-810780640), and perhaps not even well defined.

This doesn't currently affect any of our drivers, but it's different than the expectations that are documented in [`HidapiDevice.get_feature_re

[2021-04-02 11:19] sgehrman opened #313 "$ python -m liquidctl.cli <args>... ?"
what is <args>  I can't install.

[2021-04-02 17:23] jonasmalacofilho commented on #313
The snippet where you copied that line from is more focused on those wanting to contribute to the project, and assumes minimal familiarity with Python.

I agree that some users may arrive there because of the "for the latest changes" part, even though it isn't immediately clear for them what follows.  But the conciseness is also beneficial...

Anyway, to make it clearer, here's another way to read

[2021-04-03 02:54] sgehrman commented on #313
ok, got it.  I'm a coder, I'm hoping to contribute.  I assumed this python command was to build the code or something.  I was trying to 'build' it.

[2021-04-03 03:13] jonasmalacofilho commented on #313
Happy to hear that!

Yeah, no need to build it, and that command will be useful when you are working on the code base, and want execute liquidctl without (re)installing it.

The actual `liquidctl` executable in your path is only created by setuptools during the installation procedure (which solves some cross-platform issues).

Feel free to join our [developer's Discord server](https://discord.gg/G

[2021-04-03 03:13] #313 closed

[2021-04-03 20:54] sgehrman commented on #313
Quick question. Is there an option to get json output from the tool?  Or do I have to parse the text?

I'm writing a gui app in Flutter desktop.  I don't know python, and don't want to mess with that, so I'm only going to use liquidctl.

[2021-04-04 13:19] MarshallAsch opened #315 "Provide better aliases to 'sync' channels"
Most (all?) of the device drivers in `liquidctl` use `sync` for the set fan speed commands that impact all the fans. However, all of the devices in the `hydro_platinum.py` driver use the label `fan` instead. This should be changed for consistency.

To maintain backwards compatibility `fan` should be kept but with a depreciation notice.

---

Original title: "hydro platinum 'all fan' mode is called

[2021-04-04 14:48] MarshallAsch opened #317 "colorize log output"
Pretty colors are nice, who does not like them? answer: nobody, everyone loves colors.

Having colorized log output for warnings, errors, and debug messages will make it easier to quickly spot important warnings and other messages.

I have found the module [colorlog](https://pypi.org/project/colorlog/) that seems to work for this task.
I am not sure if it should be used as an optional dependancy,

[2021-04-04 18:24] MarshallAsch commented on #195
@jonasmalacofilho I know you have assigned this to yourself but I started an implementation for this, (currently just adding the basics).

After thinking about the file format a bit more, I no longer think that the file format I proposed makes sense.

[code]

This updated format will allow multiple devices to have different light channels and fan channels that are configured independently. Some of

[2021-04-05 09:48] tbaumann opened #320 "NZXT Fancontroller either unsupported or broken"
I have a fancontroller in my NZXT H510i case and it works great.
But I needed a few more fan controller ports so I bought a second one.

That one does not work. I wonder if I received an unsupported model (the revision is not the same) or if I got a broken device.
I don't have windows to confirm.

I unplugged the working controller as to not muddy the waters
[code]

The first one in lsusb -v is th

[2021-04-05 09:52] tbaumann commented on #320
Just for completeness

This is how the other controller looks when I plug it in

[code]
Bus 009 Device 010: ID 1e71:2006 NZXT Smart Device V2
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass            0
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0        64
  idVendor           0x1e71 NZXT
  idProduc

[2021-04-05 10:03] tbaumann commented on #320
The driver is supposed to match this product ID
https://github.com/liquidctl/liquidctl/blob/8ef2e79fd5f385487ff4a1a8e4ee92f0670a6d7f/liquidctl/driver/smart_device.py#L332

[2021-04-05 10:06] tbaumann commented on #320
Oh no. Sorry to waste your time.

My debian package version was just very outdated.

[2021-04-05 10:06] #320 closed

[2021-04-05 10:41] jonasmalacofilho commented on #320
As you've already figured out, it's a new variant.

Already supported in the master branch, and soon in liquidctl 1.6.0.

Well, I don't know what version you have, but I'd also be very surprised if they had the new version 36 hours *before* we're scheduled to release it : )

[2021-04-05 10:44] jonasmalacofilho commented on #320
Also take a look at `extra/yoda`... it has some rough edges, but could help you as a reference to our Python APIs.

[2021-04-05 10:47] tbaumann commented on #320
Ah that yoda script looks much more like what I was going for. I'll play with it.

[2021-04-05 19:53] jonasmalacofilho commented on #315
This is a bit tricky with AIOs:

1. Some devices don't have individual fan speed control, so `fan` is used _instead_ of `fan1`, `fan2`, ...
2. Most devices have some type of pump speed control, _generally_ using `set pump speed`; thus `sync`, if it were to be supported, would mean `fan* | pump`.

For these reasons, `sync` is only used on AIOs for lighting and, in that case, implies all channels, r

[2021-04-05 20:27] jonasmalacofilho commented on #315
We discussed this a bit on Discord:

- we think `sync` is generally unexpected, and we would like to support `fan` where applicable.

I also propose we consider:

- adding `fans` as an alias to `fan`;
- adding better aliases to `sync` (e.g. `pump` for `ring+logo` in Kraken X.2 lighting);
- implementing "all" behavior for more devices (e.g. Kraken X.2 cooling `fan+pump`);
- documenting the naming l

[2021-04-06 12:54] MarshallAsch opened #321 "Code linter and automatic formatter"
Sometimes humans write bad looking code, we do not want bad looking code. Luckily for us some people have already written code that will take our code and make it look nice and ✨shiny✨, or yell at us when it is bad.

This will much improve the developers quality of life by reducing the number of PR comments that look like
- "fix your white space"
- "why do you have so many empty lines?????????"
-

[2021-04-07 00:28] jonasmalacofilho commented on #321
In the area of code formatting tools, I generally prefer the "format everything" approach, instead of the "just fix format 'issues'" ones.

I suggest something like:

 - [psf/black](https://github.com/psf/black)
 - [google/yapf](https://github.com/google/yapf)

As far as I know, black is the current favorite in the Python community... (not that this matters a lot).

---

The other type of formatte

[2021-04-07 08:21] jonasmalacofilho opened #323 "Add mypy type annotations"
This will have some limitations, particularly on the generic public API, but it's probably still useful.
And we could add them to some other places, like the public driver APIs, our core functions...

That said, we can (and probably should) start small, maybe just `find_liquidctl_devices` and `BaseDriver`...

https://mypy.readthedocs.io/

Suggested-by: @Sporknife

[2021-04-08 04:49] #317 closed

[2021-04-08 15:39] tbaumann commented on #195
I'm glad I found this thread before I spent too much time adjusting the yoda script to my needs.

Is it planned to integrate dynamic fan control? I guess it makes sense to start with device initialization.

There is no method to reliably address specific devices. This whole match syntax seems utterly inadequate to be used in a config-file. Predictable and stable device identifiers would be nice.
N

[2021-04-08 15:41] tbaumann commented on #195
My 02 Eurocent. This makes absolutely zero sense as a configfile in the home directory. It should be system-wide and therefore in `/etc/`

[2021-04-08 17:02] jonasmalacofilho commented on #195
@tbaumann,

That's essentially orthogonal to this issue (although it would presumably benefit from it), but, no, we are not currently looking into integrating dynamic (e.g. depending on CPU temperature) fan or lighting control into the main `liquidctl` executable.

This has been considered in the past (#260), but the main technical reasons for _not_ doing it are: the difficulty to come up with a g

[2021-04-08 17:21] jonasmalacofilho commented on #195
@MarshallAsch,

Sorry for the delay...

That's absolutely fine, thanks.

Yes, that's something that was missing before.

Small note: "pump" is not special in the drivers, it's just another common cooling channel name.  And perhaps the "cooling" and "lighting" (more readable), or "speed" and "color" (mimicking the APIs) are better names than the very specific "fan" and "leds" for the categories?

Y

[2021-04-08 17:32] tbaumann commented on #195
Yea it's a mess. I see why you would not want it in the cli.
Maybe if it's a very loose (plugin style) dependency...

It's a pretty deep feature gap for non-windows users. And all solutions I found have issues playing nice with the rest of the ecosystem.
Anyway, not to be discussed in this issue.

Yes I suppose the device enumeration/selection issue will always be a problem. I myself don't really

[2021-04-08 17:59] jonasmalacofilho commented on #195
I suppose the better solution on Linux may be, when possible, to use hwmon drivers (with pwm support).

I'm writing some for the devices I can personally test: [liquidtux](https://github.com/liquidctl/liquidtux).

[2021-04-08 18:10] tbaumann commented on #195
Oh, that's an interesting approach. It's a bit hardcore to put the driver in the kernel. But the benefits are clear because I can use fancontrol out of the box.

Your solution works whereas with the userspace drivers I need to add a ton of work to implement something that already exists.
Thanks man

[2021-04-10 05:42] bandaid commented on #246
Okay, I just posted a request for support on this model. Just found this request. Thanks for looking into it.

[2021-04-12 20:38] Str-Gen opened #327 "Persistence & device matching issue"
Hi,
I've just started using liquidctl to control my Corsair Hydro H100i Platinum SE.
I use version 1.6.0 obtained from the Arch User Repository.

The issue is basically this:
This works fine (I've created the udev rule to get access from an unprivileged user):

`liquidctl --vendor 1b1c --product 0c19 set fan speed 20 30 30 50 40 70 45 85 50 100`

But embedding the same command inside the /etc/syst

[2021-04-13 13:08] jonasmalacofilho commented on #327
It seems that the service is running before the device has been made available to liquidctl through hidraw.

Our README is lacking a bit in that regard, but there is some information on possible ways of dealing with this in `docs/linux`: [Making systemd units wait for devices](https://github.com/liquidctl/liquidctl/blob/master/docs/linux/making-systemd-units-wait-for-devices.md).

---

Yes, it is.

[2021-04-13 19:28] Str-Gen commented on #327
Thanks for the response. It's fixed with the following config

**/etc/udev/rules.d/72-liquidctl-persistence.rules**

**/etc/systemd/system/liquidcfg.service**

[2021-04-13 19:28] #327 closed

[2021-04-15 14:59] rettw78 opened #328 "Corsair iCUE Commander Core"
This is the fan and lighting controller that ships with the New Corsair H150i Capellix Cooler models.

Windows uses Corsair iCUE to control the unit.

The device appears to support the following features:

 - [x] monitoring of temperatures or other environment sensors
 - [x] monitoring of fan or pump speeds or duty cycles
 - [ ] monitoring of voltages, currents or power
 - [x] configurable fan or

[2021-04-15 15:21] jonasmalacofilho commented on #328
Hi,

There are already a couple of people working on this (see issue #218).  Can you join us on [Discord](https://discord.gg/GyCBjQhqCd) (channel: `#wg-commander-core`)?

---

P.S. I'm going to close this as a duplicate of that previous issue, just so we keep the discussion in a single place.

[2021-04-15 15:21] #328 closed

[2021-04-19 16:55] Sporknife commented on #323
Working on annotations in my [fork](https://github.com/Sporknife/liquidctl/tree/mypy-type-annotations).

[2021-04-19 22:12] Boothin commented on #218
The capellix requires you send 2 packets to put it into software mode before it still start accepting the color packets:
`08 01 03 00 02`
`08 0d 00 22`
After these 2 packets are sent, you can start sending the color packets that start with `08 06 a1 00 00 00 00 12`

To set a hardware mode, you need to send 3 packets first:
`08 01 03 00 02`
`08 0d 01 64 6d`
`08 09 01`
then send a packet with the ha

[2021-04-20 16:22] captain1701e opened #331 "Error message for HUE 2 device while initialization"
Hi,

because of CAM having some issues lately 😂, I was looking into liquidctl to get my HUE 2 back in the game.

Unfortunately already the initialization step results in an error on my end. Here is what I did:

[code]

Do you have a suggestion where I made the mistake, because according to the supported devices list HUE 2 should work?

Thank you an advance.

Regards,
Martin

[2021-04-20 16:32] captain1701e commented on #331
thanks for your fast reply.
Unfortunately it doesn't matter if I ran the command prompt as "user" or "admin", every time the same result.

[2021-04-20 20:32] jonasmalacofilho commented on #331
Do you the CAM app or even just a service started by it running?  Those can block access from other applications to the devices.

[2021-04-21 16:14] captain1701e commented on #331
Yeah, my fault, service was still running. But even after stopping and disabling it, the same error. Also a complete Windows reboot doesn't change the picture.

[2021-04-21 16:18] jonasmalacofilho commented on #331
I suspect something else from CAM may still be running, or perhaps you have another software that, like CAM, takes exclusive control of the device.

That said, can you show me the output of

[code]

[2021-04-21 16:24] captain1701e commented on #331
The only thing which goes into this direction is the Razor software for the keyboard. But I thought they don't support each other, then blocking would not be good manner, wouldn't it? (just the opinion from an old C++ developer 😉)

Sure, here we go:
![image](https://user-images.githubusercontent.com/25453151/115588162-bfd06380-a2ce-11eb-81b0-8732d5db28fe.png)

[2021-04-21 16:27] captain1701e commented on #331
After closing all Razor apps and stopping there corresponding services, I still get the same error

[2021-04-21 16:58] jonasmalacofilho commented on #331
Thanks.

It wouldn't, but CAM used to do it anyway, and so I have to assume other programs could do it too. : )

There's one little thing odd in that output, but I can't easily tell if it's just a quirk of the protocol this device uses or if it's indeed a bug introduced by any recent-ish change.

Could you maybe [capture some USB traffic](https://github.com/liquidctl/liquidctl/blob/main/docs/devel

[2021-04-21 17:30] captain1701e commented on #331
Fast replay, I have tried the past releases and still same error just in a different formatted output (as far as I got it):
![image](https://user-images.githubusercontent.com/25453151/115595984-e0e98200-a2d7-11eb-8cb8-7750e66f8e05.png)

For the traffic capture I will need some time, I'll report back as soon as I have any news.

[2021-04-21 18:34] jonasmalacofilho commented on #331
I failed to clarify that the output with `--debug` would have been more helpful, especially with the 1.3.3 version.  But that's ok.

---

It's unlikely that this is a new bug in liquidctl, as it would need to have gone unnoticed for way too many versions, and this device is part of a family (and any of them would have triggered the bug, if it existed).

Besides there still being some unexpected pr

[2021-04-22 14:36] captain1701e commented on #331
Since the issue with CAM is not only related to my system and configuration as it can be [read here on 18 pages](https://linustechtips.com/topic/1223050-new-pc-strange-windows-freezes-probable-cause-nzxt-cam/), I assume it is not my hardware. Also my device works with CAM running as expected but CAM freezes the PC after some time.

In regard to resetting, I fully disconnect my PC each time I shut

[2021-04-22 15:41] jonasmalacofilho commented on #331
Thanks for captures, and we can indeed rule out a hardware problem.

But I would need to see the part where CAM and/or its helpers/services initialize the device, not just the "normal" use.  In practice, you need to start the capture before CAM and its helpers/services.

Additionally, your capture already shows that the firmware version is 2.6.0, which is know to us and known to be compatible with

[2021-04-22 16:24] captain1701e commented on #331
Okay, good to know for the liquidctl part. :)

For the CAM trace I started it before I started the service and CAM, so there should be everything in it.

[2021-04-22 16:38] jonasmalacofilho commented on #331
The capture is missing the two writes that initiialize the device, which leads me to believe that there is still some CAM part/helper/service that you're not seeing.  That would explain both the missing writes in the capture as well as the issue with liquidctl not being able to communicate with the device.

(as far as know, CAM 4 uses a secondary process to handle all device communication)

[2021-04-22 17:02] captain1701e commented on #331
Understood, I will recapture then and check all processes & services.

[2021-04-22 17:18] captain1701e commented on #331
Here we go. I have checked with Sysinternals ProcessExplorer that nothing CAM related was running and stopped the service once more.
Then I started CAM application which showed a UAC windows to start cam_helper. I excepted this, so I hope everything is in the log now. Device ID changed to 35 for this run, since I unplugged the HUE 2 device in the meantime.
[CAM_second.zip](https://github.com/liqui

[2021-04-22 19:30] keckj opened #332 "Corsair AX1500i"
Hello,

I would like to know how I can help to add support for the `Corsair AX1500i` power supply to your amazing tool.
The device appears to support the same features as the `Corsair HX1200i` power supply (corsair link USB connection).

 I can help with:
- [x] testing changes on Linux
- [ ] testing changes on Windows
- [ ] testing changes on Mac OS
- [x] attempting to capture USB traffic
- [ ] at

[2021-04-22 23:06] jonasmalacofilho opened #333 "Colored log output is unreadable on Windows Powershell"
A picture is worth a thousand words:

![unreadable colorlog output](https://user-images.githubusercontent.com/1832496/115795067-95050e80-a3a5-11eb-86f2-db0b21435810.png)

Specifically:

- debug output is invisible, even if selected;
- and verbose output is barely visible.

It seems that, unlike (and AFAIK) most themes for Linux terminals, PowerShell takes the ANSI escape colors literally, not acco

[2021-04-22 23:42] jonasmalacofilho commented on #331
Oddly no.

To be honest, the first (and maybe second) write(s) in `initialize` are probably not necessary for the HUE 2.  However, the traffic capture from `liquidctl initialize` shows that it wasn't the device that refused those writes, but rather that the OS refused to even forward them to the device.  So it's unlikely that removing them will make any difference, although you could try commentin

[2021-04-22 23:47] jonasmalacofilho commented on #332
Hi,

That's awesome, let's do that.

Actually, that doesn't appear to be the case at all.  The HXi and RMi modesl are USB HIDs, and this AX1500i uses a Vendor Specific Class.  But that's not in itself a major problem.

Can you [capture some USB traffic](https://github.com/liquidctl/liquidctl/blob/main/docs/developer/capturing-usb-traffic.md) between iCue (or, if necessary, CorsairLink) and the PSU

[2021-04-23 20:06] pmleffers opened #334 "Not recognizing any devices"
Have a number of RGB devices including a Kraken X52 water pump.
Installed version liquidctl-1.6.0-bin-windows-x86_64.zip, didn't see driver in HID's so installed WinUSB driver from Zadib. Already setup path and liquidctl can execute from path.  Also manually installed the libusb files from libusb/releases. On the face of it liquidctl appears to work; however I can't ever seem to get it to recogniz

[2021-04-23 20:56] jonasmalacofilho commented on #334
That's the right setup for this and most other devices supported by liquidctl.

Can you show me the complete output from `liquidctl list --debug`?

---

P.S. In the future, please don't bypass the appropriate issue template when reporting possible bugs.

[2021-04-23 20:57] jonasmalacofilho commented on #334
I just noticed that I don't really know what you meant by that.  Can you clarify?

[2021-04-24 03:47] pmleffers commented on #334
[DEBUG] liquidctl.cli: running liquidctl v1.6.0
[DEBUG] liquidctl.driver.usb: searching HidapiBus (CommanderPro, CorsairHidPsu, HydroPlatinum, Kraken2, KrakenX3, KrakenZ3, NzxtEPsu, RgbFusion2, SmartDevice, SmartDevice2, _CommonSmartDeviceDriver)
[DEBUG] liquidctl.driver.usb: found HID device 413c:2107
[DEBUG] liquidctl.driver.usb: found HID device 045e:0813
[DEBUG] liquidctl.driver.usb: found HID

[2021-04-24 12:35] Slikkit commented on #2
Hey. Non-programmer here.
Would this software work for Corsair Commander Pro?

[2021-04-24 16:18] jonasmalacofilho commented on #2
Hi,

It's not clear which software you were asking about, but that's ok.

liquidctl *does* support the Commander Pro.  See our list of [supported devices](https://github.com/liquidctl/liquidctl#supported-devices) for a link to the appropriate use  guide.

On the other hand, [GKkraken](https://gitlab.com/leinardi/gkraken), which is what @leinardi was discussing here, does *not* currently support th

[2021-04-24 17:26] jonasmalacofilho commented on #334
The log shows that, at the OS level, the device is found *only* as a USB device, but not as HID.  This suggests that the correct driver (Microsoft Generic HID Driver, IIRC) still hasn't been restored, even though you already tried to remove the WinUSB driver.

Try doing that through Device Manager: you need to find the correct device, and "Uninstall" the current/incorrect driver.

Those are actual

[2021-04-24 17:32] keckj commented on #332
I finally managed to capture some USB traffic by following your guide (QEMU/KVM Windows 10 virtual machine with X forwarding). The first capture should contain data when I open iCUE (but I think it that some iCUE services already start at boot). The second capture has been done while iCUE was already opened. I included screenshots of the iCUE interface with sensors and parameters.

Link: [https://

[2021-04-24 17:39] jonasmalacofilho commented on #334
I forgot to reference the issue in the commit message, but ffb2d87b6121 already makes the most important notes stand out (from less important notes) in the table of supported devices.

[2021-04-25 00:18] jonasmalacofilho commented on #332
At first I though the captured data was corrupted, since it looked very weird and there were also some malformed packets.  But, in the end, it seems that this PSU just uses a rather [unusual encoding](https://github.com/ka87/cpsumon/blob/fd639684d7f9fe7aef9c8662d5f91e3fc8745e52/libcpsumon/src/cpsumon.c#L80-L123) (for a USB protocol) with balanced codes.  The malformed packets are something else, b

[2021-04-25 08:56] keckj commented on #332
The two first capture were obtained by using Wireshark **inside the Windows VM**, so that may explain some errors or weird behaviors. I am going to install Wireshark on my linux machine and capture some USB traffic directly from host (including traffic from QEMU boot).

[2021-04-25 10:40] captain1701e commented on #331
Took some time to setup the whole dev environment (incl. Git and all the rest), but with your detailed setup guide it worked like a charm.

Once I commented the two mentioned lines, initialization ends without error and setting effects of the LEDs works as expected afterwards.

[2021-04-25 13:35] jonasmalacofilho commented on #331
Does bringing back the two lines also cause the issue to reapear?

I would like to confirm this because another HUE 2 with the same (reported) firmware version is known to have worked even with those lines.  (and because from the captured traffic from liquidctl that first write wasn't even reaching the device).

So can I ask you to do these tests (commenting them out again; uncommenting them) a fe

[2021-04-25 21:33] jonasmalacofilho commented on #332
Oh, I missed that.

Oddly the "malformed" packets remain.  Could just be an artifact of Wireshark or passing through the USB device to the VM.

Thanks.

I'll come back here once I get the balanced codes decoded and have some idea of how the protocol looks like.

[2021-04-26 17:18] captain1701e commented on #331
I can confirm, that initialization works once the lines are commented and doesn't work anymore once I uncommented them again.

One additional observation from today: Yesterday I shutdown Windows and fully disconnected my PC from power line (switchable multiple socket outlet). I switched it on today and ran only the following command on your release version 1.6.0 for Windows: `liquidctl.exe set led

[2021-04-26 18:09] jonasmalacofilho commented on #331
Thank you so much for doing these additional tests.  I'll commit the fix to our main branch in a few minutes.

The behavior is actually device-dependent, and even then sometimes tricky to specify.  Also, failing to initialize some devices can have some significant consequences.

So we find it easier to recommend (and for users to remember) to always initialize the device, preferably even after jus

[2021-04-26 18:21] captain1701e commented on #331
Understand and thank you very much for all the insight and support!

[2021-04-26 18:21] #331 closed

[2021-04-27 07:25] #333 closed

[2021-04-27 18:26] jonasmalacofilho commented on #246
Back in February I left this open because it had something to do with #274.

The main issue here is the fact the driver instances are used from different users.  This causes each instance to see a different environment, and miss the internal files saved by the other instance, which will also be a concern when fixing #274.

But until we implement driver instance synchronization (to fix #274), it's

[2021-04-27 18:26] #246 closed

[2021-04-28 00:37] fallen1011 opened #337 "corsair h150i pro - pump profile - invalid literal int base 10"
Please describe the issue or request as clearly and completely as possible.
can you please provide the proper syntax for setting a h150i pro pump mode/profile to performance. Mine is stuck on balanced. Ive initialized all, but when i attempt to set it, i get invalid literal int base 10. ive read the man pages and the documentation here, i cannot get the syntax right to get it to set the pump profi

[2021-04-28 00:53] MarshallAsch commented on #337
Would you be able to provide the command that you tried and the output it provided?

Also I believe that [this file](https://github.com/liquidctl/liquidctl/blob/main/docs/asetek-pro-guide.md) has the documentation for the device that you are using.

[2021-04-28 00:58] fallen1011 commented on #337
i figured it out, corsair labels the profile as extreme, and the doc mentioned extreme. however it only allows performance mode. im guessing those are one in the same? i could be wrong. but i was able to set it with liquidctl initialize --pump-mode performance

[2021-04-28 03:42] jonasmalacofilho commented on #337
Reopening becaude I noticed a small typo in the documentation, that I can't fix right now.

Also, where in the does is "extreme" mentioned?

[2021-04-28 04:44] #337 closed

[2021-04-29 00:41] jonasmalacofilho commented on #334
@pmleffers, let me know if you managed to get this sorted out.

[2021-04-29 09:48] #104 closed

[2021-05-01 03:21] #334 closed

[2021-05-08 07:57] hoangphison opened #338 "NZXT Smart Device V2 variant 0x200d"
When running `sudo liquidctl list` my NZXT Smart Device V2 is not showing up.

[code]

[code]

[code]

[2021-05-08 12:19] hoangphison commented on #338
yes, that is smart device v2 come with h510 elite case.

 i also clone the source code and add new line on SUPPORT_ DEVICE,  but after initialize, only led show up