[2020-01-24 12:48] jonasmalacofilho commented on #76
Great!

I'm on my way out now but I'll write a few notes of what's necessary as soon as I'm back...

_(renamed and reopened the issue)_

[2020-01-25 05:59] jonasmalacofilho commented on #76
Hi again!

The first step is to figure out the protocol.  Specifically, we need to know what has to be send and/or read in each of the base liquidctl methods:

 - `connect`: handshake sometimes necessary after connecting to the device
 - `initialize`: handshake only necessary (if that) after the device has just been powered on
 - `get_status`: get a status report (fan/pump speeds, liquid temperatu

[2020-01-25 10:09] jonasmalacofilho commented on #72
It is, thanks.  It shows me that executing `iStats` is a viable alternative, and shows how to parse the output (which is important for someone write/testing the code without access to a Mac).

But, err... I don't have time to work on this right now : \

I'll leave the issue open and add it to my queue... maybe some of you can get started?

_(a first step could be to adapt krakencurve-poc to use `i

[2020-01-25 10:12] jonasmalacofilho commented on #62
No news on my end.

@Frick-David, filling the ITP requires you to send an email right?  Maybe it has to be plain-text only?

[2020-01-25 13:14] jwjennison commented on #76
I dont see my device in some obvious way but I captured 3 and 5, (only ones that produced data).and a screen shot

    On Saturday, January 25, 2020, 12:59:16 AM EST, Jonas Malaco <notifications@github.com> wrote:

Hi again!

The first step is to figure out the protocol. Specifically, we need to know what has to be send and/or read in each of the base liquidctl methods:

   - connect: handshake so

[2020-01-25 17:37] jwjennison commented on #76
Just wanted to make sure that the attachments I made via email landed ok, otherwise I can send directly 
    On Saturday, January 25, 2020, 12:59:16 AM EST, Jonas Malaco <notifications@github.com> wrote:

Hi again!

The first step is to figure out the protocol. Specifically, we need to know what has to be send and/or read in each of the base liquidctl methods:

   - connect: handshake sometimes ne

[2020-01-25 20:39] thathead opened #77 "installation issue"
guys,
i have a NZXT Kraken X62 280mm and the CAM software is constantly F'n with me. I only have like 6 days left to return the x62 by mail which is a hassle in itself.

i really want to install liquidctl.exe on windows 10 (1809) but i'm not sure what im doing wrong. I've replaced the driver for the device listed "NZXT USB Device" in zadag with WinUSB (v6/1/7600) but i'm not sure why I cant instal

[2020-01-25 23:10] jonasmalacofilho commented on #77
Hi @thathead,

The `liquidctl.exe` executable is the program itself, and it's a command-line interface.  You can call it directly from any shell  (Windows Command Prompt, PowerShell, etc.) opened in the same directory, or by using its full path.

You can also "install" it by placing it in a directory of your choosing and adding that directory to your `PATH` environment variable, or by placing the

[2020-01-25 23:14] jonasmalacofilho commented on #77
Related: #56

[2020-01-25 23:30] jonasmalacofilho commented on #76
They didn't.  Honestly, replying to issues directly from the notification emails doesn't work well at all: markdown is disabled (even if you later try to edit the comment), stuff that should be filtered isn't, other stuff can get silently filtered...

I'm guessing that the device is the one in Port 2.  But the way to really tell is from the captured data: search for the vendor and product IDs, sin

[2020-01-26 01:02] jwjennison commented on #76
https://www.dropbox.com/s/7oazou3bunrklhc/3.pcap?dl=0

Sent from Yahoo Mail on Android

  On Sat, Jan 25, 2020 at 6:30 PM, Jonas Malaco<notifications@github.com> wrote:
They didn't. Honestly, replying to issues directly from the notification emails doesn't work well at all: markdown is disabled (even if you later try to edit the comment), stuff that should be filtered isn't, other stuff can get si

[2020-01-26 01:04] thathead commented on #77
not third party i dont think
https://github.com/jonasmalacofilho/liquidctl#installing-on-windows

i put my driver back to the original, its called HidUsb ( v 10.0.17763.719). I assumed that the exe,
liquidctl.exe,  needed that driver mentioned because when i doubled and right clicked it as admin it did not run but just flashed a black a cmd box for a second.

i don't know what u mean by this:

you

[2020-01-26 03:42] jonasmalacofilho commented on #77
First, you probably want to follow these steps:

After this then, yes, open a Power Shell or Windows Command Prompt window and simply follow the [_specific documentation page for the Kraken X62 family_](https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/nzxt-kraken-x-3rd-generation.md) (which you can otherwise find listed in the table of supported devices).

For example,

[code]

will

[2020-01-26 03:51] jonasmalacofilho commented on #76
Thanks, I'll take a look.

But I'll probably need you to figure out how the protocol works.  I've already seen a couple of generic captures for this device, and so far I haven't been able to advance much... it will probably require being able to _interactively_ test different iCUE parameters (later: driver code) and monitor changes.

[2020-01-26 04:50] thathead commented on #77
wish there was a gui version.  last time i messed with power shell to run and configure an application it game me a real headache - i dont know enough about the commands.  prob less work to just buy and install a new corsair cooler and send the x62 back to the retailer.
thanks for taking the time and the info

[2020-01-26 05:05] jonasmalacofilho commented on #77
Really, once you have `liquidctl.exe` in a folder listed in your `PATH` environment variable, _all_ you'll need to learn is a handful of liquidctl specific commands (which are in the X62-specific document I linked before):

[code]

The above is my _actual_ setup: both fans and pump run on (different) profiles based on liquid temperature, and the LEDs are set to white (static).

---

I mean, it's t

[2020-01-26 05:13] jonasmalacofilho commented on #77
_(for myself)_

Things to improve on the docs for Windows:

 - [ ] more clearly list the only cases where the driver needs to be replaced
 - [ ] add simple installation instructions for users of the pre-built liquidctl.exe
 - [ ] mention (or link to a guide on) how to make the created batch file into a task that runs at every boot

[2020-01-26 05:53] thathead commented on #77
the extracted files are in a folder called liquidctl
the path is C:\liquidctl

in windows power shell (admin)
PS C:\Windows\system32> dir  liquidctl

this shows me the list of the files. I think i kinda remember im supposed to be using this character - in front of something dunno. i need to figure out "path environment variable".
i got kinda sidetracked when the nhl allstar games came on for a whi

[2020-01-26 06:15] jonasmalacofilho commented on #77
Just type environment variable on your taskbar and you should get to the relevant dialog for setting this up.  This allows you to add or edit all environment variables.  Technically `PATH` is a semi-colon (`;`) separated list of directories; but if I remember correctly, Windows 10 now has a GUI to manage the list.

Once that's done you will need to close and reopen any Windows Command Prompt/Power

[2020-01-26 06:19] jonasmalacofilho commented on #77
**Note:** you want to _append_ the `C:\liquidctl` directory to the `PATH` list (the directories are searched in the order they appear in the list, so the order matters).  Also, make sure you don't mess with existing paths in the `PATH` list, as that would break other programs.

[2020-01-26 06:40] thathead commented on #77
i see environmental variables. theres a box for user and a box for system. new edit delete

what box do i add the directory C:\liquidctl to? system right?

what is variable name? and variable value

[2020-01-26 07:09] jonasmalacofilho commented on #77
_Variable name:_ `PATH`
_Variable value:_ a list of directories
_System or user variable:_ either,¹ but I personally use system

Perhaps you might want to find and follow a specific guide on how to manipulate environment variables on Windows (and, more specifically, the `PATH` variable).

The `PATH` variable is very important for your system to properly function, and if the Windows GUI for setting

[2020-01-26 07:20] thathead commented on #77
yeah, i dont have the computer science pre req it takes to install liquidctl.  I gotta crash.

maybe I'll look for a youtube tutorial on how to install apps with powershell command line tomorrow

late

[2020-01-26 08:33] thathead commented on #77
i added C:\liquidctl to path. not sure why it wasnt clicking for me before

commands see to be working. i can hear the fans.

liquidctl set pump speed 90
liquidctl set fan speed 75

my temp says 75C with cpu 100%
fan at 85 seems better 74C
liquid temp at 32.5

be nice if i could keep the chip around 71C without having to max both the pump and fans.

i wonder if its ok to keep the pump at 100% all

[2020-01-26 12:42] jwjennison commented on #76
well I've done a few more captures, but have yet to find anything that jumps out at me.
Unfortunately to be entirely honest, I don't know a whole lot of coding and the like.,
I Started with OpenCorsairLink, and I wasn't able to get it to function either, so that's when I found your app.  Frustrating situation when I can only offer limited help.
During my Captures I have manipulated the fans and pu

[2020-01-26 22:34] jonasmalacofilho commented on #76
Yes, this is probably one of the most complex protocols I've seen yet.

I'll see if I can at least figure out the basic structure and operations.

[2020-01-26 22:58] jonasmalacofilho commented on #77
The maximum performance you'll get from the cooler will be limited by the cooler itself, its fans and pump when both are maxed out, and your case airflow and ambient temperature.

But there's no reason to run your pump and fans at full speed _all the time._  You can use profiles to have them ramp up according to the liquid temperature:

[code]

translates to "set the pump speed to follow the profi

[2020-01-27 01:05] thathead commented on #77
yeah i need a bat file for startup folder but the 1st three combos im not feeling at 100% CPU

once like this =76C

once like this =76C

and once like this =75C
iquidctl set pump speed 24 50 34 100
liquidctl set fan speed  90 (could hear fan on this try)

the third one maybe would of got lower if i wated a few more minutes.  but the fan would not click on to 90 or 100 with the first two. i couldn'

[2020-01-27 02:14] jonasmalacofilho commented on #77
This is caused because 50°C (and even 40°C) isn't a realistic liquid temperature for a X62 (assuming mainstream processor, reasonable airflow and sensible ambient temperature).

You probably want to max out (or close to) your fans and pump somewhere between 35°C and 40°C to get the performance you want.
_(or maybe even less... I max out at 34°C, and my ambient temperature is not even that low)_

Y

[2020-01-27 08:03] Frick-David commented on #62
Let me look and see. The Debian website does seem to have some parts being cleaned up so here is to hoping!

I am going to continue work and see how much of the GUI I can power through tomorrow.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Saturday, January 25, 2020 5:12 AM, Jonas Malaco <notifications@github.com> wrote:

[2020-01-28 01:15] Frick-David commented on #62
@jonasmalacofilho resubmitted the ITP through bugreport. Should get an email. If I do not, I will do it by email.

[2020-01-28 03:11] Frick-David commented on #62
Update: Did not hear anything back, nor did I see it in their database of requests so I sent an email. Hopefully that goes through,

[2020-01-28 03:17] jonasmalacofilho commented on #62
Thanks!

[2020-01-28 04:28] Frick-David commented on #62
I went ahead and emailed the owner of the bug report address because it keeps sending back an email error about having no package tag when I can clearly see it. So frustrating, Hopefully I hear back from someone about it. I think the process probably needs to be tweaked on their end because it, itself, seems to need a bug report ;/

[2020-01-29 02:13] jonasmalacofilho commented on #77
Hope you've managed to fine tune your setup by now.

I'm going to close issue since I've now updated the documentation to address the problems you encountered.  Still, please feel free to continue the discussion here.

[2020-01-29 02:13] #77 closed

[2020-01-29 02:27] jonasmalacofilho opened #78 "Support for NZXT Kraken X53, X63 and X73"
I imagine there will be a significant amount of interest in this new iteration of Kraken X coolers.  They are a replacement to the popular X42/X52/X62/X72 family, and I'm also guessing that NZXT will soon stop selling that previous generation.

https://www.nzxt.com/products/kraken-x53
https://www.nzxt.com/products/kraken-x63
https://www.nzxt.com/products/kraken-x73

On the technical side, I'm most

[2020-01-29 02:46] jonasmalacofilho opened #79 "Support for NZXT Kraken Z63 and Z73"
_Status: monitoring, fan/pump speeds and profiles and HUE 2 are already supported in the main branch.  The main thing left to do is add support for the screen._

The new Kraken Z series adds an LCD to the pump/block top.

https://www.nzxt.com/products/kraken-z63
https://www.nzxt.com/products/kraken-z73

While these certainly require a new protocol to handle the LCD graphics, it might end up being

[2020-01-29 02:56] jonasmalacofilho opened #80 "Support for Corsair H100i/H115i/H150i PRO XT"
Corsair has launched a new PRO XT line, very unlike the previous PRO series: these devices use CoolIT pumps (PRO series used a Asetek 6<sup>th</sup> gen. design) and the non-RGB are fast now (PRO series used low-speed fans).

[H100i PRO XT](https://www.corsair.com/us/en/Categories/Products/Liquid-Cooling/iCUE-RGB-PRO-XT-Coolers/p/CW-9060043-WW)
[H115i PRO XT](https://www.corsair.com/us/en/Categori

[2020-01-30 02:05] jonasmalacofilho commented on #72
Can you please test the refreshed [`extra/krakencurve-poc`](https://github.com/jonasmalacofilho/liquidctl/blob/master/extra/krakencurve-poc) (v0.0.2)?

[code]

[2020-01-30 14:39] jonasmalacofilho commented on #72
Well, let me know if you find any issues on macOS, as I cant' test that.

But assuming you have `iStats` (and the liquidctl APIs) and that I haven't messed up, something like the following should work:

[code]

[2020-01-30 17:09] CaseySJ commented on #72
Wow, is this what I think it is??!!

Will be happy to test it on MacOS later this evening.

[2020-01-30 17:36] jonasmalacofilho commented on #72
@CaseySJ I'm also working on generalizing this for the other devices : )

[2020-01-30 23:04] Frick-David commented on #62
@jonasmalacofilho have not heard back? What should I do next?

[2020-01-31 08:54] gonzolak opened #81 "Kraken X62 and Smart Device v2 .Add Brightness funcionality."
Hello! First let me say Thank you a million. I love your work, using it everyday on my hack.
The only thing I'm missing from cam software is ability to change brightness of Led1 and Led2 on smart device v2 and brightness on kraken logo and ring. Would you be willing to add this functionality ? One more time great job and thank you!

[2020-01-31 23:22] jonasmalacofilho commented on #81
Hi @gonzolak!  Thanks!

At the hardware (the LED ICs themselves), firmware and protocol levels there is no concept of brightness adjustment, just plain RGB tuples.  But I agree we're missing more convenient ways to manipulate colors, especially when fine tuning (since the LEDs are far from color-accurate) or experimenting with complex effects.

I'm thinking about adding support for specifying colo

[2020-01-31 23:23] jonasmalacofilho commented on #62
I'm not sure, but I'll take a look.  Thanks.

[2020-02-01 12:34] gonzolak commented on #81
I agree LEDs are far from color-accurate and it's hard to match different types. HSV or HSL would give us more control. For me either HSV or HSL would work :P What's easier to implement? Can't wait to test it.

[2020-02-02 02:34] jonasmalacofilho commented on #81
You can find an initial implementation in the latest commit, please give it a try.

The supported formats are:

 - implicit hexadecimal RGB triple: e.g. `ff7f3f`
 - explicit RGB triple: e.g. `rgb(255, 127, 63)`
 - HSV (hue‑saturation‑value) triple: e.g. `hsv(20, 75, 100)`
     hue ∊ [0, 360] (degrees)
     saturation, value ∊ [0, 100] (percent)
     note: this is sometimes called HSB (hue‑saturati

[2020-02-03 00:55] jonasmalacofilho commented on #72
Hi again!

You might as well skip ahead and test [`extra/yoda`](https://github.com/jonasmalacofilho/liquidctl/blob/master/extra/yoda), which is the beginning of a more refined script for fan/pump dynamic control.  It already supports all liquidctl devices, has some fault tolerance, and uses a low-pass filter to avoid jerks in pump/fan speeds.

Device selection works like in liquidctl,¹ and the scr

[2020-02-03 15:45] CaseySJ commented on #72
@jonasmalacofilho

Added to my to-do list. This was a busy weekend. Not much gets done when your team is in the Super Bowl! Will test this on Mac this week.

[2020-02-04 01:18] Frick-David commented on #62
I saw a Debian team member commenting on the creator of gwe (who also made gkraken which relies on liquidctl) for permission to package his repo. I am going to message him and ask as well!

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, January 31, 2020 6:23 PM, Jonas Malaco <notifications@github.com> wrote:

[2020-02-04 01:50] jonasmalacofilho commented on #62
That would be great!

[2020-02-04 11:23] jwjennison commented on #76
Just wondering what else I can do to assist the dev of this for my h115i Plat.. I am using Boinc on Ubuntu and hitting some pretty nasty temps (high of 96c)Seems like the pump is delayed on occasion and allows for some hot tempsnormaly its at 84c, but I am throttling the work load to keep the temps down.
You would think they could just put a switch on the block to set it (usb, Balanced, perf) sett

[2020-02-06 14:31] jonasmalacofilho commented on #76
So far I looked into the incoming stream of data and I think I managed to figure out the position of the most important fields.  I'll document and/or implement this soon.

The next step is to look into the data that's sent to the device.  Can you capture another session for me?  Specifically, I would like you to:

 - set all LEDs to off (or static black), to try to reduce the noise in the USB traf

[2020-02-06 14:39] jonasmalacofilho commented on #76
Recognizable values in the incoming reports:

[code]

_Note: this was also seen for the H100i Platinum (which is to be expected anyway)._

[2020-02-06 17:27] olielvewen commented on #76
@jwjennison

[code]

It will be nice and less heavy if you could do them (= for all) in several files for sample one for  set all the LEDs to static red, one for  change the fans and pump to the extreme mode, etc....

It will be easiest for reading them. Thanks.

@jonasmalacofilho

[code]

Normally, if my memories is still good, when we have implanted the PSU RMi Series I have done a test with my

[2020-02-06 18:00] jonasmalacofilho commented on #76
@jwjennison

Actually, this isn't the case _yet._

The issue is that there is a _lot_ of noise... we're talking about tens of reports being sent and received every second.  With so much noise there's less benefit from trying to isolate the steps (even isolated, there's still a lot of noise), and it needless complicate things for us both.

At this stage, that is.  More isolated captures will be sur

[2020-02-06 22:52] jwjennison commented on #76
here's another capture, I will try to do some smaller individual files as well.I ran all presets, custom presets will only work for fan, not for pump.
    On Thursday, February 6, 2020, 01:00:23 PM EST, Jonas Malaco <notifications@github.com> wrote:

@jwjennison

It will be nice and less heavy if you could do them (= for all) in several files for sample one for set all the LEDs to static red, one

[2020-02-06 22:52] jwjennison commented on #76
On Thursday, February 6, 2020, 01:00:23 PM EST, Jonas Malaco <notifications@github.com> wrote:

@jwjennison

It will be nice and less heavy if you could do them (= for all) in several files for sample one for set all the LEDs to static red, one for change the fans and pump to the extreme mode, etc....

Actually, this isn't the case yet.

The issue is that there is a lot of noise... we're talking a

[2020-02-07 00:13] jonasmalacofilho commented on #76
Hi @jwjennison, I can't see the new capture... it probably got lost due to the limitations of email replies (in GitHub).  Can you send it again?  Maybe using the GitHub interface will help.

You can also submit it as a pull request to [jonasmalacofilho/liquidctl-device-data](https://github.com/jonasmalacofilho/liquidctl-device-data), or even send it to me directly by email; my address is listed in

[2020-02-07 01:26] jwjennison commented on #76
try this..icue individuals

|
|
|
|  |  |

 |

 |
|
|  |
icue individuals

Shared with Dropbox
 |

 |

 |

    On Thursday, February 6, 2020, 07:13:52 PM EST, Jonas Malaco <notifications@github.com> wrote:

Hi @jwjennison, I can't see the new capture... it probably got lost due to the limitations of email replies (in GitHub). Can you send it again? Maybe using the GitHub interface will help.

You

[2020-02-07 01:38] jonasmalacofilho commented on #76
Nope.

Directly replying to GitHub's email notifications doesn't work.

Personally, I always click on "view issue" and reply using the web UI.  I think you should start doing the same.

Anyway, if you prefer to stick to email, my address is:

jonas@protocubo.io

[2020-02-07 03:38] jonasmalacofilho commented on #78
Hardware fan (speed) control is certainly *not* supported, since there are is no longer a fan (speed) controller onboard.

Users are expected to connect the fans to the motherboard or an external controller, loosing the ability to use the liquid temperature as the control sensor.

That's disappointing...

[2020-02-07 04:50] jonasmalacofilho commented on #81
Hi @gonzolak!

Have you given the new color specification formats a try?

[2020-02-07 04:52] jonasmalacofilho commented on #72
@sebikolo, @jwmann

Can you give it a try and give me some feedback?

[2020-02-07 08:26] gonzolak commented on #81
Hello @jonasmalacofilho !

I'm using liquidctl on hackintosh through homebrew. I did homrebrew upgrade and all of my packages updated including liquidctl. When i do : liquidctl --version , I got 1.3.2. I tired all examples of usage (hsv, hsl) and it doesn't work (getting can't phrase color ) . I think homebrew didn't update to latest commit.  Excuse my noobinies :) I don't know how to update it ma

[2020-02-07 12:45] jwjennison commented on #76
ok, lets try this (from Github)

[icue individuals.zip](https://github.com/jonasmalacofilho/liquidctl/files/4170798/icue.individuals.zip)

[2020-02-07 13:42] jonasmalacofilho commented on #81
@gonzolak if you `brew install` using the `--HEAD` option, that will give you the latest commit.

You can also use a similar option for _subsequent_ updates, IIRC it's called `--fetch-HEAD`.

[2020-02-07 15:54] gonzolak commented on #81
I can't thank you enough. I'm on latest commit right now and it's working like a charm. Using online color pickers I've got result wanted. So happy! Thanks again you're brilliant!!

This is my results :
https://photos.app.goo.gl/ABBkCRDbpMF3SbP68
https://photos.app.goo.gl/bxVGtT1t5sPJR9Yk8
https://photos.app.goo.gl/6JxoVFedFdki1T4aA

Thank you!!! I;m streching it but ASUS aura support is another s

[2020-02-07 15:56] augustopaulogh commented on #72
Hi @jonasmalacofilho,
Thanks for your hard work / Obrigado pelo teu trabalho fantástico!
I've installed Liquidctl, iStats & docopt (pip3 install docopt) on Catalina 10.5.3 and get the following liquidctl output:
[code]
And following iStat output:

[code]
But get the _following error when executing yoda_:
[code]

[2020-02-07 17:29] olielvewen commented on #76
@jwjennison

I got it and I've just take a quick look. What is the subject of the file ch03-02-06-2020 ? It is clear for me for others but not this one. Sorry.

@jonasmalacofilho

I wonder if **[hidrd](https://github.com/DIGImend/hidrd)** (available on AUR) could not help us in this task. The Only thing that we must done is to understand how he works ( ^ __ ^ )

[2020-02-07 18:29] jonasmalacofilho commented on #81
@gonzolak

That's great to hear!

Did you find the new HSV or HSL formats helpful?  In the pictures I can only see experiments with the explicit RGB format.

---

I'm not looking into that at the moment, but I'll keep it in mind.

Thanks again!

[2020-02-07 18:38] jonasmalacofilho commented on #72
@augustopaulogh

I was worried about that.... homebrew installs liquidctl within a virtual environment, so the APIs are not exposed.

For the time being, can you instead try [installing liquidctl manually](https://github.com/jonasmalacofilho/liquidctl#installing-on-macos), with `pip3`?

---

Once the script has seen a bit more testing I'll start to look into how to package it.  The main issues on

[2020-02-07 18:40] jonasmalacofilho commented on #76
@olielvewen

You're right, we should definitively check the HID descriptors.  Though I'm not betting we'll find much (of practical use).

[2020-02-07 20:05] jwjennison commented on #76
on ch3 file was just a general all commands to the AIO, then I did individual files where I only did one change at a time and then closed the capture files

[2020-02-07 20:14] gonzolak commented on #81
To be honest I used online color picker - https://alloyui.com/examples/color-picker/hsv.html
I choose cyan and purple I was interested in. Then i turned "brightness" off using slider right side and it was exactly what i wanted. I copy/pasted rgb values. In my opinion right now you ticked all boxed because one can choose between hsv, hsl, rgb ! (and use tool that is on hand).

[2020-02-07 20:51] jonasmalacofilho commented on #81
Ok!  Thanks for the feedback!

[2020-02-07 20:51] #81 closed

[2020-02-07 20:51] jonasmalacofilho commented on #81
_Also, thanks for the suggestion!_

[2020-02-08 18:48] olielvewen commented on #76
@jwjennison
Okay.
BTW, could you make us a screenshot in ICue about the part which contains the firmware version, .... if they are available of course (to my mind at least the firmware version). Thanks.

@jonasmalacofilho

[code]
Right too. However, we are not alone to trying to understand the CoolIt protocol. I've not have the time to do something today about but thinking at that, I've done a qui

[2020-02-08 21:23] jwjennison commented on #76
![Capture](https://user-images.githubusercontent.com/60258904/74092254-48c6fa80-4a8f-11ea-92fd-8e1868cbe91c.PNG)

[2020-02-09 05:58] astowe1080 commented on #79
Hi! New here, heard about your work from CaseySJ’s remarkable (and popular) Z390 hackintosh build guide over at tonymacx86.

I don’t have the Z63 yet but it will arrive next week and I’m going to be interested in getting some sort of control over it within OSX 10.15. The build will also boot Win10 where I expect to simply use CAM.

I’m not much of a coder myself, but just want to throw my hat in t

[2020-02-09 08:21] augustopaulogh commented on #72
Hi @jonasmalacofilho,
Believe that I was able to manually install liquidctl manually, but throws out other errors starting from line 217 of "yoda.py".
Please have a look below:
[code]

[2020-02-09 08:43] jonasmalacofilho commented on #72
Ops... should be fixed in the latest `yoda` (0.0.3).

_(apparently the docopt version I have doesn't complain about the duplicated/ambiguous option definition)_

[2020-02-09 08:45] jonasmalacofilho opened #83 "Corsair HXi: Duplicate exception for invalid OCPMode"
[code]

_(appears in [#72 (comment)](https://github.com/jonasmalacofilho/liquidctl/issues/72#issuecomment-583818476))_

[2020-02-09 08:49] jonasmalacofilho commented on #76
@jwjennison thanks again!

[2020-02-09 08:59] augustopaulogh commented on #72
It works!
[code]

[2020-02-09 10:12] olielvewen commented on #76
@jwjennison
Thanks. But I've forgotten to ask you too make this command in a terminal:

[code]
Sorry and thanks again.

@jonasmalacofilho

Did you have read [his notes](https://github.com/rigred/mod_coolit/blob/master/Command%20Reference.md) about CoolIT pum ?

[2020-02-09 15:00] jonasmalacofilho commented on #76
@olielvewen

You can find the output from lsusb in the first comment.

About the project you linked, I haven't had time to check it thoroughly, but it seems that it only handles the old CoolIT coolers, _which apparently are incompatible with these latest models.¹_  I also couldn't find under which license the code is distributed under.

_¹ According to discussions in the OpenCorsairLink repository

[2020-02-09 15:04] jonasmalacofilho commented on #72
Great!

Let me know any other issues you find.

[2020-02-10 00:09] audiohacked commented on #76
@jonasmalacofilho
I'll just add that there are two packets associated with setting leds or fans. First packet to setup control pkt. Second packet contains data to send to device. The Host Pkt is usually 92 bytes (28 byte header + 64 byte payload). The Device Response Pkt is usually 91 bytes (27 byte header + 64 byte response payload).

## host to device
### Packet Structure
Byte 3 is the CMD
Where

[2020-02-10 00:17] audiohacked commented on #76
For those of you trying to decipher your packet dumps; here are a few Wireshark filters to filter out packets.

- `usb.src == "2.3.1" or usb.dst == "2.3.0"`
- `frame.len == 91`
- `frame.len == 92`

where "2.3.0" was my host output port (endpoint 0x00) to the H100i Platinum device address;
and "2.3.1" was my host input port (endpoint 0x81) from the H100i Platinum device address;

[2020-02-10 00:51] jonasmalacofilho commented on #76
Hi @audiohacked,

Thanks, that helps.

On my end I also figured out that the last byte is indeed a CRC-8 byte; specifically, it's computed using same polynomial and settings as in SMBus.

Yes, we should definitively work more closely on these new devices.

---

I've been using a filter that looks like `usb.src like "^2\.3\." || usb.src like "^2\.3\."` (adjusted to the necessary values for a specif

[2020-02-10 01:04] jonasmalacofilho opened #84 "Characters used for the list/status "trees" are invalid with LC_ALL=C"
_Waiting for additional info (can't reproduce yet)._

Reported-by: Jack Zhang ([Twitter](https://twitter.com/Jack_Y_Zhang/status/1226636682033684480?s=20))

[2020-02-10 03:34] jonasmalacofilho commented on #76
After looking at how "set LEDs to blue" is sent to the cooler and analyzing a few caputres, I think that a portion of the type of outgoing message is encoded in the 3 least significant bits of byte offset 0x1:

 - data[1] == 0x4 (0b100): set lighting
 - data[1] == 0x5 (0b101): set lighting, continued
 - data[1] == 0x0 (0b000): set cooling (data[2] == 0x14) or just read status (data[2] == 0xff)

_(

[2020-02-10 17:32] olielvewen commented on #76
@jonasmalacofilho

```About the project you linked, I haven't had time to check it thoroughly, but it seems that it only handles the old CoolIT coolers, which apparently are incompatible with these latest models.¹ I also couldn't find under which license the code is distributed.```

Okay. I've found this conversation.

`You can find the output from lsusb in the first comment.`

Yes. I know but I w

[2020-02-11 19:01] inglor commented on #79
Hi @jonasmalacofilho i have a z63 and running Linux. How can I grab what I do is required for supporting new device?

[2020-02-11 20:14] stasivanov commented on #72
Hi guys. Is there a way to configure it once under Windows, and just save (I assume the information is stored in the NZXT controller). Just to not install full Windows on a real HDD/SDD, I launched Bootable Live CD from my flash drive, installed NZXT Cam app and configured everything how I want. However, once I restart to the Mac OS, it seems like it just forgot everything... Is that because I was

[2020-02-12 22:46] jonasmalacofilho commented on #79
Hi @astowe1080 and @inglor,

Thank you both for expressing interest in helping out here.

@inglor, can you start by running `lsusb` and figuring out the USB vendor and product IDs used by the Z63?  After that, please post the output of `lsusb -d <vendor>:<product> -v`.

---

Afterwards, @astowe1080 and @inglor, we need some USB traffic captures.  First I would like to ask you to disable as most dy

[2020-02-12 23:02] jonasmalacofilho commented on #72
@stasivanov

TL; DR: not sanely, no.  That's why this project exists.

The device does save settings to the features _it_ supports (i.e. that are not implemented in software) as long as it's powered on from the 5VSB rail.  Generally this means until the power supply is physically turned off, but ErP settings can affect this.

Because these are short lived, using CAM to configure the device before

[2020-02-12 23:32] jonasmalacofilho commented on #84
Additional info:

 - reportedly only happens with `LC_ALL=C` in `/etc/environment` (but I still can't reproduce it)
 - calling liquidctl from a root shell (`sudo -s`) in Konsole

[2020-02-13 02:41] jonasmalacofilho commented on #83
This is caused by a change introduced in Python 3.8: python/cpython@019f0a0cb85e (`bpo-34536: raise error for invalid _missing_ results (GH-9147)`).

[2020-02-13 08:36] jonasmalacofilho commented on #84
[code]

_–Jack Zhang ([Twitter](https://twitter.com/Jack_Y_Zhang/status/1227840351529918464))_

---

Setting `LC_ALL=C` [breaks Python 3.6](https://bugs.python.org/issue19846) by the default.  Or, more accurately, it makes Python 3.6 behave very strictly (in a Unicode world), which is not what users using the `LC_ALL=C` sledgehammer expect.

Python 3.7 relaxes this a lot with the implementation of

[2020-02-13 16:03] inglor commented on #79
Hi @jonasmalacofilho see below for `lsusb -v` output of the device
[code]

[2020-02-13 18:16] jonasmalacofilho commented on #79
Thank you, @inglor.

Can you confirm the firmware version of your Z63, as reported by CAM?

---

It seems that this device simultaneously uses two interfaces, so when filtering captures it's important to use something like:

[code]

_(in this example: device is on bus 1, address 3, but we match all interfaces)_

I'm guessing that the bulk endpoint 2 on interface 0 is used to transfer the GIFs, whi

[2020-02-13 19:01] jwmann commented on #72
@jonasmalacofilho How do I install this yoda thing?

[2020-02-13 21:03] inglor commented on #79
Not really CAM software is so buggy that it doesn't work. I'm hit by the infamous "white screen" [issue]. I'm trying to resolve it with NZXT support but it's gonna take some time. Also I'm away for some days so I'll report back after back. Hopefully they would have released a new version of NZXT CAM as the 4.2.3 is buggy.

[issue]: https://www.google.com/search?client=firefox-b-d&q=nzxt+cam+white+

[2020-02-13 22:14] jonasmalacofilho commented on #79
Effective anti-analysis technique :slightly_smiling_face:

[2020-02-13 22:45] astowe1080 commented on #79
Received mine, build looking good but I’m also out of town for a few days so I will install OS’s next week.

Maybe dumb question, but are the command line tools used for inspecting the Z63 USB traffic useful regardless of OS? In theory we’re trying to figure out how non-Windows OS’s interact with the Z63 but can Windows be used to gather the useful USB data? Or is the whole point needing to see th

[2020-02-14 00:09] jwjennison commented on #76
Bus 001 Device 004: ID 1b1c:0c17 Corsair
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass            0 (Defined at Interface level)
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0        64
  idVendor           0x1b1c Corsair
  idProduct          0x0c17
  bcdDevice            1.00
  iManufacturer

[2020-02-14 04:57] Frick-David commented on #62
I went ahead and filing another ITP right now using a gmail account. I was having issues with another service due to my email so maybe the Debian thinks my email address is spam? Idk. I also messaged the Debian packager on another thread so I will check in on what he said.

[2020-02-14 11:37] jonasmalacofilho commented on #79
@astowe1080

Which tools do you mean?

Actually, we want to know how the software and/or kernel drivers supplied by manufacturer _(usually only for Windows)_ interact with the device, so we can figure out how the protocol works and add support for it in our own cross-platform tool, liquidctl.

Without suitable software or kernel drivers, there is not much interaction with the device (or any USB de

[2020-02-14 14:02] astowe1080 commented on #79
Yep, was a dumb question 😅

I just meant lsusb and Wireshark. You definitely answered my question, Windows/CAM makes sense as starting point to pick apart NZXT’s drivers.

Fwiw, I got CAM v4.2.3 installed last night and it reported my Z63’s firmware as “5.0” — can dig in deeper with it next week.

[2020-02-14 17:16] olielvewen commented on #76
@jwjennison

Thanks a lot. I'm a bit disappointed. Because the bcdDevice is still at 1.00 and not at 1.01.15 like your screenshot and what I was thinking after an update (to 1.00 at 1.01.15) and the iSerial is still at 0. I was waiting the number like for my Corsair Dark Core SE RGB.

[2020-02-14 17:31] jwjennison commented on #76
I just want a way to turn fan and pump to 100%..

Sent from Yahoo Mail on Android

  On Fri, Feb 14, 2020 at 12:16 PM, olielvewen<notifications@github.com> wrote:
@jwjennison

Thanks a lot. I'm a bit disappointed. Because the bcdDevice is still at 1.00 and not at 1.01.15 like your screenshot and what I was thinking after an update (to 1.00 at 1.01.15) and the iSerial is still at 0. I was waiting t

[2020-02-14 19:08] jonasmalacofilho commented on #76
@jwjennison

Well get there.  Unfortunately we need to understand a lot of stuff just to be sure we aren't doing anything terribly stupid, even with the (presumably) simple things.  But we'll get there... soon.

@olielvewen

Yeah, the bcdDevice isn't used for that on this device (and that's actually very common).  But it's ok, I'm pretty sure I found the firmware version in the replies from the co

[2020-02-14 20:29] audiohacked commented on #76
Typically (99% of the time) the USB/HID data is fixed at manufacturing of the device and can't be upgraded via firmware.

[2020-02-15 09:46] leinardi opened #85 "Help packaging liquidctl for flatpak"
Hi, in GKraken I'm still stuck with liquidctl v1.1.0 becasue I'm unable to succesfully package the library for flatpak.

This is the error I'm getting when trying to package v1.2.0:

[code]

I think the problem is related to libusb headers not being available but I'm installing both libusb and hidapi from source before this step:

[code]

I would really like to be able to use the latest version of

[2020-02-15 12:39] jonasmalacofilho commented on #85
I don't know much about Flatpak, so I could be wrong...

But it seems to me that `libusb.h` ends up somewhere other than `/usr/include/`.  That in itself shouldn't be a big problem, but that path is hardcoded in cython-hidapi.

You probably want to take a look at (and then) fix trezor/cython-hidapi#54.

[2020-02-15 15:33] leinardi commented on #85
I'm also not very familiar with flatpak and, on top of that, not familiar with C dependencies either (Java/Kotlin/Python developer).
I have no clue how to provide this header file on that path. Who's suppose to copy them there? Should I manually copy them from the git repo or is the installation procedure that should copy the headers files? If I check inside the flatpak package I see only the .so

[2020-02-15 21:23] mijoe commented on #78
Had a X63 for testing purposes and dumped the output of `lsusb`:

[NZXT_Kraken_X63.txt](https://github.com/jonasmalacofilho/liquidctl/files/4209002/NZXT_Kraken_X63.txt)

Sidenote: I return the X63 due to the missing fan control. Also pump can not be controlled via CPU FAN header (its only connected for speed signal).

That's very disappointing...

[2020-02-15 21:37] jonasmalacofilho commented on #78
@mijoe

Thanks!

The pump also wasn't controllable via the fan header in the X62, but at least you could control both it and the fans with software.

But the X63 is a mess: the pump can only be controlled from software, while the fans can only be controlled from the motherboard.  Plus it's no longer possible to control the fans based on the coolant's temperature.

[2020-02-15 21:40] jonasmalacofilho commented on #79
@astowe1080

Don't worry about it : )
_(also, it wasn't a dumb question)_

Thanks!

[2020-02-15 21:49] jonasmalacofilho commented on #85
The problem could be on either end, libusb or cython-hidapi:

 - check that the `libusb.h` is being installed _somewhere_ in the flatpak container; if it isn't, there's probably a option you're missing when configuring libusb, or an alternate make target for that
 - (but, more likely) the header is there, just not on the path that cython-hidapi expects; the actual fix would be for cython-hidapi's

[2020-02-15 21:56] jonasmalacofilho commented on #72
There are no installation steps for yoda, you can copy it somewhere and run it.

But before that (for now) you'll need to [manually install liquidctl](https://github.com/jonasmalacofilho/liquidctl#installing-on-macos), with `pip3`.  Otherwise yoda won't find the liquidctl APIs.

In the future this will change, but I'm just not ready yet to ship yoda as part of liquidctl.  It doesn't yet support Wi

[2020-02-16 19:41] jonasmalacofilho commented on #84
Closing this with 'wont fix' (for now):

 - the exception in Python 3.6 can be worked around (see previous comment)
 - fixing the rendering on the C locale can be done cleanly, but only for Python >= 3.7
 - removing the use of any non-ASCII characters would make the CLI uglier, and possibly even break some user scripts¹
 - indiscriminately using `LC_ALL=C` is expected to cause some issues

¹ While

[2020-02-16 19:52] jonasmalacofilho commented on #85
@leinardi

I see that it has been confirmed that the issue is the hardcoded path in cython-hidapi, and that there already is a (temporarily) patch for this during the packaging of GKraken (flathub/com.leinardi.gkraken#2).

Closing then...

[2020-02-16 19:52] #85 closed

[2020-02-16 20:06] leinardi commented on #85
Yep, you were right! Currently applying the patch to main branch. Hopefully I'll be able to release a new version of GKranen with liquidctl 1.3.2 soon. Thanks for the help!

[2020-02-16 20:58] leinardi opened #87 "1.3.2 regression: kraken_two.get_status() returns wrong fan RPM value"
I'm migrating GKraken from liquidctl 1.1.0 to 1.3.2 and I just noticed that the call to `get_status()` returns a wrong value for the RPM fan:
![image](https://user-images.githubusercontent.com/273338/74612351-e90ec600-5104-11ea-98dd-768d9767ee8c.png)

The very weird thing is that the values seems to be delayed: if I set the fan to 100% I see no immediate update but if I wait around 3 minutes I see

[2020-02-16 22:13] jonasmalacofilho commented on #87
I can reproduce this, but only while a connection has held, and only when using the (currently) default `hid=hidraw` backend.  Thanks for reporting this!

This leads to me believe that the reports are being queued, and that we're seeing stale data (as you mentioned: updates are delayed).  I remember thinking a bit about this when checking the HIDAPI sources, as it has a queue and I wasn't sure whe

[2020-02-16 23:22] jonasmalacofilho commented on #87
@leinardi

Can you give the latest 'master' a try?  It passes my tests (using a slightly more aggressive example than yours), but please double check.

Assuming it's indeed fixed, I'll do a patch 1.3.3 release.

[2020-02-16 23:34] jonasmalacofilho commented on #87
@CaseySJ

Can you also give the latest 'master' a try with your Smart Device V2 on macOS?

I'm worried that the fix I just pushed might break devices like the SDV2.

[2020-02-17 16:10] olielvewen commented on #76
@jonasmalacofilho

`Yeah, the bcdDevice isn't used for that on this device (and that's actually very common). But it's ok, I'm pretty sure I found the firmware version in the replies from the cooler (see #82).`

Oh. I've not seen. Thanks a lot Jonas. Good news.

@jwjennison

Personally I am more greedy I want everything ...............like Jonas.

[2020-02-17 16:31] olielvewen commented on #76
@jonasmalacofilho

I've been able to isolate several times hex dump.
I've tried without no success hidrd.
I've seen that you have created an analyze python file. How does it work ? Can he decode them ?

[2020-02-17 16:43] jonasmalacofilho commented on #76
@olielvewen

Is your cooler up and running?  Or can you at least power it outside your system and plug a USB cable into it?

I'm going to need a few more captures to really understand how the cooling settings are sent to the cooler.  The LEDs are easy, but the cooling isn't clear at all.

---

What dumps exactly?

It's nothing automatic, just a way to reprocess an entire capture file (exported in

[2020-02-17 16:59] olielvewen commented on #76
@jonasmalacofilho

No. To be clear, I have removed and you know why. Hum I don't see how to do that without  to run it.

I make certainly an error with pcpap files.

Here how I process. To avoid to have a ton of files? I use a usb filter but not like you. Any way it doesn't work. I took the usb device address of Jwjennison (see at the beginning the lsusb command). `Bus 001 device 004`. And Normall

[2020-02-17 17:10] jonasmalacofilho commented on #76
@olielvewen

Not that you mention it, it rings a bell... but I can't remember (or find it in our emails).
Can you remind again by email?

Device enumeration and addresses can change from boot to boot, and even more so from OS to OS.

I just opened one of his captures and the cooler appears to be in bus 1, address 3 _(during the capture)._

You can also just use the capture files in the liqudctl-de

[2020-02-17 17:16] leinardi commented on #87
@jonasmalacofilho sure! I'll try to test it soon and report back :)

[2020-02-17 17:32] CaseySJ commented on #87
@jonasmalacofilho,

Just downloaded and tested the Master branch. The changes are working correctly except for one possible issue. For the Smart Device V2 it looks like the `initialize` function returns information about LED channels only. And the `status` function returns information about FAN channels only. Not sure if this is the expected behavior.

[code]

[2020-02-17 17:41] olielvewen commented on #76
@jonasmalacofilho

Can you remind me again by email?

Done.

Yes I know since we have seen that together. ^ __ ^ the last year. But I'm sure that 's the good address. See the lsusb output that I've asked again at Jwjennison there are few days ago.

`Bus 01 address 01` for me after filtering.

I'll take a look again but more deeply this time. Thoses were well structured one action = one capture

An

[2020-02-17 17:44] olielvewen commented on #76
So we make like the last time. Github is a paintful each time that we want to share a file.

Look at here:
[Hex dump files](https://my.pcloud.com/publink/show?code=kZOhgskZN1KLrIaRkxX4nrMbSNi6xjpQ8Oek)

It is just for the ch03.xxxx and LED Blue files.

[2020-02-17 18:26] leinardi commented on #87
@jonasmalacofilho just tested and 2050d0bf2e33 seems to work fine!

[2020-02-17 22:02] jonasmalacofilho commented on #87
@leinardi, @CaseySJ

Thank you both!

@CaseySJ, that has been like that for a while already.  Moving the LED part of the output to `initialize` allowed us to fix the [flickering](https://github.com/jonasmalacofilho/liquidctl/issues/61#issuecomment-550580584) that trying to request that information caused.  It it also makes `get_status` lighter and faster.

[2020-02-18 06:03] jonasmalacofilho commented on #87
This has been fixed in [liquidctl v1.3.3](https://github.com/jonasmalacofilho/liquidctl/releases/tag/v1.3.3).

By the way, I ended up reworking yesterday's fix to be more conservative, because I was still worried about potential problems with some of drivers I can't test myself.

[2020-02-18 06:03] #87 closed

[2020-02-18 08:40] jonasmalacofilho commented on #76
@olielvewen

Actually, (with this cooler) you can simply focus on the following fields in Wireshark: `usb.capdata` (from incoming reports) and `usb.data_fragment` (in outgoing reports).  Everything else is just low level USB/HID stuff.

But you don't have to share manually extracted data from the captures unless you're adding some new information with it (for example, the location of a previously

[2020-02-18 15:56] CaseySJ commented on #87
@jonasmalacofilho,

Are you going to issue a Pull Request to Homebrew-Core for v1.3.3?

[2020-02-18 16:06] olielvewen commented on #76
@jonasmalacofilho

Thanks a lot for the tip.

[2020-02-18 21:21] jonasmalacofilho commented on #87
@CaseySJ can you still take care of those (homebrew-core and our tap)?

I rather you did it because you can actually test the result on macOS.

[2020-02-18 23:56] djovanoski opened #88 "OSError when running liquidctl status Ubuntu 18.04"
Can someone help me after installing i can see the devices using liquidctl list but after checking the status i get the error . Based on one issue i create udev rules `https://github.com/jonasmalacofilho/liquidctl/issues/70#issuecomment-554980902` but no help

 Found about the comment in the code but i can not fix even using this
https://github.com/jonasmalacofilho/liquidctl/blob/933e60878f9c296cd

[2020-02-19 00:22] jonasmalacofilho commented on #88
Can run the same command again appending the `--debug` option, so I can have a better idea on what might be going on?

[2020-02-20 00:04] jonasmalacofilho commented on #88
@djovanoski

Can you also try with `sudo` (or as root)?

[2020-02-20 17:56] yfuerst commented on #78
I am very interested in support for the newer models. I have the X53 installed and I am willing to provide logs. Just tell me what you need.

[2020-02-20 23:42] CaseySJ commented on #87
@jonasmalacofilho

I should be able to submit 1.3.3 to homebrew-core this evening. Will update the tap as well.

[2020-02-21 05:14] jonasmalacofilho commented on #87
@CaseySJ

Thank you, 1.3.3 is already up on homebrew-core.

[2020-02-21 05:17] jonasmalacofilho commented on #78
@yfuerst

Great!  Can you take a look at [this answer](https://github.com/jonasmalacofilho/liquidctl/issues/79#issuecomment-585456831) and post/send me some initial traffic captures?

[2020-02-23 09:08] jonasmalacofilho commented on #83
Reported upstream:

https://bugs.python.org/issue39728

[2020-02-23 09:08] #83 closed

[2020-02-23 17:21] yfuerst commented on #78
This is the output from lsusb: [x53.log](https://github.com/jonasmalacofilho/liquidctl/files/4241816/x53.log)

Here are my captures: [pcapng-files.zip](https://github.com/jonasmalacofilho/liquidctl/files/4241827/pcapng-files.zip)
First file: I stopped and started the CAM software
Second and third file: I changed the profile from fixed to silent and from silent to performance

This was the first ti

[2020-02-23 20:20] flamaniac opened #89 "Encoding problem when calling exe from C# console application"
When calling liquidctl from C# console app i get encoding error (tried different encoding, different configuration and 3rd part lib to handle external exe call (like sheller)

CMD output:
[code]
As you see first line of output is received. I think there is problem with "├" char

My code:
[code]

I have google "UnicodeEncodeError: 'charmap' codec can't encode characters in position 0-2: " and it se

[2020-02-23 21:32] jonasmalacofilho commented on #89
Hi @flamaniac,

Can you add `--debug` to liquidctl's args so we can see the full exception stack?

[2020-02-23 21:50] flamaniac commented on #89
1. I have found something like this:
https://stackoverflow.com/questions/46636206/python-3-6-logging-modul-error-unicodeencodeerror-charmap-codec-cant-encod

2. i have added --debug and output looks like that:
[code]

[2020-02-23 22:08] jonasmalacofilho commented on #89
This is related to #84, which I was hoping not to have to fix : \

One thing of note I see is that Python is running in an environment under CP1250 and not UTF-8, which means that in C# `Standard(Output|Error)Encoding = Encoding.UTF8` is not enough to call external processes that require Unicode.

[2020-02-23 22:30] flamaniac commented on #89
I dont know python and how this exe is made but it looks that it have python interpreter inside that react on something...
Maybe I need start this exe with some ENVIRONMENT variables specific to python...
Ok, I will chek what envs variable I have on my local machin (they all are passed to liquidctl.exe when I run it from console) and start exe from my app with the same variables.

[2020-02-23 22:44] jonasmalacofilho commented on #89
The CP (codepage) 1250 part is not specific to Python, and would affect all external programs that require Unicode; it's something you should be able to change on your side.

_(On Windoes Command Prompt I used to have to set the "codepage" to something Unicode aware, but the default there was even worse: DOS CP 850)._

Oh, and you're right that liquidctl.exe bundles Python (3.6, specifically)... I

[2020-02-24 07:57] jonasmalacofilho commented on #84
Additional notes:

 - This happens because Python 3.6 doesn't try to coerce ASCII locales to UTF-8;
 - but only `stdout` is affected, as for `stderr` the error handler is always `backslashreplace`.

[2020-02-24 10:29] jonasmalacofilho commented on #89
Can I get your help in designing a `--json` output for liquidctl?

One experiment I did (98ef4f1bc18bc07ccd903a8fa20683bd47d9767e) would result in the output bellow.  Actually, the real output is ASCII-only encoded (using JSON `\u` escaping) so it would also bypass the codepage/locale issues; what's shown bellow was post-processed with a pretty-printer.

[code]

[2020-02-24 12:18] jonasmalacofilho commented on #78
@yfuerst

Thanks!  Oh, and the captures look fine : )

I don't have the time to analyze this in depth right now.  Do you want to give it a try?  I could tell you the strategies I use to figure out what's what.

[2020-02-24 16:13] Frick-David commented on #62
@jonasmalacofilho No response so I am not sure what to do :(
Real shame. This has made my opinion of Debian go down a little :(
Any ideas for debian packaging?
I will keep plugging away at the gui on weekends.

[2020-02-24 17:40] yfuerst commented on #78
Sure, I can give it a try, but I definitely need instructions.

[2020-02-24 19:29] flamaniac commented on #89
Super. I am creating UI for liquidctl and json output will be great! I can test it but I need exe and do not know how to create one.

[2020-02-24 20:28] jonasmalacofilho commented on #89
You can find the exe for that particular experiment in:

[2020-02-24 20:33] flamaniac commented on #89
in?

[2020-02-24 20:35] jonasmalacofilho commented on #89
Sorry, hit enter too soon... previous comment amended with the necessary info.

[2020-02-24 21:45] flamaniac commented on #89
It is working fine. I recived:
[code]

[2020-02-24 22:08] flamaniac commented on #89
Yep, event with data attribute (describe what property is mapped to this field)  it will cause exception

[code]
Also if you provide array of objects his object need  have the same type (like array in "c" meaning) to easily desalinize it. And this can be tricky because each device is different...
or maybe
[code]

[2020-02-25 01:04] jonasmalacofilho commented on #89
Yeah, I'm not really happy with that format either.

_(That said, seeing the non-JSON JSON that would make C# happy makes me want to go out to find some sane people to be friends with._

_Look, I use_ strongly _typed languages most of the time, and I get the point that dynamic == bad.  But the whole point of JSON is the realization that, in most real world cases of communication between loosely co

[2020-02-25 01:14] jonasmalacofilho commented on #89
Hey, don't get me wrong, I really appreciate your feedback!

I'm just not thrilled about having to deal with these particular C# APIs.

[2020-02-25 07:10] flamaniac commented on #89
Nope. It is not valid name for all languages that i know: c#, Java, ActionScript 3.
Json is "JavaScript Object Notation" and Java Script have the almost the same limitations about Variable name that languages i have mension before:
"Variable names can only contain letters, numbers, underscores, or dollar signs."

[2020-02-25 09:02] jonasmalacofilho commented on #89
Indeed, most C-derived languages limit identifiers to`/^[a-zA-Z_][a-zA-Z0-9_]*$/`, including struct member names.  However, identifiers also (commonly) can't clash with reserved keywords, and those naturally change a lot from language to language.

JSON objects don't impose any limitations on the member names; as a language-agnostic serialization format, JSON needs to support property names that,

[2020-02-25 17:27] jonasmalacofilho commented on #88
Closing this due to lack of response.

[2020-02-25 17:27] #88 closed

[2020-02-26 12:14] inglor commented on #79
Hi @jonasmalacofilho
I finally managed to run NZXT CAM software - I had to basically install it while ethernet was not plugged in, block it from firewall and now it's running. A couple of interesting points
- Only latest NZXT CAM 4.2.3 works for Kraken Z63, previous versions don't (i.e. 4.1.1 or 4.0.1 which I tried)
- If you don't have installed the NZXT CAM version or you start from a cold start

[2020-02-27 23:04] Frick-David commented on #62
I cleaned up my comments for a potential future user who has more success to see the base issue and not my clutter. To summarize all my comments, to submit an intent to package, simply using the reportbug program and follow through with the prompts and options. The documentation for that is found here: https://www.debian.org/devel/wnpp/
Unfortunately, I do not seem to get any error messages or any

[2020-02-27 23:37] jonasmalacofilho commented on #62
Hi, @Frick-David

Sorry for not replying to you sooner.  I was going to try `reportbug` myself to see if anything came to mind, but a few other things popped up and I haven't found the time for it yet.  I'll keep you updated on any progress I make.

---

Instead of deleting previous comments, I'll just link to that last one from the top post.

[2020-02-28 02:56] Frick-David commented on #62
No problem, just letting you know! Really hope this happens as this is a great repo! I will be chipping away at the GUI this weekend!

Best of luck!

[2020-03-01 12:11] jonasmalacofilho commented on #79
@inglor

Thank you.  I'll take a look as soon as I can.

[2020-03-01 12:13] jonasmalacofilho commented on #78
@yfuerst

Great!  I'll take some time to write a bit how I analyze these capture logs.

[2020-03-03 23:46] astowe1080 commented on #79
I’ve got Windows and OS X squared away now, looks like OS X can detect a couple things at surface level. Just in case you see something helpful in it, attached a screen grab from System Information within OS X.

I’ll give Wireshark a shot later today too —

Thanks!

[2020-03-06 21:18] Frick-David opened #90 "FYI - I was able to build this on Void Linux"
Just FYI, I was able to build and use this on void linux. I just had to install python3-devel to get it to work, but the respective dependencies packages for void linux are:
[code]

See [this issue](https://github.com/void-linux/void-packages/issues/19670#issuecomment-593963982). I asked if they can package it for void linux.

Pretty cool! Hope all is well!

[2020-03-07 08:58] jonasmalacofilho commented on #90
That's great news, thanks!

Let me know if/when a liquidctl package for void linux is available so I can update the readme.

[2020-03-07 09:00] jonasmalacofilho commented on #79
@astowe1080 the screenshot is missing.  AFAIK all attachments are scrubbed when you reply to a issue directly from the email notification.

[2020-03-07 20:43] richardvonrueden commented on #79
I use the NZXT Z63 (CPU: Ryzen 3900x) with Arch Linux and Windows 10. It only shows me the liquid temperature. As I use Linux most of the time, I really would appreciate support for this version.

[2020-03-08 19:46] astowe1080 commented on #79
@jonasmalacofilho
My mistake, here's the screenshot I mentioned and the CAM startup data I got from Wireshark --

[CAMdata.zip](https://github.com/jonasmalacofilho/liquidctl/files/4303782/CAMdata.zip)

[2020-03-08 23:52] jonasmalacofilho commented on #79
@astowe1080

Thanks, I'll take a look as soon as I can.

[2020-03-09 18:33] yfuerst commented on #78
@jonasmalacofilho Great, I am looking forward to it.

[2020-03-12 01:56] audiohacked commented on #80
I just ordered the H115i PRO XT. As soon as I have time, I'll get some protocol dumps.

[2020-03-13 12:54] gabrieletosca opened #91 "No devices matches available drivers and selection criteria"
Hi, I have a problem with my hackintosh, it is configured like this:
- i5 9600K
- RX 570
- NZXT Kraken X62
- NZXT H700i (case and fan controller)
- Aorus Z390 Ultra

My OS is MacOS Catalina 10.15.3 and I have the last version of liquidctl (installed from homebrew)
My problem is that I don't view my device... And the fans run at full power (this is because I haven't configured the program yet I thi

[2020-03-13 16:23] jonasmalacofilho commented on #91
@CaseySJ can you help here?

I'm not familiar with macOS, but it seems that both devices are not visible at the kernel level, at least not as HIDs.  How can we check devices and drivers on macOS?  And is there any hackintosh-specific thing that comes to mind?

Before opening the issue @gabrieletosca has already confirmed that there's nothing wrong on the hardware level, and that both devices work

[2020-03-13 16:32] CaseySJ commented on #91
@gabrieletosca @jonasmalacofilho

This might be due to a misconfigured USB SSDT. On Hackintosh we typically need to enumerate the USB 2 and USB 3 ports that we want to use. And we cannot exceed the macOS limit of 15 ports per USB controller.

@gabrieletosca,

Please download and run *IORegistryExplorer* and scroll the device tree on left side until you see `XHC`. Do not use the 'search' field.

No

[2020-03-14 06:14] jonasmalacofilho commented on #91
@gabrieletosca told me the issue was indeed in the USB 2.0 configuration.

Thanks @CaseySJ!

[2020-03-14 06:14] #91 closed

[2020-03-18 20:50] ddv2005 commented on #79
Z3 devices has 2 Endpoints. And looks like #1 used for control/status and #2 for upload LCD images. I guess that CAM software render and upload LCD images on demand. Hardware can store several images and then software can reuse old images by switching it via endpoint #1.

[2020-03-19 15:20] alp-can opened #93 "OSError: open failed with version 1.3.3 on MacOS 10.15.3 FIXED!"
Hey,

when i try to initialize my hardware i get following error message:

alpereN@Alperens-MBP ~ % liquidctl initialize -d 0
OSError: open failed

alpereN@Alperens-MBP ~ % liquidctl initialize all
OSError: open failed

Is there any solution for this problem? Couldn't find anything helpful in issues..

Thanks for help.

Debug:

alpereN@Alperens-MBP ~ % liquidctl status --debug
[DEBUG] liquidctl.cl

[2020-03-20 04:42] danielyzli opened #94 "Kraken X72, X73, Z73 degrees of support on Linux and default behaviours"
What are the default behaviors (pump speed, fan speed) of these coolers on Linux? How well are they supported i.e. doing a build in a few weeks, which would you get for a pure Linux system? What about when they are coupled with a Kraken G12?

Aside: coming from H115i Platinum RGB which is silent pump-wise; is there a difference between pump noise for these three?

Sorry if not super on-topic. Than

[2020-03-20 17:39] alp-can commented on #93
EDIT: After Changing the USB Ports, i'm able to initialize both NXT HUE2 Ambients.

[2020-03-20 17:39] #93 closed

[2020-03-20 17:47] alp-can opened #95 ""Unknown" accessory for 200 mm NZXT HUE 2 LED Strip"
Hey, i have a new Problem. :-)

After fixing the initializing Bug, the LED Strips aren't identified correctly. The unknown listed LED accessory are HUE 2 LED Strips with 200mm length. Is there any possibility to fix that?

NZXT HUE 2 Ambient (experimental)
├── Firmware version                      2.6.0
├── LED 1 accessory 1    HUE 2 LED Strip 250 mm
├── LED 1 accessory 2    HUE 2 LED Strip 250 mm

[2020-03-20 20:04] jonasmalacofilho commented on #95
Yeah, we are missing an identifier for that particular strip.

It should be an easy fix, but the debug output you posted seems to be for a different command (or you have truncated the bit I need to fix this problem).

Can you try once more `liquidctl initialize all --debug`?

[2020-03-20 20:06] jonasmalacofilho commented on #93
I had looked at the issue and it did seem to be something on the OS level.

Unfortunately weird USB issues are somewhat common in hackintoshes.

Glad that you managed to fix it though!

[2020-03-20 20:16] jonasmalacofilho commented on #94
_(as of the latest firmware I tested, but this might change...)_

The X72 will **default** to "silent" pump and fan profiles.  The profiles are a based on liquid temperature and, more importantly, only step in 5°C increments.

But liquidctl allows you to configure different profiles and use smaller step sizes (2°C in the current stable version; 1°C in the latest development version), even on a pur

[2020-03-20 20:33] alp-can commented on #95
Here it is:

alpereN@Alperens-MBP ~ % liquidctl initialize all --debug
[DEBUG] liquidctl.cli: running liquidctl v1.3.3
[DEBUG] liquidctl.driver.usb: searching GenericHidBus (api=hid, drivers=[CommonSmartDeviceDriver, CorsairHidPsuDriver, KrakenTwoDriver, SeasonicEDriver, SmartDeviceDriver, SmartDeviceV2Driver])
[DEBUG] liquidctl.driver.usb: probing drivers for device 0x1038:0x1240
[DEBUG] liquidct

[2020-03-20 20:36] alp-can commented on #93
well, my hardware topology is a little bit weird..

i have two Thunderbolt 3 displays in Daisy Chain connected to my MBP. One of the USB C Ports is connected to an USB HUB. On This USB Hub, there was another USB Hub connected (I just was too lazy to pull another cable from the display). So i changed the USB Port directly to the first USB Hub and it worked.

[2020-03-20 20:40] alp-can commented on #95
I just tried the super-fixed mode and I was able to configure and address every single LED. So it should be just a missing description for the 200mm Strip. Everything's working fine.

[2020-03-21 03:44] #95 closed

[2020-03-21 03:49] jonasmalacofilho commented on #95
Can you give the latest commit in 'master' a try?

_(you can use `brew install liquidctl --HEAD`)_

And yes, the issue is only on the report.  The controller had correctly identified the accessories, so all animations should work fine despite this problem.

[2020-03-21 03:52] danielyzli commented on #94
Thank you very much!

[2020-03-21 03:52] #94 closed

[2020-03-21 04:01] jonasmalacofilho commented on #93
Thanks for posting these additional details, they may help someone in the future.

[2020-03-21 06:16] Evils-Devils opened #96 "e500: no current readout"
Hi, i attempted to [package this for NixOS](https://github.com/Evils-Devils/nixpkgs/commit/5429c8ced32f9487b60f27c06d6aa5061b4b9ff6)

While it seems to work i'm missing the current readout (and consequently the wattage)
<details>
  <summary>debug header</summary>

[code]
</details>
<details>
  <summary>plain output</summary>

[code]
</details>

Thanks a lot for getting e500 support this far!

Don'

[2020-03-21 19:15] alp-can commented on #95
alpereN@Alperens-MBP ~ % liquidctl initialize all
NZXT HUE 2 Ambient (experimental)
├── Firmware version                      2.6.0
├── LED 1 accessory 1    HUE 2 LED Strip 250 mm
├── LED 1 accessory 2    HUE 2 LED Strip 250 mm
├── LED 1 accessory 3    HUE 2 LED Strip 200 mm
├── LED 2 accessory 1    HUE 2 LED Strip 250 mm
├── LED 2 accessory 2   HUE 2 LED Strip 200 mm
└── LED 2 accessory 3    HUE

[2020-03-21 19:38] jonasmalacofilho commented on #95
Great, thanks for the feedback : )

[2020-03-21 19:54] jonasmalacofilho commented on #96
The problem seems to be on the PSU side.  It's returning the same constant value for all current and power readings (`\x00\xc8`), which is super unlikely to be correct.

Additionally, the response PEC byte seems vary for identical replies, which further suggests a problem on the PSU side.  Although how the PEC byte is computed in reads isn't well understood yet.

_(on the other hand, I describe ho

[2020-03-22 08:14] Evils-Devils commented on #96
As I don't use windows, I've never managed to connect this device to CAM...
If that is the cause of the issue, we'd probably want to capture that first-contact,
I don't know how to set up USB capture or pass-through to a VM...
I suppose it's entirely possible my unit is defective, but it seems unlikely that it'd report voltages and then fail to report all 5 currents.
My system uptime is 16 days, I

[2020-03-22 09:53] tristan-k commented on #78
I recently bought a X53. If there is anything I can do just holler.

[2020-03-22 11:04] Evils-Devils commented on #96
FWIW, here's a capture of what i hope is the e500 being plugged in
if it's of any use feel free to add it to liquidctl-device-data
or tell me to do so
[e500_trimmed_2020-03-22.pcapng.gz](https://github.com/jonasmalacofilho/liquidctl/files/4365070/e500_trimmed_2020-03-22.pcapng.gz)

attempting to get the first contact with CAM next...

[2020-03-22 14:22] Evils-Devils commented on #96
here are a few more captures
these two i believe just in linux
[e500_filtered_2020-03-22-connect_disconnect.pcapng.gz](https://github.com/jonasmalacofilho/liquidctl/files/4365364/e500_filtered_2020-03-22-connect_disconnect.pcapng.gz)
[e500_filtered_2020-03-22-connect_disconnect2.pcapng.gz](https://github.com/jonasmalacofilho/liquidctl/files/4365365/e500_filtered_2020-03-22-connect_disconnect2.pcap

[2020-03-22 16:29] Evils-Devils commented on #96
Since this seems to indicate the issue is not caused by liquidctl, i've sent a mail to NZXT support.

Feel free to close this issue if you don't expect to be able to fix it from liquidctl.

[2020-03-22 20:27] jonasmalacofilho commented on #96
Well, I haven't seen any special first-contact packets on this device.

But I'll take another look at the captures you supplied, thanks!

Oh, well, that does seem to indicate a problem on the firmware level, or with this specific unit.

If I had to guess, there's some complicated fault logging mechanism in play, and not even CAM is correctly clearing/resetting it.  And while the unit is in "fault"

[2020-03-25 08:41] tomaculum commented on #78
I bought a X73 and would be happy to help, too!

[2020-03-25 21:46] jonasmalacofilho commented on #80
@audiohacked that's great, thanks.

[2020-03-25 22:07] jonasmalacofilho commented on #96
Those names (other, CPU, GPU) might be very misleading...

I suspect the +12 V pin in the ATX 24-pin connector is being counted as "GPU".  While it does power the PCI-e slots, it's certainly not exclusive to it.

Still, if you're right about rail #1 being equivalent to CAM's "other", then all three +12 V rails would be split like:

 - +12 V #1: peripherals (SATA 15 pin; Molex 4 pin; floppy)
 - +12

[2020-03-25 22:38] jonasmalacofilho commented on #96
I added these tentative rail names in f07c2ef56c009f40ab84612e801572aed77d4fe4.

[2020-03-25 22:39] jonasmalacofilho commented on #90
I'm closing this as there's nothing to do on this side, but I'm anxious to see liquidctl available in Void Linux.

[2020-03-25 22:39] #90 closed

[2020-03-25 22:56] #96 closed

[2020-03-25 23:34] Frick-David commented on #90
I will ask the void linux people to package it!

-------- Original Message --------
On Mar 25, 2020, 6:39 PM, Jonas Malaco < notifications@github.com> wrote:
I'm closing this as there's nothing to do on this side, but I'm anxious to see liquidctl available in Void Linux.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.￼
[ {

[2020-03-26 00:23] Evils-Devils commented on #96
my `#1` consistently reads as 11.97 V and the other two as 12.05 V
cam showed "other" as 11.97 V and the other two as 12.05 V

[2020-03-26 01:25] jonasmalacofilho commented on #96
That makes sense, thanks!

[2020-03-27 13:49] mimfgg commented on #78
just got a x53 as well, I can help :)

[2020-03-28 00:30] fiatcrush opened #97 "Installed on Centos 8 - Getting error "OSError: open failed"."
I have used liquidctl on various ubuntu based devices but have just switched to Centos 8. I have installed successfully using pip3 and rebooted machine. Machine has python 3.6.8. It seems to recognise the device using "liquidctl list" I get "Device ID 0: NZXT Smart Device (V1)"

But when I try to issue a color command I get an error:

`liquidctl set led color 350017 ff2608`
`OSError: open failed`

[2020-03-28 02:24] jonasmalacofilho commented on #97
Can you append `--debug` to that command and show me the output?

[2020-03-28 02:38] fiatcrush commented on #97
Sure thanks ! The output is below:

[code]

[2020-03-28 02:47] jonasmalacofilho commented on #97
Thanks!

Have you tried running liquidctl as root or checked (if that's the case) that your udev rules are working correctly?

[2020-03-28 02:54] fiatcrush commented on #97
As root I get "command not found".

[2020-03-28 02:57] jonasmalacofilho commented on #97
On current Linux distros interaction with USB devices are (normally) restricted to the root user, unless a udev rules overrides that behavior.  So your problem on Cent OS is probably a missing udev rule.

That said, you should always be able to run liquidctl as root.  "Command not found" suggests that it has been installed in a directory that is in your user's PATH, but not in root's.

[2020-03-28 02:58] fiatcrush commented on #97
Thanks very much! I will look into my udev rules and report back.

[2020-03-28 03:08] jonasmalacofilho commented on #97
This [comment](https://github.com/jonasmalacofilho/liquidctl/issues/70#issuecomment-554980902) might be useful.

[2020-03-28 03:39] fiatcrush commented on #97
I fixed the udev rules and still no joy. Then I read something about using sudo and remembered that now I'm on Centos 8 after many years in Debian I could us su and become root. When I did that liquidctl now works!! But I guess it could have been the UDEV rules as well. Either way I am up and running thanks!

Summary: Updated udev rules as per other post you linked and ran as root rather than sudo

[2020-03-28 08:17] jonasmalacofilho commented on #97
Glad to read that you managed to get it to work!

By the way, successfully getting udev to trigger the new rule on the already bound hidraw interface is very tricky.  So there's a chance that after a reboot you'll be able to use liquidctl with your normal non-root user.

[2020-03-28 08:17] #97 closed

[2020-03-28 08:18] jonasmalacofilho commented on #90
Great, thanks!

[2020-03-28 08:21] jonasmalacofilho commented on #78
Thank you all for volunteering to help here.

I'm sorry I still haven't been able to [write a bit about how to analyze these protocols and develop a new driver](https://github.com/jonasmalacofilho/liquidctl/issues/78#issuecomment-593090215)... but it's on the top of my to-do queue now, so please hang in there.

[2020-03-29 04:09] Evils-Devils commented on #46
@jonasmalacofilho since my unit is suspect i'm inclined not to open a separate issue for this

but i've been seeing 2 additional issues with my instance
these occur fairly often and apparently also when this is the only instance running (had one in my status bar and another saving to a log (can share that as well if you want an idea of frequency (seems to be about every ~20th)))
1. bad readings
[b

[2020-03-29 06:06] jonasmalacofilho commented on #46
If I'm not mistake, your specific unit doesn't ever produce sensible results for these fields (even in CAM).  Thus I'm inclined to think that these other failures are just different manifestations of the same problem.

That said, given the very limited testing of this driver (and possible firmware limitations), I expect there to be a least some issues to fix when there are multiple processes simul

[2020-03-29 06:22] jnettlet commented on #46
Note that we had one unit and there are multiple reports online of
others with the same issue, where the monitoring DSP does not return
correct, or any values.  Definitely verify your unit with NZXTs CAM
software if you are seeing oddities with the hardware output.

On Sun, Mar 29, 2020 at 8:06 AM Jonas Malaco <notifications@github.com> wrote:

[2020-03-29 06:24] Evils-Devils commented on #46
@jonasmalacofilho
expected
`Firmware version                         A017/40983`
get
`Firmware version                         001/40983`

this is on both 1.3.3 and master
it seems to consistently be `001` if it's not `A017`

[2020-03-29 06:35] jonasmalacofilho commented on #46
@jnettlet

Indeed, I've seen a few myself on r/NZXT (failing in CAM alone).

---

@Evils-Devils

I had left a constant test string in there and that's why only one of the firmware version representations was changing.  Now both should change when the PSU responds with different (in this case invalid) data.

[2020-03-29 06:36] Evils-Devils commented on #46
@jnettlet i don't recall seeing the out of range values on CAM, but A and W both read 0 there
just ran my windows VM again and kept an eye on it for enough time that i'd expect to see several bad readings, none have occurred (except for the null current readings)
![Screenshot_win10_2020-03-29_08:34:01](https://user-images.githubusercontent.com/30512529/77842927-3b2d1780-7198-11ea-8fe6-8868701e1e3f

[2020-03-29 06:38] jonasmalacofilho commented on #46
@Evils-Devils it's possible that CAM nowadays just filters out (or replaces with zero) negative or too large values.  This is why I think it's the same issue, just with a slightly different result.

[2020-03-29 06:43] Evils-Devils commented on #46
built from 70f6b899b82466a9c744e894f76b8916cd62b729, new failure
[traceback-master-_get_fw_versions-2020-03-29.txt](https://github.com/jonasmalacofilho/liquidctl/files/4398386/traceback-master-_get_fw_versions-2020-03-29.txt)

[2020-03-29 06:50] jonasmalacofilho commented on #46
Yeah, it seems like one of the cases where the version string would get mangled.  I also see that the PSU seems to be sending responses to commands other than those just sent.  It's possible that it somehow keeps a queue, and things can easily get out of sync.

[2020-03-29 06:56] jnettlet commented on #46
I would have to agree they are just returning zero for non-positive
results.  Have they rolled out a new firmware to fix this issue?  When I
had the problem originally they just wanted to swap the unit out, and
couldn't give a response if this issue could be fixed in a future firmware
release.

On Sun, Mar 29, 2020 at 8:38 AM Jonas Malaco <notifications@github.com>
wrote:

[2020-03-29 07:02] jonasmalacofilho commented on #46
Did this also happen with liquidctl?

In one of your output samples there's a 12 V rail with 0 A, but that's probably just because your LX2K board doesn't use a supplemental EPS/ATX12V 8/4-pin cable for CPU power (as far as I could see in pictures I found).

[2020-03-29 07:19] jnettlet commented on #46
yes it happened with both cam and liquidctl.  Correct, we don't need
supplemental CPU power as it is a 30 Watt chip.

On Sun, Mar 29, 2020 at 9:02 AM Jonas Malaco <notifications@github.com> wrote:

[2020-03-29 17:36] tomaculum commented on #78
I've started with the prototype driver and did use your open pull request for the Corsair CoolIt Platinum as reference. I am able to read the liquid temperature and pump speed: [changes](https://github.com/jonasmalacofilho/liquidctl/compare/master...tomaculum:master)

Unfortunately I found your [liquidctl-device-data](https://github.com/jonasmalacofilho/liquidctl-device-data/tree/master/NZXT%20Kra

[2020-03-30 03:00] argosang opened #98 "Support for the H1 case's unbranded 140mm AIO?"
I've never used an NZXT cooler before, until now.  CAM is a disaster and I'd like to know if anyone's used liquidctl for the H1's 140mm AIO.  From what I understand it's not a standard part that NZXT sells separately, so I'm wondering if that affects compatibility with liquidctl.  Pardon my ignorance!

[2020-03-30 03:24] jonasmalacofilho commented on #98
Can you provide the USB vendor/product IDs for the cooler, and also a picture of all electrical connections to it?

Additionally, does it use a pump-in-radiator or pump-in-block design?

[2020-03-30 03:31] jonasmalacofilho commented on #98
From the [pictures](https://sta3-nzxtcorporation.netdna-ssl.com/uploads/product_image/image/2984/large_d38c6e244d9d6304.png), it seems to use a pump-in-radiator design.  Meaning it's probably a variant of the M22, [which doesn't have pump/fan control or monitoring](https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/nzxt-kraken-x-3rd-generation.md#nzxt-kraken-m22).

The [manual](https:/

[2020-03-30 03:37] argosang commented on #98
Agh @jonasmalacofilho I did some reading, it appears this is CAM-less, thankfully.  I put blame on CAM for no reason.  Sorry about opening up an issue!

[2020-03-30 03:37] #98 closed

[2020-03-30 03:41] jonasmalacofilho commented on #98
Don't worry about it : )

[2020-03-30 17:41] jonasmalacofilho commented on #78
@tomaculum That's great news!

[2020-03-31 11:31] tomaculum commented on #78
Here is a quick summary of the message types I've found:

### startup

| data[0] | data[1] | direction  | type |  |
| :------------- |:-------------:| :-----:| :----- | :----- |
| `0x75` | `0x02` | r | device status | received periodically
| `0x10` | `0x01` | w | request firmware info |
| `0x20` | `0x03` | w | request lightning info |
| `0x70` | `0x02` | w | initialize 1 |
| `0x11` | `0x01` | r |

[2020-03-31 14:50] jonasmalacofilho commented on #78
No, it's very different, particularly these "modes".

Note: CPU temperature isn't available at the hardware level.

Indeed, this looks like it's just sending many times a given duty value (e.g. `0x3c`, prob. meaning 60% though the encoding could be different).

However, the fact that it's repeated that many times suggests that the hardware does support some time of liquid vs. duty curve.  Unlike t

[2020-04-01 01:55] phrfpeixoto opened #99 "Support mainboard RGB control?"
Hi there!

I own a Gigabyte Z390 Designare that has onboard RGB control
https://www.gigabyte.com/Motherboard/Z390-DESIGNARE-rev-10#kf

Would it be possible to add support for it? Can I offer some help by providing hardware information or running tests on it? I'm currently running on MacOS.

[2020-04-01 02:59] jonasmalacofilho commented on #99
I currently don't have any plans regarding motherboard controllers.

Most of these are only accessible through SMBus (sometimes even requiring custom kernel drivers for that) and are very hard to inspect/develop to.

That said, there's a chance that your particular board exposes the controller as a USB device.  Can you find out if that's the case?

[2020-04-01 13:13] phrfpeixoto commented on #99
I see. It makes sense.
This is the dump of USB devices I could find from macOS. Does it help?
[code]

[2020-04-01 18:34] tomaculum commented on #78
First of all, thank you for your quick response!

I've tested this with different curves in CAM and it is always in this format with the current duty value as hex value. I did implement this into the _set_fixed_speed_ method and it does work well so far.

The _device status_ response does contain two bytes which represents the current pump duty value. Currently they are always equal but maybe with

[2020-04-01 18:36] mimfgg commented on #78
No, I have the x53 on my 1080ti using a g12 ... so I wouldn't see the pump ...

[2020-04-02 00:44] jonasmalacofilho commented on #99
No device there seems to be a RGB controller.  I've also done some research, and it seems that only (a few) Fusion 2.0 boards do that (e.g. X570 Elite).

So your board must still be using I²C/SMBus for this.  Working on that is not on my queue, at least for now.  But if you manage to write the liquidctl driver for it, I'd be happy to accept it into the project.

OpenRGB ([GPL-2.0-or-later)](https:

[2020-04-02 14:01] phrfpeixoto commented on #99
Thanks for the info on OpenRGB. I'm not a C++ developer, but I'll try to take a look on it.

[2020-04-02 14:01] #99 closed

[2020-04-02 16:36] tomaculum commented on #78
Ok, I think I did find out enough to implement the single message color changes:

| byte | purpose | |
| :--- | :--- | :--- |
| `0` | op code | always `0x2a` |
| `1` | op code | always `0x04` |
| `2` | address | `0x02` - ring <br>`0x04` - logo  |
| `3` | address | `0x02` - ring <br>`0x04` - logo  |
| `4` | mode | mostly as in SmartDevice V2 driver |
| `5` | speed value | see tables below
| `6` | s

[2020-04-02 16:51] yfuerst commented on #78
@tomaculum I am not using any LED RGB feature. The AIO is installed in a Ghost S1.

[2020-04-07 07:44] jonasmalacofilho opened #101 "Export liquidctl data to HWiNFO"
Since HWiNFO 6.10 it is possible for other programs to send additional sensor data in through a Windows Registry API.  For more information, the relevant post on the HWiNFO forums is: [Custom user sensors in HWiNFO](https://www.hwinfo.com/forum/threads/custom-user-sensors-in-hwinfo.5817/).

This new feature might allow a better user experience, particularly for those dealing with devices that requ

[2020-04-13 02:58] sgtsixpack opened #102 "Help installing needed"
I read the documentation and noticed the recommendation of setting a path.  Since I know how to do this I thought I'd start there.  However I need to make my directory first.  I extracted the zip and double clicked liquidctl.exe from liquidctl-1.3.3-bin-windows-x86_64.  A command window flashed on the screen and then I started searching for where the files have ended up.  Since not in the director

[2020-04-13 08:59] jonasmalacofilho commented on #102
Hi,

You seem to have everything figured out already, but just in case...

What I do is add `C:\Program Files` in my `PATH` variable, because for single-file programs like liquidctl (or sqlite) it doesn't make sense to me to have a separate directory for each.  You can follow this [MS guide](https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-2010/ee537574(v%3Doffice.14)

[2020-04-13 10:02] jonasmalacofilho opened #103 "PyUsbHid.clear_enqueued_reports broken with Windows HIDs"
It seems that if PyUsbHid is used on a device bound to the Microsoft HID Driver, clear_enqueued_reports does need to be implemented as reads from that device wont be as "raw" as previously thought.

Naturally, forcing the use of HidapiDevice (`--hid hid`) works around the problem, but the PyUsbHid remains broken on Windows.

Additionally, PyUsbHid might probably need to detect which driver is boun

[2020-04-13 10:16] jonasmalacofilho opened #104 "Add support for machine-readable JSON output"
A machine-readable output could be very useful for third-party software trying to fetch monitoring data from liquidctl; one example would be [Freon](https://github.com/UshakovVasilii/gnome-shell-extension-freon).

Related: [#89 (comment)](https://github.com/jonasmalacofilho/liquidctl/issues/89#issuecomment-590255300)
Related: jonasmalacofilho/liquidctl@98ef4f1bc18b ("Experiment: add support for ma

[2020-04-13 10:17] jonasmalacofilho commented on #89
To sum up...

liquidctl is being called with an environment which isn't properly supported (#84), for now at least.  _The solution to the original problem reported here is for the caller to use a Unicode-compatible environment,_ at least until #84 is dealt with.

There was also some discussion of a `--json` mode, which could certainly be useful.  However, I would like gather more feedback on what

[2020-04-13 10:17] #89 closed

[2020-04-13 10:21] jonasmalacofilho commented on #84
This is a bug alright, though I'm considering it to have low priority; indiscriminately using `LC_ALL=C` is expected to cause some issues.[[1]](https://wiki.archlinux.org/index.php/locale#LC_ALL:_troubleshooting)[[2]](https://wiki.debian.org/Locale)

[2020-04-13 10:32] jonasmalacofilho commented on #72
Quick update: I've decided to integrate (the currently named) yoda into liquidctl, to deal with all the issues with distributing and running it.

This will involve a bit of work, and on mac OS will still require `iStats` to already be installed, but that's something that can be improved upon later.

[2020-04-13 10:50] CaseySJ commented on #72
@jonasmalacofilho, Looking forward to it!

[2020-04-13 11:21] augustopaulogh commented on #72
@jonasmalacofilho, Fantástico, fico à espera para implementar!
@jonasmalacofilho Fantastic, I'll wait to try it our!

[2020-04-13 14:14] sgtsixpack commented on #102
I have an x72 with firmware 6.02, so its the newer branch of x72.  My aim is to program a fan/pump curve and maybe set the LEDs of the x72 to a Gigabyte shade of orange.  I initially thought a service is what I need.

Does this have the capability to do what I need?:
https://nssm.cc/commands

Alternatively I could try to learn python as I have snagged a free course online.

Its safe to say NZXT ar

[2020-04-13 14:19] jonasmalacofilho commented on #102
You don't need a service for that, just a [simple batch file](https://github.com/jonasmalacofilho/liquidctl#set-up-windows-using-task-scheduler) that you set up Windows to run during login/boot; the X72 is capable of following a fan/pump profile by itself, as long as it's based on the liquid temperature.

Btw, I'm running a X62 with the same firmware.

[2020-04-13 14:56] sgtsixpack commented on #102
I've really not paid any attention to the water temperature.  I have a plain Asetec CLC on my GPU and I run the pump @ 12v (report the speed to the mobo) then control 6 PWM fans with an Asaka FP5 + y splitter & a GPU header to PWM fan converter cable.  I never needed to know the water temp.  I considered it a novelty on the x72.  It would probably bypass the fan speed ramping up at idle problem.

[2020-04-14 19:28] jonasmalacofilho commented on #102
Yes.

That's a very small difference in duty... you could just as well keep it at a constant 100% if it's really inaudible (my pump makes _some_ noise above 80%).

Another thing you can consider is setting "comfortable" max speeds for your expected maximum temperature of 30°C (as an example, for me that would be 80% pump, 95% fans), and then absolute maximum speeds for some slighter higher tempera

[2020-04-14 20:02] jonasmalacofilho commented on #102
By the way, you might be interested in the new feature I'm working on #101 ("Export liquidctl data to HWiNFO").  It's mostly functional already, and I just wrote to Martin@HWiNFO about the last [few issues](https://www.hwinfo.com/forum/threads/custom-user-sensors-in-hwinfo.5817/#post-24287).

[2020-04-14 20:19] sgtsixpack commented on #102
I think I have my syntax wrong.

PS C:\Users\SgtSixpack> liquidctl set ring color 350017 --alert-threshold 30 --alert-color FF00D0
ERROR: Unexpected error with NZXT Kraken X (X42, X52, X62 or X72)
Traceback (most recent call last):
KeyError: '350017'

This is what I've got:
liquidctl --version
liquidctl initialize all
liquidctl -m Kraken set pump speed 20 70  25 90  29 100
liquidctl -m Kraken set

[2020-04-14 20:46] jonasmalacofilho commented on #102
- `--alert-threshold` and `--alert-color` are only supported by older Krakens (e.g. X61)
 - this is missing the animation mode (for example, `fixed`, `fading`, `breathing` etc.)

I'll let you know once it's more refined, as right now it requires restarting HWiNFO and it's missing any type of documentation.

[2020-04-14 20:48] jonasmalacofilho commented on #102
For all features supported with the X72, take a look at this document: [Third generation NZXT coolers](https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/nzxt-kraken-x-3rd-generation.md).

_(for future reference, these and similar documents are linked from the table of supported devices)_

[2020-04-15 04:52] vturecek opened #105 "Kraken X72 not found on Xubuntu 18.04.4"
This is on **Xubuntu 18.04.4 LTS**

Having some trouble - `liquidctl list` doesn't seem to recognize the X72. When probing, the device *does* show up under PyUsbBus, but I notice KrakenTwoDriver isn't in the list of drivers there:

[code]

Kernel logs show it is indeed there:
[code]

[code]

I was able to configure the X72 just fine with [krakenx](https://github.com/KsenijaS/krakenx), which I noti

[2020-04-15 08:29] jonasmalacofilho commented on #105
You're likely using an old stable-ish version of krakenx, which doesn't use liquidctl or the underlying hidraw kernal driver.  More importantly, that version also doesn't correctly restore the kernel drivers once it exits, leaving the libusb driver attached to to the device.

As liquidctl (and development versions of krakenx) will default to connecting to the device using the standard hidraw drive

[2020-04-16 01:26] patricksyoussef opened #106 "H115i Pro Support"
Hello all,

I know it is not slated that liquidctl will support the H115i Pro, but given the lack of internal fan control on the new kraken cooler and the new protocol of the platinum/xt coolers I was wondering how hard it would be to adapt these current device definitions for the H115i Pro.

https://github.com/audiohacked/OpenCorsairLink/wiki/Device-definitions

Best,
Patrick

[2020-04-16 01:30] jonasmalacofilho commented on #106
I don't have any objections on having a driver for it in liquidctl.  But the Pro doesn't use the same protocol as any other models, so it will still require some work.

Any chance you're willing to work on this?

[2020-04-16 01:32] patricksyoussef commented on #106
I'd love to work on it but I would need help. I am comfortable in python but the rest is new to me.

[2020-04-16 01:35] jonasmalacofilho commented on #106
Sorry, forgot to answer about the definitions in OCL: I don't have one of these devices, so I'm not sure how big is the role of those constants (if the protocol is too complex/weird, the constants only help so much).

I'd recommend you check the OCL sources in more detail, to have a better idea on how the protocol works.  You can also begin taking a look at the USB traffic with Wireshark.

[2020-04-16 01:36] jonasmalacofilho commented on #106
Great, I'll be glad to help you.

Note: right now I _might_ take a bit to answer more complex questions... I have quite a large queue of stuff to do in this project alone.

[2020-04-16 01:37] patricksyoussef commented on #106
Ok great! Also, I have not purchased anything yet, so in your opinion given the new protocol in the platinum models does it make more sense for me to wait for that to get supported and order that or try and modify the current asetek protocols for this device. I am not sold to the H115i Pro right now.

[2020-04-16 02:12] jonasmalacofilho commented on #106
Of the devices I know well, the X62 is probably the best option.

The H115i PRO XT is a strong candidate, but I'll still waiting for some performance numbers.  On the protocol side, it seems to support all features we enthusiasts want, but I'm not done figuring out the protocol, and it's not great to work with as a developer.

Then, like you said, the new X Krakens are dumb.  And while the Z Krake

[2020-04-16 02:32] jonasmalacofilho commented on #106
Wow, sorry again, I'm clearly too tired to be writing here.

I don't know anything about the protocol of the PRO XTs yet.  But I imagine/hope that it will be similar to the Platinums, as they are (in theory) using the same CoolIT pump/cold-plate design.

Assuming that's indeed correct, then (and only then):

[2020-04-16 02:48] patricksyoussef commented on #106
That all makes sense. In that case, I think I will hold off on ordering for now and see where the progress goes for the Coolit based pumps.

[2020-04-16 09:50] jonasmalacofilho commented on #105
@vturecek did you manage to get it sorted out after my previous reply?

[2020-04-16 14:36] inglor commented on #79
Hi @jonasmalacofilho

How is this progressing? Do the Z devices get any similarities with the latest generation X ones and would it help the PR#100 once merged? In terms of CAM software they released a new version which seems a new UI is in a place so maybe something changed under the hood as well (communication with the pump).

Let me know if I can assist anyhow with trying to reverse engineer th

[2020-04-16 17:00] vturecek commented on #105
@jonasmalacofilho thanks for the detailed response. That makes sense, I was using krakenx right before I tried liquidctl (without a reboot or rebind in between). I'll give it another try tonight and report back.

[2020-04-17 02:10] vturecek commented on #105
@jonasmalacofilho yup all good now after a reboot. Thanks again for help!

[2020-04-17 02:10] #105 closed

[2020-04-19 01:01] jonasmalacofilho commented on #78
That's great news!

With the cooler unmounted from the CPU you could artificially (and safely) increase the coolant temperature with an external heat source (air dryer, heat gun, etc.).  But I know that's a considerable hassle...

Installed, the best you can do if check if this still works with slightly higher coolant temperatures, by stressing your CPU (and, if the radiator is mounted as case exh

[2020-04-20 00:50] patricksyoussef commented on #76
Hi everyone! I was wondering if there is any way I could help, I am looking to order an H115i Platinum soon and I wanted to see where this could go before ordering.

[2020-04-21 04:38] Frick-David opened #107 "Ideas for liquidctlgui"
For the next couple of days I am going to hammer out the GUI. I recently installed iCam to see how they do it, and the GUI is not bad looking by any means. although I certainly see some room for improvement on that.
I will probably need some support with getting the code to work, but playing around generally works for me.
Do you have any ideas how how you would like it to work?
I am currently goin

[2020-04-23 18:29] ardevd opened #108 "Where is the Fedora package?"
There doesnt seem to be any liquidctl for Fedora available and the Fedora package search link in the README returns 0 results. What gives?

[2020-04-23 18:35] ardevd commented on #78
I have an X63. Is there any info required that I can provide?

[2020-04-23 20:36] jonasmalacofilho commented on #108
@suve,

Can you tell what's happening?

I can still see it [here](https://src.fedoraproject.org/rpms/liquidctl), and the latest builds appear to have all succeeded.

Yet it's no longer listed on the [package search](https://apps.fedoraproject.org/packages/s/liquidctl).

[2020-04-23 21:03] suve commented on #108
Installing the package from the command-line by using
[code]
works fine for me on both Fedora 31 and Fedora 32 beta.

I tried the package search and literally none of the packages I've added to Fedora in the last 2 years show up. **¯\\\_ツ\_/¯**

[2020-04-23 21:09] jonasmalacofilho commented on #108
@suve,

Thanks for checking this!

Should we report the search bug to Fedora?

---

@ardevd,

Please let me know that installing from the command line worked for you.

[2020-04-23 21:14] jonasmalacofilho commented on #108
Oh, it's already a know issue: fedora-infra/fedora-packages#432 ("Some packages can't be discovered").

[2020-04-23 22:55] viggy96 commented on #80
Does this apply to the non-XT models as well, like the [H150i Pro](https://www.corsair.com/us/en/Categories/Products/Liquid-Cooling/Hydro-Series%E2%84%A2-PRO-RGB-Liquid-CPU-Coolers/p/CW-9060031-WW)? Or is that device already supported?

[2020-04-23 22:57] jonasmalacofilho commented on #80
@viggy96 for the non-XT Pros you should follow #106.

[2020-04-24 05:58] mburgholte opened #109 "NZXT HUE 2 Issue with Underglow 300 mm and AER RGB 2 Fan"
First of all thanks a lot for your work!

My current setup of "bling bling" is the following:

#### HUE 2 Ambient
  - LED 1 accessory 1    HUE 2 LED Strip 300 mm
  - LED 1 accessory 2    HUE 2 LED Strip 250 mm
  - LED 1 accessory 3    HUE 2 LED Strip 250 mm
  - LED 1 accessory 4    HUE 2 LED Strip 200 mm
  - LED 2 accessory 1    HUE 2 LED Strip 250 mm
  - LED 2 accessory 2    HUE 2 LED Strip 200 m

[2020-04-24 06:25] jonasmalacofilho commented on #109
Hi @mburgholte,

That should be easy to fix.

Can you run post the output of `liquidctl --product 0x2001 initialize --debug`?

Can you show me the commands you're running, and their output with the `--debug` flag?

---

And thanks for reporting these issues.

[2020-04-24 06:44] mburgholte commented on #109
Hi @jonasmalacofilho,
thank you for your message. Please find the ouputs below.

[code]

[code]

[2020-04-24 07:00] jonasmalacofilho commented on #109
Identifier for 300 mm HUE 2 Underglow fixed.

---

The different behavior between channels 2 and 4 is very surprising.  The only things that come to mind are a bit out there...

Can you confirm that the settings theoretically set for channel 2 are applied to the correct devices (underglow strips)?
_(the hypothesis is: maybe instead of the channel id we need to send to send the _active_ channel _in

[2020-04-24 07:10] mburgholte commented on #109
Great. This is fine! Thanks!

Yes, i can confirm this behaviour.

If I power up the system all fan RGB lights come up in white solid light. The ambient lights too. I was so happy to switch these lights off with your tool under linux. It like watching in the sun. ;o)

If you want it, I can try it. But on the other side, inside Windows 10 it works all fine. So I don't think there is any defective.

[2020-04-24 07:23] jonasmalacofilho commented on #109
Crap, this pretty much shoots down my best idea.  Oh well...

Still, can you check if using `led1` or `led3` in the commands has any effect (on the fans on channel 4, or even on the strips/channel2)?

Just to clarify: have you ever been able to control the fans on channel 4 with liquidctl?

You're right, that's not necessary if it's working on Windows.

[2020-04-24 07:51] jonasmalacofilho commented on #109
Actually @mburgholte, I had another idea of what might be the issue.

Can you give the code in branch ['fix-higher-hue2-rgb-channels'](https://github.com/jonasmalacofilho/liquidctl/tree/fix-higher-hue2-rgb-channels) (currently at commit 3e3a6767b49a) a try and see if it fixes the problem with channel 4?

[2020-04-24 08:11] mburgholte commented on #109
led1 or led3 has no effect.

No.

[2020-04-24 08:22] ardevd commented on #108
@jonasmalacofilho Thanks for figuring it out. The only reason I noticed this issue is because my fat fingers managed to mispell liquidctl when trying to install it which led me to check the package link in the README.

`dnf install liquidctl` works just fine :)

[2020-04-24 08:23] mburgholte commented on #109
Sorry.. no success on led1,led3 and led4.
[code]

[2020-04-24 08:26] jonasmalacofilho commented on #109
That last run wasn't running the experimental code from the branch I mentioned.

[2020-04-24 08:29] jonasmalacofilho commented on #108
Ok, great.  Thanks for letting us know about the issue!

For now I changed the link in the README to the rpm source repository.

[2020-04-24 08:29] #108 closed

[2020-04-24 08:41] mburgholte commented on #109
Sorry.. my fault. Git is sometimes not my friend.

Good news. Now it works!
[code]

[2020-04-24 08:43] jonasmalacofilho commented on #109
Can you also give a new pseudo-channel called `sync` a try, and see if it works as the name implies?

[2020-04-24 08:47] mburgholte commented on #109
Great! It works.

[code]

[2020-04-24 08:49] jonasmalacofilho commented on #109
Great! : )

[2020-04-24 08:50] mburgholte commented on #109
Tanks a lot! Great job!

[2020-04-24 09:01] jonasmalacofilho commented on #109
Thanks again for reporting the problems and helping me with testing.

[2020-04-24 09:01] #109 closed

[2020-04-25 20:52] wamphlett commented on #78
@tomaculum I have just installed an X53 with two RGB HUE 2 strips connected directly to it. I've got this installed on a linux box - defaults to all white lights and it would be great to be able to adjust the lighting (even if its just on and off). Im new to this so my knowledge is limited but Im keen to help out if I can so if there is anything I can provided, just give me a shout and if you have

[2020-04-26 22:14] jonasmalacofilho commented on #76
@patricksyoussef

The initial captures only got me so far, but I was still making some progress using an emulated device (an Arduino with a custom firmware that tells the OS and iCUE that it's a H115i Platinum).  However I haven't been able to touch that since February.

IIRC the most significant issues left were:

 - apparently need to keep sequence numbers
 - some ambiguity between set cooling a

[2020-04-26 22:57] jonasmalacofilho commented on #78
@wamphlett

Can you start by installing the latest code in #100 (fork/branch ['tomaculum/master'](https://github.com/tomaculum/liquidctl/tree/master))?

Let me know if you need any assistance.

[2020-04-26 23:20] jonasmalacofilho commented on #79
Hi @inglor,

It looks like the pump speed is set the same way between your Z63 and a X63.  And the fan speed follows a very obvious/similar pattern.

I haven't checked incoming status messages, but they also seem similar.  So, as expected, the #100 should kick start the X63/X73 driver quite nicely.

A new UI _yet again?_  Because CAM 3.x never got to support the new coolers, right?

Well, thanks f

[2020-04-26 23:35] jonasmalacofilho commented on #107
That's great, @Frick-David!

CAM's UI is not bad looking, but I would suggest that you completely skip theme/profile quick-switching features.  It's too much unnecessary complexity, particularly since power users can automate/script things with liquidctl.

Also, that part is where I think CAM's UI fails, leaving too much ambiguity between what's saved, what's applied, and what's plainly discarded

[2020-04-27 20:19] wamphlett commented on #78
@jonasmalacofilho All installed and working.

[code]
[code]
[code]

@tomaculum looking at this comment [kraken_three_x.py#L175](https://github.com/tomaculum/liquidctl/blame/master/liquidctl/driver/kraken_three_x.py#L175) - I have 2 strips connected so if there is anything I can do or any info I can provide, let me know  - happy to help.

[2020-04-27 20:40] mimfgg commented on #78
seems to work for me as well!

`
liquidctl list
Device ID 0: NZXT Kraken X3 Pump (X53, X63 or X73) (experimental)

liquidctl initialize
NZXT Kraken X3 Pump (X53, X63 or X73) (experimental)
├── Firmware version                   2.1.0
├── LED 2 accessory 1    Kraken X3 Pump Ring
└── LED 3 accessory 1    Kraken X3 Pump Logo

liquidctl status
NZXT Kraken X3 Pump (X53, X63 or X73) (experimental)
├── L

[2020-04-27 21:15] jonasmalacofilho commented on #78
@wamphlett

Thanks.

I notice that you have an older firmware version (1.8.0).  Are you on Linux?  Can you provide the output of `lsusb -d 1e71:2007`?  If you're are on another platform all I want to see is the `bcdDevice` number/revision, which you should be able to find in the properties of the USB device.

---

@mimfgg

Thanks for testing this as well.

[2020-04-27 21:21] wamphlett commented on #78
@jonasmalacofilho Yeah Ubuntu 18.04.4 LTS.

`lsusb -d 1e71:2007` gives me `Bus 003 Device 002: ID 1e71:2007 NZXT`

[2020-04-27 21:31] jonasmalacofilho commented on #78
@wamphlett , sorry, forgot to mention the `-v` flag is necessary too.

[code]

[2020-04-27 21:33] wamphlett commented on #78
Thought thats what you might have wanted, should have done it anyway

[code]

[2020-04-27 22:37] Frick-David commented on #107
1) I think Cam Ui's is a good starting point for a GUI. I also agree on not needing the profiles.
2) What would you suggest to make the GUI with? I was torn between Qt5, and GTK, but those are both going to have a lot of dependencies. This is probably the first big decision we should agree on! I would not mind something with graphs for fan speed, pump speed, maybe even CPU or GPU usage (if those a

[2020-04-27 23:03] jonasmalacofilho commented on #107
I don't know enough about desktop GUIs to give an opinion on QT vs. GTK.

If it helps, I think QT is usually well supported on Windows, and I have the impression it's fairly common on cross-platform projects.  But I could be wrong...

---

It should already be possible to do almost everything using already existing liquidctl APIs.

What's missing are APIs for the GUI to query what each connected d

[2020-04-27 23:19] Frick-David commented on #107
That was my impression as well. Let me do some more research but my gut leans toward qt5 and its python wrapper. It has nice graphs for usage history and a good balance of easy to use features! I will ready about them now!
‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, April 27, 2020 7:03 PM, Jonas Malaco <notifications@github.com> wrote:

[2020-04-28 00:12] Frick-David commented on #107
As notes,

I would like a GUI package that allows:
1) picking colors easily
2) easy to build with whether by IDE/editor or a GUI builder itself
3) Is portable to Windows, Linux, and I would suppose MacOS as well.
4) Has graphs (however, simple) to display historical info (fan speed, pump speed, temps maybe).
    Personally, I like how ICam also displays stuff about the CPU, and GPU, but this could

[2020-04-28 00:26] jonasmalacofilho commented on #107
Great! : )

On the liquidctl-API side, here are some notes I was taking mentally (some of them for me, some for you, some for both of us).

---

For the most part the GUI should restrict itself to methods from [`liquidctl.driver.BaseDriver`](https://github.com/jonasmalacofilho/liquidctl/blob/master/liquidctl/driver/base.py).
 Anything missing should, if possible, be moved or implemented there.

A

[2020-04-28 07:08] yfuerst commented on #78
Works for me as well. I just changed the pump speed to 50%. Thanks to everyone involved.
[code]

[2020-04-28 09:20] tomaculum commented on #78
@wamphlett Thank you for your help! Are you able to boot into windows and record the communication between the pump and cam software with wireshark?

If yes, did you ever use wireshark or should I also create a step by step guide?

[2020-04-28 10:26] wamphlett commented on #78
@tomaculum no problem. I dont have Windows installed at the moment as the box is just running as a home server but I do have a spare SSD lying around so Ill put that in tonight after work and install Windows.

I've only ever used Wireshark for WAN traffic, never to record data to USB devices so any pointers would be good 👍

[2020-04-28 10:34] mimfgg commented on #78
I have windows 10 running for games that don't run on Linux, I can do it.
What do you want to see? Any specific thing I should do with Cam?

[2020-04-28 10:59] inglor commented on #78
That would be useful in general @tomaculum and maybe commit in `docs`. Personally when I did it I kinda like wing it :rofl: so I'm not sure If I did it correctly.

[2020-04-28 12:17] tomaculum commented on #78
@wamphlett
That would be really great!

@mimfgg
The part with the additional LED accessories would be the most interesting part since I cannot record this myself. But there are some other things which are worth to validate with the X53 and X63 devices.

@inglor
Great idea, maybe this is something @jonasmalacofilho could use as base to accomplish https://github.com/jonasmalacofilho/liquidctl/issues

[2020-04-28 12:18] mimfgg commented on #78
ah, sorry, I didn't get that ... I don't have the LED part :)

[2020-04-28 12:28] wamphlett commented on #78
@tomaculum Okay, leave it with me, Ill do that tonight. I actually have some of the compatible [AER RGB 2 fans](https://www.nzxt.com/products/aer-rgb-2) in a box somewhere too so I could plug those in and record whats sent to them as well if thats of interest.

Worth noting that @jonasmalacofilho also mentioned [here](https://github.com/jonasmalacofilho/liquidctl/pull/100#issuecomment-620508462) a

[2020-04-28 16:55] olielvewen commented on #76
@jonasmalacofilho
Take a look at your mail box. I've replied at our last and long mail and I've send you another mail with a big surprised. And a lot of work done and more a lot of work to do.
I hope to get you in touch quickly. I'm a bit available.

[2020-04-28 18:24] tomaculum commented on #78
# Install Wireshark

1. Download Wireshark: https://www.wireshark.org/download.html
2. Be sure to select **"install USBPcap"** in setup wizard.

#### Question:
_I don't remember if there is anything else worth mentioning?_

# Prepare CAM

1. Start / open CAM.
2. Download the attached _info.txt_ file and start filling out the first three lines: [info.txt](https://github.com/jonasmalacofilho/liquidc

[2020-04-28 19:11] Frick-David commented on #107
Good write up! very informative. does liquidctl support MacOs as well?

[2020-04-28 19:34] wamphlett commented on #78
@tomaculum `usb.capdata` is a custom column. Im set up and ready to go so once you're finished, Ill run through the operations and get them back over to you

[2020-04-28 20:17] tomaculum commented on #78
@wamphlett
Great, thanks!

I would assume that they are using the same protocol as with your led strips. Therefore it is not worth the effort I think.

There is a "automatically update firmware" checkbox in CAM settings but I don't know if it updates the firmware without asking on first start of CAM. But since he asked for it, I would not take the chance and wait until he responds.

After he respo

[2020-04-28 23:52] jonasmalacofilho commented on #107
It does, and it should also work on BSDs (though I don't think this has been tested so far).

[2020-04-29 00:03] jonasmalacofilho commented on #78
@wamphlett

Until recently at least the firmware can be updated without user consent, just by opening CAM.

I think you should wait for @tomaculum to enable the [guessed 'accessory' and 'sync' channels](https://github.com/jonasmalacofilho/liquidctl/pull/100#discussion_r415420483) before opening CAM.  It would be useful to know if we managed to get all lighting channels working well even on 1.8.0 f

[2020-04-29 00:54] jonasmalacofilho commented on #78
Can ask some of you to check which pins are populated in the female fan-style connector used to connect the pump to CPU_FAN on motherboard?  Please also let us know which model you have.

We're interested in checking whether it follows the previous generation and only has the sense and ground pins populated.

P.S. You can also post a picture of the cable right where it reaches the connector.

[2020-04-29 13:47] olielvewen commented on #107
@jonasmalacofilho

Indeed. It is a great idea and for making a GUI which can integrated all features from liquidCtl, it is necessary. Even what you are explained is a good start (probably based on NZXQT). A lot of work again to make in the futur Jonas. ^ - ^

Yes you have reason. QT is multi-plateform i.e Linux, MAcOs, Windows..

[2020-04-29 14:49] olielvewen commented on #107
@Frick-David

A lot of things to said.

PyQt5 is a good choice. However, they are several things that you must know before driving into this hard and long task. It will ask you a lot of stuff and time. And liquidctl is always straight on forward and had a big development.

You must get a precise idea about what you would like to get like application and thing at all features that you want to imple

[2020-04-30 20:40] iH8c0ff33 commented on #78
Hi @jonasmalacofilho,
I have a Kraken X73 and it has a 3 pin connector (i.e. no PWM control), only speed reporting and the middle 12V power pin is not populated.
By the way, I also have an X63 but I haven't installed it yet (still in the box), should I check also the connector on that one?

[2020-04-30 21:31] wamphlett commented on #78
@tomaculum / @jonasmalacofilho sorry, its taken me slightly longer to get this done. So long story short, I dont have a GPU in the box with the X53 so I ended up connecting it to my other computer - when I did, CAM was open and updated the firmware before I had a chance to stop it so unfortunately, I dont have `1.8.0` anymore!

In better news, I have got all the recordings you need, you can [downl

[2020-05-01 01:18] jonasmalacofilho commented on #78
@iH8c0ff33 Thanks!  And it would be great if you could also check the X63.  We don't expect any differences, but it's good to check these things.

@wamphlett Thanks for all the data!

[2020-05-01 01:22] Frick-David commented on #107
Yeah, lots of good pointers there. Let us start to make a specification.

-- A config/settings modules
    -- json, .ini, or other for settings
    -- configparser --> config.py is another good move
-- Module for the GUI program itself -- Right now I will say pyqt5
    -- that comes with a pyQT graphs module that looks pretty good to me.
    -- We will want to draw out each page of how it should l

[2020-05-01 01:37] bengl3rt opened #110 "My NZXT RGB & Fan Controller device ID doesn't match the source code"
It looks like the source code expects:

(0x1e71, 0x2006, None, 'NZXT Smart Device V2 (experimental)'

However, I just connected the device and it shows up in lsusb on Linux as:

root@Echoplex:/tmp/liquidctl# lsusb | egrep NZXT
Bus 003 Device 002: ID 1e71:2009 NZXT NZXT USB Device

Everything else seems to work if I update the code accordingly.

[2020-05-01 01:37] jonasmalacofilho commented on #107
I can only think of a few things:

 - dependencies and installation
    + PyQt5 alone seems fine on Window, not sure on mac
    + will also need to check any extra PyQt5 and/or Qt modules
 - system tray/indicator: Windows vs. different flavors of Linux desktops vs. mac
 - permission issues, need for privilege elevation
    + in particular, it seems that some GNOME setups can't run GUIs as root

[2020-05-01 04:06] #110 closed

[2020-05-01 04:08] jonasmalacofilho commented on #110
Apparently NZXT's Ivan [misunderstood](https://www.reddit.com/r/NZXT/comments/erxk6v/introducing_the_new_rgb_fan_controller_from_nzxt/ff6odij) me back in January when I asket about whether the USB product ID would be kept the same.

Fixed in 'master'.  Thanks!

[2020-05-01 07:31] iH8c0ff33 commented on #78
@jonasmalacofilho
I just checked the x63 and it only has, as the x73, the ground and speed sense pin.

[2020-05-01 07:31] jonasmalacofilho commented on #78
@iH8c0ff33 Thanks again!

[2020-05-01 07:49] tomaculum commented on #78
@wamphlett Thank you very much! I will start to analyse those files today.

@jonasmalacofilho In the screenshot above there are 20 LEDs in channel 1 available. If I remember correctly there are 40 leds for the `super-*` modes in the source files of the smart device. Is there any way that there are more than 20 leds connected to the kraken device?

[2020-05-01 08:01] jonasmalacofilho commented on #78
That figure – 40 LEDs – is the maximum number of LEDs supported by a HUE 2 (or Hue+) channel.

In theory that should still apply to the Kraken's HUE 2 header.

---

Can't remember if you implemented the "super-*" modes, and I'm on my phone now, so not easy to check... they should probably still exist, even on the ring and logo channels.

"super-*" is just the name I used for the modes where we hav

[2020-05-01 08:23] tomaculum commented on #78
Ok makes sense! I implemented all modes including the super modes. But I used 8 as a maximum of colors since the ring has 8 LEDs. With the additional accessories and the potential sync mode I will set it to 40 instead of 29 (20 strip + 8 ring + 1 logo)?

Ok, already changed!

@wamphlett
Did you record the startup process in row 1 of the table above?

[2020-05-01 08:27] wamphlett commented on #78
@tomaculum I thought I did but I cant see it in the files. I'll have a look for it and if not, I'll do it again and add it for you.

I forgot to also mention, there is no recording for `logo_super-fixed*_red` as the option wasn't available for me.

[2020-05-01 08:47] tomaculum commented on #78
Differences I noticed so far:

For readability reasons I refer to my device recordings with **A** and to the recordings with accessories as **B**.

#### Status response:
**A:** `7502180040000c5741543336342001160653073c3c000[..]`
**B:** `750232004d000c574155303936200119064d073c3c000[..]`

[2020-05-01 09:09] olielvewen commented on #107
@jonasmalacofilho

Mac and even BSD QT/PyQt5 is multiplatform language

Not necessary In all cases it will depends what do you want to implement. But a check is necessary. You have a lot of/some extra modules/classes in Qt. For sample the QVideoWidget of the module qt5.multimedia, Qcharts of the module qt5.charts, QtWebEngineWidgets from the qt5.webenginexxx, qt5.serialbus, qt5.serialport, qt5.con

[2020-05-01 10:05] olielvewen commented on #107
@Frick-David

My choice could be different from yours. For sample you would like to make an application/GUI for macs, and Windows, not me. But the code can be modified slithy for this platform. The difference are not too important to my mind. And the other problem is to test them on theses. I'm just a Linux user :smile:

However, I 'm going to share with you what I Would like to use.

QSettings mo

[2020-05-01 11:05] jonasmalacofilho commented on #78
@tomaculum

Set it to 40, as it's the maximum number of possible LEDs per channel.  Since the channels are (or at least seem to be) synced with the use of a bit mask, we don't need to sum the maximums of each channel (otherwise we would need 49).

Lots of differences, but that's to be expected when we have lots of non-zero bytes before the fields we know/care about it.  There's really probably som

[2020-05-01 12:09] jonasmalacofilho commented on #107
@olielvewen

It's a bit more than that.  Ideally it shouldn't be a pain to build, which unfortunately is the case with some software.

But PyQt5 (by itself, not sure about any sister libraries) already has Windows covered with binary wheels, and that's usually the worse platform when it comes to building (cross-platform) software.

I meant any extra PyQt5/Qt modules _that are used._  I obviously a

[2020-05-01 12:43] tomaculum commented on #78
I should have added a WIP comment somewhere since I am not done yet (;

No, those values are static and just the pump speed does change.

Ok! I will add a comment where you first mentioned the bit mask since I did not understand this fully. And I added a new comment regarding a static led value which could be a bit complicated to solve.

[2020-05-01 12:58] olielvewen commented on #107
@jonasmalacofilho

I will see that when the time will be coming for that. And that's not for tomorrow. :smile_cat:

Indeed.

Not sure to understand what exactly you are saying about Gnome3 and appindicator which is full of problems. But I have already done this winter with several small programs with QSystemTray class and derivate (for testing this feature) and that's work fine at least on Cinnamo

[2020-05-01 15:28] tomaculum commented on #78
@jonasmalacofilho
I updated the post above.

@wamphlett

Yes makes sense (; If there is only one LED, why should you need to set the LEDs individually.

Did you install liquidctrl in your linux environment already? Besides the missing setup file it would be interesting to know, if you can set the marquee or starry night modes even tough they were kind of different in your recordings. But before yo

[2020-05-01 20:19] wamphlett commented on #78
@tomaculum already installed on linux and they both work as exepted.

I have added a V2 directory to the [dropbox folder](https://www.dropbox.com/sh/qu232v5qt1v9ojv/AADzVkBVeJDq3Ppp-sz6at4Ga?dl=0) - in there is the startup file and I also did the marquee and starry night files again just incase I made a mistake the first time round 👍

[2020-05-02 06:14] dunnmj opened #111 "Asetek 690LC variant with IDs 2433:b111"
I have a cooler that reports as a Asetek 690LC, but accorind to lsusb it has a different product ID to any that were expected in the driver files. My cooler closely resembles an NZXT Kraken X31.
I've attached the output of lsusb and the debug output of liquidctl as well.

Appears as idVendor: 0x2433, but has idProduct: 0xb111.

Is this just perhaps a non supported unknown cooler?

Thanks

[Asetek_

[2020-05-02 07:39] jonasmalacofilho commented on #111
I'm not familiar with that product ID.  Under which branch/product names is it marketed?  And, if you know, when was this model introduced?

[2020-05-02 08:25] tomaculum commented on #78
@wamphlett thank you again!

Startup differences:

For some reason some of the requests are made 2x.

request firmware info - same
request lightning info - same
response firmware info - somehow there are two different responses to exactly the same request:
**A:**
[code]
**B:**
[code]

initialize 1: same

initialize 2: same

unknown response 1:

**A:**
[code]

**B:**
[code]

led info response:
**A:

[2020-05-02 08:32] jonasmalacofilho commented on #111
Update: it seems that's a variant that predates the X31.  One product based on it was the _original_ Antec Kuhler 920.  There's an old project on Sourceforge that supports this device: [kuhlerdriver](https://sourceforge.net/p/kuhlerdriver/code/ci/master/tree/common/inc/kuhler_920.h).

There seem are a lot of some similarities with a Kraken X31, but two notable differences are:

 - pump control is

[2020-05-02 08:59] jonasmalacofilho commented on #107
QSystemTrayIcon can indeed work (very well) on GNOME 3, but as I suspected it requires an indicator extension like [KStatusNotifierItem/AppIndicator Support](https://github.com/ubuntu/gnome-shell-extension-appindicator).

Which is fine by me, just something to keep in mind for when documenting dependencies.

Here's my test script:

[code]

[Screenshot: KStatusNotifierItem/AppIndicator Support _ena

[2020-05-02 09:46] olielvewen commented on #107
I was believing that libappindicator was only necessary for PyGTK3 application but not necessary for PyQt5 app. Anyway some test will be necessary for sample on the last Ubuntu.

QSystrayIcon is in the class  Qt.Widgets which the main class for designing a GUI. But yes, they will must well documented.

Indeed.

Here 's my test script:

[code]
[InTheTray](http://pix.toile-libre.org/upload/original/

[2020-05-02 16:42] sudo-linux opened #112 "running at boot don't work: Failed with result 'exit-code'"
Installation works fine. Using works fine, enable and start liquidcfg in systemctl too.
But when i restart the runnig at boot don't work.:
`ExecStart?/usr/bin/liquidcfg --match kraken set pump speed 70 (code=exited, status=1/FAILURE)`

if i do `systemctl start liquidcfg` then it works, until restart.

Pls help me, i like your progamm very much.

[2020-05-03 07:11] jonasmalacofilho commented on #112
It would help to see the error message, but if you mixed up `liquidctl` with `liquidcfg` this would already explain the failure.

Additionally, there's a `?` where a `=` should be (but this could have happened when you pasted the line here).

See if this helps:

[code]

[2020-05-03 09:59] sudo-linux commented on #112
Thank you for your answer. :)

The ? is from pasting ^^

the mixing from ctl with cfg was a typing error form me^^

i have tested your suggestion but it dosnt work :/

my failure code is:
`[manjaro@manjaro-ms7b79 ~]$ systemctl status liquidcfg
● liquidcfg.service - AIO startup service
     Loaded: loaded (/etc/systemd/system/liquidcfg.service; enabled; vendor preset: disabled)
     Active: failed

[2020-05-04 04:34] dunnmj commented on #111
Thanks for the additional info.
It is indeed an old cooler. The one I'm using is actually an AMD branded one that came included with special editions of the FX8150 cpu.

If I get round to ever figuring out how it works in detail, I'll submit a new driver one day.

[2020-05-04 16:08] Frick-David commented on #107
@jonasmalacofilho  so pyqt5 can be built for macOS using homebrew.
See: [stack overflow link](https://stackoverflow.com/questions/34583811/how-can-i-install-pyqt5-on-mac)

[2020-05-04 18:57] Frick-David commented on #107
@olielvewen that code does not seem to have a tray on my linux distro or windows 10. it just hangs, more or less.

[2020-05-04 23:48] jonasmalacofilho commented on #107
@Frick-David

I can test on GNOME (GTK-based) and Windows.  We also have important contributors like @CaseySJ  that can (with our assistance) package to and test on macOS.

---

How about my test script ([previous comment](https://github.com/jonasmalacofilho/liquidctl/issues/107#issuecomment-622907937)), does it work on KDE (without additional dependencies) and Windows?

[2020-05-04 23:54] jonasmalacofilho commented on #111
Great, let me know if you need some help.  By the way, working at this level is very fun and informative, so it could be a nice side project.

---

In the mean time, since you don't have a plan to work on this in the new feature, I'll close the issue.  Given the low availability of the device, I'm not going to actively look into supporting it.  Though, again, pull requests are welcome, and I'll as

[2020-05-04 23:54] #111 closed

[2020-05-05 00:01] jonasmalacofilho commented on #112
Since the service still works if manually started later, it seems like the hardware is just not ready when tries to start automatically.

I had different but related issues in the past (in my case the hardware had already been discovered, but needed a bit more time to actually take any commands).  So far I solved bluntly by adding a delay.

However, it should be possible to make the service aware

[2020-05-05 00:03] jonasmalacofilho commented on #112
Possibly useful discussion: [systemd: How to wait for a device before starting a service](https://lists.fedoraproject.org/pipermail/devel/2012-January/160917.html).

[2020-05-05 02:23] Frick-David commented on #107
@jonasmalacofilho I do get the System tray available true: here is an image of my task bar?
[picture](https://postimg.cc/phGBKP9h)

I will test this in void linux first thing tomorrow.

[2020-05-05 02:30] jonasmalacofilho commented on #107
The system tray are is cropped out of that screenshot.  Isn't there an icon there?

By the way, the lack of a special icon might cause issues on Windows; on GNOME it simply defaults to an `...`.

[2020-05-05 16:47] Frick-David commented on #107
@jonasmalacofilho I would assume that is the issue as I did not see one in my tray. Let me try it with an icon.

[2020-05-06 16:57] imikejackson commented on #72
Just came upon this thread but another idea would be to use Intel's PowerGadget framework that gets installed when Intel Power Gadget is installed. It gives you native access to CPU temperatures through a C++ API call (which is trivial to wrap with Python). Just another thought.

[2020-05-07 14:48] sudo-linux commented on #112
Thank you so much! with the wait for device before starting it works! a bit slow but it works
my system needs around 30 secs to start. At this point i can start the liquidcfg manually but until the wait for device service find it it nees around 90 secs more. But thats no problem

i only added the following lines in the liquidcfg:

Wants=kraken.device
After=kraken.device

Wants=smart.device
After=s

[2020-05-07 16:59] jonasmalacofilho commented on #112
Where are you defining the device names? udev rules?

[2020-05-07 17:13] sudo-linux commented on #112
nowhere. i just puted these four lines in the liquicfg and it works.
my idea was, the liquidcfg works with --match kraken and --match smart so this could work
and it works :)

[2020-05-07 23:32] Frick-David commented on #107
@jonasmalacofilho, can we make a sort of roadmap for features up until version 1.0?

[2020-05-09 12:18] jonasmalacofilho commented on #112
and it works :)

That's just a coincidence then.

In fact, on the OS level, both devices are just known as `NZXT USB Device`.  So I would be very surprised to see them in `systemctl list-units`... though maybe you should check that just in case.

Perhaps the additional wants/after dependencies are indirectly adding a very long timeout, since the targets don't exist?

Another thing is that 30 secon

[2020-05-09 15:56] olielvewen commented on #107
@jonasmalacofilho  @Frick-David

Sorry for the delay. As you can imagine, I have been pretty busy at home all week. After I'm always busy, I just need to find some free time ...... on my free time to be able to do IT.

With the attached screenshot, it also works on Deepin. From memory, it also works on KDE. Unfortunately, My KDE netrunner did not appreciate the last update 2 months ago and despite

[2020-05-09 20:22] jonasmalacofilho commented on #107
@Frick-David

Sure, I can help with that.  But as you/@olielvewen will be the main developers behind this effort, I would like to hear from you first: what do you think should be in a liquidctl GUI v1.0.0?

---

By the way, I think we should clarify our roles here.

Let me start with myself: at this time, I'm _not_ planning to be heavily involved in the GUI development.  I'm not a GUI guy, and exp

[2020-05-09 20:39] jonasmalacofilho commented on #107
@olielvewen pointed out a few things and I think I may be able to help by breaking them down into more manageable chunks:

---

It is, but there are only a few _types_ of functionality (so far):

 - device initialization and configuration
 - displaying time-independent (e.g. connected accessories in a Smart Device V2) and time-dependent (e.g. coolant temperature in an AIO) status information
 - se

[2020-05-10 23:24] augustopaulogh commented on #107
Hi guys, great initiative & discussion.

Sorry I've come late to the party, but please count me in for testing in MacOs & Windows!

[2020-05-11 15:37] sudo-linux commented on #112
yes i have checked it and they are not to see in systemctl list-units

the whole thing is a bit mysterious
with liquidctl list i can always see both devices (kraken and smart)
with liquidctl status it needs a sudo and shows me always only the kraken status

you can boot up your whole system in 1 sec?
My kraken is the x62 and i got the smart device v2

i dont know why its not working 100 % fine but

[2020-05-11 15:50] jonasmalacofilho commented on #112
Hi again,

Unless you're using udev rules to change ownership of the underlying devices, liquidctl will need `sudo`/root when reading from or writing to devices.  Plain `liquidctl list` doesn't because it only reports information the OS already has available.

But the fact that only one device is shown in `liquidct status` is indeed mysterious.  Do you get any error message or warning mixed in wit

[2020-05-11 16:09] sudo-linux commented on #112
yes its mysterious because manualy i can start the liquidcfg 1sec after bootup
for any reason it needs around 90 sec to autodetect.

for sudo liquidctl list --debut
i get this:

`[DEBUG] liquidctl.cli: running liquidctl v1.3.3 (Manjaro Linux; liquidctl-git 1.3.3.r66.4c9cda5-1)
[DEBUG] liquidctl.driver.usb: searching GenericHidBus (api=hid, drivers=[CommonSmartDeviceDriver, CorsairHidPsuDriver, Kra

[2020-05-11 23:52] Frick-David commented on #107
@jonasmalacofilho are there plans to cover RGB peripherals as well?

So for 1.0, I would like to see the GUI be able to:
-- Control all RGB devices that liquidctl can
-- Change fan and pump speed as well
-- Have a decent icon for the app
-- Have the system tray all set up
-- Have a setting save (probably to json) and save across runs
-- Maybe run at startup (maybe minimized as well) if possible.

[2020-05-12 12:07] jonasmalacofilho commented on #112
It should timeout after 2 seconds.  I think the problem is that you haven't `initialize` 'd the Smart Device, which is necessary for it to respond to other USB messages.

You can simply run `liquidctl initialize all` before reading/writing to any device.  This could be part of your boot-time configuration script/service.

[2020-05-12 12:25] jonasmalacofilho commented on #107
@Frick-David

I'm not personally looking into supporting mice or keyboards, RGB or otherwise.  But I also wouldn't _necessarily_ be against patches that added these.

This implies the GUI would already have monitoring and/or dynamic fan/pump/RGB control?

[2020-05-13 00:01] scotlandpeters commented on #112
I encountered this same issue, and resolved it using the method posted above by @jonasmalacofilho (https://lists.fedoraproject.org/pipermail/devel/2012-January/160917.html)

To solve:
1) Create a .rules file at /etc/udev/rules.d/ containing:
`SUBSYSTEM=="usb", ATTRS{idProduct}=="1714", ATTRS{idVendor}=="1e71", TAG+="systemd"`
You may need to change the idProduct to your particular NZXT product. To

[2020-05-13 16:26] sudo-linux commented on #112
@scotlandpeters  thank you for your help. i have tried it and it works but with the same 90 sec. delay like

[code]
@jonasmalacofilho after `liquidctl initialize all` the `liquidctl status` works fine now
so i think with this in start up it could work but where in the liquidcfg i have to put this command?

[2020-05-13 16:43] olielvewen commented on #107
@jonasmalacofilho

Let me start with myself: at this time, I'm not planning to be heavily involved in the GUI development. I'm not a GUI guy, and expect my contributions to mostly be on the design and initial implementation of the missing backend APIs.¹

If it is an 1.0.0. version all who has been implanted in liquidctl until now.

Indeed.

@Frick-David

-- Control all RGB devices that liquidctl c

[2020-05-13 19:22] jonasmalacofilho commented on #112
@scotlandpeters, @sudo-linux

I tried that before but only got much worse device unit names.

[code]

Besides that, these names (mine and yours) contain the device address in the bus, which is not guaranteed to be stable across reboots, or even device rebinding.  A final (potential) problem is that we should probably wait for the hidraw device, not just the parent usb one.

I tried `SYNLINK`-ing a

[2020-05-13 19:24] jonasmalacofilho commented on #112
so i think with this in start up it could work but where in the liquidcfg i have to put this command?

Before any other liquidctl commands in that service/script.  Some devices may also require a small delay after being initialized, but I don't think that's the case with the Smart Device V2 (at least it isn't with the V1).

[2020-05-13 19:34] jonasmalacofilho commented on #107
Ok, so it seems you'll take different paths, at least in the beginning.

That's fine by me and, honestly, I think it's a perfectly reasonable way to approach something like this.

---

That said, if the projects are separate and move at different paces, then it doesn't make sense to discuss everything in one place.  Let's move future comments to each project's respective repository.

[2020-05-13 19:34] #107 closed

[2020-05-13 21:45] scotlandpeters commented on #112
@jonasmalacofilho Yep, just finished testing using what you recommended with the Symlink, and that seems like the more solid route in regards to the device address potentially changing. Good stuff!
Love the project, btw, very useful!

[2020-05-17 20:02] jonasmalacofilho commented on #78
@tomaculum I tried a few times, but just by looking at these differences I can't spot any useful pattern.

What I can tell you is that you can mostly ignore differences in responses, unless you really expect (or want) something from them.  In fact, with HUE 2 devices these could come in out-of-order...

I think that right now we should focus on cleaning up the code.  I owe you a few replies alread

[2020-05-18 08:55] makk50 commented on #76
Hello, thanks for your impressive work. I have this model and I would love to be able to control it from my linux pc, i'm not a developer but I would be more than happy to help you with terst or anything you may ask for

[2020-05-18 17:38] sudo-linux commented on #112
I dont know but all the thinks dont work for me. it needs around 90 secs. to start after bootup but thats okay iam happy with it and that this tool exists. because i have to thank you :) and iam happy :)

[2020-05-18 20:38] jonasmalacofilho commented on #112
@sudo-linux

This excessive delay must be caused by a hardware problem then.  Are you by any chance using a USB hub?

Can you also send me a kernel log from boot until after your NZXT devices are recognized?  To get kernel logs you can use `journalctl -k`.

---

I'm reopening the issue because I want to mention the udev/systemd stuff in the documentation.

[2020-05-21 01:23] soup6020 commented on #78
This appears to work fine on my Kraken X73 after brief testing

[2020-05-21 04:34] sgtsixpack opened #113 "Trying to set fan speed to 100 @ 29'c doesn't work"
@echo
liquidctl initialize all
liquidctl --version
TIMEOUT 2
liquidctl -m Kraken set fan speed 25 55  26 60  27 66  28 83  29 100
liquidctl -m Kraken set pump speed 25 60  26 75  27 90  28 100  29 100
liquidctl -m Kraken set ring color fading FF2608 0B03FF F35B10 --speed faster
liquidctl -m Kraken set logo color fading F35B10 0B03FF FF2608 --speed fastest
liquidctl status
TIMEOUT 30

The above is

[2020-05-21 05:32] jonasmalacofilho commented on #113
This is a limitation in liquidctl that's being relaxed in the next release.

Without oficial documentation on the protocol, liquidctl initially (and up to version 1.3.3)  used the same number of steps as CAM (21 steps), just in a more useful range (20°C to 60°C instead of CAM's 0°C to 100°C).  Having only 21 steps to work with resulted in 2°C increment, but this was still an improvement over CAM's

[2020-05-21 05:32] #113 closed

[2020-05-21 05:33] jonasmalacofilho commented on #113
Related: 5dce858d231ccbb2ad15585973f6702adfc9922d ("Increase resolution of kraken_two fan and pump profiles").

[2020-05-21 10:17] sgtsixpack commented on #113
Thx for the info, I'll wait till 1.4 is out.  30'c worked to set temp.

[2020-05-21 16:23] gazhay opened #114 "No devices matches available drivers and selection criteria"
After upgrade to Ubuntu 20.04, liquidctl no longer works.

**lsusb**
[code]

<details><summary>lsusb -d 1e71: -v</summary>

[code]
</details>

**udev**
[code]
**liquidctl **
[code]
[code]

[2020-05-21 18:37] jonasmalacofilho commented on #114
I can see a few things out of place.

First, the fact that you verbose lsusb output contains the HID report descriptors tells me that the USB `usbhid` driver isn't bound to those device, which it should.

If you haven't intentionally unbound that driver, check other libusb-based software that's either simultaneously running or that (arguably) misbehaves and fails to rebind the kernel driver on exi

[2020-05-21 19:06] jonasmalacofilho commented on #113
Note that **the device doesn't interpolate between points,** so your speed will really only change in response to complete "increments" in liquid temperature.

[code]

As shown above, you can pass `--verbose` to see the "raw" profile points being sent to the cooler [after normalization and optimization](https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/nzxt-kraken-x-3rd-generation.md#

[2020-05-21 23:09] gazhay commented on #114
The udev rule came from this github, as liquidctl wasn't working after the upgrade, but had worked out-of-the-box before that.

The USB Ids database is Ubuntu upstream, I haven't modded it.

The device is detected by OpenRGB for use with the rgb element of the smart hub (1e71:2006) so the device is working fine, adn the upgrade didn't affect that.

a diff against the master at linux-usb.org shows

[2020-05-22 00:18] jonasmalacofilho commented on #114
OpenRGB uses libusb and, from a quick grep on the code, doesn't consistently reattach the kernel driver.  This could be leading to devices being left permanently bound to the libusb driver.

OpenRGB also has started to merge in support for Krakens, and it's possible that even if you're not using that functionality, it's detaching the kernel driver for that device as well.

Assuming these are indee

[2020-05-22 00:43] jonasmalacofilho commented on #114
Can you show me the complete output of `lsusb` (i.e. including all other devices)?

[2020-05-22 13:48] gazhay commented on #114
You are correct about OpenRGB messing with the drivers.

OpenRGB does seem to be planning on migrating at some point. You can restore usb hid functionality with
[code]
And then liquidctl seems to work.

**lsusb**
[code]

[2020-05-22 14:28] gazhay commented on #114
That said, it still cannot see my fans

[code]

[2020-05-22 21:33] msigut commented on #78
How can I help? macOS Catalina + Kraken X73 ...

[2020-05-23 02:59] jonasmalacofilho commented on #114
What would be the expected output with your fans?

_(also, why did you delete the comment?)_

---

[code]

It's clear that your NZXT devices are being shown with incorrect product strings.

I checked the [lsusb source code](https://github.com/gregkh/usbutils) and couldn't find anything obviously wrong there.  So I'm guessing there's a problem in that hub (the _real_ ITE 8595 device) that's causing

[2020-05-23 09:59] gazhay commented on #114
The kernel reports this - which was what lsusb did pre-20.04 update.
[code]
I'm not going to be reinstalling the OS on this machine to debug why RGB/Fans are a bit quirky. The

[code]
work around is enough for me to be able to work both to my satisfaction. Thanks for your help.

[2020-05-23 09:59] #114 closed

[2020-05-24 09:46] jabra98 opened #115 "Debian Initialize error"
Hi, I'm running Debian and I just installed the program, using the manual instructions and installing all listed dependencies. Pip installed it successfully but when running `liquidctl -g initialize all` I'm getting this error:
[code]
How can I fix that?

[2020-05-24 13:08] jonasmalacofilho commented on #115
By default access to USB devices on Linux is restricted to the root user.

You can change that in your system by granting your user and/or group access to the desired hidraw device with an udev rule.  Here's one example: [#112 (comment)](https://github.com/jonasmalacofilho/liquidctl/issues/112#issuecomment-628195749).

[2020-05-25 10:34] jabra98 commented on #115
thanks, works now

[2020-05-25 10:34] #115 closed

[2020-05-25 10:51] inglor commented on #79
Hi @jonasmalacofilho,

I tried  @tomaculum's `3232347` commit against my `Z63` and doesn't detect something even though it's searching for it (looking at the USB device ID). I'm not sure if I need to modify the code to expect something though..
[code]

Yeah I assume they upgrade it to add more support for the LCD screen.

[2020-05-25 22:58] jonasmalacofilho commented on #79
@inglor

I just branched off a Z driver from the in-progress X one.

Can you try [`fourth-generation-krakens`](https://github.com/jonasmalacofilho/liquidctl/commits/fourth-generation-krakens) @ 9c96a1dc4657fa6734cf6de7e64176bfe4185687?

---

[code]

This is unrelated to liquidctl, but it's now the [second time](https://github.com/jonasmalacofilho/liquidctl/issues/114#issuecomment-632975480) a see

[2020-05-26 07:26] inglor commented on #79
I think I might have an answer for that. The Kraken Z series have an incompatibility list published recently from NZXT (see [support post]) with some motherboards and unfortunately mine is listed these. The "official" workaround is to get an internal USB hub for the motherboard. I think that's why it's appearing as this. Personally if I was given an option to RMA I'd choose it and maybe even go ba

[2020-05-26 07:57] jonasmalacofilho commented on #79
A non-compliant device and/or root hub (not sure what's causing the incompatibility) could explain what _triggers_ the issue, but I still think this is showing that there's a buffer reuse bug in udev (or in lsusb and I missed that).

Can you let me know what versions of libudev, systemd and lsusb you have?  I would like to take a second look at this once I have some free time.

---

Were you runni

[2020-05-26 08:35] inglor commented on #79
Sure, it's Archlinux so I think the relevant packages are the ones in [here](http://ix.io/2nmV)

I've made this udev rule, I think they are OK with the `MODE=0666` not sure abour the `SYMLINK` or `TAG`, probably need to read a bit more about udev rules :confused:
[code]

Now the latest commit fails to construct the class as it misses some arguments
[code]

[2020-05-26 09:15] jonasmalacofilho commented on #79
This one seems fine.  But you should also restart the system, because getting the permissions to change is not super trivial: IIRC you need to unbind rebind the USB device, after reloading the rules with `udevadm control --reload` (`udevadm trigger` doesn't refresh permissions).

Now on this one the USB product ID doesn't match the apparently targeted device.

Oh, I had made yet another mistake.

[2020-05-26 09:35] inglor commented on #79
OK, restart on the way :+1:

Isn't it the same vendor:product as above? What's different ?

That's better with `list` and `initialize` finishing successfully and no errors, but status stuck..
[code]

[2020-05-26 10:45] jonasmalacofilho commented on #79
Stuck as in hangs indefinitely?  That's weird.  No timeout, not even after a while (for example: 5 seconds)?

Maybe I messed something up when making some changes to Tom's code.  Or maybe there's a subtle but relevant difference in how `status` works on Z coolers.  I'll take a look at this...

[2020-05-26 10:53] inglor commented on #79
Yeah just stuck, I extracted a thread dump if it's useful with `# kill -SIGABRT <PID>`:
[code]

[2020-05-26 18:52] jonasmalacofilho commented on #79
@inglor

That does help a bit.  It seems that the device has not been fully initialized, so it isn't automatically sending status reports.  And in line 221 we clear any already enqueued reports (to avoid stale data), so `read` will block forever as there are no more messages.

I'll need to study the captures in more detail...

[2020-05-27 22:30] jonasmalacofilho opened #116 "Provide a consistent set of udev rules"
Lack of root privileges and/or inconsistent udev rules are a common problem.

Provide (and maintain) a consistent set of udev rules that users and distros can refer to.

[2020-05-27 22:35] jonasmalacofilho commented on #116
Inspired by @Myrddin-Wyllt 's [suggestion](https://gitlab.com/CalcProgrammer1/OpenRGB/-/issues/286) on OpenRGB, which includes a solution on how to generically grant unprivileged users device access.

[2020-05-27 23:39] #116 closed

[2020-05-28 12:57] tanc opened #117 "NZXT X62 not found"
I've just set up a new machine using an X62 for the first time and am trying to control it in Linux (Manjaro 20.0.1 Kernel 5.6.12). When I run `sudo liquidctl list` the output is:

[code]
I'm expecting to see the X62 listed as the second device.

The output of `sudo liquidctl list --debug`:

[code]

Let me know if there is anything else I can supply to help debug.

[2020-05-28 21:45] jonasmalacofilho commented on #117
The likely cause for this is that the `usbhid` kernel driver has been unbound from the device, usually by another software, specifically one using libusb (or libhidraw-libusb).

Using libusb no Linux requires detaching the kernel driver, at least temporarily.  But not all software reattaches it later on.

You can use lsusb with `-tv` to see the USB driver attached to a particular device:

[code]

[2020-05-29 02:18] jonasmalacofilho commented on #117
Actually, you have a X63, not a X62:

We're still finalizing the driver for the X63.  At this time the most up-to-date code with support for it is in my [`fourth-generation-krakens`](https://github.com/jonasmalacofilho/liquidctl/tree/fourth-generation-krakens) branch.

[2020-05-29 02:18] #117 closed

[2020-05-29 08:10] tanc commented on #117
Oh that's embarrassing! I'll test the branch and see how that goes. Thank you for your time.

[2020-05-29 11:50] jonasmalacofilho commented on #117
Don't worry about it.

Please report any issues you find, just make sure to clearly state the specific commit that matches the code you're running.

[2020-05-29 14:07] #78 closed

[2020-05-29 14:15] jonasmalacofilho commented on #78
Since the current issue and PR threads were getting super long, and since the driver already is at the very least usable, I merged it into the master branch.

As usual, please test and report any problems (in new/specific issues).

Thank you all for testing, and thank you (again) @tomaculum for almost all of the work!

[2020-05-30 06:17] mburgholte opened #118 "Kraken X53, X63 and X73 with Grid+ V3 Fan profile"
First of all, thank you very much for your work. It works very well on my system.
Right now I have a question. Is it possible to enter a profile for my fans on a Grid+ controller depending on the fluid temperature?

For example:
`liquidctl --product 0x1711 set fan1 speed 20 30 30 50 34 80 40 90 50 100`

Another not so important thing, I know this project is called liquidctl. What if RGB could also

[2020-05-30 07:26] jonasmalacofilho commented on #118
Hi @mburgholte,

At the moment it isn't possible to control Grid+ fans based on the coolant temperature of a Kraken.  More generally, liquidctl currently only exposes the features that are available at the firmware level and that thus can work without software interaction (that is, after being configured... and until the device resets).

What I call software-based cooling profiles is something I s

[2020-05-30 22:19] PrincessAkira opened #119 "Kraken X53 Acess Violation"
Its set up correctly but doesnt want to be used for me (X53)
CAM doesnt even shows it as device anymore, but status command works and shows correct values
[code]

[2020-05-31 02:32] jonasmalacofilho commented on #119
The `access violation` error reminds me of pyusb/pyusb#203, a harmless error in PyUSB when calling the finalizers (i.e. exiting the program).

But I'll need the output with `--debug` to be sure.

---

Further, "CAM doesnt even shows it as device anymore" suggests that you have replaced the stock driver with Zadig.  This is not required, nor recommended, for this device.

[2020-06-01 04:17] #118 closed

[2020-06-01 04:58] mburgholte commented on #118
Hi @jonasmalacofilho,
thanks a lot for your explanation. Regarding the Grid+ fans, I am thinking of some kind of helper script. This script uses liquidctl to read the current temperature and then changes the grid+ fan setpoints. It might not be nice, but this is how you could control the fans.

I'll have a look at OpenRGB.

[2020-06-01 05:13] jonasmalacofilho commented on #118
That's a perfectly acceptable solution.  In fact, you can start with [`extra/yoda`](https://github.com/jonasmalacofilho/liquidctl/blob/master/extra/yoda) (or the older `extra/krakentwo-poc`).  And please let me know if you come up with a good solution.

Trying to come up with a simple yet general and robust interface to set up profiles depending on sensors from other liquidctl devices is where I s

[2020-06-01 05:20] kaaycraay opened #120 "X73 RGB Not working"
I have tried switching the usb around. I have tried deleted the device and restarting. Please help!!

[2020-06-01 06:00] mburgholte commented on #118
I'll have a look and try something..

[2020-06-01 08:20] jonasmalacofilho commented on #120
Please clarify what you mean by "not working", what you are trying to do, which version of liquidctl you are using, and on which operating system you are.

[2020-06-01 12:01] #119 closed

[2020-06-01 12:39] kaaycraay commented on #120
I plugged up everything for the AIO. I downloaded cam software. In CAM it see that i’m using a kraken X. However, when i’m trying to adjust the rgb lights it does not power on. I tried different connections of usb wires.

[2020-06-01 12:39] kaaycraay commented on #120
I am currently using x64 NZXT Kraken X73

[2020-06-01 12:51] jonasmalacofilho commented on #120
I'm sorry, you're using CAM, not liquidctl?

Why are you posting here then?

[2020-06-01 13:10] kaaycraay commented on #120
Sorry, did not noticed. Is liquidctl a software you can use to control kraken x73? Change RGB?

Sent from Yahoo Mail for iPhone

On Monday, June 1, 2020, 7:51 AM, Jonas Malaco <notifications@github.com> wrote:

I'm sorry, you're using CAM, not liquidctl?

Why are you posting here then?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or un

[2020-06-01 13:29] jonasmalacofilho commented on #120
An experimental driver for it was just merged this weekend, after almost two months of development.

---

But what you describe could suggest (among other things) a hardware problem: CAM recognizes the device but isn't able to control it.

I recommend you get that sorted first (by reaching out to NZXT) before trying out liquidctl.

[2020-06-01 13:29] #120 closed

[2020-06-01 13:36] kaaycraay commented on #120
Thank you for the information! 

Sent from Yahoo Mail for iPhone

On Monday, June 1, 2020, 8:29 AM, Jonas Malaco <notifications@github.com> wrote:

An experimental driver for it was just merged this weekend, after almost two months of development.

But what you describe could suggest (among other things) a hardware problem: CAM recognizes the device but isn't able to control it.

In CAM it see tha

[2020-06-01 19:32] Nowaker opened #121 "Remove the GNU license text from liquidctl --help"
`liquidctl` is the only CLI program I've ever seen to print 30+ lines of license text in `--help`. It's very inconvenient, especially when it's printed at the end, as one has to scroll up to see the content they were looking in the first place.

[2020-06-01 19:36] Nowaker opened #122 "Provide an option to get current configuration, e.g. fan speed behavior"
Just like I can use `liquidctl set fan speed 20 0 40 100` to set the fan speed behavior, I'd like to execute `liquidctl get fan speed` to see my settings. In general, what is settable should be gettable.

[2020-06-01 19:44] Nowaker opened #123 "Output the status in JSON format"
[code]

(Indentation added for visibility here in the GitHub issue, the output probably shouldn't be formatted as proper tools exist for that.)

[2020-06-01 21:06] Nowaker commented on #123
Duplicates https://github.com/jonasmalacofilho/liquidctl/issues/104.

[2020-06-01 21:06] #123 closed

[2020-06-01 21:07] Nowaker commented on #104
Example output:

[code]

(Indentation added for visibility here in the GitHub issue, the output probably shouldn't be formatted as proper tools exist for that, e.g. `liquidctl --json status | jq`)

[2020-06-01 21:25] Nowaker opened #124 "Repeat the status command every N seconds: liquidctl status --repeat 5"
The purpose of this is to have a poor man's daemon that will constantly print the temperatures every N seconds, without having to spawn a new Python binary and load all Python dependencies every time, which takes quite a long while even on i9-10900K. In current state, with `liquidctl status` takes 0.15-0.20 seconds to execute, making high granularity polling for temperatures unfeasible.

[code]

T

[2020-06-01 23:04] jonasmalacofilho commented on #121
That can be reduced, but not substantially so, as I would like to keep the disclaimer of warranty and limitation of liability.

Keeping those is important as liquidctl is used directly (without an installer or other place where such disclaimer can be made visible) in platforms and by users which aren't necessarily familiar with the GPL.

Also keep in mind that there is a [man page](https://github.

[2020-06-01 23:22] jonasmalacofilho commented on #122
This is one of those non-general cases where idea _doesn't_ really apply.

Devices are not exclusively controlled by a single userspace program,¹ and the devices themselves don't support reporting this type of data.  The only way I can see of implementing this would be to recall the setting that was sent to the cooler, but showing that would be more like "guessing" than "getting" the current confi

[2020-06-01 23:31] Nowaker commented on #122
So in other words, if it's not listed in `liquidctl status`, there's no way to probe for it. Interesting. Thanks for explaining.

[2020-06-01 23:31] #122 closed

[2020-06-01 23:50] jonasmalacofilho commented on #104
I see some difficulties in implementing this, but I like the idea.¹  It resembles the hwmon attributes in sysfs.

That said, what about something more similar to the output of `sensors -j`?

---

_¹ Somewhat related to [#89 (bottom part of a later comment)](https://github.com/jonasmalacofilho/liquidctl/issues/89#issuecomment-590757983); apart from that, some reasonably stable and unambiguous devic

[2020-06-02 00:10] jonasmalacofilho commented on #124
The problem of having to initialize the Python interpreter is real.  Although your measurement shouldn't have used a call that requires interacting with all devices, the order of magnitude is still correct: ~0.1 s on my older (and right now at stock) i7-8700K.

More generally, the `get_status` API may also be slow, because _some_ devices only report data every second or so,¹ and will block until t

[2020-06-02 01:22] Nowaker commented on #124
Could you expose it in the AUR package too? Looks like a worthy addition to the package, even if rough around the edges!

It's dope. I didn't know you also developed the hwmon drivers. My friend and I bought Evga CLC360, and one of us may try to contribute and submit a driver for it. After all, [with the whole protocol described in liquidctl source](https://github.com/jonasmalacofilho/liquidctl/bl

[2020-06-02 02:57] jonasmalacofilho commented on #124
Let me know how well it works for you.  If it proves to be useful, even if in the beginning only for a couple of people, I'll consider doing that.

Although ideally I'll eventually finish #72 and #101, which will result in some type of daemon/server mode that will provide an efficient way to dynamically control and report/export sensor data for any or all connected devices.

That's great.

Well, f

[2020-06-02 05:57] Nowaker opened #125 "EVGA CLC on Windows: liquidctl status works, but liquidctl status doesn't"
[code]

[code]

I've been trying to follow the README guidance and... it's complicated.

How to tell a product can or cannot use MS HD Driver? Anyway, I did install Zadig and WinUSB by clicking "Install WCID Driver". That did nothing. Then I realized there's an option to replace a driver... So I selected `690LC` and then clicked `Replace Driver`. Not sure if went correct or not, as it timed out, b

[2020-06-02 06:03] Nowaker commented on #125
Huh, it worked - after a restart. Windows...

[2020-06-02 06:03] #125 closed

[2020-06-02 06:08] jonasmalacofilho commented on #125
Same here.

The first issue was caused by not having replaced the stock driver.  The second is more mysterious, but since Zadig timed out and you have a red cross on the device, that's probably where the problem lies.

Try uninstalling the device driver (in Device Manager), then reinstalling the WinUSB with Zadig.  If it timeouts again your device might be unresponsive, (which can happen sometimes

[2020-06-02 06:16] Nowaker commented on #124
If you have a spec of what output format exactly you'd want to get from the input, let me know and I can try help you here.

[2020-06-02 06:35] Nowaker commented on #125
What happened exactly is:

1. It timed out when replacing (no driver) with WinUSB, and when replacing WinUSB with libusbK.
2. I restarted.
3. liquidctl just worked.

Windows.

[2020-06-02 10:42] #121 closed

[2020-06-02 10:46] jonasmalacofilho commented on #121
Half of the lines after the examples in the output of `--help` have been removed (14 of 28).

[2020-06-02 17:22] Nowaker commented on #121
50% compression (well, deletion) ratio, not bad!

[2020-06-04 00:29] CaseySJ opened #127 "Working on new driver for Gigabyte RGB Fusion 2 and ran into issue"
Hello @jonasmalacofilho,

It's been a hectic few weeks and months, but with the release of Z490 motherboards I purchased the Gigabyte Z490 Vision D. This is the successor to the popular Z390 Desginare, which has earned quite a following in the Hackintosh community.

The Vision D has on-board support for Gigabyte's RGB Fusion 2.0. A little bit of detective work revealed that it uses an ITE Tech con

[2020-06-04 16:17] devcexx opened #128 "Kraken X63 sensor information update interval."
Hi,

I didn't see that anyone has discussed about this yet so I'm just writing it here just for your information.

I was doing some research about my own X63 device (firmware version 2.1.0) and I've found that when I execute the `liquidctl initialize`, the `status` commands executed after it starts taking like more time to return the information about the device. When I fully shutdown the computer

[2020-06-05 12:23] audiohacked commented on #80
@jonasmalacofilho I think the protocol for the RGB Pro XT is the same as the Platinum.

[2020-06-05 12:54] audiohacked commented on #121
A long time ago (Back in the mid 90s) all CLI programs included license text in some form. So It's not unheard of to have the text viewable in CLI programs.

[2020-06-05 14:41] jonasmalacofilho commented on #128
Hi @devcexx,

This is great work, thank you.  I'm going to follow your suggestion and change it to a 0.5 ms interval with `0x00`.

Related to this, I think `device.clear_enqueued_reports` could be revised to allow the use of an already enqueued report, as long as it's the most recent one.  This would further accelerate things if the HID device is already open (from the point of view of the kernel)

[2020-06-05 15:06] CaseySJ commented on #128
On SmartDeviceV2 the initialization string is `[ 0x60 0x02 0x01 0xE8 0x03 0x01 0xE8 0x03]`. We can see that the trio of bytes `[0x01 0xE8 0x03]` appears twice, but I can certainly change both `0x03` to other values and see if a delay curve emerges similar to the one posted above. This will confirm whether this byte affects the time between responses. A new default value can subsequently be chosen.

[2020-06-05 15:07] jonasmalacofilho commented on #127
@CaseySJ

I think that what you're missing are some custom USB control requests.  In fact, on the first block that's an outgoing control request with payload `21 09 CC 03 00 00 40 00`.  I don't recognize this as one of the standard control requests (like GET_DESCRIPTOR), but my memory could be failing me here.

I think switching to Wireshark (these days it's apparently very easy to install on Wind

[2020-06-05 15:18] jonasmalacofilho commented on #121
@audiohacked

I remember seeing that too, but I guess it has fallen out of favor.  Even the GNU programs I checked don't have this (at least not anymore).

The SPDX specification actually recommends _against_ using SPDX short identifiers _in place of_ the standard boilerplate, but this usage has gained widespread acceptance (the most preeminent example being the Linux kernel), and I don't think an

[2020-06-05 15:23] jonasmalacofilho commented on #80
@audiohacked

That's great to know/confirm.  But how is the additional fan of the H150i handled?

In the Platinum responses we have distinct fields for each fan speed, and the pump speed is in the way of naively adding a third fan to that response.

[2020-06-05 15:44] CaseySJ commented on #127
That's a great suggestion. Although the USB traffic was initially captured on Windows using a different USB sniffer, I've become familiar with Wireshark on macOS. Will therefore try Wireshark on Windows shortly and recapture the USB traffic.

`Can you link to the experimental linux driver?`
RGB Fusion 2.0 driver is in early development stage, but I've pushed it to my working branch. Please click [

[2020-06-05 15:55] devcexx commented on #128
But take in mind that the reports will be only sent from the device to the host while it is opened and the kernel is submitting urb's to it. After `liquidctl` has exited, it won't be any traffic between the host and the device, therefore it won't be any overhead, will be?

[2020-06-05 16:06] jonasmalacofilho commented on #128
You're right that in normal/exclusive use of the liquidctl CLI this doesn't matter, at least not on Linux.

But same scenarios in which optimizing `device.clear_enqueued_reports` makes sense could also benefit from larger intervals:

The less ephemeral ways could be the scripts in extra or new features like #72 or #101.

---

I'm also not sure if Windows and mac OS are as clever as Linux to _not_

[2020-06-05 16:08] jonasmalacofilho commented on #127
Ok, let me know how it goes!

And I had misunderstood you: I thought you had found a (possibly kernel) driver for Linux that you would test/check/use as a reference. : )

[2020-06-05 16:15] devcexx commented on #128
Totally agree, I did not think about that other scenarios. I'm not sure if removing `device.clear_enqueued_reports` would have any other negative effect. I suppose that it's there for the same reason, to prevent conflict with other applications using the device (?).

[2020-06-05 16:23] jonasmalacofilho commented on #128
Yeap, it's there to deal with these scenarios where there are buffered reports.  Removing it in these scenarios would cause liquidctl to see stale data.

While `clear_enqueued_reports` can't be removed, it maybe be slightly optimized for the less sensitive callers like `get_status`.  Well, another way to think about it is that it's a not-so-sensitive `read` following a `clear_enqueued_reports` tha

[2020-06-05 16:31] devcexx commented on #128
What do you mean with "not-so-sensitive read"?

[2020-06-05 16:59] jonasmalacofilho commented on #128
It's ok for `get_status` to return data from a buffered report, as long as it's the last/most recent one.  It would technically be stale data, but it shouldn't matter.

On the other hand, when we're interested in the reply of a command that changes the internal state of the device, then it really matters if we use a response that was buffered before the particular command was issued.  An example o

[2020-06-05 17:17] jonasmalacofilho commented on #127
Yes.

But if you don't need the data from the response to GET_REPORT, you probably don't need to issue it either.

For the SET_REPORT, I'm guessing this device has no OUT endpoint in the HID interface, requiring any outgoing messages to go through the CTRL endpoint.  Is this the case?  Can you show me the device descriptors (on linux we use `lsusb -v`, but I can't remember the equivalent tools for

[2020-06-05 17:25] devcexx commented on #128
So the idea would be to remove the `clear_enqueued_reports` from functions like `get_status` and check the headers of the receive response and see if it is the answer we are looking for, even if the response was generated by a request from other application. Does it make sense? If so, seems quite reasonable.

[2020-06-05 18:35] CaseySJ commented on #127
The reply from `GET_REPORT` contains the number of lighting channels, the firmware version, and the name of the driver. This information will be displayed to the user during `initialize`. But it's some type of control message (no data). This is the `GET_REPORT` packet that RGB Fusion app send to the USB device:
[code]
And the USB device immediately responds with this:
[code]
In other words `GET_RE

[2020-06-05 18:59] audiohacked commented on #80
I have both the H100i RGB Platinum and the H115i RGB Pro XT (installed), and both only control 2 fans. I would assume for the H150i that the 3rd fan is inserted into where the pump is on the H100i and H115i. I've seen the pattern that the physical fans are then followed by the pump (across any/majority Corsair AIO).

Also, I've been mapping the LED control and FAN control.

[2020-06-05 20:20] jonasmalacofilho commented on #128
Something like `clear_enqueued_reports` would continue to be necessary in `get_status`, just maybe not clearing _all_ reports.  Only the most recent report can be used, otherwise we would could report arbitrarily old data.

Still, I'm not planning on improving this right now.  It's (as) correct (as possible), and only a little bit inefficient in unusual use cases.

---

This is already done in the

[2020-06-05 20:45] jonasmalacofilho commented on #127
I see.

At the USB level GET_REPORT is essentially a (specific) control request.  But it's normally assembled by the kernel, not us, and what you want is [`hid_get_feature_report`](https://github.com/libusb/hidapi/blob/24a822c80f95ae1b46a7a3c16008858dc4d8aec8/hidapi/hidapi.h#L310-L335).

To use it you should wrap and expose the corresponding [`get_feature_report`](https://github.com/trezor/cython-

[2020-06-05 20:48] jonasmalacofilho commented on #80
That makes sense.  When I have some time I'll use a mock USB device to confirm this (and will let you know).

Another question: how are you handling the sequence numbers in each command?  I remember reading somewhere that ignoring them (i.e. sending a constant value) eventually caused issues like making the device unresponsive.  How have you implemented that, and what has been your experience so f

[2020-06-05 20:52] audiohacked commented on #80
I haven't implemented anything other than what's in liquidctl already. I've been using Wireshark and capturing packets.

[2020-06-05 20:54] audiohacked commented on #80
I was thinking of retiring OpenCorsairLink and redirecting users to use liquidctl.

[2020-06-06 01:55] CaseySJ commented on #127
Surprisingly, without much difficulty both `get_feature_report` and `send_feature_report` functions have been added to `usb.py` for both `HidapiDevice` and `PyUsbHid`. Your instructions, as always, were right on point.

Now the `initialize` function finally works! I can hardly believe it, after the struggle of the past couple of days!
[code]
The next step is to continue working on `set color`, whi

[2020-06-06 02:11] CaseySJ commented on #127
**UPDATE**

Color change is working...WOW!!

The rest is just a matter of coding all the color, speed, and brightness effects. But it seems this darn thing may just work out...

Thank you very much for the technical pointers.

[2020-06-06 14:16] jonasmalacofilho commented on #80
If you do (or even if you don't), I would be very happy to have you here, maybe focusing on new drivers or involved in some other way that interests you.

[2020-06-06 14:21] jonasmalacofilho commented on #127
That's great!

[2020-06-06 14:32] audiohacked commented on #80
It's getting harder to work on OCL, since fewer people are able to program in C, and with my job I'm always traveling. So, I think it might be best if OCL is retired.

[2020-06-06 16:48] ehaupt opened #129 "Corsair Link H80i"
I've been successfully using [audiohacked/OpenCorsairLink](https://github.com/audiohacked/OpenCorsairLink) by @audiohacked on FreeBSD for quite some time.

I've just noticed that the project is now archived and retired. Luckily the [README.md](https://github.com/audiohacked/OpenCorsairLink/blob/testing/README.md) mentioned this wonderful project so I thought I'd give it a go.

I made sure all the

[2020-06-06 17:30] jonasmalacofilho commented on #129
The non-GT/non-v2 H80i (`1b1c:0c04`; made by CoolIT) isn't currently supported in liquidctl.  But it should be fairly straightforward to port the relevant OCL code to liquidctl.

I would very much welcome a pull request here.  If you're willing to work on this, I can you give you directions and help you along the way.

[2020-06-06 18:04] ehaupt commented on #129
Hello @jonasmalacofilho

Thank you for the offer. I'd love to work on this.

[2020-06-06 18:42] ehaupt commented on #129
I started by adding the product id: https://github.com/ehaupt/liquidctl/commit/eb6eb860d9a548286743bb9f9a3c4e6d5964fe98

This gives me:
[code]

But obviously more is needed:
[code]
[liquidctl-status-stderr.log](https://github.com/jonasmalacofilho/liquidctl/files/4740806/liquidctl-status-stderr.log)

[2020-06-06 18:46] jonasmalacofilho commented on #129
I'll take a better look at the OCL code and give you some specific pointers.

In the mean time, you're mostly on the right track, I just (strongly) suggest you work on a clear/new subclass of UsbHidDriver, instead of reusing CorsairHidPsuDriver.  You don't want to send random PSU commands to the cooler.

[2020-06-06 18:59] audiohacked commented on #129
@ehaupt @jonasmalacofilho I'm available to answer any questions you may have.

[2020-06-06 21:15] ehaupt commented on #129
Thank you @audiohacked and @jonasmalacofilho

[2020-06-06 22:50] sgtsixpack commented on #127
Good work, I have an X72 and Gigabyte X570 Aorus Elite with RGB 2.0 sticker on the box (also have Corsair Vengence RGB pro which I swapped out for Patriot Steel Viper 4400 4 x 8GB).  I can beta test if you like.  It would be sweet if you could sync the NZXT lighting with the rest of it; that would be an advantage over using official software.

My 011 dynamic XL strip is plugged into one of the RGB

[2020-06-06 22:55] audiohacked commented on #80
I think I've pretty much nailed down the Fan Control. https://github.com/audiohacked/Corsair-RE/blob/master/Corsair/AIO/RGB_Pro_XT/Fan_control.txt

[2020-06-06 23:20] CaseySJ commented on #127
@sgtsixpack

Thank you for the offer to test this -- and please do. The Gigabyte Fusion 2.0 driver is available in my development branch that can be accessed by [clicking here](https://github.com/CaseySJ/liquidctl/tree/Add-support-for-Gigabyte-RGB-Fusion-2.0). If you already have the latest `liquidctl`, the only files to be replaced are:

- liquidctl/driver/gigabyte_rgb_fusion.py
- liquidctl/drive

[2020-06-07 00:18] sgtsixpack commented on #127
I've only used version 1.3.3.  I might find the answers when I check your links but my initial thoughts are:

Do I need to compile the master liquidCTL code?  Is there a guide on how to do that?  Do I need to install python?  I'd need a guide for that too as I've tried in the past for a browser extention but couldn't get it to work.  I just have liquidCTL in my system path, and have a batch file i

[2020-06-07 01:03] CaseySJ commented on #128
Just ran a series of timing tests by varying the 5th and 8th bytes in the initialization string. Values tested are 0x00 through 0x06.

**Conclusion:**
These bytes do in fact specify the interval between conservative `status` replies. When set to `0x00` the interval is 0.25 seconds, and it increases by 0.25 seconds as the value of the byte increases. Hence:

- Byte = 0, Interval = 0.25 sec
- Byte =

[2020-06-07 16:08] CaseySJ commented on #127
@sgtsixpack

Jonas provides precompiled binaries for Windows, but I believe that is for the sake of convenience to Windows owners, and not because of technical necessity.

It should be possible to run the Python scripts directly. I may give that a try soon. Although my focus is on macOS, the system I'm using is running Windows 10 Pro as well.

[2020-06-07 16:27] jonasmalacofilho commented on #127
@CaseySJ

Manually replacing files is likely to cause issues.  Instead I suggest you open a pull request and let the CI system automatically generate a Windows executable for it.

Alternatively @sgtsixpack can use the manual installation instructions from the readme; the executable is by no means required, it simply avoids having to manually install Python, git, and the libusb DLL.

@sgtsixpack

T

[2020-06-07 16:42] #128 closed

[2020-06-07 16:42] jonasmalacofilho commented on #128
@CaseySJ thanks!

[2020-06-07 18:17] jonasmalacofilho commented on #129
Hi again @ehaupt,

In essence, writing a new liquidctl driver means implementing all (suitable) methods of a [`liquidctl.base.BaseDriver`](https://github.com/jonasmalacofilho/liquidctl/blob/master/liquidctl/driver/base.py#L9).

Note that you shouldn't _directly_ subclass the BaseDriver; instead you'll inherit from a bus-specific base driver like `liquidctl.usb.UsbDriver` or `liquidctl.usb.UsbHidDe

[2020-06-07 19:35] jonasmalacofilho commented on #124
Thanks, but I don't have a concrete example anymore: liquidtux + sensors is the better solution for my personal use.

[2020-06-07 20:23] CaseySJ commented on #127
Pull request has been created. Hopefully the Windows executables will work...

[2020-06-08 15:38] sgtsixpack commented on #127
https://github.com/CaseySJ/liquidctl/archive/Add-support-for-Gigabyte-RGB-Fusion-2.0.zip

It took between 1 and 2 hours to find this link and to save time for someone else reading this (who wants to know how to find it) here is a screenshot:
https://i.imgur.com/q2X06sq.png

Unlike the first link I posted it has no compiled .exe.

[2020-06-08 17:38] jonasmalacofilho commented on #127
@sgtsixpack

Did you try adjusting any of the methods outlined in the readme to point to @CaseySJ's branch and/or pull request?  What issues did you find?

I certainly don't want you to waste 1–2 hours, especially because zip files are far from the best way to work with source-code...

---

For someone else reading this...

Try to avoid installing liquidctl in a way that, at a later time, makes fi

[2020-06-08 17:56] CaseySJ commented on #127
@sgtsixpack

The link to the Windows EXE can be tricky to find.

- Short version: It's [located here](https://ci.appveyor.com/project/jonasmalacofilho/liquidctl/builds/33376246/artifacts).
- Long version: As @jonasmalacofilho mentioned, click "Pull Requests", scroll down to the last item, click the green checkbox next to the commit, then select the last item from the pop-up (the Appveyor link). Fr

[2020-06-08 18:17] CaseySJ commented on #127
I just tested the Windows build. There's an error I need to fix. The Gigabyte Fusion driver won't work until bug is fixed.

[2020-06-08 19:09] CaseySJ commented on #127
@sgtsixpack

The latest Windows EXE is located [here](https://ci.appveyor.com/project/jonasmalacofilho/liquidctl/builds/33393661/artifacts). On my Windows system the following I/O Error occurs, but please see if this happens for you as well.

After downloading and unzipping the build, please open Windows command prompt (cmd), the `cd` to the directory containing `liquidctl.exe` and try the followi

[2020-06-08 20:34] sgtsixpack commented on #127
liquidctl simply lists my kraken device only.

https://imgur.com/NL56jzb
https://imgur.com/a/tbRNJpe

I tried the other command too:
https://imgur.com/ZDH9gcD

I have this version as my version in the system path so there is no ambiguity in which version was used (also has the version on the command prompt screenshot).

[2020-06-08 20:53] jonasmalacofilho commented on #127
Your board uses a different controller, with a different product ID.  The protocol it's using may be the same, or may be completely different, I don't know enough about these chips to guess which is more likely.  Either way, the best route is for you to capture some USB traffic for us to analyze and see if the protocol is at least similar to this one.

[2020-06-08 21:11] jonasmalacofilho commented on #127
@CaseySJ

Can you try using `--hid hid` on Windows and, alternatively, `--hid usb` on Mac/Linux, and compare the results?

This could rule out eventual problems in our implementation; it could also be a problem with libusb, as it's not guaranteed to work perfectly with HIDs on Windows.

[2020-06-08 21:28] CaseySJ commented on #127
@sgtsixpack

Also try this on Windows:

- Download and run [HWINFO64](https://www.hwinfo.com/download/)
- Expand the Ports --> USB section. You will find two or three USB controllers. Expand all of them.
- Then go through the list to see if there's any ITE Tech device or any USB device whose function you're not aware of.
- Feel free to provide a screenshot.

Here's what I see on the Gigabyte Z490

[2020-06-08 21:40] CaseySJ commented on #127
On Windows, using `--hid hid` generates this reply:
[code]
Maybe I need to remove the call to `clear_enqueued_reports`?

[2020-06-08 21:46] sgtsixpack commented on #127
https://imgur.com/AHuxJfB

I already have HWiNFO its a central part of how I monitor my PC, with G15 LCD & MSI afterburner OSD.

The PID numbers differ somewhat between yours and my boards.  I guess my chip is ITE8297 (now I'm not sure as you posted ITE5072 and your screenshot says 5702).  I'll leave the analysis up to you guys.

[2020-06-08 21:50] jonasmalacofilho commented on #127
@CaseySJ

Since you're not (indirectly) calling `self.device.read` anywhere you can indeed remove the call to `clear_enqueued_reports`.

[2020-06-08 21:55] CaseySJ commented on #127
This is the 5th time I've mixed up 0x5702 and 0x5072. It is **0x5702**!

In your case it certainly looks as if 0x8297 is the RGB Fusion controller. It may use a different Report ID and/or commands.

There are two ways to investigate a bit further:

1. I can modify the driver to also recognize Vendor 0x048D and Device 0x8297 and hope that it uses the same Report ID (0xCC) and commands.
2. If you're

[2020-06-08 22:02] CaseySJ commented on #127
I will submit this change momentarily...

[code]

[2020-06-08 22:08] CaseySJ commented on #127
The new Windows EXE is ready...
https://ci.appveyor.com/project/jonasmalacofilho/liquidctl/builds/33397933/artifacts

[2020-06-08 22:19] sgtsixpack commented on #127
C:\Users\SgtSixpack>liquidctl initialize all > Error.txt
ERROR: Unexpected error with Gigabyte RGB Fusion 2.0 (experimental)
Traceback (most recent call last):
usb.core.USBError: [Errno 5] Input/Output Error

I was trying to use the command like dir > file.txt but I can copy the text from the command prompt to the clipboard anyway.
[code]
C:\Users\SgtSixpack>liquidctl list --debug
[DEBUG] __main__

[2020-06-08 22:25] CaseySJ commented on #127
@jonasmalacofilho

After removing `clear_enqueued_reports` and rerunning with `--hid hid` on Windows, I see this:
[code]

[2020-06-08 22:30] CaseySJ commented on #127
@sgtsixpack

Looks like we're both running into this error with the default HID driver for Windows:
[code]

[2020-06-08 22:36] jonasmalacofilho commented on #127
I imagine you both have Gigabyte software installed, which likely means there's one or more services running at all times.  Maybe one of those are preventing third-party access to the device.

---

@sgtsixpack there's some risk in testing the code with your controller _before_ having a look at the USB traffic captures.  It's something me and Casey are used to doing, but we're already comfortable w

[2020-06-08 23:23] sgtsixpack commented on #127
Actually I only ever had one Gigabyte software: for RGBfusion but I uninstalled it and the last settings I input are still remembered after reboot and I think even after I clear CMOS one time.

@jonasmalacofilho I've not broken anything yet.  :)

After I install lsusb will this command be the appropriate one:  "lsusb -d 048D:8297 -v" ?

[2020-06-08 23:59] CaseySJ commented on #127
My tests were also done with Gigabyte's RGB Fusion software fully removed and with the system rebooted.

[2020-06-09 00:07] sgtsixpack commented on #127
I'm reading this for how to proceed:
https://github.com/jonasmalacofilho/liquidctl/issues/79#issuecomment-585456831
but I don't know how to monitor USB with wireshark, I'll try to look it up on youtube.
'''
PS C:\Users\SgtSixpack> liquidctl list
Device ID 0: NZXT Kraken X (X42, X52, X62 or X72)
Device ID 1: Gigabyte RGB Fusion 2.0 (experimental)
PS C:\Users\SgtSixpack> liquidctl -m Kraken set fan

[2020-06-09 00:26] CaseySJ commented on #127
To be consistent with other drivers, I can change "static" to "fixed". Each driver defines its own "mode" keywords.

In WireShark, I found that filtering by "usb.device_address" produces the best, most readable results. Here is a crash course:

https://flic.kr/p/2ja58fQ
https://flic.kr/p/2ja58gr
https://flic.kr/p/2ja7Kxy
https://flic.kr/p/2ja7Kx8

[2020-06-09 00:57] sgtsixpack commented on #127
https://imgur.com/MbVPZeo

I don't recognise the ITE chip in wireshark, possibly it will be more obvious if I install RGBfusion.

[2020-06-09 01:04] CaseySJ commented on #127
Yes, we'll need to install and run the RGB Fusion app. Fortunately it's easy to remove from Windows control panel.

[2020-06-09 01:16] sgtsixpack commented on #127
https://imgur.com/xXWpgxt
I might need to set an effect to get traffic.

[2020-06-09 01:21] CaseySJ commented on #127
An easy way to identify the device is by looking for `GET_REPORT` and `SET_REPORT` as seen in this screenshot:
https://flic.kr/p/2ja5Nd9

[2020-06-09 01:22] CaseySJ commented on #127
Yes, `static` works well because it does not generate a continuous stream of traffic.

[2020-06-09 01:33] sgtsixpack commented on #127
I'm going to shutdown and take all my external USB devices out, I have disabled my usual startups including logitech G15 software and HWiNFO, and set RGBfusion to autostart.

[2020-06-09 01:50] sgtsixpack commented on #127
https://imgur.com/a/tbRNJpe
https://imgur.com/qwesrwk
Is this useful data?  It says set_report request and set_report response on 1.2.0 USBPcap1 (whereas HWiNFO had it on port 3).

[2020-06-09 02:50] CaseySJ commented on #127
Very helpful. Will examine first thing in the morning.

[2020-06-09 05:05] jonasmalacofilho commented on #79
Looking at the captures it seems that, unlike the X model, a specific message is sent before the status is read.  There are a lot of extra packets though, so what I implemented (and just pushed to the master branch) might not to be sufficient.  Still, give it a try and let me know.

---

On the GIF side, it seems that a frame consists of 102'400 (320*320) pixels, seemingly encoded in RGBA.  Each f

[2020-06-09 07:21] inglor commented on #79
Hi @jonasmalacofilho

This is working great with commit `84fa6c69cb7c` - see logs!
[code]

[2020-06-09 07:27] inglor commented on #79
Within CAM software you can rotate by 90&deg; clockwise _only_ (so one need to make sure there's  enough clearance from the RAM sticks on the side of the cable sticking out (right hand side)). For the rest could it be related to the pump / fan curves? If this is only related to the GIF image then I can get you a screenshot of the CAM configuration for the GIF.

[2020-06-09 11:42] CaseySJ commented on #127
@sgtsixpack

The USB capture (filter = `usb.device_address == 2`) shows that the same USB protocol is being used both on the ITE Tech 0x5702 and 0x8297 devices. This is good news because the RGB Fusion 2 driver will work with both of these controllers.

Now we just need to solve the I/O Error problem with Windows...

[2020-06-09 13:31] ehaupt commented on #129
Thank you @jonasmalacofilho for the detailed instructions. I'll try my luck.

[2020-06-09 14:44] ktpx opened #131 "Corsair H60 (2018+ model)"
Possible to get this to work with Corsair H60, model 2018+ (the one with LED).  Would like to turn that annoying light off.  :D  As far as I know it does not have corsair link, but it supposedly is possible to turn off in their iCue Software.

[2020-06-09 18:31] jonasmalacofilho commented on #79
I see that you have "rotate display" checked, and the frame I reconstructed from one of your capture files (the first one) was also rotated.  Unless you only checked the rotation option after that particular capture session, it seems that rotation is implemented in CAM _alone_ (not in firmware), which means that in liquidctl we really only need to rotate the image ourselves.

Also glad that `statu

[2020-06-09 18:48] jonasmalacofilho commented on #127
At this time I would check two things:

- Which driver is being used on Windows (specifically interesting it something other than Microsoft Generic HID Driver)?
- Does changing `WRITE_LENGTH` to 65 improve things?  Right now we're padding in a way that the report ends up with only 63 bytes (since the first byte is the report number, which is _not_ part of the report "payload"); this together with

[2020-06-09 19:02] jonasmalacofilho commented on #131
Is it [this one](https://www.corsair.com/us/en/Categories/Products/Liquid-Cooling/Single-Radiator-Liquid-Coolers/Hydro-Series™-H60-(2018)-120mm-Liquid-CPU-Cooler/p/CW-9060036-WW)?  But that one doesn't have a USB connection, meaning that neither CorsairLink, iCue or liquidctl would be able to _directly_ control it.

You mention that you think iCue can turn the LED off.  This suggests that I have t

[2020-06-09 20:41] ktpx commented on #131
Hi,

Yeah, that's the one.  I emailed corsair support, and they told me to install the iCue software, so I assumed it can (then again, the person responding might be clueless to this).  My machine has no windows installed, so I can't confirm it.

Sounds weird to me as well, as the only thing it connects to, is the CPU fan header (and sata for power).   So this would be the only possible way to con

[2020-06-09 21:34] jonasmalacofilho commented on #131
In that case I agree that there doesn't seem to be any way to control that LED from software.

What you could (always) do is open the pump and de-solder/cut the power line to it : )

I'm guessing the three small holes on the underside are for three equivalently small screws that attach the plastic cover and circuit board to the pump itself.  If that's indeed the case you don't need to empty the lo

[2020-06-09 21:38] CaseySJ commented on #127
@jonasmalacofilho @sgtsixpack

It works!!

Here's how:

- We must use `--hid hid` in Windows
- When we type `liquidctl --hid list` we get back **two** devices
- The trick is to use the **second** device `-d 1` instead of `-d 0`

Examples:

- `liquidctl --hid hid -d 1 initialize`
- `liquidctl --hid hid -d 1 set sync color static FF00FF` (to set all channels to green)

[2020-06-09 21:45] jonasmalacofilho commented on #127
Can you show me that output (with `--debug`)?

---

P.S. I noticed you still use `-d`/`--device` a lot.  in this (temporary) case it's actually the best way to deal with the ambiguity, but in general/for your normal use you should consider switching to `--match <case-insensitive substring>`.  `-d`/`--device` is terribly inefficient and, more importantly, very fragile, as the device order can chang

[2020-06-09 21:48] CaseySJ commented on #127
Format: ![Here's an example](https://flic.kr/p/2jamvrg)

[2020-06-09 22:00] CaseySJ commented on #127
Okay, I answered my own question: We can use `--pick <n>`, which in this case would be `--pick 1`:

[code]

[2020-06-09 22:08] jonasmalacofilho commented on #127
Can you also show me the complete USB descriptors for the device?  By that I mean something like the output of `lsusb --verbose -d 048d:5702`, listing all configurations, interfaces, endpoints, etc.

I think this device has two HID interfaces, and the order in which they are returned differs in Mac and Windows.  The second HID was already present on one of your first results, on Mac:

[code]

_(so

[2020-06-09 22:16] CaseySJ commented on #127
In the `debug` output of `list` (on Windows) we see:

For the first device:
- `Address: \\?\hid#vid_048d&pid_5702&col01#6&b086894&0&0000#`
For the second device:
- `Address: \\?\hid#vid_048d&pid_5702&col02#6&b086894&0&0001#`

We can see "col01" in the first and "col02" in the second. And the last 3 characters are `00#` for the first and `01#` for the second. Does this help?

If this doesn't help,

[2020-06-09 22:22] jonasmalacofilho commented on #127
The Windows address seems to confirm that there are two interfaces, but it doesn't help much beyond that.

Since you have Linux installed, yes, please send me the complete output of `lsusb...`

[2020-06-09 22:49] CaseySJ commented on #127
Ubuntu 20.04: `lsusb --verbose -d 048d:5702` returns the following:
[code]

[2020-06-09 22:54] jonasmalacofilho commented on #127
This is unexpected.  Does running `liquidctl list` with same commit you were using on Mac/Windows also return two Gigabyte entries?

[2020-06-09 23:19] CaseySJ commented on #127
I'm in the process of reinstalling Linux (don't ask -- a side experiment gone wrong). Will run the same commit of `liquidctl` soon...

[2020-06-10 00:59] CaseySJ commented on #127
After installing `kubuntu` 20.04 it was necessary to install `pip3` (with `sudo apt-get install pip3`) and the following two packages using the GUI-based `Synaptic Package Manager`:

- `libusb-dev`
- `libudev-dev`

After this, `liquidctl` was easily installed with `pip3 install liquidctl`. Hopefully this can help other Ubuntu users.

The output of `liquidctl -v -g list` is the following:
[code]
We

[2020-06-10 01:54] audiohacked commented on #131
I'll just add that any Hxxx AIO without the 'i' will not have any "integration", i.e. iCUE or CorsairLink.

[2020-06-10 02:03] jonasmalacofilho commented on #131
That makes sense.  Thanks!

---

Closing as this device cannot be supported.

[2020-06-10 02:03] #131 closed

[2020-06-10 03:08] sgtsixpack commented on #127
My Gigabyte RGB is unchanged and my pump RGB is blue after typing this:
[code]
[code]
Back to normal (The blue was probably from the pump RGB getting stuck in its cycle on "fading").

[2020-06-10 07:08] ktpx commented on #131
Ok, thanks.  So indeed the customer service is clueless to their own products.

I think I'll rather use the open purchase option, and return it for something wo led or atleast an option (not sure why everything today has to have shiny LEDS).  Terrible for people with eye problems.

Thanks for the feedback (and neat utility).  It does see my NZXT V2 fan controller :D

[2020-06-10 08:03] inglor commented on #79
Pump and fan speed setting works fine as you expected
[code]
I tried the logo wave-spectrum but as expected this is not working:
[code]

[2020-06-10 10:16] CaseySJ commented on #127
We need to specify `—hid hid` in every call to `liquidctl`, including `liquidctl —hid hid list`. That should return two RGB Fusion devices so in your case the proper device ID might be `- d 2`.

[2020-06-10 22:44] jonasmalacofilho commented on #127
@CaseySJ

Thanks.  So the kernel only seems to see one interface.  Maybe there's something else to be seen with [dynamic debug](https://www.kernel.org/doc/html/latest/admin-guide/dynamic-debug-howto.html), but I would leave that to later.

Before that I would try to:
- read the complete descriptors (the equivalent of `lsusb -v -d048d:5702`) on Windows and Mac;
- check those `hidinfo` values on Win

[2020-06-10 23:02] jonasmalacofilho commented on #127
@sgtsixpack

I would like to keep that section relatively concise, because I want most users to reach the part where they can also use explicit RGB, HSL and HSV formats.

It's fairly common for color pickers in normal software to show the equivalent hex triple, so I don't expect that to be a totally novel concept.

Maybe we could simply link to the relevant Wikipedia sections (e.g. [Web Colors/Hex

[2020-06-10 23:22] CaseySJ commented on #127
@jonasmalacofilho

Let me provide the requested info on Mac first:
- `device.hidinfo` information
- `lsusb -v -d048d:5702`
   - someone created `lsusb` for Mac and it's available through Homebrew so the actual `lsusb` output is listed below.

`device.hidinfo` output:
[code]

`lsusb` output:
[code]

[2020-06-11 02:06] jonasmalacofilho commented on #127
I didn't know about this, but apparently Windows and Mac return one HID handle per (top-level?) usage.  I'm also guessing they enforce that the reports sent or requested match the usage of the particular handle used (which makes sense if you've bothered to threat them as different devices).

Assuming that's right, this means that your driver will probably work fine on Linux (with the default backe

[2020-06-11 03:46] sgtsixpack commented on #127
I do think there is a special significance with "implicit" hexadecimal because it can be used to verify the calibration of the user's RGB LEDs, but hexadecimal tripple is equivalent.

I've been comparing GigabyteRGBfusion2.0 software with CaseySJ's fork.  If I click on the orange button in RGBfusion I get FF7100 and if I input that into CaseySJ's fork I get a lighter more yellowy colour.  I have f

[2020-06-11 04:14] jonasmalacofilho commented on #127
@sgtsixpack

Maybe there's something going on with the "brightness" parameter at the protocol level?  Can you capture this traffic (when setting this color with Fusion) and share it with us?

---

I don't think I understood you before when you said "calibration".

Do you mean calibrating the visible output of a LED to a given RGB color?  Or, _alternatively_, allowing different color formats (like