[2018-10-03 10:02] leinardi opened #1 "Get current values in percentage of fan and pump speed"
Hi, is it possible to get the current values in percentage of fan and pump speed? The status just report the rpm value, I would like to get the percentage value that is currently used.

[2018-10-03 10:40] jonasmalacofilho commented on #1
It's possible (to implement) but will probably require a initial training step, where we go through the range of PWM duty and read the resulting speeds.

This is necessary to account for:

 - PWM duty translation to actual speed is hardly ever linear
 - specific device revisions and firmware versions (might use different translations)
 - non-stock fans
 - manufacturing differences
 - resistance to

[2018-10-03 10:58] leinardi commented on #1
Thank you for your answer. I thought that the CAM software was able to do this, but after checking better I noticed that they just reset the values to a default value when the software starts (I set the fan speed to 100% on Linux, rebooted on Windows and as soon as the CAM started, it reset the value to 25%).

[2018-10-03 11:07] jonasmalacofilho commented on #1
Yeap, I think they just show the last speed that they've set.

In particular, this wouldn't work at all with our use of the standalone profiles based on liquid temperature.

[2018-10-03 15:27] leinardi opened #2 "Collaboration for Linux GUI application"
Hi, I started developing a GUI application that should allow to monitor and configure the NZXT Kraken X on Linux.

I have already a minimal front-end in place that can show the information about speed and temp and also a profile section that can set and show the curve for the selected profile, I just need to feed it with real data:

![image](https://user-images.githubusercontent.com/273338/4641998

[2018-10-03 16:02] jonasmalacofilho commented on #2
That's a pretty cool looking app!  I'm very interested in collaborating on it.

How will you be consuming the data?  Externally or through Python?

[2018-10-03 16:06] leinardi commented on #2
I am very glad to hear that :+1:
It's a Python 3 app so I should be able to use directly the driver.

[2018-10-03 16:48] jonasmalacofilho commented on #2
:+1:

And I can easily expose `critx`, of course.

---

For the status information, maybe some `LIQUID_TEMPERATURE`, `FAN_SPEED`, `PUMP_SPEED`, `FIRMWARE_VERSION` constants would already allow you interpret and manipulate the results from `get_status()` more reliably.

[code]

Do you think this would be enough?

---

What do you want to extract from the verbosely logged data?  Just the final profi

[2018-10-03 17:08] leinardi commented on #2
Oh, those constants should work perfectly, thanks!

Regarding the verbose, I just saw you can get more info with it, like in this case:
[code]
but currently I don't have any specific use case where I need it.

So far I just played with the CLI tool and not with the python driver directly. With the app I would like to poll for a status update every 1-2 seconds and, when the user clicks the apply bu

[2018-10-03 17:41] jonasmalacofilho commented on #2
Well, you can already access this information by providing a custom handler to the `logger` module.  Was for this reason that I changed to a standard logging solution.

However, the profile normalization and interpolation might be particularly useful for a more realistic graph.  If this is indeed confirmed, we might want a better API.  Maybe splitting `set_speed_profile` into two functions (retain

[2018-10-03 19:59] leinardi commented on #2
Hey good news, I have managed to get the data from your python library:

[code]

I am calling `initialize()` the first time a driver is found, then I'm holding the instance and reusing it and when the application is closed I am calling `finalize()`.

When the app is open, if I try to run `liquidctl` from a terminal I get `usb.core.USBError: [Errno 16] Resource busy` so, I guess, only one connectio

[2018-10-04 20:54] jonasmalacofilho commented on #2
While these APIs will remain (for compatibility), you should switch to `connect()` and `disconnect()`.  As of the next release, they will replace `initialize()` and `finalize()`.

(`initialize()` has been clarified to mean actual device initialization, for devices that need it, or a NOOP for the rest)

You should also try to make sure to `disconnect()` even in case of failures.

---

I haven't giv

[2018-10-04 21:28] leinardi commented on #2
Ah I forgot to ask: is there another way that we can use to talk about this project? For me email and/or Google Hangouts would be fine.

[2018-10-05 00:37] jonasmalacofilho commented on #2
Had originally planned for the end of September, but I still have some minor details to finalize on the new APIs (mostly for the Smart Device).  Should happen in a couple of weeks.

I use Python standard exceptions in the driver.  I'm not sure what PyUsb might raise.

By the way, I personally think that (in general) a catch all/anything is perfectly fine for things like running (or trying to) fina

[2018-10-05 00:37] #2 closed

[2018-11-10 00:06] xsuchy opened #3 "NZXT Kraken X61"
I have NZXT Kraken X61, which is not supported. Can I help somehow to get this one on the list?

[2018-11-10 00:31] xsuchy commented on #3
The reverse engineered protocol is here:
  https://github.com/jaksi/leviathan/blob/master/PROTOCOL.md
The usb id for this device is: ID 2433:b200

[2018-11-10 01:53] jonasmalacofilho commented on #3
That helps, I'll take a first look this weekend.

I might also need some more information from your device.  I've noticed that seem to be some differences in the protocol for each of the many variants of the base ` 2433:b200` device from Asetek.

Are you on Linux?  If so, can you send me the entire output for `sudo lsusb -v -d 2433:b200`?  This will show your `iSerial` value, but in an EVGA cooler

[2018-11-10 03:50] jonasmalacofilho commented on #3
Can you take a look at c4a6627c8d11149c3b663aa5df148091f0d23202?

It's just a starting point.  Let me know if anything works, and if you see any obvious fixes.

There are a few useful options for debugging:

 - `-v`/`--verbose`: enables some helpful messages
 - `-g`/`--debug`: enables debug messages in liquidctl and sets up tracing on PyUSB

[code]

[2018-11-10 15:11] jonasmalacofilho commented on #3
It has just occurred to me that on Windows it will probably be necessary to replace the kernel driver, because this generation might use normally use a proprietary driver from Asetek, instead of the generic Microsoft Human Interface Device (HID) one.

If this is indeed the case – and please let me know so we can mention this in the documentation – it will be necessary to follow the [libusb driver

[2018-11-11 18:01] xsuchy commented on #3
Yes.

[code]

[2018-11-11 18:11] xsuchy commented on #3
I reseted --hard to your commit and run `sudo pip3 install --editable .` and then:
[code]

[2018-11-11 18:20] xsuchy commented on #3
After:
[code]
and running the command again:

[code]

[code]

[code]

[code]
And the fan went crazy to full speed. Setting it to 25 slowed down the fan back to normal:

[code]

I did not tried the pump as this is critical, I do not want to demage the cooling and I would prefer to run it after the `status` is operating.

[2018-11-11 19:14] xsuchy commented on #3
I tried to set
[code]
but it did not helped.

[2018-11-11 22:01] jonasmalacofilho commented on #3
I'll sit down a bit later to look into this, but I am wondering if _not_ starting a transaction in `get_status` could help.

[2018-11-11 22:33] xsuchy commented on #3
Negative sir. It does not help. Still the same timeout.

[2018-11-12 08:43] hst12 opened #6 "NZXT Smart Device - spectrum-wave mode turns LEDs off"
Please see below the output for liquidctl status and  liquidctl set led color spectrum-wave -g. Other options such as fading or super-fixed work correctly.

Microsoft Windows [Version 10.0.17763.55]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>liquidctl status
Device 0, NZXT Smart Device
Traceback (most recent call last):
  File "C:\Program Files\Python37\Scripts\liqui

[2018-11-12 09:35] hst12 commented on #6
It works when doing liquidctl initialize first! I didn’t realise that the initialize was necessary since other modes worked okay without it.

Here is the output:

C:\WINDOWS\system32>liquidctl initialize
Exception ignored in: <function _AutoFinalizedObjectBase.__del__ at 0x0000027B0E790158>
Traceback (most recent call last):
  File "c:\program files\python37\lib\site-packages\usb\_objfinalizer.py"

[2018-11-12 09:48] jonasmalacofilho commented on #6
I did not know that either!  I mostly run `initialize` anyway to use (or test) the fan channels.

The requirement probably has something to do with the device needing to know the exact length of the strip to render this effect; the type and number of LED accessories is also learned during the initialization.

I will add to the documentation that some effects require the device to be fully initiali

[2018-11-12 09:56] hst12 commented on #6
That makes sense. Where the number of LEDs are specified for example:
liquidctl set led color super-fixed 000000 000000 000000 000000 000000 000000 000000 000000 000000 000000 202020 202020 202020 202020 202020 202020 202020 202020 202020 202020
This works without needing the initialize and I'm using it in a startup script.

I'm using libusb 1.0.22

[2018-11-13 11:21] jonasmalacofilho commented on #3
See #7 for updates.

[2018-12-08 02:27] slavfox opened #8 "Providing fan and pump curves for the older firmware X62s"
Hi,

I have an older Kraken X62 (`iSerial 5D8A2247363`, latest firmware 2.1.8) which [allegedly doesn't and probably never will support fan control curves](https://www.reddit.com/r/NZXT/comments/9v0l11/update_nzxt_kraken_x62_firmware/e9a7l2l/). If I can help out in any way, please let me know.

I was also wondering if it'd make sense to include an option, in liquidctl, to simulate a fan control cu

[2018-12-08 06:14] ctso opened #9 "MacOS Support"
Have you managed to get this working on MacOS?  I'm getting the following error:

[code]

Apparently this is an issue with libusb and the fact that MacOS loads a HID driver.  I don't know much about USB, though.  I've also tried running this as root and get the same error.

[2018-12-08 06:40] jonasmalacofilho commented on #9
Enabling `--debug` could point to some other issue, but after checking the libusb FAQ I think you're right that there's a conflict with the kernel HID driver.

The FAQ lists a [few ways](https://github.com/libusb/libusb/wiki/FAQ#how-can-i-run-libusb-applications-under-mac-os-x-if-there-is-already-a-kernel-extension-installed-for-the-device) to get it to work.  Can you try some of them?

---

I exp

[2018-12-08 07:20] ctso commented on #9
Unloading the HID kext, `com.apple.driver.usb.IOUSBHostHIDDevice`, definitely fixed it.  Downside?  Can't use your HID devices, like your keyboard and mouse.

It sounds like using something like [hidapi](https://github.com/signal11/hidapi) instead of `libusb` will work just fine, though.  I may take a stab at it this weekend and see how it goes.

[2018-12-08 08:17] jonasmalacofilho commented on #8
Hi,

While setting profiles to run straight off the device really isn't possible on the older firmware, we can certainly implement a software-based alternative.

I made a proof of concept and added it to [`extra/krakencurve-poc`](https://github.com/jonasmalacofilho/liquidctl/blob/master/extra/krakencurve-poc).

I would very much welcome patches or pull requests that take this – or rewrite it – int

[2018-12-08 20:13] slavfox commented on #8
Thanks, it was really helpful to get me to figure out how you'd prefer to go about this.

I've spent today toying around with adding it to `liquidctl `under a `--software` flag, so that setting a software cooling profile is done the same way as a firmware-supported one:

[code]

Ideally, if the daemon is running, calling eg. `liquidctl -S set fan speed  20 30  30 50  34 80  40 90  50 100` again wo

[2018-12-09 02:02] ctso commented on #9
I've got a working proof of concept over at https://github.com/ctso/liquidctl/tree/macos.

Seems like if we want macOS support, switching to `hidapi` over `libusb` is the way to go -- it should also work in Linux/Windows.

[2018-12-09 09:20] jonasmalacofilho commented on #9
Thanks a lot!

I made a few comments directly to your commit, and you can also check my [work on top of it](https://github.com/jonasmalacofilho/liquidctl/tree/macos-extra).  I was able to get both drivers to work on Linux without many issues.

You will notice I tried to change the `BaseUsbDevice.device` field back to being the underlying USB device handle, but ended up with a very ugly hack on `fi

[2018-12-10 09:21] slavfox commented on #8
I figured that if the user expects their hardware to handle the cooling profile, it might not be the best idea to quietly set a software one - but it actually makes perfect sense, since they'd have to manually start the daemon first. In that case, if the daemon isn't running and the hardware doesn't support software cooling profiles, we'll just show a "Your device doesn't support cooling profiles.

[2018-12-15 23:11] jonasmalacofilho commented on #1
The proof of concept will be kept in the sources – see `extra/krakenduty-poc` – but I'm otherwise closing this: the training required is probably too much hassle for most users.

Maybe we can revisit this in the future; software based curves (#8) could support this with very little effort.

[2018-12-15 23:11] #1 closed

[2018-12-15 23:42] jonasmalacofilho commented on #3
I've figured out a lot more about the USBXpress driver used on Windows.  Based on this, I'll improve the low level implementation, and eventually merge #7 to the main tree, marking it as _experimental._

That said, the underlying protocol is only part of the issue: these bare bones Asetek devices seem to like very specific – and limiting – groupings of commands, and our only reference – leviathan

[2018-12-19 06:58] Jriandono opened #10 "NZXT Smart Device is not recognized"
Hi there I had some problem while trying to controlling the smart device

I did liquidctl initialize and liquidctl list only my kraken that shown not the smart device

I look up from the lsusb:
Bus 006 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 005 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 004 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 003 Device 00

[2018-12-19 19:15] Jriandono commented on #10
I currently running v.1.1.0

here the outputs for :

lsusb -d 1e71:1714 -v

Bus 001 Device 006: ID 1e71:1714 NZXT
Couldn't open device, some information will be missing
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass            0 (Defined at Interface level)
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSiz

[2018-12-19 19:49] jonasmalacofilho commented on #10
This output suggests the command entered was not recognized.  Can you double check the command you're trying to execute for typos?

No, v1.1.0 should be fine.

[2018-12-19 20:03] jonasmalacofilho commented on #10
Actually I just noticed: that help message is not what v1.1.0 would output; for example, it's missing the `initialize` command.  Maybe you simply have multiple instances of the package installed, or the package is not in a consistent state.

[2018-12-20 14:39] jonasmalacofilho commented on #10
I'm closing this since it's an issue with the incorrect version being used.[1]  This also explains why `liquidctl list -v -g` failed, back then `-g, --debug` didn't exist either.

Since you expected to have v1.1.0 installed, checking `which liquidctl` might help you debug any path, pip, virtual env or other issues your system may have.

And while unlikely – since all installation is taken care of

[2018-12-20 14:39] #10 closed

[2018-12-21 03:18] Jriandono commented on #10
Yes, it turns out, I'm running v1.0.0,
Thank you

[2018-12-21 03:49] jonasmalacofilho commented on #10
No worries!

This is a pretty specific error concerning device permissions.  Are you running with root privileges  – or `sudo`?

Handling USB devices is usually restricted to the root user; on most distributions you would need a udev rule to overrule that.

[2018-12-21 04:07] Jriandono commented on #10
you mean running it with sudo ? or do I have root privileges

[2018-12-21 04:46] Jriandono commented on #10
I tried to run this :
$ sudo liquidctl initialize

it give me :
sudo: liquictl: command not found

[2018-12-21 17:07] jonasmalacofilho commented on #10
Which one was it, liquictl or liquidctl?

[2018-12-21 18:51] Jriandono commented on #10
I run this, there is a typo last night :

~$ sudo liquidctl initialize
sudo: liquidctl: command not found

[2018-12-21 19:16] jonasmalacofilho commented on #10
Try to run the following commands (the first as regular user, the second escalating from regular user to root with `sudo`):

[code]

[2018-12-23 18:54] Jriandono commented on #10
~$ which liquidctl
/home/wmods/.local/bin/liquidctl

~$ sudo which liquidctl
~$

[2018-12-23 19:46] Jriandono commented on #10
Fixed the problem by adding groups and set a rule to /etc/udev/rules
here some step that I did :

make a new group :
$ sudo groupadd usbusers
$ sudo usermod -G usbuser -a USERNAME
#change USERNAME into your username

then make a new file at /etc/udev/rules.d
$sudo gedit /etc/udev/rules.d/42-usb.rules

#From what i read from another forum the number is important so make sure your number is not the

[2018-12-23 20:45] jonasmalacofilho commented on #10
Glad to hear you managed to sort it out!

---

FYI only:

The issue you had essentially boiled down to needing to have `/home/wmods/. local/bin` in the PATH environment variable (at the right time).

When you `sudo`, the callee's environment is not exported by the default.  Instead, the environment of root is used, which doesn't know about that path and thus can't find the executable.

[2018-12-29 14:28] suve opened #12 "Add an "all fans" channel for the NZXT Smart Device"
I think it'd be nice to have a channel for controlling the speed of all fans at once in the Smart Device driver. This would eliminate the need to invoke `liquidctl` multiple times when one wants to keep all the fans at the same speed.

[2018-12-31 00:11] flobernd opened #13 "NotImplementedError for all operations?"
Hi there,

today CAM stopped recognizing my X62 and as I was sick of this low quality software anyways, I decided to try your script. These are the results:
[code]

Not sure if this is a problem on your side, but pretty much every operation gives me an `NotImplementedError` error. Is there anything I can try?

Best regards

[2018-12-31 01:08] flobernd commented on #13
Looks like my hardware is faulty. Your script is unable to retrieve information like serial-number, firmware-version, etc on my main machine. Works fine on another computer tho. Closing this for now :)

[2018-12-31 01:08] #13 closed

[2018-12-31 04:00] jonasmalacofilho commented on #13
Hi there,

Try enabling debug output with `-g`, `--debug`; it might give some insight.

[code]

You can also try power cycling the device, by turning off all power (even standby USB power) or by disconnecting it from the motherboard and the PSU.

[2018-12-31 04:14] jonasmalacofilho commented on #12
It is a good idea!  It should be easy to implement, why don't you give it a try?

Though I think we should call it `sync`, for uniformity with the existing option for syncing RGB channels of the Kraken coolers.

[2018-12-31 12:37] flobernd commented on #13
Already tried this and some other things like reinstalling the driver. Completely removing the device from in the device-manager and re-adding it again resolved the problem for me. Thanks for your help. The script does now work as well.

[2019-01-11 21:37] RBlafford commented on #3
maybe this can help?
https://github.com/RBlafford/levd

[2019-01-17 07:52] jonasmalacofilho commented on #3
Thanks, @RBlafford.

It looks like you followed the same approach as leviathan.  I started from that as well, but the main issue I have is how to apply one setting at a time, because of how this CLI is designed: `liquidctl set fan speed` and `liquidctl set pump speed` are two independent invocations, that could come in any order or at any time.

Also, according to a user report, even successfully

[2019-01-17 19:31] RBlafford commented on #3
@jonasmalacofilho I am not home this week, i will check to see if i have a second gen x61 or not at home and give it a shot.

AFAIK when I send a command to the device, it stays in that state until power is turned off for the computer. If its changing and then ignoring the command then maybe the protocol is not followed correctly or an incorrect command is being sent.

[2019-01-18 04:10] jonasmalacofilho commented on #3
@RBlafford ok, thanks.

In the mean time, I'll also see if I can find a device of this generation for cheap.  I would love to support these in liquidctl, but working on the driver without access to the coolers is quite ~~difficult~~ boring: I can't really explore a different approach or test potential new features (e.g. the fan speed profile).

[2019-01-22 12:44] RaspberryPi5 opened #14 "Can I autostart liquidctl on windows?"
I found autostart instruction for Linux, but not for windows.

Should I make batch file for this?  If so, can you plz advice me how to write it?

[2019-01-22 18:54] jonasmalacofilho commented on #14
I create a batch file and then set up a new scheduled task for (every) log on.

The batch file could be really simple, just listing the various invocations of liquidctl you would otherwise do by hand.

But it could also do a bit more, for instance using the LEDs to convey progress or eventual errors.  Mine looks a lot like this:

[code]

Make sure that Python and executables from its packages are

[2019-01-23 13:48] Dids opened #15 "Odd lighting issue with Smart Device"
When I set a fixed/solid color to all the LED strips on the Smart Device (I have 4), there are 2-3 individual LEDs per strip that ignore the color and usually get assigned a seemingly random color, but there's a pattern to it.

I've previously RE'd the Smart Device protocol for a different project, and it looks like I get the same results with both your method and mine.

I'm hoping that someone el

[2019-01-23 14:02] jonasmalacofilho commented on #15
Hi!

Can you run the same command with `--debug` and post the results (and the command itself) here?

And – since you already have experience with this – what does CAM send to Smart Device for a similar setting?

---

Also, do _all_ strips present this issue?  I don't have four strips to test this right now, but if the issue manifests on all of them, I could try replicating the same thing here wit

[2019-01-26 04:39] RaspberryPi5 commented on #14
I made batch script like this.

`set KRAKEN=--vendor 0x1e71 --product 0x170e

liquidctl %KRAKEN% set fan speed 35 50 40 60 45 70 50 80 55 90 60 100

liquidctl %KRAKEN% set pump speed 100

goto :EOF`

It works like a charm! Thanks for your support.

[2019-01-30 05:08] jonasmalacofilho commented on #15
@Dids can you provide more information, like command-line parameters, `--debug` output and firmware/software stack?

So far I was unable to replicate the issue this way.

[2019-01-30 05:34] jonasmalacofilho commented on #3
@xsuchy, can you test/debug the current state of #7?

 - status: `liquidctl status`
 - fixed combined speed: `liquidctl set sync speed <fixed value>`
 - fixed independent speeds: `liquidctl set <fan|pump> speed <fixed value>`
 - variable fan speed: `liquidctl set fan speed <temp> <value> [...]`

@RBlafford, if you can, please test it too.

P.S. `--debug` will dump a bunch of useful (or less so) in

[2019-01-30 05:41] jonasmalacofilho commented on #8
@slavfox

How is you work on this coming along?  Is there anything you need from me?

[2019-01-30 06:02] RBlafford commented on #3
@jonasmalacofilho sure will do!

[2019-01-30 17:12] slavfox commented on #8
The little work I managed to do in December is on the [software-fan-curves branch in my fork](https://github.com/slavfox/liquidctl/commit/416475d155b234dad98361a9952015e31b87b8cc). The next step on my end will be to write the actual daemon controlling the temperature, and the commands for pushing config changes to it.

[2019-02-02 21:27] KeithMyers opened #16 "Need liquidctl to work with EVGA CLC 280 AIO"
I think that the NZXT AIO's use Asetek hardware like the EVGA.  So is it possible to get support for the EVGA CLC 280?

I just put this onto one of my 2700X Linux hosts because my normal choice for the Corsair H110i was not available.  I am thinking I made a big mistake.  The H110i runs the pump at full speed off SATA power.

I have the CLC 280 hooked to the AIO header with disabled control which

[2019-02-02 21:31] jonasmalacofilho commented on #16
Yes, I would like to support it.

Check my last comment on #

[2019-02-02 21:35] jonasmalacofilho commented on #16
Yes, I'm planning to support it together with the second generation Krakens.

Please check (my last comment on) #3 for status and instructions on how/what to test.

---

Answering from my phone and accidentally closed the issue.  Already reopened it.

[2019-02-02 21:56] bmuzika commented on #16
I can get some Wireshark captures in an hour or two. Is there anything in particular that you need me to grab?

[2019-02-02 23:07] KeithMyers commented on #16
This is my lusb printout for my EVGA CLC 280
keith@Serenity:~$ sudo lsusb -v -d 2433:b200
[sudo] password for keith:

Bus 001 Device 005: ID 2433:b200
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               1.10
  bDeviceClass            0 (Defined at Interface level)
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0        64
  idV

[2019-02-02 23:39] KeithMyers commented on #16
I'm going to need some help in installing and running the program it seems.  None of the proffered installation programs succeeded.
keith@Serenity:~/liquidctl$ pip install liquidctl
Collecting liquidctl
  Could not find a version that satisfies the requirement liquidctl (from versions: )
No matching distribution found for liquidctl

So I just cloned the repository but I still can't run anything.

[2019-02-02 23:46] jonasmalacofilho commented on #16
@bmuzika that's great.  I think right now I need a _fresh_ picture of how the device operates.  Maybe there's something interesting or useful that Flow Control does differently than CAM.

Besides captures of all features available in software being applied (or possibly being *re*applied), these are my particular areas of interest/concern:

 - what messages are – _over time/after your configuration

[2019-02-02 23:48] jonasmalacofilho commented on #16
@KeithMyers thanks!

The first thing that comes to mind is that you might have Python 2 installed and `pip` and `python` are pointing to that version.  You need make sure to use Python 3 and a compatible pip version.

[2019-02-02 23:55] KeithMyers commented on #16
Synaptic says I have python 3.6 installed.  But python --version tells me different.

keith@Serenity:~/Downloads/Utils/liquidctl-add-second-gen-krakens$ python --version
Python 2.7.15rc1

[2019-02-02 23:56] jonasmalacofilho commented on #16
That's normal.  Try `pip3`?

(disclaimer: can't remember for sure if that's how things are set up on Ubuntu)

[2019-02-02 23:58] KeithMyers commented on #16
keith@Serenity:~/Downloads/Utils/liquidctl-add-second-gen-krakens$ python3 setup.py
Traceback (most recent call last):
  File "setup.py", line 1, in <module>
    import setuptools
ModuleNotFoundError: No module named 'setuptools'

[2019-02-03 00:01] KeithMyers commented on #16
Installed python3 setuptools.  Making some progress.
keith@Serenity:~/Downloads/Utils/liquidctl-add-second-gen-krakens$ python3 setup.py
/usr/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
   or: setup.py --help [cmd1 cmd2 ...]
   or: setup.py -

[2019-02-03 00:02] jonasmalacofilho commented on #16
I think that one was my bad, apparently for setuptools you need to add the `install` command:

[code]

[2019-02-03 00:16] KeithMyers commented on #16
Ok.  Now making real progress.

root@Serenity:/home/keith/Downloads/Utils/liquidctl-add-second-gen-krakens# python3 setup.py install
/usr/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
running install
running bdist_egg
running egg_info
creating liquidctl.egg-info
writing liquidctl.egg-info/PKG-INFO
writing depende

[2019-02-03 00:17] KeithMyers commented on #16
So, where am I at now?  What is needed next to run the liquidctl program?

[2019-02-03 00:47] KeithMyers commented on #16
Do you have any idea of the pipe error?  Googling didn't have anything jump out at me on how to resolve.

Benign for now as I can get the status of the device.  Still would like to know who is correct or pump speed, the liquidctl status probe or the Asus wmi sensor driver.

All the other Asus WMI sensor values match what it shown in the BIOS.  Also wanted to make clear the BIOS AIO speed shows 144

[2019-02-03 01:15] bmuzika commented on #16
I have tried to get some captures from Flow Control. I ran it in a Windows 10 VM on an openSUSE host.

I'm not sure if these are useful or not. I can try to capture again from within Windows (natively) if these don't work out.

[Wireshark Captures.zip](https://github.com/jonasmalacofilho/liquidctl/files/2825078/Wireshark.Captures.zip)

[2019-02-03 01:45] KeithMyers commented on #16
I'll tackle this commit tomorrow and see what the warnings look like.  Needed to put the host back to crunching.

[2019-02-03 01:56] jonasmalacofilho commented on #16
@KeithMyers

This is a warning I inserted to figure out whether these devices needed a particular set of extra initialization instructions.  _Apparently_ not...  I just updated the branch to make these warnings less intrusive (and they should be completely gone by the time this feature gets merged).

After you update, can you try `liquidctl status --debug` _once_ and send me the output?  I want to

[2019-02-03 03:50] KeithMyers commented on #16
No I haven't looked in the EVGA forums for what BIOS and Windows reporting programs report. I need to do that.

No, I am using the motherboard CPU Fan header to control the fans on the radiator.  I went with some ML140 fans I had on the shelf because I had no experience with the weird EVGA shrouded fans and I could find no information on them in the forums regarding their bearings or max fan speed

[2019-02-03 18:13] jonasmalacofilho commented on #16
@bmuzika I started analyzing the captures; I'll post an update when I'm done (might be tomorrow evening).

@KeithMyers, funny fact: from the captures bmuzika supplied I can see that Flow Control attemps the same extra initialization procedures as I do, and also gets the same same failures.

[2019-02-03 20:59] KeithMyers commented on #3
I just installed commit 8db7f7f with the repressed pipe error.  The output of:
liquidctl status --debug
root@Serenity:/home/keith/Downloads/liquidctl-8db7f7f24e6b539c53d80bf46ac77f9fd794cf00# liquidctl status --debug
[DEBUG] usb.backend.libusb1: _LibUSB.__init__(<CDLL 'libusb-1.0.so.0', handle e36a70 at 0x7fbfbbb56e80>)
[INFO] usb.core: find(): using backend "usb.backend.libusb1"
[DEBUG] usb.backe

[2019-02-04 00:35] jonasmalacofilho commented on #16
@KeithMyers I'm not familiar with GKrelim; _if it uses libsensors,_ you could try a `compute` directive (see `man sensors.conf`).

I only mentioned the fans because their speed was being reported as zero, and I would like to confirm that field is being correctly read as well.

[2019-02-04 01:31] KeithMyers commented on #16
And it didn't work as I expected.

[2019-02-04 01:53] jonasmalacofilho commented on #16
Let's keep this discussion on topic, someone else is part of the thread and I don't want to spam him them.

Reach out to me on [gitter](https://gitter.im/liquidctl/Lobby) or by email (address listed on my GitHub profile) and I'll help with configuring libsensors.

[2019-02-04 02:15] jonasmalacofilho commented on #3
@KeithMyers thank you!

[2019-02-06 07:17] Dids commented on #15
Unfortunately I'm primarily on macOS, where it's been a bit of a hit and miss to get `liquidctl` running correctly, especially with the Smart Device. I eventually had to resort to writing a quick proof-of-concept utility that uses the same logic as `liquidctl`, but it directly uses the Objective-C APIs for USB HID devices.

You did bring up an excellent point regarding the strips, because I've now

[2019-02-06 10:17] jonasmalacofilho commented on #15
Have you tried branch [macos-extra](https://github.com/jonasmalacofilho/liquidctl/tree/macos-extra) ([diff](https://github.com/ctso/liquidctl/compare/macos...jonasmalacofilho:macos-extra?expand=1))?

As I understand it, it should (tm) be more reliable on Mac OS because it uses the HID driver through hidapi, instead of libusb.  Please let me know which issues remain #9 ("MacOS Support").

---

I'll

[2019-02-10 04:22] jonasmalacofilho commented on #16
@bmuzika, thanks again for supplying those captures.  I added my analysis to [#7/docs/development/asetek690lc/evga-clc-capture-1.txt](https://github.com/jonasmalacofilho/liquidctl/blob/add-second-gen-krakens/docs/development/asetek690lc/evga-clc-capture-1.txt).

I think was able to make out most of it, but I could use another capture session while you change different settings one by one, keeping

[2019-02-10 06:40] bmuzika commented on #16
@jonasmalacofilho I just realized that I forgot to include one of my captures from that session. I'm attaching that here.

In this capture, I believe that I set the fans to max speed, then min speed, then max speed again. I'll do another round of captures again tomorrow (Sunday) with better details captured.

[fan_max-min-max_only_clc.zip](https://github.com/jonasmalacofilho/liquidctl/files/284857

[2019-02-11 17:18] cdgriffith opened #17 "Windows Tutorial"
I think it might be nice if the github had a more in depth guide for getting this software working on Windows from the ground up (as most CAM users may not have a lot of Python experience.)

[I wrote a guide here](https://codecalamity.com/replacing-nzxts-cam-software-on-windows-for-kraken/), that you make take any or all of to include for documentation.

[2019-02-11 19:08] jonasmalacofilho commented on #17
I saw that on r/NZXT a bit earlier, great stuff!

I would pick some parts of it to include here and there, but if you're up for it, I would very much welcome a pull request for a proper page under the `/docs` folder.

Another thing: I want to set up a CI system to build packages for Windows automatically.  Is [build.bat](https://github.com/cdgriffith/liquidctl/blob/0b6845e540c41e518658421d6d09bbc4

[2019-02-11 19:49] cdgriffith commented on #17
Will do!

PyInstaller was honestly quite the pain on Windows with Python 3.7. Good to document how I got it working though:

1. Download latest development version (as standard is broken for 3.7) `pip install https://github.com/pyinstaller/pyinstaller/tarball/develop`
2. Modify the `venv\Lib\site-packages\PyInstaller\bindepend.py` file at line 881  (based on https://github.com/pyinstaller/pyinstal

[2019-02-16 03:37] jonasmalacofilho commented on #16
@bmuzika thanks again!

I just updated my notes with the additional data (commit 6409010b92d0bfc218861cb9941542b0ee2fb694).

[2019-02-16 05:35] icedterminal commented on #15
I stumbled upon this building a hackintosh. My X62 died two years in and I got an RMA replacement last month. During the one month RMA wait, I used an H7 Plus. I installed the master bulid (required pip3 since macOS runs really outdated python) and it just wouldn't communicate with the device. I later found out my USB SSDT layout excluded the USB port on the board where the kraken was connected. I

[2019-02-18 06:51] Dids commented on #15
@jonasmalacofilho The `macos-extra` branch seems to work:

[code]

What's more, this actually seems to work for _all four LED strips_:
[code]

I guess this means that his issue could be closed, since everything seems to work exactly as expected, although I have no idea why my "replicated logic" still exhibits the issue, while the `macos-extra` branch version of `liquidctl` does not. Still, I'm hap

[2019-02-18 16:56] jonasmalacofilho commented on #15
@Dids did the original issue manifest itself even when setting all LEDs to black/0x000000?

[code]

I ask because padding bytes are also `0x00`, making black a very "easy" color to get right.

[2019-02-18 17:11] jonasmalacofilho commented on #15
@icedterminal, I wasn't aware of hidapi when I started the project.  Still, after experimenting a bit with it, I think I'll stick with libusb on Linux (possibly Windows as well).

Libusb gives me a few more nobs, is more centrally maintained and, more importantly, not all devices that I want to support are HIDs.

[2019-02-18 22:23] icedterminal commented on #15
@[jonasmalacofilho](/jonasmalacofilho) Good points.

Going forward, if you're sticking with libusb, does that mean the macos branch is going to be maintained separate? I can see there are countless forks of hidapi across multiple platforms. So there is no true current master source. Two years of no updates.

If we can work around the libusb bugs that would be great. Not sure if this would help, bu

[2019-02-18 22:55] jonasmalacofilho commented on #15
I'm not really aware of the bugs libusb might have on Mac OS; though just getting it to bind to the device seems unreasonably error prone.  We could certainly explore fixing libusb and/or adding a option for it to directly use kernel HID drivers on Mac, but I would need some help with that.

For now, my plan is to merge the macos-extra branch by adding an abstract HID driver beneath the specific d

[2019-02-18 22:56] jonasmalacofilho commented on #15
@icedterminal

[2019-02-19 00:26] icedterminal commented on #15
[jonasmalacofilho](/jonasmalacofilho) Your plan for now seems like the best solution. In all honestly, people are using NZXT devices for a hackintosh.

I created a second install to play around. It appears when Apple revamped USB in 10.11 they have a heavy reliance on ACPI.

– https://www.tonymacx86.com/threads/guide-creating-a-custom-ssdt-for-usbinjectall-kext.211311/

Devices and drivers only op

[2019-02-25 05:45] #14 closed

[2019-02-25 05:46] #17 closed

[2019-02-25 05:50] jonasmalacofilho commented on #12
@suve I just noticed that it was you who got the packages for Fedora started.  Thanks!

What is the 'cannonical' URL for the Fedora packages?

One more thing: shouldn't `python3-liquidctl` require libusb-1.0 (package `libusbx`, I think)?

[2019-02-25 12:33] suve commented on #12
What do you mean by "canonical URL"? The source repositories? Then I guess that'd be [`https://src.fedoraproject.org/rpms/liquidctl`](https://src.fedoraproject.org/rpms/liquidctl) for this one.

As for the dependencies, I admit I haven't looked at the full dependency list for the package and just trusted Fedora's `%{?python_enable_dependency_generator}` RPM macro to do its magic. I'll take a peek

[2019-02-26 08:23] Dids commented on #15
@jonasmalacofilho Sorry for the delayed responses. Yes, I've been primarily testing/debugging with black, in an attempt to turn off all the LEDs.

I'm still not entirely sure what the issue is/was, but my best guess is a timing issue in my own POC code, or a bug with the native Objective-C APIs/frameworks.

[2019-02-26 08:48] jonasmalacofilho commented on #15
@Dids thanks for the feedback.

As the issue is related to the libusb-based stack only, which is unusable on Mac OS anyway (at least with HIDs), I'll close this.  Mac users will want to use branch [macos-extra](https://github.com/jonasmalacofilho/liquidctl/tree/macos-extra) for now.

By the way, I'll be merging both backends very soon ([latest diff](https://github.com/jonasmalacofilho/liquidctl/co

[2019-02-26 08:48] #15 closed

[2019-02-28 11:24] #12 closed

[2019-03-06 10:47] vecinohk opened #21 "Kraken x62 - minimum pump speed"
Hi there,

many thank for project liquidctl - is amazing. I complete uninstalled CAM.

Please is there any change set minimum pump speed to 30-40%? Now is minimum 50%. In my case is 50% = 1940 rpm. I want to less. On my own risk.

I have Kraken x62 with firmware 6.01.

Thanks

Vecíno

`Another important note: while allowed by the firmware, pump speeds bellow 60% are not currently exposed in CAM. P

[2019-03-06 11:22] jonasmalacofilho commented on #21
Up to version 4 the firmware would simply ignore duty values bellow 50%; I'm not sure if that has changed with v6.

You grab the sources with git

[code]

and try modifying the [minimum pump duty](https://github.com/jonasmalacofilho/liquidctl/blob/14a1b00284e1547f756cb9d90d257283e706bb4f/liquidctl/driver/kraken_two.py#L52) liquidctl expects to parse to 0%, and test how the new firmware responds to

[2019-03-06 12:37] vecinohk commented on #21
I will try it tonight. But I am noob Python user ... is posibile easy compile exe binaries file?

NZXT do not show changelog. Version 6.01 is from 27.02.2019.
Download here: https://sta3-nzxtcorporation.netdna-ssl.com/uploads/download/attachment/753/KrakenXFWUpdate__02.27.19_.zip

Yes fan and pump profiles are still functional in v6.xx.

[2019-03-06 13:02] jonasmalacofilho commented on #21
You don't need to compile an `.exe`.

First, install Python 3.7 (or whatever is the latest) with the option to add Python to your PATH.  Then, manually install libusb, as outlined in [README/System Dependencies](https://github.com/jonasmalacofilho/liquidctl#system-dependencies).

Afterwards, executing

[code]

from within the sources directory will install the remaining dependencies (PyUSB, docopt

[2019-03-06 19:29] vecinohk commented on #21
Please help ... I installed Python, install liquidctl, copy files libusb-1.0.pdb, libusb-1.0.lib and libusb-1.0.dll to Windows\System32

But a have this error message: "usb.core.NoBackendError: No backend available"

[code]

[2019-03-06 20:19] jonasmalacofilho commented on #21
That's probably because you installed 32-bit Python.  In that case, and if I remember correctly, the corresponding (32-bit) libraries must be placed in `\Windows\SysWoW64\`... oh Windows =D

[2019-03-06 20:21] jonasmalacofilho commented on #21
You can also put the library files in the same folder as the `python.exe` executable.

[2019-03-06 20:23] vecinohk commented on #21
[code]

[2019-03-06 20:32] vecinohk commented on #21
Pump is still working on 50%.

[code]

[2019-03-06 20:45] jonasmalacofilho commented on #21
Thanks for the reporting back.  If seems as there is still no way in software to force it to run bellow ~1900 rpm : \

The only other thing I can think of is a hardware mod... (it's something I would like to explore someday, but for now I need to keep my units stock to maintain liquidctl and finish the Linux hwmon drivers)

---

As for the finalizer errors... did you install libusb v1.0.22?

[2019-03-06 20:47] vecinohk commented on #21
Yes I did. Now I am on v1.0.21 and finalizer errors are gone.

[2019-03-06 20:50] vecinohk commented on #21
Some people have Kraken x62 with 1400 rpm in silent mode.

[2019-03-06 20:54] jonasmalacofilho commented on #21
As far as I'm aware (see [thread on krakenx](https://github.com/KsenijaS/krakenx/issues/15#issuecomment-415775501)) they usually have rev 1 units, with slightly different hardware and running v2 (now v5 firmware).

[2019-03-06 20:56] jonasmalacofilho commented on #21
Note: and while the older revision allows a wider range for the pump speed, it [does _not_ support profiles](https://github.com/jonasmalacofilho/liquidctl/issues/8).

[2019-03-06 21:17] vecinohk commented on #21
Ok thank you for assistance. That is a pity - I would like have cca 1700 rpm. Now with 2060 rpm is Kraken more noise.

[2019-03-07 01:53] #21 closed

[2019-03-09 20:39] jonasmalacofilho commented on #8
@slavfox, NZXT released new firmware upgrades for all third gen. Krakens (including the X62):

 - v5.1 for legacy/Rev. 1 devices
 - v6.1 for current/Rev. 2 devices

Interestingly, there hasn't been a new CAM release to accompany these.  Since it probably used a simple inequality on the firmware version to decide which features were available, I think there's a good chance v5.1 might also support p

[2019-03-11 05:19] jonasmalacofilho commented on #9
The 'master' branch already automatically uses hidapi for HIDs on Mac OS.

On the other platforms, the preferred HID API can be selected with `--hid <module>` (see `liquidctl --help`).

Related: 7300f70a6222 ("Merge PR #19 with modifications: add documentation for Mac OS")

[2019-03-11 05:19] #9 closed

[2019-03-14 21:58] icedterminal opened #22 "Build dev11 breaks usb backend"
Using dev10 it works flawlessly. I uninstalled dev10, installed dev11 and Terminal reports No back-end. I rolled back to dev10 and it works again.

Here's a demo for you https://youtu.be/EUKUuAwrGRo

If this is just a temporary thing, ignore me and close this. If not, let me know what I can do to help.

[2019-03-14 22:37] jonasmalacofilho commented on #22
If you tell me the exact commit I can double check that nothing broke _accident,_ but I'm pretty sure the issue is that you hadn't installed libusb, but on dev10 it wasn't yet used on Mac (by default).

However, on dev11 the support for EVGA CLCs landed on the master branch, and as those are not HIDs, probing for them started to use libusb.  HID coolers like the Kraken X62 continue to use hidapi b

[2019-03-14 22:54] KeithMyers opened #23 "Build dev11 breaks EVGA CLC 280 support"
Since the add-second-gen-krakens branch comments indicated that support for EVGA CLC 280 coolers was now merged into master, I tried to install the master dev 11 branch.  Everything looked fine until the end of the installation.
[code]

It looks like it is looking to install hidapi which is not found.  I didn't see or I missed any instructions to install that beforehand.  From the output it looks

[2019-03-14 23:07] jonasmalacofilho commented on #23
I'll take a look, but https://pypi.python.org/simple/hidapi/ seems to load fine here.

Maybe it was an isolated network issue?

[2019-03-14 23:12] KeithMyers commented on #23
https://pypi.python.org/simple/hidapi/

Loads fine here.  The install script did not find it for some reason.

[2019-03-14 23:16] KeithMyers commented on #23
Tried again.  Got something different this time.

[code]

[2019-03-14 23:21] jonasmalacofilho commented on #23
This is something I was afraid of...

I'll look into it.

[2019-03-14 23:27] jonasmalacofilho commented on #23
In the mean time (I'll be away for work for a few days), the 3dce63b8a232bf8518f7304899b58d53820176bd is probably the best commit from the old branch (for this device).

Though feature wise it's quite a bit far behind what's on master : \

[2019-03-14 23:27] icedterminal commented on #22
I merged from your master 15 hours ago. So my fork is level with yours. I cloned that and installed. Which was 15 hours ago.

You were not wrong. Added libusb and it worked. Good catch. I need new glasses.

Install [homebrew](https://brew.sh/) then run`brew install libusb` – This one isn't sketchy and maintained by the homebrew project. It automatically adds to path.

[2019-03-14 23:36] KeithMyers commented on #23
OK, installed the 3dce63b commit of the old-second-gen-krakens branch. Back in business.  Will watch this issue for when you think the master branch works with EVGA CLC 280's.

[2019-03-15 00:07] jonasmalacofilho commented on #23
What Linux distro/version are you on, and what versions of pip and setuptools do you have?

[2019-03-15 00:20] KeithMyers commented on #23
I'm on Ubuntu 18.04.2. 4.15.0-46-generic #49-Ubuntu SMP Wed Feb 6 09:33:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.6)

python3-setuptools version 39.0.1-2

[2019-03-15 01:42] #22 closed

[2019-03-15 01:44] jonasmalacofilho commented on #22
Glad to hear, and thanks for the info about installing libusb; already added to README.

[2019-03-15 04:31] jonasmalacofilho commented on #23
Hi @KeithMyers,

Apparently cython-hidapi is _always_ built locally on Linux.

I was so concerned about how reliably its packages for Windows were (I didn't want to deal with that), and it builds so quickly and smoothly on my main/Linux system that I completely missed that fact.

Try first installing

[code]

and let me know if this fixes building hidapi and installing liquidctl.

[2019-03-15 06:35] KeithMyers commented on #23
I already had python3-dev and libudev1 installed.  I also already had libusb-1.0.0 installed.  But I did not have libusb-1.0.0-dev installed.  Downloaded and installed the https://github.com/jonasmalacofilho/liquidctl/commit/261493b35a26699ede176e8d09346ed170d35a07
commit.  Still ran into issues where hidpapi is not being compiled correctly.
[code]

[2019-03-15 08:59] jonasmalacofilho commented on #23
Ops, `libudev-dev` is also necessary, for the linker.

[2019-03-15 17:08] KeithMyers commented on #23
OK.  Success.  The libudev-dev library was the last bit needed.  Successful installation with no errors during compilation.

Thanks.

[2019-03-15 17:58] jonasmalacofilho commented on #23
Great, but reopening because I still have to fix the documentation ; )

Thanks for letting me know about the issue.

[2019-04-01 01:39] icedterminal opened #24 "Adding HUE+"
This isn't so much an issue as it is a feature request

I noticed that there is a smart device listed in the code. But those only come with the cases. I have an older NZXT case with the HUE+ (leds) and GRID+ (fan control) devices. I don't use the fan controller as I have no interest in it. I do use the hue for the fan lights. I've obtained the device specific information and added it in. I'm not v

[2019-04-01 05:40] akmadian commented on #24
It took me about 1.25 months to reverse engineer, document, and implement the Hue+ protocol in C#. It's no small thing, but if @jonasmalacofilho wants to work on it, I would be happy to help with the protocol!

It also depends on the scope of an implementation. If it's just lighting control, it would (of course) be easier than 100% support.

[2019-04-01 06:41] icedterminal commented on #24
Literally just lighting control. That's why I haven't bothered using the nzxt smart device because it's all in one. I would rather let bios handle the fans. I have the rgb fans and the led strips.

[2019-04-01 12:52] jonasmalacofilho commented on #24
Hi @icedterminal ,

I can't really work on this right now, but I encourage you to try to contribute a driver yourself.  I can give you pointers along the way and do periodic code reviews.

As a basis (or an alternative) you might want to check out kusti8/hue-plus, specifically the [CLI in hue.py](https://github.com/kusti8/hue-plus/blob/master/hue_plus/hue.py).

@akmadian's (thanks for the offer to

[2019-04-01 22:58] icedterminal commented on #24
Well, I'll get started. lol.

[2019-04-01 23:13] akmadian commented on #24
I was gonna start working on it too lol, @icedterminal if you're attached to it, I'd be happy to let you work on it.

But, if you're just looking for Hue+ support, I can probably get some basic lighting support in within a couple weeks, and full support in (most likely) a month or less.

[2019-04-02 01:00] icedterminal commented on #24
You could teach me something. I can sort of make out what is what, but a large amount of it is unknown to me *exactly* what it does and why it's like that.

[2019-04-02 02:09] jonasmalacofilho commented on #24
Hi @icedterminal,

I think you should start with the connection/disconnection life cycle.  Some references:

 - [akmadian's docs on the protocol](https://nzxtsharp.readthedocs.io/en/latest/Protocols/Hue+.html)
 - [`hue-plus: hue.init` and its callers](https://github.com/kusti8/hue-plus/blob/7ce7c4603c6d0ab1da29b0d4080aa05f57bd1760/hue_plus/hue.py#L396-L403)

On the liquidctl side...

Create a `ser

[2019-04-02 02:12] jonasmalacofilho commented on #24
Ops... missed one last bit:

For completeness, I would like you to consider implementing any features supported in the hardware (this doesn't look to be the case, by the way).  If you really can't implement one, at least account for it when designing your (internal and external) APIs.

[2019-04-02 02:15] akmadian commented on #24
NZXTSharp's system isn't great, but it essentially tests each active COM port with the "hello" handshake code, if a response is received, then it's found the correct port. If 5 handshake attempts fail, go to the next port. Again, this is not a good method (could potentially wreck hardware if `c0` is a dangerous code on a device), but it's the best I've come up with so far.

I have not tested query

[2019-04-02 08:05] icedterminal commented on #24
Funnily enough I did start picking apart smart device driver. Analyzing the communication and responses from the hue in Windows (using CAM) I was able to see how different the chipset communicates versus the later NZXT devices. Querying the status returned an empty result. It is recognised with list. However, in macOS, status hung and I was unable to terminate with Ctrl C. I had to force close Ter

[2019-04-02 11:34] jonasmalacofilho commented on #24
Were you analyzing serial port or USB traffic?

Both hue-plus and NZXTSharp interact with the "virtual" serial port that the MCP2200 bridge creates, instead of talking to the bridge (i.e. the USB device) itself.  That seems easier and safer.

In theory the bridge doesn't do anything special, and just forwards the raw bytes from the serial port that it exposes to the OS to the on-board controller.<

[2019-04-02 11:39] jonasmalacofilho commented on #8
@slavfox did you manage to test the new firmware?  Does it add support for profiles?

[2019-04-02 15:45] slavfox commented on #8
@jonasmalacofilho I found an old Windows drive, updated the firmware, got CAM running. It did in fact jump from 2.1 to 5.01, thanks for the notification.
![CAM](https://user-images.githubusercontent.com/35173529/55414931-5b69cc80-556c-11e9-882b-981cb84c925a.png)

I have tested the fan curves by setting a ridiculous curve (`liquidctl set fan speed 30 20 34 100`) and can confirm that as soon as the

[2019-04-02 15:58] jonasmalacofilho commented on #8
That's great to hear!

So I guess there's nothing more to do here then...

---

_Jim and NZXT, thank you for listening and merging both branches by adding (not removing) this very useful feature._

[2019-04-02 15:58] #8 closed

[2019-04-02 20:58] icedterminal commented on #24
* I was analysing USB traffic on a specific port while changing settings with CAM.
* Knowing that HID is preferred for macOS, It was foolish of me to try and communicate with it without having that support implemented or even really developed/learned with the basic Libusb.
* The first device was the one that was bricked. It somehow sent an initialise signal to all the RGB devices connected, result

[2019-04-02 21:35] jonasmalacofilho commented on #24
The MCP2200 device exposes both HID and CDC devices, _each for a different purpose;_ on Mac OS you were talking to the HID device, which apparently is only meant for controlling the bridge itself.

The commands you mentioned should only generate reads (apart from standard HID stuff), but maybe there was something else you tried that inadvertently caused a garbage write?  If you can remember what i

[2019-04-03 06:07] icedterminal commented on #24
My bash history was mostly disk management, permission repairs and cache rebuilds.

It's got to be. CAM does it. You really like links. Every comment you find another resource for something. It's amazing. That link to the control program looks like it might allow me to complete such a task.

Yes. But doesn't explain much why it went from 4 to 3. It's still under the same ACPI plane according to de

[2019-04-03 06:18] akmadian commented on #24
In testing, I think I fried a Hue+ by sending too many lighting updates/ second. Iced, I would recommend not exceeding ~90-100 updates/ second. It still showed a COM port on the system, but was not showing in CAM, and was completely unresponsive to handshakes. I haven't tested it recently, but I assume that it's in the same state now.

RE what Jonas said, you definitely want to be sending data to

[2019-04-04 18:09] icedterminal commented on #24
Why is this required? This actually isn't necessary on macOS. They are ready to go the moment the system boots from any state. I found out this *was* the problem with the first hue.

With the first hue
* `krx initilize` > `krx list` > `krx status` Terminal hung and status never completed for the hue

With the second hue
* `krx list` > `krx status` Terminal returned an empty result just like Window

[2019-04-04 18:47] jonasmalacofilho commented on #24
That call is required _for the Smart Device,_ for detection of the connected accessories.  It causes _that_ device to: (a) test each fan channel response to PWM; and (b) measure the resistance between the FD pin and ground to figure out the type and count of LED accessories.<sup>1</sup>

I don't know how the Hue+ device works, maybe it does the detection automatically when powering on.

I still th

[2019-04-04 19:20] icedterminal commented on #24
I  was only using the smart device driver to detect the device. When I called the init that was what what made it stop working. I am working from a blank start reading from multiple references. With a very basic script that only works as far as `list` and includes the logger feature you have implemented. Other things like color and status are not added. Currently looking at channels and colors.

I

[2019-04-04 19:34] jonasmalacofilho commented on #24
I see, but what you want to detect the is the virtual serial port created by the bridge, not the bridge itself.

If you can get the correct virtual serial port by talking to the bridge, that will be very cool (as we discussed previously).  And, in theory, it should be possible to simply skip the virtual serial port and talk directly through the "modem" endpoint of the bridge.  But in both cases yo

[2019-04-04 20:10] akmadian commented on #24
The Hue+ detects what devices are connected as part of the “hello” handshake process.

If you sniff the data sent, after the Hue+ responds to the handshake, you can see `8d 01` and `8d 02` sent to the device, and a response for each sent back. These responses contain the data on what is connected where. You can find out more about this and what bytes in the responses mean what in my protocol docum

[2019-04-07 10:12] #23 closed

[2019-04-08 02:38] jonasmalacofilho commented on #16
The current state of the 'master' branch should already support these EVGA CLCs quite decently, so I'll close this issue.  @KeithMyers and @bmuzika, thanks for your collaboration.

Documentation is still lacking for the new driver, so I'll quickly enumerate the supported features and options:

---

The device must be initialized after every boot.  After that you can query the device status and per

[2019-04-08 02:38] #16 closed

[2019-04-08 03:02] jonasmalacofilho commented on #3
From now on the driver for these second generation Krakens will be improved and maintained directly in the master branch.  @xsuchy, @RBlafford and @cdgriffith, thanks for all the help so far.

Bellow is a quick enumeration of the corresponding features and options.  These have _not_ been tested on a real Kraken, but only on a EVGA CLC.  Because of this, I still expect you'll find a few bugs...

Pl

[2019-04-08 03:02] #3 closed

[2019-04-08 20:58] KeithMyers opened #25 "Latest master removing experimental tag from Asetek 690LC coolers fails"
Latest master removing experimental tag from Asetek 690LC coolers fails.  Just tried to compile the latest master to get rid of the !!very experimental!! tag when using the earlier commit.

Hit errors on connecting to https://pypi.python.org/simple/appdirs/:

`Installed /usr/local/lib/python3.6/dist-packages/liquidctl-1.2.0.dev12-py3.6.egg
Processing dependencies for liquidctl==1.2.0.dev12
Searchi

[2019-04-08 21:09] jonasmalacofilho commented on #25
Can you check that it isn't another transient/local network issue?

https://pypi.org/simple/appdirs/ looks fine here and 'appdirs' was already required last night by the time you tested the code in the master branch.

[2019-04-08 21:10] KeithMyers commented on #25
Closed.  Must have been some transient.  Downloaded the latest master again and compiled.  Found the appdirs this time.

[2019-04-08 21:10] #25 closed

[2019-04-08 21:12] jonasmalacofilho commented on #25
Thanks for testing things so promptly though! : )

Just to double check (as it should not have been there for a while): is the "!!very experimental!!" tag finally gone for you?

[2019-04-08 21:36] KeithMyers commented on #25
Yes, the tag is gone now.  Guess the repo must have had glitches or something.  I tried a couple of times in the space of five minutes. Everything working normally again.
    On Monday, April 8, 2019, 2:12:09 PM PDT, Jonas Malaco <notifications@github.com> wrote:

Thanks for testing things so promptly though! : )

Just to double check (as it should not have been there for a while): is the "!!very

[2019-05-15 18:08] ltkAlpha opened #26 "High reported RPM variation"
Hi and thanks for all your work!

I'm using an NZXT X52 to cool an 1080 Ti w/ a g12 bracket on my Windows 10 Home. I followed Chris Griffith's guide here https://codecalamity.com/replacing-nzxts-cam-software-on-windows-for-kraken/#using-liquidctl to install and I'm using a startup script to set the following values:
[code]
The issue is I'm seeing quite a bit of variation in fan and pump speeds as

[2019-05-17 08:09] AlecVercruysse opened #27 "Kraken x61 'fading' mode blinks instead"
Hello, its been a while since I've interfaced with my Kraken x61 (I used to use CAM on windows), so I am not sure if this is a hardware bug or something, but I see no discernible difference between running the command:
`sudo python3 cli.py --legacy-690lc --verbose set logo color blinking FFFFFF 0F0F0F`
and
`sudo python3 cli.py --legacy-690lc --verbose set logo color fading FFFFFF 0F0F0F`
Both thro

[2019-05-17 12:41] jonasmalacofilho commented on #27
Hi!

I'm glad that you're testing this with some success, as I don't have that particular device myself.

I can't see anything obviously wrong in [that section](https://github.com/jonasmalacofilho/liquidctl/blob/3a849a578412a4a5f54e812e8df9b559e40e3007/liquidctl/driver/asetek.py#L386-L394) of the code, but I remember reading something about a firmware change related to these modes.

You could try

[2019-05-17 12:48] jonasmalacofilho commented on #26
Hi!

That pump speed variation is a bit higher than what I personally see on my device, but maybe it's still within acceptable range.

On my device I have also seen some color modes seemly interfering with the (reported) pump and fan speeds, both on their average and deltas.  My hypothesis so far is that more demanding lighting modes (that require more cycles from the embedded controller) "starve"

[2019-05-17 23:14] ltkAlpha commented on #26
`(venv) C:\venv\Scripts>liquidctl --version
liquidctl v1.1.0

(venv) C:\venv\Scripts>liquidctl list --verbose
Device 0, NZXT Kraken X (X42, X52, X62 or X72)
  Vendor: 0x1e71
  Product: 0x170e
  Port number: 11
  Serial number: 6D80*******
  Hierarchy: KrakenTwoDriver, BaseUsbDriver`

[2019-05-17 23:19] ltkAlpha commented on #26
Hi! Re. your theory - I'm doing nothing w/ lighting via liquidctl. I don't remember touching the relevant setting in CAM either (during the 15 minutes it was installed).

[2019-05-18 02:40] AlecVercruysse commented on #27
Looks like `--time-per-color` was the issue!
Setting that to 1 gives me the blinking effect I mentioned, but as I increase it to 2 it already starts to look like a fading effect. After further testing, it looks like what's happening is that the hardware samples the "expected color" around every 1 second, and the `--time-per-color` flag translates to 1/2 the period of the cycle (with two colors, es

[2019-05-18 22:11] Cheata opened #28 "Grid+ V3 Duty Cycle"
I note that for the Grid+ V3 Fan speeds can only be set to fixed duty values. Is this a limitation of the Grid+ or do you have plans to allow speed scaling based on temperature?

[2019-05-20 07:04] jonasmalacofilho commented on #26
Well, the default animation – loading – is not the lightest.

But I guess what you can do is try to check if liquidctl itself shows the pump speed varying this much as well.  Because HWiNFO is closed sourced there's not much I can do there.  Anyway, this is _probably_ just a firmware/controller issue (btw, what's your firmware version?).

To rule out a problem your specific device, I would also co

[2019-05-20 07:05] jonasmalacofilho commented on #27
Please do make a pull request (legacy devices only).  I would appreciate if you also took a look at the other default values for the legacy devices.

[2019-05-20 07:11] jonasmalacofilho commented on #28
Yes, the Grid+ has no temperature sensors, nor on-device profiles.

You could try to pick where we stopped in #8 ("Providing fan and pump curves for ~the older firmware X62s~ devices without native support for them").  The idea is to implement a software daemon that repeatedly adjusts the devices' speeds based on a selected temperature sensor.

This would also allow to control liquidctl devices ba

[2019-05-20 08:44] ltkAlpha commented on #26
Ah, I hadn't considered the default animation.  To hopefully minimize the impact of animation I've now added the following to my startup script:
[code]

Doing this shows no significant impact on reported rpm, as read by liquidctl status or HWInfo (i.e. it still varies quite a bit), which, by the way, appear to report the same range of values. My firmware is reported by liquidctl as 4.0.4
The chass

[2019-05-20 10:03] jonasmalacofilho commented on #26
I guess there's not much we can do then.

Looking at the graphs, it does look like bad sampling of the tach pulses.  You could try reporting this to NZXT, so they might fix it in a future firmware release.

[2019-05-20 10:07] #26 closed

[2019-05-20 18:39] #28 closed

[2019-05-24 15:58] Untalia opened #30 "Liquidctl doesn't work after reboot sometimes"
I'm not really sure why but sometimes after a PC shutdown it stops working.
The colors don't respond to any commands but the fans and the pump do.
Any ideas why it happens / how we can fix it?

[2019-05-24 22:40] jonasmalacofilho commented on #30
These devices do take a while to fully initialize, and might fail if either kernel or user space is too quick.  I've seen these on both Linux and Windows.

Let me know what OS and liquidctl versions you're running, and how you've set them up to initialize, and  can give you some tips on how to mitigate these issues.

[2019-05-24 22:46] jonasmalacofilho commented on #24
Closing for now.

@icedterminal feel free to tag me on any commit where you need some help, and I look forward to receiving your pull request.

[2019-05-24 22:46] #24 closed

[2019-05-24 22:51] jonasmalacofilho commented on #30
Err, sorry, I missed your edit.

This I have _not_ seen yet.  Either way, let me know how your system is set up and we'll try to debug this.

Note for myself: if this is about Windows, I read somewhere about a firmware update to "resolve a [recent] Windows 10 USB issue".

[2019-05-25 17:23] Untalia commented on #30
OS: Windows 10
LiquidCTL: 4.0.4
Let me know if you need anything else.

[2019-05-26 02:00] jonasmalacofilho commented on #30
This is (probably) the firmware version.  Please add the output of `liquidctl --version`.

---

When you experience the issue, do you see any driver/device warnings on Device Manager?

Expanding on my previous note (at the time just for myself), this could be related to (some) Windows USB stack update:

–[NZXT's Jason Chang, comment on r/NZXT](https://www.reddit.com/r/NZXT/comments/bp9eaf/is_there

[2019-05-26 02:40] jonasmalacofilho commented on #30
I can't seem to reproduce the issue here.  I have firmware 4.0.2 and Windows 10 1809.

In addition to my previous questions:

 - are you on 1905 already?
 - do you have Fast Boot enabled?
 - can you send me the exact commands you use, that work on a cold boot but fail after the system reboots?

[2019-05-26 03:08] #27 closed

[2019-05-26 13:57] Untalia commented on #30
I have Windows 10 1809, Fast Boot disabled.
Color can't be controlled on both cold boot and restart. (used to work when I first installed the software)
Fan/Pump speed works always.

`liquidctl set pump speed 35 60 38 70 40 80 42 100
liquidctl set fan speed  35 25 38 40 40 60 49 100
liquidctl set ring color fading FFFFFF 4400CC
liquidctl set logo color fixed FFFFFF
`

[2019-05-26 20:18] jonasmalacofilho commented on #30
Still can't reproduce.  This + "used to work when I first installed the software" + the comment from Jason Chang suggest that it might be a firmware vs. Windows issue.

Please show me the outputs of:

[code]

The following markup may be useful to avoid making the reply too messy with that much information:

[code]

[2019-05-26 22:47] Untalia commented on #30
<details>
<summary>liquidctl (parameters ...)</summary>

[code]
</details>

[2019-05-27 00:21] jonasmalacofilho commented on #30
Try to replace libusb0 (I'm guessing from `libusb-win32`) with libusb-1.0.21 ([as recommended in the README](https://github.com/jonasmalacofilho/liquidctl#additional-requirements-on-windows)), or use a [pre-build binary for Windows](https://github.com/jonasmalacofilho/liquidctl/releases).

You might also try appending `--hid hid` to the commands, after updating to liquidctl 1.2.0rc1; this will mak

[2019-05-28 15:35] Untalia commented on #30
I can't find any information about replacing libusb0 after I downloaded libusb-1.0.21.
I extracted the MS64 folder but I don't know where to move on from there.

[2019-05-28 17:42] jonasmalacofilho commented on #30
Assuming I guessed correctly, first uninstall libusb-win32.

Then, place the contents of the MS64 folder either next to the python executable you're using (since you're using a venv, it should be in there), or globally inside `C:\Windows\System32`.  The dynamic linker should check those locations automatically, without the need of further configuration.  You can also check where else you have dlls

[2019-05-29 04:46] jonasmalacofilho commented on #30
In the mean time, I tried reproducing the issue by setting my own device to use libusb0 (with Zadig).  No luck...

It could be an issue with firmware v4.0.4, I have received one other report of inconsistencies with it.  But I'm not ruling out a bug in liquidctl yet.  As there is no official spec, it's possible that the protocol simply changed on firmware 4.0.4, and that some adjustments to liquidc

[2019-06-02 18:03] Untalia commented on #30
Do you use Discord?
I'd prefer we use it instead of the replies here.

[2019-06-04 04:25] jonasmalacofilho commented on #30
I generally prefer to track issues on open-source projects publicly and next to their code/repository.  This keeps as much information as possible available for other users or contributors.

But if you think we really need to talk synchronously to debug (or discuss) something specific, let me know what that is and we can try to set something up.

[2019-06-06 12:19] jonasmalacofilho commented on #30
Most relevant points so far:
 - everything used to respond to commands; now colors don't, while pump and fan speeds still do
 - device runs firmare v4.0.4
 - liquidctl has been set up to use libusb 0.1
 - probably not using the default Microsoft HID Driver (I couldn't get libusb 0.1 to work at all without using a custom driver)

_Assuming the issue lies in our implementation of the (unspecified) p

[2019-06-08 05:33] jnettlet opened #31 "Support for nzxt e series digital power supplies"
I have started reverse-engineering the pmbus protocol used by CAM to talk with the NZXT e500 and associated digital power supplies.  Is this something that would you would be interested in adding to liquidctl?

[2019-06-08 06:18] jonasmalacofilho commented on #31
Actually, I would be very interested in having support for those power supplies (and others) in liquidctl!

So it follows the PMBus spec?  I had no idea...  Can you share what you have figured out so far with me?

[2019-06-08 06:54] jnettlet commented on #31
I have some dumps I can share, and so far this is the format I have worked out.  One some functions there appears to be some crc formula being used for data integrity.   So far I have focused on reading the data and not writing.

Host command
byte 1 = command 0xad / 173
byte 2 = 0x00 always for a read command - most likely used for writes
byte 3 seems to be datalength  0x03 read word 0x02 read  by

[2019-06-09 15:29] jonasmalacofilho commented on #31
So it's encapsulating PMBus in USB (using the Mass Storage class).  Any idea what chip is used for this USB to PMBus bridge?

---

Just so you know, I don't have the device, so I won't be able to help a lot with the protocol.  But don't hesitate to ask me if you have any questions about writing the liquidctl driver.

[2019-06-09 15:45] jnettlet commented on #31
It is a usbhid interface just like the smart controller etc.  The DSP
it is using is a TI  UCD3138.  This is actually a seasonic IP, that is
what it identifies as.  seasonic usb2i2c

On Sun, Jun 9, 2019 at 5:29 PM Jonas Malaco <notifications@github.com> wrote:

[2019-06-13 17:14] jonasmalacofilho commented on #30
This is a common issue, and apparently completely unrelated to liquidctl.  In both reports I saw recently, upgrading the firmware solved the problem.¹²

¹ _"When I start up my pc the lights just stay like this (pic) and i cant chang it in CAM app. I can change the fan&pump tho":_ user also had firmware 4.0.4 ([see on r/NZXT](https://www.reddit.com/r/NZXT/comments/c04g7a/so_ive_got_a_problem_with_k

[2019-06-13 17:14] #30 closed

[2019-06-24 05:47] jahluwalia opened #32 "NZXT Smart Device v2?"
The new cases will be shipping with Smart Device v2. Any idea if liquidctl will be able to control that device?

Thanks,
Jas

[2019-06-24 19:51] jonasmalacofilho commented on #32
Someone would need to contribute a new driver for it.  But it should be fairly easy to implement one.

Otherwise I would need to get my hands on the device (and/or the protocol spec).

[2019-07-01 23:02] jahluwalia opened #33 "liquidctl list is empty on macOS"
Hi,

I have a x62 and smart device both connected to a nzxt usb hub. The hub is connected to the motherboard f_usb connector. `liquidctl list` is empty. Below is the verbose output. Any pointers?

[code]

Thanks,
Jas

[2019-07-01 23:02] jahluwalia commented on #32
I ended up getting the older version of the case that just had Smart Device v1. I think you can close this issue unless you want to keep it open for when the new versions are released.

[2019-07-02 02:12] jonasmalacofilho commented on #33
What version of liquidctl are you running?

[2019-07-02 02:13] jonasmalacofilho commented on #32
I'll leave it open for now, in case someone else wants to contribute a driver once the new version hits the market.

[2019-07-02 03:14] jahluwalia commented on #33
liquidctl v1.1.0

[2019-07-02 04:26] jahluwalia commented on #33
I took the hub out of the equation and connected the x62 directly to the motherboard. liquidctl list shows x62. I think I might have a faulty hub.

Will get a replacement or splitter and keep you posted here.

[2019-07-02 07:06] jonasmalacofilho commented on #33
I do remember seeing some other reports of problems with the NZXT USB Hub.

Still, you should upgrade to [v1.2.0rc1](https://github.com/jonasmalacofilho/liquidctl/releases/tag/v1.2.0rc1), as both X62 and Smart Devices are HIDs and, on Mac OS, accessing them through HIDAPI [is a lot more reliable](https://github.com/jonasmalacofilho/liquidctl/issues/9).

v1.2.0rc1 is available on PyPI but, since it

[2019-07-02 07:10] jonasmalacofilho commented on #33
Also, you can fashion your own splitter for a USB 2.0 header with some jumper cables, like those for Arduinos/Raspberry PIs.  I personally do this, since decent simple splitters are not always easy to find, and hubs are overkill when a single header already provides two "native" USB ports.

[2019-07-04 04:40] jahluwalia commented on #33
Turns out it has to do with the USB port mappings in the EFI folder. for now, I'm not going to mess with it. I just disconnected the led strips and connected the kraken 62 directly to the motherboard. Liquidctl is working great. I think this issue can be closed.

thanks,
jas

[2019-07-04 06:54] jonasmalacofilho commented on #33
I see... I'll close the issue then.  And thanks for letting me know.

Just for future reference, on what version of Mac OS are you?

[2019-07-04 06:54] #33 closed

[2019-07-07 04:05] jcfrosty opened #34 "help/docs isn't thorough on options"
I can see the ability to set to fading, but what are the other options I can set from CLI? It would be nice to see a list. I'm also assuming the code afterwards is hex for colors?

[2019-07-07 04:55] jonasmalacofilho commented on #34
The set of supported features and parameters varies from model to model.  The existing documentation for each device is linked in the [Supported devices](https://github.com/jonasmalacofilho/liquidctl#supported-devices) section.

What device(s) do you own?

[2019-07-07 05:21] jcfrosty commented on #34
I have a Kraken X52. I was able to comb through the code to find the
different color modes, but the documentation should probably list them or
have a way for the --help flag to list them. Tai-chi works nicely BTW. Some
of the options though, strangely result in what appears like it's trying to
perform the animation but the LEDs are flickering other colors during the
animation.

Very impressed and

[2019-07-07 06:24] jonasmalacofilho commented on #34
Well, the [docs for that family of devices](https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/nzxt-kraken-x-3rd-generation.md#rgb-lighting) do list the modes, colors and options they support, **but I'll take the hint and make that document more easy to find.**

I did originally planned to make all documentation available directly in the CLI, but as the number of supported devices grew

[2019-07-31 16:47] jonasmalacofilho commented on #34
Fixed with 525cb42a30c76be6a6097d6febd0ffcfea633f26 ("Simplify the list of supported devices and related documentation").

[2019-07-31 16:47] #34 closed

[2019-08-21 22:43] Firehawke opened #35 "Some Kraken X61 functionality still missing."
Fan profiles aren't implemented yet, and it'd be nice to see some of the missing color functionality return (e.g. set color based on temperature)-- this functionality disappeared around the time they did a rewrite of Cam, along with a lot of the color profiles.

I've got an X61 and I'm running Windows 10. I can reinstall Cam if needed for data capture; just tell me what steps you'd need me to take

[2019-08-22 06:34] jonasmalacofilho commented on #35
You're right.  I totally forgot that I didn't enable the fan profiles on the legacy devices.

I imagine the command byte and message structure for setting up a profile will be fairly similar, if not identical, to how the EVGA CLCs work.  However, legacy 690LC coolers like the X61 require _unrelated_ messages to follow a particular order (see description of 52a55247196d6ed252e3f991be99786a296a679f)

[2019-08-24 15:42] rileyweber13 commented on #32
I have a new case with the Smart Device v2. I have plenty of programming experience but have never written a driver. How can I help? Do you have any resources on learning to write a driver?

Also, I'd be happy to provide the 'protocol spec' if having the device enables me to do so.

[2019-08-25 15:30] olielvewen opened #36 "CoolerMaster MasterLiquid ML240 RGB support ?"

[2019-08-25 15:32] olielvewen commented on #36
Hi,

I would like to know if you will implement the support for the [CoolerMaster MasterLiquid ML240](https://www.coolermaster.com/catalog/coolers/cpu-liquid-coolers/masterliquid-ml240r-rgb/) RGB or for CoolerMaster product in the future ?
And if it is a positive answer, When ?

BTW Thanks a lot.

[2019-08-25 23:49] Firehawke commented on #35
Going to be at least a few days before I can get to anything related to this. The entire room my PC is in is literally half-disassembled at the moment. I do plan to at least look into what I can do when the deconstruction and construction is complete.

[2019-08-27 16:30] olielvewen commented on #36
Thanks jonasmalacofilho for your quick answer and all this explanations. I was not thinking that everything was playing at the level of the motherboard.

Unfortunately, I can not give you all this information (it will be with a great pleasure to help you in this task) for the simple reason I have not yet bought this AIO. And I was asking the question for a future purchase.

What about the Corsair

[2019-08-29 16:25] olielvewen commented on #36
Sorry for the delay, I'm not every day behind my computer. Especially, at this season......^_^

Here, I give you the output of lsusb, lspci, Inxi under different forms.
##lsusb
`[olivier@thorielle ~]$ lsusb
Bus 004 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 003 Device 002: ID 046d:c517 Logitech, Inc. LX710 Cordless Desktop Laser
Bus 003 Device 003: ID 03f0:6411 HP, Inc PhotoSmart C

[2019-08-29 16:47] olielvewen commented on #36
I get an issue with OpenCorsairLink and I'm not able to run it.
See this bug report : [https://github.com/audiohacked/OpenCorsairLink/issues/198](url)
And nobody for helping me at first look....
As you could see in the lsusb and inxi -xxx --usb outputs, I've got an Headset Steelseris Artic7, an usb mouse corsair Dark Core SE RGB (**1b51**) and an Corsair RM650I (**1c0a**)

|Considering both of the

[2019-08-29 18:30] jonasmalacofilho commented on #36
See this bug report : https://github.com/audiohacked/OpenCorsairLink/issues/198
And nobody for helping me at first look....

Left a comment there, hope it helps.

From a quick look on Amazon, the EVGA 280 seems to sit just in the middle between the prices on those listings you linked for the ML240R and H115i Platinum.

And both Corsair and NZXT have models using the same (H115i, X61) or very simil

[2019-08-29 18:31] jonasmalacofilho commented on #36
// closing this issue as there's nothing actionable here, but I'll still reply normally

[2019-08-29 18:31] #36 closed

[2019-08-30 17:08] olielvewen commented on #36
|Left a comment there, hope it helps.
Your intervention was the small stone that triggered the avalanche
|From a quick look on Amazon, the EVGA 280 seems to sit just in the middle between the prices on those listings you linked for the ML240R and H115i Platinum.

And both Corsair and NZXT have models using the same (H115i, X61) or very similar (H115i Pro, X62) pump/block design from Asetek that's

[2019-08-30 18:07] jonasmalacofilho commented on #36
They also seem to rely on the motherboard for software fan and LED control, meaning that it's about supporting the motherboard, not the devices themselves.  So, just as with the ML240R, the short answer is "no".

In fact, I don't have specific plans for any new devices.  This doesn't mean that it wont happen or that I'm not interested in or willing to help supporting more devices.  But right now I

[2019-08-31 16:11] olielvewen commented on #36
| They also seem to rely on the motherboard for software fan and LED control, meaning that it's       about supporting the motherboard, not the devices themselves. So, just as with the ML240R, the     short answer is "no".

This decision is due to a technical impossibility or the fact that it is necessary to write from scratch a new software (not to mention the time and the study necessary to achi

[2019-08-31 16:45] olielvewen commented on #32
Great information.

If I was aware about PyusbTutorial, HID Specifications ( I have some difficulties to find them),  I do not know about nzxt_smart_device.py and also Linux Kernel USB Documentation. Very interesting.

People use Wireshartk on a virtual machine with Windows for making Reverse Engineering. A great [blog entry (in French)](https://blog.flozz.fr/2016/03/27/steelseries-rival-100-rever

[2019-08-31 22:43] jonasmalacofilho commented on #36
Think of these non-USB devices as having three controllable bits:

 - the pump: controlled only by varying the voltage supplied to it
 - the fans: controlled either by varying the voltage or with a [25 kHz pulse-width modulation (PWM) signal](https://en.wikipedia.org/wiki/Computer_fan_control)
 - the LEDs: controlled with pulses of different lengths in a single wire ([datasheet for the WS2812B LED

[2019-09-02 17:10] olielvewen commented on #36
|

This conversation is very interesting and I allow myself to present projects that could help you or give suggestions for other people who would read us.

``` You could also build your own controller board with an Arduino,1, 2 Raspberry Pi3, 4 or similar, and liquidctl could be made capable to talking to this DYI controller. I would be willing to implement this, provided the controller was open-

[2019-09-03 07:11] jonasmalacofilho commented on #36
That's right.

While not super efficient, you could write a script that calls OpenCorsairLink every second or so, parses the results, and outputs the status info as a continuous stream.

But, since you are on Linux, I think the best solution is to write a kernel driver for the Hardware Monitoring subsystem, which will allow lm-sensors, and other tools based on these (e.g. Freon extension for Gnome

[2019-09-05 01:25] source83 opened #37 "Strange behavior running "status" as regular user"
Hi, I'm loving the fact that this is Python based (my favorite programming language).

My AIO: Corsair H115i
Detected correctly as well:
[code]

More of a strange bug or strange behavior:
when using `liquidctl status` as normal user, you get the readout/status just fine (might be because of my changes to udev so the aio would be accessible in userspace).
But, the fan revs up to max.
As soon as I r

[2019-09-05 16:27] jonasmalacofilho commented on #37
Hi!

This is most likely an issue related to how we work around a limitation of these older Asetek devices: they require sending some sort of configuration change just to read the current status, so we have to store those values somewhere.

My first guesses were either a permission issue or that I had set the path differently for root and regular users, but reviewing the code it doesn't seem that

[2019-09-05 17:42] olielvewen commented on #36
Hi again,

Sorry for the delay.

```While not super efficient, you could write a script that calls OpenCorsairLink every second or so, parses the results, and outputs the status info as a continuous stream.```

You have reason but before I'll try another project called [CorsairRmi](https://github.com/notaz/corsairmi) which done only one thing: read PSUs. I 'll must just create a pkg, if I can reme

[2019-09-05 18:10] jonasmalacofilho commented on #36
It should be fairly easy to port CorsairRmi into a Linux hwmon driver.  I might look into that in a few weeks.

[2019-09-05 22:35] source83 commented on #37
[liquidctl_sudo.log](https://github.com/jonasmalacofilho/liquidctl/files/3581441/liquidctl_sudo.log)
[liquidctl_userspace.log](https://github.com/jonasmalacofilho/liquidctl/files/3581442/liquidctl_userspace.log)

[2019-09-05 22:36] source83 commented on #37
Thanks :)

[2019-09-05 23:41] source83 commented on #37
Btw, it might be a good idea to add to the default output when you don't have any args that to get the full options etc list, you need to use `--help`

[2019-09-05 23:43] source83 commented on #37
I almost posted a bug post on it after finding the full list in the cli.py file and not testing the `--help` option first.

[2019-09-06 17:03] olielvewen commented on #36
Great news.

In a similar vein, there is also [psumon](https://github.com/ka87/cpsumon) a bit more evolved. He has been designed for the AX1 Series.

I've just found this project called [OpenAuraSDK](https://gitlab.com/CalcProgrammer1/OpenAuraSDK) And I think that he could be interesting for you. This one provides  at low level a open-source implementation of the Asus Aura RGB controller software

[2019-09-06 18:15] jonasmalacofilho commented on #37
You forgot to add the `--debug` flag during the run without sudo.

Can you also check if regular users can read the files in `/usr/local/share/liquidctl/1b1c_0c0a_0100/usb1_9/`?

Thanks!  I was going to ask for that too but forgot, so I'm glad that you remembered.

---

If you can help me with this and other documentation issues (e.g. new docs for the Corsair devices; converting the issue comments

[2019-09-06 18:41] jonasmalacofilho commented on #36
It's nice to see OpenAuraSDK: people are figuring out how Aura works and how it's connected to the system.

When I have some time to spare I'll try to give it a better look.  I have a compatible board and some things (the secondary SMBus controllers in particular) are very interesting.

[2019-09-07 18:40] Juveb opened #38 "Control different sets of Fans on different headers"
Hi,

First, a thank you:
I recently built a Hackintosh and love liquidctl! Without it I would have been nervous about inadequate cooling, so a big thank you for your hard work!!! It's especially impressive considering the Hackintosh driver FakeSMC doesn't support or even see any fans, yet you guys still have control over the fans on my device!

Issue/Feature Request:
I have two different sets of f

[2019-09-07 18:50] olielvewen commented on #36
|It's nice to see OpenAuraSDK: people are figuring out how Aura works and how it's connected to the system.

Yes I'm agree. And like it is open-source we could hope that will be re-taken by others. Crossed fingers.
Calcprogrammer1 aka Adam Honse is not a beginner. Here a set of his projects and I think that the last could be interesting for you even he is old (if my memory is still good.)

- [Cors

[2019-09-08 04:17] jonasmalacofilho commented on #31
@jnettlet did you figure out any more of the protocol?

[2019-09-08 04:32] jonasmalacofilho commented on #38
Thanks!

liquidctl isn't controlling the fans connected to the motherboard header.  They must be running according to the UEFI/BIOS settings, since they aren't visible on the OS level.

Technically it is possible, but I don't know much (or at all) about how hard it is to write kernel drivers for Mac OS.  Assuming that's not too much of a pain, the first step will be to figure out exactly the chip

[2019-09-08 05:03] jonasmalacofilho commented on #36
Actually I just mentioned I might look into making a _kernel_ driver for it, but I haven't really given much thought on where I'd host it.  It'd probably be liquidctl-linux-drivers or a separate repository.

The description is: "Cross-platform CLI and Python drivers for AIO liquid coolers _and other devices."_   Anything with sensors or fan controllers that's related to hardware monitoring can fit

[2019-09-08 07:35] jnettlet commented on #31
@jonasmalacofilho Unfortunately, that project has been on the back burner for the last couple of months.  Although just the last couple of weeks I have pulled that machine back out and was going to start looking into this again.

[2019-09-08 16:49] olielvewen commented on #36
Okay. I keep this link under the elbow.

Not sure because when I run `sudo liquidctl list` I got nothing. My device is not recognize.

Indeed, this example is logical and will be welcome. And the RM650i supports this feature.
Here the features of the RMi series power supplies :

- read monitoring of PSUs (in real time)
- pilot fan but you must know that he is off at less of 50% of charge. After he

[2019-09-09 05:10] jonasmalacofilho commented on #35
I ended up working a bit on the fan profiles already.  Can you give commit 3f004ee3b68bba4b72de947b021bedf2bd320695 ("Add support for setting fan profiles on all legacy 690LC devices") a try?

Since it's a first attempt I imagine there might be some issues left.¹  Hopefully you'll be able to easily fix them or, least, figure out more about what's going on with the `--debug` flag.

Besides an obvio

[2019-09-09 05:10] jonasmalacofilho commented on #37
Can you give commit 3f004ee3b68bba4b72de947b021bedf2bd320695 ("Add support for setting fan profiles on all legacy 690LC devices") a try?

Since it's a first attempt I imagine there might be some issues left.¹  Hopefully you'll be able to easily fix them or, least, figure out more about what's going on with the `--debug` flag.

Besides an obvious failure, I would also like to ask you to check for m

[2019-09-09 23:14] Firehawke commented on #35
Sorry about that, I just got my system back up and running and I'll be pulling and testing now.

[2019-09-10 01:39] Firehawke commented on #35
Results of liquidctl --debug --legacy-690lc initialize
[code]

So, it looks like it definitely doesn't like that format. I've side-by-side installed the beta with the previous known-working install, so it's not like this is putting my system at risk testing it.

[2019-09-10 06:34] jonasmalacofilho commented on #35
Thanks for testing this...

The problem appears to be limited to the next read just after setting the fan profile and pump speed (this is in _end_trasaction_and_read).  So I think there's still hope we can get this feature to work.

Do we know of a specific version of CAM that does set up fan profiles _on the device?_  As you mentioned, the recent one I have (3.7.8) does everything in software.¹

[2019-09-11 05:52] source83 commented on #37
okay, before doing a pull, here is the missing userspace status with --debug
[liquidctl_userspace-2.log](https://github.com/jonasmalacofilho/liquidctl/files/3599181/liquidctl_userspace-2.log)

[2019-09-11 05:59] source83 commented on #37
after a pull:
[code]

[2019-09-11 08:16] jonasmalacofilho commented on #37
Yeap!  I just pushed a change to the master branch that should solve this (though you'll need to reconfigure the device).

Another thing: did you get a chance to test the fan profiles from the commit I mentioned before?

---

P.S. Programs running as root are still running in user space.  The only things _not_ running in user space are the kernel and its loaded modules.

[2019-09-11 08:32] jonasmalacofilho commented on #38
Closing...

@Juveb feel free to ask more questions, I'll try to answer them as best as I can.

[2019-09-11 08:32] #38 closed

[2019-09-11 09:31] jonasmalacofilho commented on #36
Of course, support for the _device_ still has to be added...

... which is what I just started in #39!  :smile:

Please give it a try and report back (on the PR, to keep things organized).

[2019-09-12 17:40] olielvewen opened #40 "How to use a testing branch for getting news features which are not yet available in stable version"
Hi Jonas,

I am sure that this question will interest a lot of people who are using liquidctl and even for others projects.

How to use a testing branch for getting news features which are not yet available in the stable version knowing that they have already the stable version of liquidctl installed and that this testing branch must propose a clean experience (i.e do not put the mess in the syste

[2019-09-13 10:35] source83 commented on #37
Okay, I just tried the commit you mentioned, still gettin the NotImplementedError message:
[code]

[2019-09-13 10:36] source83 commented on #37
[code]

[2019-09-13 10:53] jonasmalacofilho commented on #37
I don't understand what's going on:

 - `CorsairAsetekDriver` is a pretty dump subclass of `LegacyAsetekDriver`.
 - before `LegacyAsetekDriver` did not implement `set_speed_profile`, which caused `NotImplementedError` to be raised... but now it does implement it!

Just as sanity check, can I ask you to confirm that `liquidctl` is pointing to the correct place (maybe you have multiple installations

[2019-09-13 11:06] source83 commented on #37
Okay, sorry, I was not on that commit, I am now. there is no error, but the fan will not change its speed at all.

[2019-09-13 11:07] source83 commented on #37
[code]

[2019-09-13 11:21] source83 commented on #37
sorry, forgot the --debug output:
[code]

[2019-09-13 11:23] jonasmalacofilho commented on #37
Oh well, I guess the device doesn't like this approach.

Hm, I see that the firmware version is pretty recent... my EVGA CLC is only on 2.10.0.0, and I'm guessing Asetek uses a global versioning scheme for the 690LC family.  You could probably give the "modern" `AsetekDriver` a try.

First, revert back to the latest version on 'master', and make sure fan and pump speeds are working again.  For thi

[2019-09-13 11:27] source83 commented on #37
My pump and correct description is already in the list:
`(0x1b1c, 0x0c0a, None, 'Corsair Hydro H115i (experimental)', {}),`

[2019-09-13 11:29] jonasmalacofilho commented on #37
Oh, did you `initialize` the device before testing the new code?

The command used specifically for fixed fan speeds overrules any profiles until the device is initialized again (actually I even had to powercycle it once, but maybe that was my fault).

The same will be necessary if you change your device to bind to the modern `AsetekDriver`, instead of `CorsairAsetekDriver`.

---

It's a member of

[2019-09-13 11:30] source83 commented on #37
dooooh...... no I didn't run init :headpalm:

[2019-09-13 11:32] source83 commented on #37
yepp, that worked

[2019-09-13 11:33] source83 commented on #37
btw, is there a discord server I could chat with you in ?

[2019-09-13 11:37] jonasmalacofilho commented on #37
:smiley:

3f004ee or the custom edit?

---

Sorry, I stopped using that.  We could do Telegram, it that's a thing you use.

[2019-09-13 13:12] #37 closed

[2019-09-13 15:12] jonasmalacofilho commented on #40
For others arriving here:

 - manually install from git or a source tarball using setuptools, possibly in a virtual environment
 - install from git or a source tarball using pip, also possibly in a virtual environment
 - on ArchLinux adapt the PKGBUILD in [python-liquidctl-git<sup>AUR</sup>](https://aur.archlinux.org/packages/python-liquidctl-git/) to point to the desired branch
 - on Windows chec

[2019-09-13 15:12] #40 closed

[2019-09-13 15:51] olielvewen commented on #40
Indeed, I agree that was not clear. My idea was for trying a custom branch in parallel.

Just edit the branch name ; )

The fact of having to create a branch based on the commits is a very good thing that the future contributors / beta testers will appreciate.
And the fact to be on Archlinux and derivated like us is a huge help and so simple.
Great work.

[2019-09-14 05:20] jonasmalacofilho opened #42 "Resource busy errors when simultaneously accessing 690LC devices"
Simultaneously running

[code]

in different shells causes the second to exit (first) with `Resource busy`.

Next, the other one fails as well with `Operation timed out`.  That happens even if `--interval` is set to a high value and everything else clearly happens when it's `time.sleep`-ing.

[code]

and on shell B:

[code]

~~Additional issue: shell A exists with code 0~~ (fixed in a0a983409b9321

[2019-09-14 05:44] jonasmalacofilho commented on #42
A traceback from shell B:

[code]

Technically this was during another run and the failure happened a little later in the test script, but it's the same issue (and the stack trace is the same up to `self._write`).

[2019-09-14 08:31] jonasmalacofilho commented on #42
The behavior after 1883ca4197b0a9fac21f4359cb3a485570dfbc3f ("Rework USBXPRESS flow control to allow simultaneous access") and 3c7596ea069ff45d3cf8f07ffe7dbb89a04f1e29 ("Claim the interface proactively when starting a 690LC transaction") should now be a lot more reasonable.

Of course, when two programs are racing to claim the same device (interface), it's entirely reasonable that sometimes one of

[2019-09-14 08:51] jonasmalacofilho commented on #42
Closing with 9e8b0f1c837707cdebfc064300a8b9afb0349f0e ("Make liquiddump tolerant to USB failures during any get_status").

@source83 let me know if busy errors are still common for you.

[2019-09-14 08:51] #42 closed

[2019-09-15 14:08] jonasmalacofilho commented on #40
Btw @olielvewen , thanks for (unknowingly) pushing me into using PKGBUILDs myself.

I did say _"for the software I contribute to, that's just not ideal",_ but since then I've been a private `python-liquidctl-local` PKGBUILD and life is indeed better, even if a tiny bit more cumbersome.

Thanks again!

[2019-09-18 18:26] camh opened #43 "Maybe this is a stupid question but: which temperate?"
First off, thanks for liquidctl! I had a couple issues at first, but then noticed you said that rc1 had better compatibility so I got rc3 up and running without a hitch.

This may be a stupid question, but when setting temperature/percentage profiles, what's temperate is this based on? I assume the profiles for pump speed is based on the temperate of the liquid. Is that correct?

Are the temperate

[2019-09-18 19:05] jonasmalacofilho commented on #43
Hi there!

The liquid temperature is used on both channels, because that's all that the device¹ has access to, and liquidctl configures a profile that will run on the device, and not on the host CPU.

Personally I'm fine with that because the coolant mass acts as buffer and prevents sudden fan speed bursts.  But there's also an experimental script in [`extra/krakencurve-poc`](https://github.com/jo

[2019-09-18 19:42] camh commented on #43
In hindsight, it makes sense the liquid cooling AIO unit only has access to the liquid temperate. Thanks for clearing that up! It'll be much easier to create profiles knowing for sure/

I'm on macOS, but I'm not sure I want to mess with experimental scripts for something as important as my CPU cooling. I'm not proficient with Python enough to know how to fix it myself.

[2019-09-18 20:08] jonasmalacofilho commented on #43
I get that, and the proof of concept script really isn't robust enough for unsupervised use.

On the other hand, running

[code]

before you starting krakencurve would probably make you safe _with any v4 or later¹ firmware versions._

Krakencurve uses a specific "instantaneous/override speed change" command that only lasts a few seconds, and these devices should revert back to the configured profi

[2019-09-18 20:08] #43 closed

[2019-09-27 19:53] jonasmalacofilho opened #45 "Improve support for Corsair HXi/RMi PSUs"
Improve [CorsairHidPsuDriver](https://github.com/jonasmalacofilho/liquidctl/blob/master/liquidctl/driver/corsair_hid_psu.py) adding support for:

 - [x] fan control (added in #57)
 - [x] 12V multirail OCP configuration (added in #54; feedback welcome)

Both features probably require some USB traffic captures, but it might be possible to implement fan control just from the PMBus spec and some trial

[2019-09-27 19:55] jonasmalacofilho commented on #45
@olielvewen, can you help?

[2019-09-27 20:37] jonasmalacofilho opened #46 "Improve support for Seasonic/NZXT E-series PSUs"
Basic monitoring support has been added with #44, but several features are still missing in the [`NzxtEPsu` driver](https://github.com/jonasmalacofilho/liquidctl/blob/master/liquidctl/driver/nzxt_epsu.py):

 - [x] device ID for the E650 (99ea723)
 - [x] device ID for the E850 (#53)
 - [x] identify the 12V rails
 - [ ] monitor total uptime
 - [x] read firmware version (af807c3)
 - [ ] fan control

[2019-09-27 20:39] jonasmalacofilho commented on #31
Replacing with #46 ("Improve support for Seasonic/NZXT E-series PSUs") since some initial support has already been merged.

[2019-09-27 20:39] #31 closed

[2019-09-27 20:50] jonasmalacofilho opened #47 "Provide man pages"
I would like to provide man pages for Linux, BSD and other systems where those can be used.

 - [x] basic CLI commands and options (added [liquidctl(8)](https://github.com/jonasmalacofilho/liquidctl/blob/master/liquidctl.8) in 0207b139f6bd1168e780d42e758b7c98976baed4))
 - [x] device specific requirements, options and parameters (e5f60f576aa04414253eda9292c642a1147bae24)

One way could be to migrat

[2019-09-27 20:51] jonasmalacofilho commented on #46
@jnettlet hopefully you can continue to help with this : )

[2019-09-27 23:03] jonasmalacofilho commented on #35
@Firehawke did you manage to give any of the ideas above a try?

[2019-09-28 03:20] jnettlet commented on #46
Sure will start with some more usb dumps for fan control and 12V multirail.

[2019-09-28 09:40] leinardi opened #48 "pip install -U liquidctl==1.2.0 fails on Ubuntu"
I'm trying to update on one venv liquidctl from 1.1.0 to 1.2.0 but it fails with this error:
[code]

System:
  Host: c7h Kernel: 5.3.0-12-generic x86_64 bits: 64 Desktop: Gnome 3.34.0
  Distro: Ubuntu 19.10 (Eoan Ermine)

[2019-09-28 09:44] leinardi commented on #48
Solved installing the following dependencies:
[code]

[2019-09-28 09:44] #48 closed

[2019-09-28 10:25] leinardi opened #49 "setup.py install_requires is missing cython"
While packaging version 1.2.0 of liquidctl in a flatpak I noticed that the dependency on cython missing (I had to manually install it).

[2019-09-28 11:49] jonasmalacofilho commented on #49
I think this should be reported to [cython-hidapi](https://github.com/trezor/cython-hidapi), as Cython is only necessary to build it.

[2019-09-28 11:57] jonasmalacofilho commented on #49
Note that in cython-hidapi Cython is already listed in setup_requires, but evidently that's not enough.  Be sure to include the build log showing that (it isn't enough) when reporting the bug there.

I'll close this issue, but please let me know if you think there's anything else I should do about this in liquidctl.

[2019-09-28 11:57] #49 closed

[2019-09-28 12:01] jonasmalacofilho commented on #48
This is a common issue when installing cython-hidapi, and a big part of why the [Additional requirements on Linux](https://github.com/jonasmalacofilho/liquidctl#additional-requirements-on-linux) section of the README exists.

[2019-09-28 12:03] leinardi commented on #48
Ops, I missed that section.

[2019-09-29 19:29] acoutts opened #50 "Unhandled action '[un]bind' errors in syslog when using udev rules"
More information in this ticket: https://gitlab.com/leinardi/gkraken/issues/14

Xubuntu 18.04
Kraken X62
Firmware version 6.0.2
liquidctl v1.2.0 (05248012be46)

Every time I issue a command in liquidctl these 2 lines are repeated in syslog:
[code]

[2019-09-29 19:54] jonasmalacofilho commented on #50
As I understood from the issue you linked, the problem only reproduces when you have setup udev rules for this device; can you include those here?

This might be a kernel vs. udev issue.  Are you still on kernel 5.0.0-29?  Can you also include the full output of `uname -a`, including any build/patch numbers?

Can you also check if manually {un,}binding causes the same errors, with the udev rules i

[2019-09-29 20:10] acoutts commented on #50
Linux xff0c 5.0.0-29-generic #31~18.04.1-Ubuntu SMP Thu Sep 12 18:29:21 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

udev rules.d file:
[code]

When I execute those commands above, it does produce the error output in syslog.

[2019-09-29 20:17] jonasmalacofilho commented on #50
Ok.  And and can't reproduce it on my systems.

What version of upower do you have?

[2019-09-29 20:18] acoutts commented on #50
[code]

[2019-09-29 20:31] jonasmalacofilho commented on #50
Ok, I think I figured it out.

You're probably missing this patch:

— [upower/upower@40e525edbde4](https://gitlab.freedesktop.org/upower/upower/commit/40e525edbde41f24f53a3a5255fbace71c79261a) _(see also: freedesktop bug [#106019](https://bugs.freedesktop.org/show_bug.cgi?id=106019), duplicate of [#106018](https://bugs.freedesktop.org/show_bug.cgi?id=106018)</sup> )_

Unfortunately it was only rel

[2019-09-29 20:33] #50 closed

[2019-09-30 07:23] jonasmalacofilho commented on #50
I closed the issue but please let me know if passing `--hid hidraw` to liquidctl helps.

If it does, maybe @leinardi can add a switch to enable its use in Gkraken too.

[2019-09-30 13:18] acoutts commented on #50
Passing that flag fixes it - I'll ask @icedterminal if he can enable it in gkraken too.

[2019-09-30 18:42] icedterminal commented on #50
I don't use Gkraken. However, I did install it per the README in the repo. I use Ubuntu 19.04. All sources are up-to-date. I was unable to reproduce the issue you describe.

I'm going to agree with Jonas on this one. A complete solution would be to have a the patch back-ported to 18.xx.

[2019-09-30 19:12] acoutts commented on #50
Thanks! That explains it then.

[2019-09-30 19:38] CaseyJRS commented on #32
I've posted an early experimental version of the modified driver [here](https://www.tonymacx86.com/threads/success-gigabyte-designare-z390-thunderbolt-3-i7-9700k-amd-rx-580.267551/page-814#post-2010636) along with a bit of detail about what works and what does not yet work. Briefly:

1. Fan channels are named fan1, fan2, fan3.
2. Lighting channels are named sync1, sync2.
3. "set color" is mostly w

[2019-10-01 06:12] jonasmalacofilho commented on #32
@CaseyJRS

Very nice!  I'll try to follow your updates there.

I'm assuming you are capturing the USB traffic... can you share the raw captures?

[2019-10-01 06:48] jonasmalacofilho commented on #32
Also...

Lots of things happen faster because they scratch someone's particular itch.

And, @CaseyJRS, please don't worry about submitting your contributions here.  I'll carefully review your code and I might suggest or even ask for some changes before merging your patches, but I'll also be there to help you in the process.

Also, consider that you can open _draft_ pull requests when you think som

[2019-10-01 15:37] CaseyJRS commented on #32
@jonasmalacofilho

This is my first foray into Python coding and I'm surprised by the richness of the language. Coming from a C, C++, C# background, it's refreshing to see all of STL and more seamlessly integrated into the Python syntax. I mention this just in case you spot rookie coding mistakes!

I'm using **Free USB Analyzer** on Windows to capture raw byte streams. I tried **Wireshark**, but i

[2019-10-02 02:34] CaseySJ commented on #32
@jonasmalacofilho

As promised, attached are two files in the ZIP:

1. NZXT USB Log Raw Data.rtf (Rich Text Document -- WordPad) with my current understanding of the protocol.

2. Raw USB.htm (can be opened in web browser). This file shows a more lengthy USB bidirectional conversation. It includes "Setup Packet".

Hope this helps...

[NZXT USB Log.zip](https://github.com/jonasmalacofilho/liquidctl

[2019-10-02 14:18] jonasmalacofilho commented on #32
@CaseySJ

Again, very nice work!

What version is reported by CAM?

I also expect these flags to be easy to spot when comparing packets from different combinations of fans and accessories.

Did you reinitialize the device after disconnecting the strip, either by power cycling it or by restarting CAM?  At least on v1 devices that's the only time when the device checks what's connected to it.

On th

[2019-10-02 16:55] olielvewen commented on #45
Hi Jonas,

Sorry for the delay, I was far away from my computer and I have not been notified by your message and others. Fortunately, Jonathan sent me an email at last the second because I also did not see the first. I hate phones and I like computers.

Okay. Tell me what do you want.

I have done some search and I have not seen the Firmware. And not only that even the idvendor name is not present

[2019-10-02 16:57] olielvewen commented on #45
Did we are "working" on this branch ("45) as the last time with the #39 ?
I think that will be that but i would like to be clear.
Anyway, I will remove my actual branch to update to this one for helping you.

[2019-10-02 17:04] olielvewen commented on #45
BTW. Did you have seen this news ?

- [https://www.overclockingmadeinfrance.com/enermax-liqmax-iii-argb/](url)

- [https://www.tomshardware.fr/enermax-lance-ses-kits-de-watercooling-aio-liqmax-iii-en-version-argb/](url)

- [https://www.tomshardware.fr/thermaltake-lance-des-configs-de-watercooling-completes-bourrees-de-rgb/](url)

A lot of work in perspective..

[2019-10-02 21:09] jonasmalacofilho commented on #45
Hi @olielvewen!

Don't worry about it.  And not getting GitHub notifications is, unfortunately, not unheard of.  Try double checking your GitHub notification settings.  And if there's nothing obviously wrong there try contacting GitHub support.

Try installing CorsairLink in a virtual machine, pass the PSU through to it, and send me USB traffic captures during which you change fan speeds, the mult

[2019-10-03 02:12] CaseySJ commented on #32
@jonasmalacofilho

Good hints! A little more exploration yielded more information that has been added to the experimental driver (v3) at the [same site](https://www.tonymacx86.com/threads/success-gigabyte-designare-z390-thunderbolt-3-i7-9700k-amd-rx-580.267551/post-2010636). Specifically:

- We need to issue a new command string (0x10, 0x01) and read the reply to obtain firmware version. This has

[2019-10-03 13:54] SkyWar-design opened #51 "Install liquidctl on Mac OS"
Hello, i get installation error

1. pip3 install --upgrade pip
2. git clone URL
3. pip3 install liquidctl

[code]

[2019-10-03 16:47] CaseySJ commented on #51
Try installing **hidapi** and **libusb** ahead of time as follows (all within a *Terminal* window):

* Download the "homebrew" package installer:
  * `/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`
* Install libusb and hidapi:
  * `brew install libusb`
  * `brew install hidapi`
* If needed, PyUSB can also be installed:
  * `pip install pyusb`

A

[2019-10-03 17:31] olielvewen commented on #45
Well, it doesn't matter that's not a priority for the moment. The most important is that I've seen your message and that I could get some free time for helping you.

That's already done but I've not still played with ICue but just one time with Steelseries Engine. Not funny for my HeadSet Artic Silver 7.

Okay

Yes I 've seen that yesterday. Great news.

Okay.

[2019-10-03 18:09] SkyWar-design commented on #51
Hello, all libraries are installed, thanks for helping, but it didn’t help me, I still get an error

1. hidapi 0.9.0 is already installed
2. libusb 1.0.23 is already installed
3. pyusb already satisfied in /usr/local/lib/python3.7/site-packages (1.0.2)

[code]

[2019-10-03 18:23] CaseySJ commented on #51
I had the same errors so I reinstalled *hidapi* and *libusb* with `brew` and tried again. I'm not sure whether I needed to add `sudo` in front of some of these commands, so it's good to try without `sudo` and with.

[2019-10-03 18:38] jonasmalacofilho commented on #51
The Pythin hidapi module (cython-hidapi) compiles some native/cython extensions during its setup.py.

From the error log it seems that you need to stall Xcode (and back in my day I remember something about having to install Xcode command line tools separately).

[2019-10-03 19:09] SkyWar-design commented on #51
Thanks for the suggestion, xcode and its command line tools are installed so far nothing helps (

[code]

[2019-10-03 19:12] SkyWar-design commented on #51
For fun, I tried installing version 1.1.0 and it worked, are there any key differences that will interfere with the work in this version?

[2019-10-03 19:42] jonasmalacofilho commented on #51
In liquidctl v1.1.0 hidapi & cython-hidapi were not yet required.  But you'll have a terrible time controlling any of HID devices (e.g. Kraken X62) on a mac without them.

Maybe your Xcode SDK is missing something or corrupted.  Clang, while installed, can't even find `<stdio.h>`>.  Or maybe you also need to (re)install a C specific SDK?

Have you tried checking for macOS specific instructions in

[2019-10-03 20:13] SkyWar-design commented on #51
I think this is due to the version of my sdk

Error:
[code]

I checked the version
[code]

[2019-10-03 20:52] jonasmalacofilho commented on #51
Can you install multiple SDKs side by side?  Because it seems that you're still running 10.14, and if that's the case then it makes sense that you need the SDK for it.

[2019-10-04 12:14] jonasmalacofilho commented on #32
@CaseySJ

Do you know which one of these, if any, actually starts a new accessory detection process?  On v1 devices this was easy to spot because it made the fans ramp up to 100%.

This is important because we will probably need some way for the user to explicitly control when to start the detection (usually the role of `initialize`).

Hm, I think we might need to have a look at the HID Report Des

[2019-10-04 15:57] jonasmalacofilho commented on #51
I found a possible explanation and solution [on StackOverflow](https://stackoverflow.com/a/58192406/2801377):

[2019-10-04 18:14] CaseySJ commented on #32
When I examine the USB conversation in Windows immediately after launching NZXT CAM (i.e. after manually killing any preexisting CAM processes in *Task Manager*) I see that CAM issues these two commands in a row: `\0x10\0x01` and `\0x20\0x03`.

The Smart Device V2 then returns a series of replies that include not only `\0x11\0x01` and `\0x21\0x03` but also the "standard" status replies of `\0x67\0

[2019-10-04 18:19] SkyWar-design commented on #51
Thank you very much, it helped me

[2019-10-04 18:25] jonasmalacofilho commented on #51
I'm glad to hear!

---

@CaseySJ, @SkyWar-design

Since you're both on macOS, could you contribute a a brew recipe for liquidctl?  Let me know if this is something either (or both) of you would be willing to help out with, and I can give some pointers.

And as to why I can't do it myself: well, first, I don't have a mac on hand right now to test any of this; additionally, homebrew [frowns on autho

[2019-10-04 22:28] CaseySJ commented on #51
Yes I can give it a try. Some pointers will certainly help as this would be my first such recipe.

[2019-10-05 02:27] CaseySJ commented on #32
Looks like my assumption was correct. Namely:

- We just need to issue '\0x10\0x01' and '\0x20\0x03' to trigger a series of replies that include everything we're looking for.
- These commands also perform new accessory detection.
- We will get about 10 reply messages, of which the current driver parses 3.
- I'll tinker with the reply messages a little more to see what else can be extracted.

Meanw

[2019-10-05 02:50] jonasmalacofilho commented on #51
@CaseySJ

I never made one, but I did some reading about it last night...

The relevant docs are in [brew/docs](https://github.com/Homebrew/brew/tree/master/docs).  From those, [Python for Formula Authors](https://github.com/Homebrew/brew/blob/master/docs/Python-for-Formula-Authors.md) should be specially useful.

You can fetch the latest liquidctl sdist directly from PyPI:

[code]

Next, I think

[2019-10-05 03:11] jonasmalacofilho commented on #32
I might be wrong, but I imagine accessory and fan detection can be disruptive for both fan speeds and animations.  If that's indeed the case we probably don't want to do that for every `get_status` call.

Ideally, we would put accessory and fan detection code in `initialize`, so it's explicitly triggered by the user.  But this would make this driver different from the rest, as it would not return

[2019-10-05 15:26] olielvewen commented on #45
I come back with a lot of stuff that I've done yesterday afternoon.

Here how I have proceded :
Test Protocol:

- Test of mutirail (default) to switch monorail

- Test of modification fan - choose between custom curve (default) and switch to custom curve at  %fixed (default 40%)  at 53%

- Test of curve (pre-enregistred) called Quiet

- Test of curve (pre-enregistred) called Balanced (seems to be

[2019-10-05 17:56] jonasmalacofilho commented on #45
That's awesome!

I haven't checked the contents yet... just looked them over, I'm out now and writing this from my phone.

I guess the device release number (bcdDevice) could be used for firmware revisions, yes, though it's normally more used to indicate hardware revisions.  But just to check: iCue/CorsairLink doesn't list the firmware version for the PSU, only for another device, and for that dev

[2019-10-06 02:28] CaseySJ commented on #32
@jonasmalacofilho

Your hunch was right! The various `status` and `set` commands of this driver were working only because I had booted into Windows first and launched NZXT CAM.

Fortunately, it was easy enough to find the initialization command sequence and add it to the `initialize` function. Now the driver works even from a dead-cold start! :)

The `initialize` function does not ramp up the fans

[2019-10-12 06:49] jonasmalacofilho commented on #45
_After having a good look at the captured traffic, here are my notes on fan control._

There seem to be only two real settings: _mode_ – automatic or manual – and, for the latter, _speed._  Note that "automatic" and "manual" should be interpreted from the perspective of the device: whenever iCue/CorsairLink is controlling the fan speeds, the fan mode is manual, even it the user has selected one of

[2019-10-12 11:08] jonasmalacofilho commented on #46
I was working on fan control for Corsair PSUs and realized that I already had the information necessary for also implementing it for NZXT units.  A video confirming that the default curve has a [plateau at 23%](https://youtu.be/V7uAPjb41Nk?t=212) also helped.

Already updated the issue description above with the relevant details... will try to implement and push it to a test PR later.

@jnettlet,

[2019-10-12 11:13] jnettlet commented on #46
@jonasmalacofilho Unfortunately I have not.  Doing more USB dumps requires a bit of time to move USB connectors around, and time has not permitted.  If you have something to test I can gladly give that a try.  Hopefully tomorrow I will have some time to get the rest of the dumps.

[2019-10-12 20:05] jonasmalacofilho commented on #46
@jnettlet

Right, while searching for device IDs for the other SKUs I read you mention that you're using the E500 to power a HoneyComb LX2K test system.

By the way, how's the support for ECC memory on that board?

[2019-10-12 20:09] jnettlet commented on #46
Well besides the fact that ECC so-dimms are a bit hard to find, and ddr4
3200 not existent, good.  I am running dual crucial 16gb 2600 ECC sticks
without issues.

On Sat, Oct 12, 2019, 10:05 PM Jonas Malaco <notifications@github.com>
wrote:

[2019-10-16 13:33] #47 closed

[2019-10-17 04:56] David-Frick commented on #32
Is this in reference to the Hue 2? The program does not seem to detect the fans connected to my Hue2 but it does detect my Kraken X62. I think it might not detect the Hue2 because it is connected to an internal USB Hub (NZXT sells one), which has space for other USB devices as well. Would this confuse the signals the program is receiving?

Thanks to the creator and contributors so much for this so

[2019-10-17 05:12] jonasmalacofilho commented on #32
The HUE 2 and the Smart Device V2 are not the same.  The latter comes in the recent H[257](i|Elite) cases and roughly is a hybrid between a HUE 2 and a Grid+.

Still, I would very much like to support the HUE 2 as well.  There's even a chance that some of what has been developed for the Smart Device V2 (see #52) can be shared with the HUE 2.

So can you open another issue specifically for the HUE

[2019-10-17 17:17] CaseySJ commented on #32
@David-Frick

In addition to the reply and suggestions from @jonasmalacofilho, I'd like to know what HUE 2 and HUE+ devices you currently own.

I've been able to find IDs for most HUE 2 accessories, but I'm missing the following:

- HUE 2 Underglow 300mm (I have the 200mm version already)
- HUE 2 Underglow 250mm (this might be available only in select geographic regions)
- HUE+ devices

Do you own

[2019-10-17 23:29] David-Frick commented on #32
Can you walk me through getting the USB vendor and product IDs? I will gladly supply them. For NXZT products, I have the

- Kraken X 62 (already supported, and working)
- HueV2
- Internal USB hub
- Six 120mm AER RGB 2 fans

I hope to get underglow, and the Hue2 Ambient lighting (goes behind the monitor) around Black Friday potentially.

[2019-10-18 01:36] jonasmalacofilho commented on #32
@David-Frick

![get-hardware-ids-after-view-devices-by-container](https://user-images.githubusercontent.com/1832496/67058666-387bc000-f12c-11e9-8120-294dee86add1.png)

To be easier to spot the NZXT products in Device Manager, change View → Devices by container.

The highlighted line shows VID (vendor ID), PID (product ID) and REV (device revision); you can include all three values in the new issue

[2019-10-18 01:49] David-Frick commented on #32
Ah, so sorry. I forgot to mention that I am using Debian with KDE Plasma
apps.

On Thu, Oct 17, 2019, 9:36 PM Jonas Malaco <notifications@github.com> wrote:

[2019-10-18 02:25] jonasmalacofilho commented on #32
@David-Frick

That's even better.

[code]

---

There are several ways to dump the report descriptors.  One of them is through lsusb, but you first need to unbind the usbhid driver from the device.

1. Take not of the PID of interest from the previous lsusb run (e.g. `170e`).
2. `# lsusb -tv` and take note of the corresponding bus and USB ports for that device
(e.g. `Bus 01.Port 1` → `Port 9`)
3.

[2019-10-18 03:51] David-Frick commented on #32
1) sudo lsusb -d 1e71:
[code]

2) The command ` sudo lsusb -d 1e71:  --verbose` returned a bunch of info: the PIDs being `1e71:170e` on `Bus 001 Device 002` which has Port 9  and `1e71:2001` on `Bus 001 Device 005.` which has Port 3 (however, it is nested beneath device 4 at port 13)

3) returns:
[code]

which I am not sure how to intrepret. Like you showed, I believe it is 1-9:1.0
Does this sound

[2019-10-18 03:58] jonasmalacofilho commented on #32
@David-Freck

The correct bus id will be `1-13.3:1.0`: bus 1, port 13, "sub" port 3, config(?) 1, interface(?) 0.  As you can see from the question marks, I can't completely interpret these either.

[2019-10-18 04:20] David-Frick commented on #32
Okay, I will continue from there tomorrow morning!

On Thu, Oct 17, 2019, 11:58 PM Jonas Malaco <notifications@github.com>
wrote:

[2019-10-18 16:59] olielvewen commented on #45
I just come back on this. I'm nearly sure that the firmware revisions. Check [here]([url=http://pix.toile-libre.org/?img=1571419915.jpg][img]http://pix.toile-libre.org/upload/img/1571419915.jpg[/img][/url])
And even I've not the screenshot about my headset Steelseries Artic, i can said that his firmware version 1.19 is the same that the number bcdDevice shows.
It will be confirm the day that I cou

[2019-10-18 19:28] optimumbox opened #56 "Liquidctl x72 won't install on Windows 10"
The automated installer wouldn't do anything. When trying to follow this guide here: https://codecalamity.com/replacing-nzxts-cam-software-on-windows-for-kraken/. I get errors after attempting the install. So far I haven't found another user who has encountered this and threads pertaining this install method are archived leaving me unable to comment.

https://imgur.com/a/9hYmLaF

[2019-10-18 20:34] jonasmalacofilho commented on #56
The pre-built binary requires no installation.  It's a portable executable: just extract it and call it from a Windows Command Prompt or Power Shell.

For additional convenience, you can place it somewhere already in your PATH variable, or add it's folder to that variable.  This will allow you to call it from any location (e.g. no need to `cd` into the correct directory first).

---

The error whe

[2019-10-18 21:00] optimumbox commented on #56
Thank you. I was able to get it working properly through cmd prompt.

[2019-10-18 21:00] #56 closed

[2019-10-20 06:20] #45 closed

[2019-10-20 07:05] #51 closed

[2019-10-22 02:13] jonasmalacofilho commented on #32
I'm happy to say that as of 7f0d6a251f2a2e4865844609f0b9bfe09d6c3521 support for the Smart Device V2 has been merged.

There's a new [documentation section](https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/nzxt-smart-device-v2.md) for it, and the `liquidctl(8)` man page was also updated.

Thank you @CaseySJ for developing the driver and being patient during my code reviews.

---

@ri

[2019-10-22 02:13] #32 closed

[2019-10-22 16:18] CaseySJ commented on #32
@David-Frick,

To make it easier to support your HUE 2 lighting controller, here's an example code:

- File: drivers/nzxt_smart_device.py
- Line: 303

Current code:
[code]
To add the HUE 2 lighting controller, try replacing those lines with these lines:
[code]
Then type `liquidctl list` to see whether your Kraken and HUE 2 devices are listed. If they are, and if the HUE 2 is device #2 (index 1) in

[2019-10-22 17:16] David-Frick commented on #32
I am out of town until Monday. When I am bqco, I will gove it my full
attention!

On Tue, Oct 22, 2019, 12:18 PM CaseySJ <notifications@github.com> wrote:

[2019-10-24 15:17] flyweight commented on #32
@jonasmalacofilho Would it be possible to get a new windows binary release with this driver included please?

[2019-10-24 16:33] jonasmalacofilho commented on #32
@flyweight

Now that the driver has been merged (and also in general) you can simply use the latest build [from the 'master' branch](https://ci.appveyor.com/project/jonasmalacofilho/liquidctl/history/branch/master).

[2019-10-24 17:17] flyweight commented on #32
@jonasmalacofilho Thanks for pointing me in the right direction.

Running `liquidctl status`, I get:

[code]

I'm able to change the colors for my `led1` hardware but cannot change any of my fan speeds currently.

[2019-10-24 17:23] jonasmalacofilho commented on #32
@flyweight

Try running `liquidctl initialize` first, and let me know if that makes a difference.

[2019-10-24 17:24] CaseySJ commented on #32
And then (after the `initialize` command) please repeat your original command as follows:

`liquidctl --debug status`

[2019-10-24 17:29] flyweight commented on #32
@jonasmalacofilho

[code]

[2019-10-24 17:56] jonasmalacofilho opened #58 "Input/Output error when reading from Smart Device V2"
[code]

Reported by: @flyweight in [#32 (comment)](https://github.com/jonasmalacofilho/liquidctl/issues/32#issuecomment-546016677)
Reported by: [/u/B0bbySmile](https://www.reddit.com/user/B0bbySmile/) in Reddit [comment](https://www.reddit.com/r/NZXT/comments/dg0dce/alternative_to_cam/f4avamr)

[2019-10-24 17:58] jonasmalacofilho commented on #58
@CaseySJ

Can you see if you can reproduce the problem with the same commit (75df4346227f) and order of commands?

[2019-10-24 17:59] jonasmalacofilho commented on #32
Move this to a new issue: #58 ("Input/Output error when reading from Smart Device V2").

[2019-10-24 18:01] jonasmalacofilho commented on #58
@flyweight

Can you run the same commands again but passing `--hid hid`?

[code]

[2019-10-24 18:02] CaseySJ commented on #58
@jonasmalacofilho

Certainly -- currently at the office so it will be a few hours.

[2019-10-24 19:07] flyweight commented on #58
@jonasmalacofilho
[code]

[2019-10-24 19:25] jonasmalacofilho commented on #58
@flyweight thank you, that's very helpful.

@CaseySJ this means that the problem is specific to the PyUSB/libusb backend.  I think we should start by checking the endpoint numbers and (again) the read/write lengths.

[2019-10-24 19:53] jonasmalacofilho commented on #58
@flyweight can you give d6b3ed1a054b185c98d3d0d0aa328a1a9424fc39 ([build #309](https://ci.appveyor.com/project/jonasmalacofilho/liquidctl/builds/28361509)) a go, this time without passing `--hid hid`?

[2019-10-24 20:00] CaseySJ commented on #58
Yes, `_READ_LENGTH = 60` probably needs to change to 64.

Also, **Fan duty** should be 10% (not 0%) so I'll take a look at that as well.

[2019-10-24 20:10] jonasmalacofilho commented on #58
Well, the previous command tried to set it to 0%.  So that's weird as well.

@flyweight are you running DC only (i.e. 3-pin only) fans?

[2019-10-24 20:11] CaseySJ commented on #58
Maybe the fans were in the process of spinning down, so RPM was still high. That might make sense if the `set fan1 speed 0` command was immediately followed by `status`.

It would be good to set fan speed to 0, visually verify that fan has stopped, and then issue `liquidctl status`.

[2019-10-24 20:28] jonasmalacofilho commented on #58
His is a Smart Device V2 as well.  Otherwise no fan data [should have been reported](https://github.com/jonasmalacofilho/liquidctl/blob/75df4346227f397c016960e1504ffbb3f022d83b/liquidctl/driver/nzxt_smart_device.py#L432).

[2019-10-24 20:49] flyweight commented on #58
@jonasmalacofilho @CaseySJ

Fans never spin down after time.  Fans are 3-pin.  The controller should be able to regulate with voltage, right?  Otherwise, why would the manufacturer have included them with the case.

If I set to 10%, the fan 1 duty is reported correctly but the RPM remains the same after some time.

[code]

![smart device v2](https://proclockers.com/sites/default/files/NZXT_H510E_2

[2019-10-24 20:51] CaseySJ commented on #58
Oh yeah! Wires crossed with Mr. David Frick...

[2019-10-24 20:56] CaseySJ commented on #58
@flyweight @jonasmalacofilho

The current Smart Device V2 driver was developed with only PWM fans attached. However, I have some generic 3-pin fans that I can connect to this device.

[2019-10-24 21:04] jonasmalacofilho commented on #58
Merged d6b3ed1 already since it [fixes the main issue](https://github.com/jonasmalacofilho/liquidctl/issues/58#issuecomment-546097054).

Leaving the issue open so @CaseySJ can take a look at the DC control part.

[2019-10-24 22:32] #35 closed

[2019-10-25 00:54] CaseySJ commented on #58
I'll post some observations here first. Analysis and solutions in subsequent post.

**These tests are based on code in my fork of liquidctl.**  I am now downloading latest code from Jonas' repository. Results to be posted in next reply.

3-Pin DC fan must connect to **top 3 pins** of the 4-pin header on Smart Device V2.

**Test 1:**
- 3-Pin DC NZXT fan on `fan1` with `set fan1 speed=60`
- 4-Pin PW

[2019-10-25 01:04] CaseySJ commented on #58
**These results are from latest code from Jonas' repository.** Looks like they are identical to those in previous post. All tests done on **macOS Catalina**.

**Test 1:**

- 3-Pin DC NZXT fan on `fan1` with `set fan1 speed=60` (does not have any RGB)
- 4-Pin PWM Aer RGB 2 fan on `fan2` with `set fan2 speed=50`

**Result: Good**
[code]

**Test 2:**

- 3-Pin DC NZXT fan on `fan3` with `set fan1 spee

[2019-10-25 01:09] CaseySJ commented on #58
Just found another 3-pin DC fan (generic brand). Fan connections for this test are:

- Fan 1: Generic 3-pin @ 60%
- Fan 2: NZXT 4-pin Aer RGB 2 @ 50%
- Fan 3: NZXT 3-pin @ 50%

**Result:** Good.

[code]

[2019-10-25 01:24] CaseySJ commented on #58
Speculation on cause of problem:

- Perhaps the problem reported in Windows is in fact due to `_READ_LENGTH=60` instead of `64`.

[2019-10-25 01:37] jonasmalacofilho commented on #58
@CaseySJ

In the tests from the first comment it appears that setting the DC fan to 50% or 60% made no difference.

The description for the second test from the second comment appears to have a mistake, but assuming it's the same second test as before, we can observe the same behavior: the speed of the DC fan does not change when it's changed to 50%.

Can you also check the extremes (i.e. 0%, 100%

[2019-10-25 02:12] CaseySJ commented on #58
@jonasmalacofilho

The output is a bit confusing. We should ignore `Fan 2` and just look at `Fan 1` and `Fan 3` as those are the 3-pin fans. `Fan 2` is just the Aer RGB 2 PWM fan, so it is always set to 50%.

[2019-10-25 02:18] jonasmalacofilho commented on #58
I noticed.  Still, the follow

[code]

This change looks could be normal voltage and/or speed variance.  DC controlled fans should vary their speed linearly with the supplied voltage until stalling so I expect a much larger change here.

Try to see how those fans behave under more extreme changes (e.g. 0%, 50%, 75%, 100%).  Also, what's their maximum specified speed (i.e. at 12 V)?

[2019-10-25 02:19] CaseySJ commented on #58
And here's the same NZXT 3-pin fan on `Fan 2` in Windows, using Jonas' AppVeyor build:

[code]

And now we increase speed to 60% on `Fan 2` only:

[code]

I can hear that the fan is louder. Now let's see the `status`:

[code]

**Result:** RPM increased from 1061 to 1183 going from 50% to 60%. Functionality looks okay.

[2019-10-25 02:22] CaseySJ commented on #58
After setting `Fan 2` speed to 100% in Windows, RPM increased to 1587 and is much louder...

[code]

[2019-10-25 02:25] CaseySJ commented on #58
And after setting `Fan 2` speed to 0%, the fan disappears from the list, but **it's still spinning** (but is very quiet)... Notice `Noise Level 48 dB`

[code]

[2019-10-25 02:36] CaseySJ commented on #58
I should note that my tests in Windows were **not** done in a virtual environment `venv`.

[2019-10-25 03:22] jonasmalacofilho commented on #58
@CaseySJ

Can you double check that Fan 2 is the DC one?  Fan 3 continues to report the same (approximate) speed as before, when it was the DC one.

Regardless, I really think we have a problem _somewhere._  flyweight's last comment still clearly showed the fan control vs. speed problem.  Maybe we're missing something in the initialization routine, which could in turn make the behavior hard to rep

[2019-10-25 03:24] jonasmalacofilho commented on #58
When running the pre-build binaries from AppVeyor the Python version or the use of virtual environments should have no impact: those binaries already bundle liquidctl, Python, all Python dependencies, HIDAPI and libusb (only kernel drivers for non-HID devices are missing).

[2019-10-25 11:38] CaseySJ commented on #58
After a good night's sleep I think I found the problem. The device initialization sequence needs a second command `\0x60\0x03\`. This seems to properly enable fan speed control. It also has the effect of setting all fans to 50% duty (default). Now we can control fan speeds properly on all channels for both DC and PWM fans.

I've made the change to a new patch branch, "Fix-Device-Initialization". W

[2019-10-25 12:38] jonasmalacofilho commented on #58
@flyweight

Can you give eef945dc8775a8ef7fb807ee391ef564bf5f3477 ([build #311](https://ci.appveyor.com/project/jonasmalacofilho/liquidctl/builds/28378810)) a try and report back?

---

@CaseySJ

Because the PR had conflicts and couldn't be built, I cherry-picked your commit so AppVeyor runs and @flyweight can already test the fix.

If you want, I can help with some good git practices (for example

[2019-10-25 13:03] CaseySJ commented on #58
@jonasmalacofilho,

It would be good to know how to rebase a forked repository from the original. GitHub is not exactly intuitive.

[2019-10-25 13:20] CaseySJ commented on #58
Also, let’s ignore the sample results posted last night. I retested all of those conditions this morning before leaving for work (I wake up between 2 and 3am every day so I have a few hours of free time each morning) and the fan behavior was looking good. I’m not sure we can trust rpm for DC fans, but speed control is working correctly.

[2019-10-25 13:33] jonasmalacofilho commented on #58
@CaseySJ

I don't think that's possible at all.  GitHub is a good code sharing site, the issue tracking is flexibile, and the pull requests work for actually requesting code to be pulled in and for simple code reviews... but GitHub is not where you should be developing your code.

Instead, you should have your code in a local copy of the repository, and manage it all using `git`.  There are also G

[2019-10-25 14:25] CaseySJ commented on #58
@flyweight

Glad to hear it!

Incidentally, the **Input/Output error** that you initially reported (which is the title of this "Issue"), will occur if CAM is active -- not just the CAM GUI, but also the CAM background processes in Windows.

[2019-10-25 16:15] jonasmalacofilho commented on #58
Fixed with d6b3ed1 and eef945d.

[2019-10-25 16:15] #58 closed

[2019-10-30 23:04] David-Frick opened #61 "Support for NXZT AER 2 120mm and NZXT HUE 2."
We talked in the other issue about adding support for these devices. I am super willing to run commands to get this on the move. I did see this project on the side: https://github.com/kusti8/hue-plus which covers the hue + and has a GUI. I do not know if y'all have that on a roadmap. I would certainly be willing to help code that.

```lsusb -d 1e71: -v``` returned
[code]
This is where we kind of l

[2019-10-31 01:24] CaseySJ commented on #61
@David-Frick

As a Linux user, have you installed the latest commit of liquidctl? Or do you only have the last official release, `liquidctl 1.2.0`?

If you have the latest commit, please try modifying `SUPPORTED_DEVICES` and running the three `liquidctl` commands.

[2019-10-31 01:42] jonasmalacofilho commented on #61
@David-Frick

I'm glad to have you back.  Let's get started!

The very first thing you can try is modify the `SmartDeviceDriverV2` to bind to the HUE 2, and see what works.

You can follow Casey's instructions for that, but I would start checking the following (order of) commands:

[code]

A few notes:

 - always start on top of the latest HEAD of the master branch
 - make sure to take note of the

[2019-10-31 02:00] jonasmalacofilho opened #62 "Package for Debian/Ubuntu"
Help get liquidctl in Debian, Ubuntu and distros derived from them.

I need some volunteers...

---

Useful links:

 - [ITP](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=977256)
 - [first attempt at a package](https://github.com/jonasmalacofilho/liquidctl/issues/62#issuecomment-553936852)

[2019-10-31 02:01] jonasmalacofilho opened #63 "Package for macOS/Homebrew"
Help get liquidctl in homebrew (for macOS).

I need some volunteers...

[2019-10-31 02:25] jonasmalacofilho commented on #61
You need to add it to `SmartDeviceDriverV2`, not `SmartDevice` ; )

[2019-10-31 02:26] David-Frick commented on #61
Opposie. Let me hop on that!

[2019-10-31 02:46] jonasmalacofilho commented on #61
Despite the error, it seems close enough.  Try the color setting commands next.

[2019-10-31 02:52] David-Frick commented on #61
Okay, fair enough. I went ahead and ran the following commands and they work! It looks great:
[code]
My note is this: led1 changes 1 led and led2 change the other 5. This is because I have the 5 on one channel and the leftover 1 on its own. Is there a way to "subset" so to speak a channel?

[2019-10-31 03:09] David-Frick commented on #61
Let me just say that this is awesome. Thanks so much! I am so happy to have this working without that nasty GB data mining CAM software :)

[2019-10-31 05:10] jonasmalacofilho commented on #61
That's great news!

Back to...

I modified the status loop to handle this case.  That is, assuming I haven't messed it up (I don't have anything to test that driver with).

Please give commit 2f537119cbc01427e83d114ff63614c3d526932c from the new 'add-support-for-hue2' branch a try.

[code]

On the Smart Device V1 (from the HUE+ generation) modes were set per channel.  Some modes allowed you to add

[2019-10-31 18:55] CaseySJ commented on #63
@jonasmalacofilho

I read through [Python for Formula Authors](https://github.com/Homebrew/brew/blob/master/docs/Python-for-Formula-Authors.md) and looked at the `trezor-agent` example, which has resulted in the following **starting point** on macOS Catalina 10.15.1.

This is still incomplete. Some notes:

- In the `bottle` section there is currently no entry for `catalina`. Not sure how to obtain

[2019-10-31 19:19] jonasmalacofilho commented on #63
Hi Casey, thanks for taking a look at this!

I think the bottle will be automagically available at some time in the future (see: [Bottles/Creation](https://github.com/Homebrew/brew/blob/master/docs/Bottles.md#creation)).

That seems in line with all other formulas.  I think homebrew itself already requires all basic development tools.

Looks mostly fine to me, except that `setuptools` is also a de

[2019-10-31 19:22] jonasmalacofilho commented on #63
Just edited the above: I suppose we can also pass `--debug` to the test `list`.

[2019-10-31 21:17] CaseySJ commented on #63
The presumably extraneous `liquidctl` resource entry looks like this:

[code]

[2019-10-31 21:18] jonasmalacofilho commented on #63
Yeah, that's probably unnecessary : )

[2019-10-31 21:31] CaseySJ commented on #63
Yes, it seems `bottle` section is generated when we build a bottle. And then the `bottle` section can be manually added to the Formula.

If it helps, the output from `brew search setuptools` is:
[code]

`Setup.py` lists these dependencies:
[code]
...and `poet` only added these.

I've added this temporarily:
[code]

[2019-10-31 21:45] CaseySJ commented on #63
I just tested the Homebrew Formula and it seems to work. Others should test it as well, but here's the entire output:
[code]

[2019-10-31 21:46] CaseySJ commented on #63
Here's the Formula file (as tested above). We just copy it to this folder:
`/usr/local/Homebrew/Library/Taps/homebrew/homebrew-core/Formula`
... and then type:
`brew install liquidctl`

[code]

[2019-10-31 21:53] CaseySJ commented on #63
Regarding `setuptools` we can see this in the output quoted above (line #5):
[code]

[2019-10-31 21:55] jonasmalacofilho commented on #63
setuptools is a Python package, so _if necessary_ it would require another resource stanza.

---

We don't actually ship an executable script, and instead rely on `pip install` (or equivalents to create one.

It's that generated script that will usually depend on setuptools.  Here's mine on Linux:

[code]

After taking another look at what [`virtualenv_install_with_resources`](https://github.com/H

[2019-10-31 21:56] jonasmalacofilho commented on #63
Hm, maybe that's why it's working... still, just to confirm, I'd make sure there's no trace left of liquidctl before testing the Formula.

[2019-10-31 22:00] CaseySJ commented on #63
Yes I completely removed `liquidctl` from `/usr/local/bin` and verified by typing `which liquidctl` (and also inspecting the directories themselves).

Let me repeat that and capture/post the outcome...one moment...

[2019-10-31 22:02] CaseySJ commented on #63
[code]

[2019-10-31 22:06] CaseySJ commented on #63
And now let's install it again!  :)
[code]

[2019-10-31 22:09] jonasmalacofilho commented on #63
Well, it certainly works : )

Can you cat `/usr/local/bin/liquidctl` for me?

[2019-10-31 22:09] CaseySJ commented on #63
My NZXT system is on a different machine, so I'll test this Formula on it later this evening. Would be nice if Linux users can also run some tests.

[2019-10-31 22:10] CaseySJ commented on #63
Sure...
[code]

[2019-10-31 22:13] jonasmalacofilho commented on #63
Ok, that looks good.  It means that it's probably using the `setuptools` in that environment (which was automagically installed).

I can do that!

[2019-10-31 22:55] CaseySJ commented on #63
It seems that the `test` block does not seem to work. I've intentionally introduced errors, but the `assert` statements don't seem to have any effect.

In any case, here's the most up to date version of the Formula (file attached: `liquidctl.py.zip`):

[code]
[liquidctl.rb.zip](https://github.com/jonasmalacofilho/liquidctl/files/3796080/liquidctl.rb.zip)

[2019-10-31 23:56] jonasmalacofilho commented on #63
After a lot of pain, but I was able to install the formula on Linux.

I think most issues were simply caused by me using linuxbrew with conservative privileges.

 - the formula for libusb requires systemd, which is huge (and in my machine failed to build)
 - cython-hidapi using the default superenv couldn't find libusb.h

But I was able to hack my way around those issues and then the formula seeme

[2019-11-01 00:08] jonasmalacofilho commented on #63
Stuff to add or change that's blocked by (or at least waiting) a new release:

 - [ ] run doctests (these are probably more suited to run at build time, not later)
 - [ ] patch² and install the man page
 - [ ] test with `shell_output("#{bin}/liquidctl list --verbose --debug", 0)`¹

---

¹ Yes, `--verbose` is redundant when `--debug` is passed.  But it shows what we _want_ to test.

² It's necessar

[2019-11-01 00:58] CaseySJ commented on #63
The result of the `appdirs` command is: `/Library/Application Support/liquidctl`
[code]

[2019-11-01 01:01] jonasmalacofilho commented on #63
By the way, there is actually an issue with the Linux formula: cython-hidapi has hardcoded include paths on Linux and BSD (but not macOS).  Working on fixing this now...

[2019-11-01 01:57] CaseySJ commented on #63
Just did a `pip3 uninstall liquidctl` on my Hackintosh containing NZXT devices, and verified that all traces of the previous installation were gone. Then I copied `liquidctl.rb` to the Home-brew Formula folder and issued `brew install liquidctl`.

It first informed me of file permission issues on a man page, which was easy to fix with the suggestion provided in the error message.

Repeating the `b

[2019-11-01 02:03] jonasmalacofilho commented on #63
I made a tap from your recipe and also figured out how to patch cython-hidapi in the recipe to fix the build issue on Linux/BSD.

[code]

The repository for the tap is: [jonasmalacofilho/homebrew-liquidctl](https://github.com/jonasmalacofilho/homebrew-liquidctl).

---

P.S. I took the liberty to commit on your behalf when adding the initial recipe.

[2019-11-01 02:09] CaseySJ commented on #63
Very nice!

[2019-11-01 02:12] jonasmalacofilho commented on #63
Thanks.  I'll take a look at the updates for v1.3.0 in the next few days.

[2019-11-01 18:23] jonasmalacofilho opened #65 "Device identifiers on subsequent calls on macOS"
The listing order changes on subsequent calls on macOS, making the device ID unusable.

[code]

<details><summary>With `--debug`</summary>

[code]
</details>

This appears to be a regression, and is probably related to the new implementation of device discovery.

Reported by: @CaseySJ (in [#64/comment](https://github.com/jonasmalacofilho/liquidctl/pull/64#issuecomment-548764666))

[2019-11-01 18:24] jonasmalacofilho commented on #65
@CaseySJ can you please run the following test script on any (or all) of your macs?

[code]

[2019-11-01 19:15] CaseySJ commented on #65
Sure; I can run it shortly on my MacBook Air (no NZXT devices) and later this evening on my Hackintosh with two NZXT controllers.

[2019-11-01 20:25] CaseySJ commented on #65
Attached is the full output from `check-hid-enumerate-order.py` on my 2012 MacBook Air.

Last line reads `SOME ERRORS WERE FOUND`

[check-hid-enumerate.txt](https://github.com/jonasmalacofilho/liquidctl/files/3799482/check-hid-enumerate.txt)

[2019-11-01 20:33] jonasmalacofilho commented on #65
Thanks!

So on macOS `hid.enumerate()` returns the devices in random/unstable order.  I'll take a look to see if this is something I can fix in hidapi, otherwise I'll simple sort them in liquidctl.

---

In the mean time a workaround is to only use `--vendor`, `--product` and other stable filter options.

[2019-11-01 21:35] jonasmalacofilho commented on #65
Closing the issue as it should already be fixed in master with 31404de.

When you have a chance please give it a try with a few successive calls to `liquidctl list`.

[2019-11-01 21:35] #65 closed

[2019-11-01 21:40] jonasmalacofilho commented on #61
Hi @David-Frick

I would like to include the support for the HUE 2 in v1.3.0, but for that #64 would need to be stable(ish) by this weekend's release candidate.

[2019-11-01 22:02] CaseySJ commented on #61
I believe the behavior is still the same with HUE 2 and Smart Device V2, namely one color mode per channel. I'll grab some screenshots in Windows this evening and post them here in a ZIP file.

[2019-11-02 00:30] CaseySJ commented on #65
Now it works consistently:

[code]

[2019-11-02 01:22] CaseySJ commented on #61
Here's a zip with 2 screenshots of CAM showing that individual components on an LED channel cannot be controlled independently. Instead, the channel is assigned a color mode and that mode is applied to all components on that channel.

[NZXT-CAM.zip](https://github.com/jonasmalacofilho/liquidctl/files/3800010/NZXT-CAM.zip)

[2019-11-03 12:00] jonasmalacofilho commented on #63
I added CI testing to [jonasmalacofilho/homebrew-liquidctl](https://github.com/jonasmalacofilho/homebrew-liquidctl), with both homebrew/macOS and linuxbrew, as well as updated the formula to support `--HEAD` (latest 'master') and `--devel` (currently v1.3.0rc1).

---

@CaseySJ do you think that liquidctl would fit in homebrew-core?

[2019-11-03 15:49] CaseySJ commented on #63
Yes I think `liquidctl` should be submitted for inclusion in the Homebrew Core tap. Do you still need a third party (such as myself) to submit it?

[2019-11-03 19:59] jonasmalacofilho commented on #63
Ok.

I can open the draft pull request to start the discussion but yes, having the support of actual macOS users will probably be important.

On the technical side I think the remaining issues are:
 - patching cython-hidapi (that can already be skipped on macOS, but the best it to fix upstream)
 - conditionals on head/devel (unnecessary after 1.3.0 final, thus the draft pull request for now)
 - no

[2019-11-04 08:46] jonasmalacofilho commented on #63
@CaseySJ

Actually I just saw this in a [reply to a recent pull request](https://github.com/Homebrew/homebrew-core/pull/46052#issuecomment-548687388):

So I think it will be best if you open the pull request.  You can use this already [cleaned up formula for homebrew-core](https://github.com/jonasmalacofilho/homebrew-liquidctl/blob/e55d858bb26902df01fcd1d67266fd6dc37dd131/Formula/liquidctl.rb) (e.

[2019-11-04 22:09] CaseySJ commented on #63
@jonasmalacofilho

I should be able to test the latest formula this evening, after which I can open a pull request for homebrew-core. I'll provide some justification as well.

[2019-11-05 16:55] cwallaceio opened #66 "Kraken X61 pump makes grinding noises with liquidctl/libusbK"
What the hell, I followed instructions and did all the steps to utilize this program. After initializing everything went to 100% speed. Now after shutting down and rebooting my pump is making grinding noises. How do I fix this?

[2019-11-05 17:14] CaseySJ commented on #63
@jonasmalacofilho

The homebrew Formula for liquidctl works very well. Tested it last night on a different Mac -- that did not have Homebrew previously installed. When installing Homebrew, Xcode Command Line Tools are automatically installed.

I'll issue a pull request for homebrew-core. Having your own tap for liquidctl is not a bad idea if the Homebrew team ends up rejecting my pull request. For

[2019-11-05 17:31] cwallaceio commented on #66
You know what please just tell me how to 100% uninstall this software. I already removed the libusbk driver. Don't know what else to do. Whatever your software did it saved it to the pump itself.

[2019-11-05 21:00] jonasmalacofilho commented on #66
Turn off the PSU for a few seconds.  That will reset the device, and liquidctl does not use commands to permanently store settings on the device.

---

From what you describe, having your pump and fans running at 100% isn't something you regularly did.  It's possible that something got displaced by that (e.g. air bubbles in the loop).

Software wise, you can go back to running whatever program you

[2019-11-05 21:04] cwallaceio commented on #66
Yes libusbk. Not WinUSB but the docs were saying to use that. I can try
with the .exe file.

On Tue, Nov 5, 2019, 4:00 PM Jonas Malaco <notifications@github.com> wrote:

[2019-11-05 21:05] jonasmalacofilho commented on #66
Which docs?

[2019-11-05 21:09] cwallaceio commented on #66
The readme says libusb is recommended.

On Tue, Nov 5, 2019, 4:05 PM Jonas Malaco <notifications@github.com> wrote:

[2019-11-05 21:23] jonasmalacofilho commented on #66
Actually, it doesn't, [it recommends WinUSB](https://github.com/jonasmalacofilho/liquidctl/blob/master/README.md#additional-requirements-on-windows).  So which README then?

---

Honestly, this doesn't matter that much, since generally (and in this particular case) software cannot break hardware.  The firmware only exposes a very limited range of options, all of which within spec (e.g. running the

[2019-11-05 21:40] jonasmalacofilho commented on #66
By the way, the behavior you describe resembles what would happen if you failed to pass `--legacy-690lc` to **all** liquidctl commands when using it with an old Kraken.

Additionally, it's possible that you're running some random old code, from before the support for the X61 was stabilized, or even, because of the discrepancy on the driver recommendation, something from a third-party source.  In e

[2019-11-06 01:06] jonasmalacofilho opened #67 "Keep track of --legacy-690lc"
Mixing calls with and without `--legacy-690lc` can cause issues, and having the user keep track of this is prone to errors.

One solution would be for the value – `legacy_690lc = True | False` – passed to `initialize` to persist until either the device is initialized again, or the system is rebooted.

[code]

I'm still not sure what should be the behavior when `--legacy-690lc` is passed to command

[2019-11-06 01:30] cwallaceio commented on #66
Thanks for the help, this is the part of the README that I saw:

![Capture](https://user-images.githubusercontent.com/37254294/68260321-b6840600-000a-11ea-9acb-8f999a83cd32.PNG)

I was using v1.3.0rc1 and I tried appending `--legacy-609lc` to all commands. I've tried the WinUSB driver as well as the reset. What worked was removing these drivers and reinstalling CAM. That removed the grinding noise

[2019-11-06 04:05] jonasmalacofilho commented on #66
I'm happy to hear that the noise is gone!

Perhaps... what firmware version is your X61 is running?

I'm going to leave the issue open (at least for now) and I'd be happy to work with you to fix the problem.  Let me know if it's something you're interested in.

The first step would be to reinstall the WinUSB driver and liquidctl 1.3.0rc1 and post the output from the following commands (and only th

[2019-11-06 05:00] David-Frick commented on #61
Sorry for the long silence. I have been working on some website code. I will get back to y'all first thing tomorrow when I am up. Do y'all happen to have any tips for python libraries to control Asus Aura Sync RGB lights (my mobo has it) and EVGA X10 Precision (I think it is called) RGB lights. I hope to be able to get this small minor light on the mobo that just cycles through rainbow colors to b

[2019-11-06 05:19] jonasmalacofilho commented on #63
@CaseySJ

I'm glad to hear that.

Let me known when you open the pull request.  Regardless if it's integrated or not, we can still maintain the custom tap to test the more bleeding edge features and even the packaging process itself.

By the way, would you accept to be the maintainer of that tap?

[2019-11-06 09:58] jonasmalacofilho commented on #61
@David-Frick

That's fine, and I'm glad you're back.

Please give the code in #64/add-support-for-hue2 a try and let me know what works and what doesn't... including the output of `status`.

---

For ASUS motherboards you can take a look at [CalcProgrammer1/OpenAuraSDK](https://gitlab.com/CalcProgrammer1/OpenAuraSDK).  Be sure to read the complete README as you might need a patched driver.

On the

[2019-11-06 18:12] David-Frick commented on #61
So I was getting an issue about too many devices found after I had changed to the branch suggested, which I think had something to do with my uninstall process. I am at a weird issue where pip3 uninstall liquidctl does not find the files to uninstall but liquidctl command still works from the CLI, and pip3 install editable . for the new branch does seem to work. But then when I go to run sudo liqu

[2019-11-06 18:43] David-Frick commented on #61
Report:
`liquidctl status --debug` returns the following:
[code]

the command does cause the LED fans to blink then returns this output. All commands seem to work other than, I do not seem to be able to set the fan speed of each of the AER fans.

[2019-11-06 21:51] CaseySJ commented on #61
@David-Frick

The HUE 2 is a lighting controller only. Each AER RGB 2 fan has, of course, two connectors: One for fan speed and the other for RGB lighting effects. If the fan speed connector on all AER fans is connected to the Kraken, then all AER fans can be controlled through the Kraken `Fan Speed` channel. However, this is a single channel that will set all fans to the same speed instead of con

[2019-11-06 21:52] CaseySJ commented on #63
@jonasmalacofilho

I may be able to issue the pull request this evening. Will certainly let you know.

Regarding the question of being a maintainer of the tap, what responsibilities would that entail?

[2019-11-06 22:26] David-Frick commented on #61
So the Kraken fan header has a 4 fan split. I was wondering why it was 0 rpm so I checked the header and the fans skipped over the first header, so I guess it was only seeing the first one. I changed the order and reran the command for this:

[code]

[2019-11-06 23:06] CaseySJ commented on #61
@David-Frick

That's more like it! As you saw, we cannot skip a fan header on that cable. In my NZXT H510 Elite, I've connected all 4 AER RGB 2 fans to the Kraken fan splitter cable. I cannot control them individually, but at least I can control them! (I'm running macOS.)

[2019-11-07 00:13] David-Frick commented on #61
Report:
[code]
does work, I believe for the two fans connected to the pump which makes sense. Great!

Side note: the liquidctl status command does make the lights flicker off then on. Is this as it should be?

Do you know how I could control the fans for the fan header (also, I do have one plugged into the EVGA GPU header)? The fan header came with the Phanteks case so I assume I will have to figu

[2019-11-07 01:40] jonasmalacofilho commented on #61
@CaseySJ, does this happen with the SDV2 as well, or is it specific to the HUE 2?

We need to consider that some users may be calling `status` (or `get_status`) from a loop (e.g. using a custom bash script or something like `extra/liquiddump`), potentially making the lights flicker every few seconds.

One solution that comes to mind is to move the firmware and accessory listing code to `initialize

[2019-11-07 01:56] jonasmalacofilho commented on #61
@David-Frick

Do you mean a fan hub from Phanteks?  Does it connect to the motherboard via USB or does it simply duplicate a PWM signal (i.e. is connected to the motherboard using a standard fan connector as well)?

It would be awesome if you could help with that!

Since you're running Debian, I think the best route is to request and then work on a package for Debian, that is, a package that will

[2019-11-07 02:01] David-Frick commented on #61
So, let's tackle the Phanteks thing first if that can help you! It simply duplicates the PWM signal so it connects to a 4 pin on the motherboard.

[2019-11-07 02:12] CaseySJ commented on #63
@jonasmalacofilho

I've just submitted the [pull request](https://github.com/Homebrew/homebrew-core/pull/46442). Regarding maintainer responsibilities, I just found that information in the `brew.sh` site. Let me read it over more carefully...

[2019-11-07 02:28] jonasmalacofilho commented on #63
@CaseySJ

That's awesome, thanks!

By the way, I think you forgot to use the cleaned up version of the formula I linked in one of my previous commits.  It removes the `OS.mac?` conditionals and the patching of cython-hidapi (which is not need on macOS), both of which are changes that will likely be requested to you.

[diff master..clean-up-for-homebrew-core](https://github.com/jonasmalacofilho/hom

[2019-11-07 02:31] jonasmalacofilho commented on #61
In this case you'll need to figure out how to control the motherboard fan headers.

What board do you have, and is there support for its Super I/O chip in the kernel?  Have tried running `sensors-detect` (from lm-sensors)?

[2019-11-07 02:35] CaseySJ commented on #61
My H510 Elite system is currently offline, but should be returned to duty tomorrow. As I recall, however, the RGB lights on the Smart Device V2 do **not** blink when `status` is called. Let me double check this tomorrow.

[2019-11-07 02:40] CaseySJ commented on #63
Alas, that's what happens during weekdays as I'm always pressed for time! Okay, will give them the cleaned-up version once they respond!

[2019-11-07 02:40] jonasmalacofilho commented on #63
Regarding maintaining the custom tap,

on my part, I would mostly expect you to respond to issues, keep it and the dependencies up-do-date, and periodically check for issues (and fix them, if possible).

Honestly, some of this commitment you're already showing here (like following up on the SDV2 driver)... thanks, by the way!

Can you point me to that document?

[2019-11-07 02:43] CaseySJ commented on #63
There's `Maintainers` section [here](https://docs.brew.sh).
![Screen Shot 2019-11-06 at 6 42 08 PM](https://user-images.githubusercontent.com/48335376/68355813-500fee00-00c5-11ea-9620-ac3b24417bb4.png)

[2019-11-07 02:44] jonasmalacofilho commented on #61
Thanks @CaseySJ!

(You probably already considered it, but) I forgot to mention: to avoid the loop we need to know if `0x1001` and `0x2003` _always_ produce immediate replies.

So it might be necessary to check that a few times (at least 10)...

[2019-11-07 02:49] jonasmalacofilho commented on #63
Oh, I think that's more for homebrew-core maintainers.  And [How to Create and Maintain a Tap](https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap#maintaining-a-tap) doesn't list anything special for us to do.

[2019-11-07 04:01] David-Frick commented on #61
running sensors-detect returned the following:
[code]

[2019-11-07 04:18] jonasmalacofilho commented on #61
@David-Frick

Oh, a board with an ITE chip. Unfortunately it seems that ITE, unlike other chip manufacturers, refuses to provide datasheets even to kernel maintainers.

Try taking a look at [`asus-wmi-sensors`](https://github.com/electrified/asus-wmi-sensors), but AFAIK it doesn't support fan control.

[2019-11-07 22:49] CaseySJ commented on #63
Please see [the failures](https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/51369/) reported by the homebrew automated checker. One of the issues is to avoid OS.Mac, which has been done. But the other issue to to avoid the `devel` spec.

[2019-11-07 23:17] jonasmalacofilho commented on #63
Right, only `head` is allowed on homebrew-core.

At first I didn't understood why, but I guess it makes sense: `devel` can give a lot of headache to users and maintainers since it looks like a normal version, but may require a lot of updates.  Alternatively, `head` obviously comes with no assurances.

---

Removing the devel block is obviously required, as well as the `|| build.devel?` condition.

[2019-11-08 04:36] David-Frick commented on #61
So I am going to play around with a GUI for this for now and get back to y'all!

[2019-11-08 11:59] CaseySJ commented on #63
I've download the latest change from `clean-up-for-homebrew-core` and getting ready to update the pull request. However, when I run `brew test liquidctl` I get the following (on macOS):
[code]
But if I run the actual operation manually, I get this (which is correct):
[code]
Is this still okay or should `shell_output` pipe the full output to the console?

[2019-11-08 12:06] CaseySJ commented on #63
After committing the change to my GitHub branch, `homebrew-core` automatically processed it and this time, [All checks have passed](https://github.com/Homebrew/homebrew-core/pull/46442)!

[2019-11-08 12:38] CaseySJ commented on #61
Quick update: Weekday commitments have delayed my testing of the `liquidctl status` command on Smart Device V2 to determine whether it causes lights to blink. Will test that within the next day or two.

[2019-11-08 13:00] jonasmalacofilho commented on #63
@CaseySJ

I hadn't considered that, and it seems that only stderr is automatically redirected to the terminal.

I think it's fine for now, since without `--debug` the output isn't that useful anyway.  The most important check is that `list` doesn't exit with a non-zero status.

Once we revisit this for 1.3.0 and re-enable `--debug`, then it might make sense to forward stdout as well, just so users

[2019-11-08 21:27] David-Frick commented on #61
@jonasmalacofilho I went ahead and made a repo for the gui while I hammer it out. I will keep in touch and get feed back from y'all.

[2019-11-09 01:18] David-Frick commented on #61
@jonasmalacofilho I went ahead and made a repo for the gui while I hammer it out. I will keep in touch and get feed back from y'all.

[2019-11-09 12:35] keton opened #68 "Support for NZXT Hue 2 Ambient V2"
I have NZXT Hue 2 Ambient kit V2.
I played around with code from #61 and #64 and it's very straightforward to add my device to liquidctl.

Protocol is the same as for HUE2. The only difference seems to be in USB id, it's 1e71:2002 instead of 1e71:2001 for HUE2.

So if you add code below to https://github.com/jonasmalacofilho/liquidctl/blob/add-support-for-hue2/liquidctl/driver/nzxt_smart_device.py

[2019-11-09 12:49] jonasmalacofilho commented on #68
That's great, thanks!

Do you [also](https://github.com/jonasmalacofilho/liquidctl/issues/61#issuecomment-550560096) see the LEDs blinking (or the animations breaking in other ways) when executing `liquidctl status`?

Can I also ask you to test [rebalance-sdv2-initialize-status](https://github.com/jonasmalacofilho/liquidctl/tree/rebalance-sdv2-initialize-status)?  It's supposed to fix the issue ab

[2019-11-09 12:53] jonasmalacofilho commented on #68
I'm also guessing `status` doesn't yet know about the Ambient accessories.

By analyzing the output with `--debug` infos you may be able to figure out what needs to be added to `_ACCESSORY_NAMES`.

[2019-11-09 13:33] keton commented on #68
[rebalance-sdv2-initialize-status](https://github.com/jonasmalacofilho/liquidctl/tree/rebalance-sdv2-initialize-status) doesn't blink LEDs bui to doesn't output anything either. LED color setting works ok.

On add-support-for-hue2 branch shows 3 out of 4 LED strips connected

Debug output (add-support-for-hue2 branch) is as follows:
[code]

[2019-11-09 13:41] keton commented on #68
I've noticed that on rebalance-sdv2-initialize-status branch `liquidctl --debug initialize` shows accessory status, output below

[code]

[2019-11-09 16:32] CaseySJ commented on #61
Just confirmed that Smart Device V2 also blinks when `liquidctl status` is invoked.

[2019-11-09 16:52] CaseySJ commented on #61
- When we issue command `0x1001` we receive an immediate `1101` reply.
- But when we issue command `0x2003` we do not receive an immediate `2103` reply. Instead, the reply arrives after three sets of `0x6702 / 0x6704` replies. In other words, the `2103` reply is in the 7th `device.read` command.
- This behavior is repeatable. I tried it 10 times with exactly the same order of replies.
[code]

- I

[2019-11-09 16:55] CaseySJ commented on #68
This shows that `HUE 2 Ambient` has the ID `0x05`, which means we can modify `_ACCESSORY_NAMES` as follows:
[code]

[2019-11-09 16:56] David-Frick commented on #61
Would you like me to run and duplicate this?

On Sat, Nov 9, 2019, 11:52 AM CaseySJ <notifications@github.com> wrote:

[2019-11-09 17:16] keton commented on #68
I have only LED strips. There are 2 types of LED strip in this kit 25 and 30 cm long. It looks like accessories labeled as unknown are long LED strips.

[2019-11-09 19:09] CaseySJ commented on #61
No need to duplicate. It's just a confirmation that both HUE 2 Lighting Controller and Smart Device V2 (and presumably the HUE 2 Ambient V2) exhibit the same behavior. It has already been resolved by @jonasmalacofilho in the `rebalance-sdv2-initialize-status` branch.

[2019-11-09 19:16] CaseySJ commented on #68
Thanks, that's very helpful. I actually have the 30cm LED Strip and its ID is 0x04, so ID 0x05 must be for your 25cm LED Strip. Hence, we can change `_ACCESSORY_NAMES`  from this:
[code]

to this:
[code]

[2019-11-10 09:53] jonasmalacofilho commented on #68
Thank you both for the additional infos.

---

@keton

We're reading 6 accessories in total, but it seems you only have 4.

Can you confirm the accessories connected to each channel, and in which order?

[2019-11-10 10:00] jonasmalacofilho commented on #61
Done : )

[2019-11-10 10:00] #61 closed

[2019-11-10 10:29] keton commented on #68
@jonasmalacofilho

I'm sorry writing that I was mistaken about what channel and accessory mean. I have 2 channels connected with 3 accessories on each channel. All accessories are LED strips.

[2019-11-10 10:30] jonasmalacofilho commented on #66
@cwallaceio

Please let me know the firmware version even if you don't have the time to debug the issue right now.

[2019-11-10 10:33] jonasmalacofilho commented on #68
@keton

Oh, that's good to hear.

So the following output for your system would look right to you?

[code]

[2019-11-10 10:41] keton commented on #68
@jonasmalacofilho

Almost but it looks like short and long IDs are swapped. On LED1 channel I have 2 long 1 short strip, on LED2 2 short 1 long.

To be clear I've measured strips lengths in my kit again and not including connectors (in between gray plastic pieces holding the metal connector pins) short one is about 24,7cm and long strip is about 30,2cm long.

[2019-11-10 10:48] keton commented on #68
accessory table that shows my setup correctly is as follows:

[code]

[2019-11-10 10:57] jonasmalacofilho commented on #68
@keton

That's weird, because it would suggest a conflict with the rest of the devices in the family, even though everything else is shared.

Can I ask you to double check the strips in each channel, and also, the channel identification itself?  (maybe it's the channel number that we're getting wrong?)

Specifically, I would like you to do the following tests:

 - test #1: connect only longs strip

[2019-11-10 11:17] keton commented on #68
@jonasmalacofilho I'm sorry but LED strips are glued to back of my monitor and disconnecting them is not a reversible operation (adhesive will be ruined in the process).

I've triple checked and for sure I have 2 long 1 short in one channel and 2 short 1 long in another one.

On my control box channels are labeled (1 and 2). Liquidctl seems to behave according to those labels. Ergo the setup is as

[2019-11-10 11:38] jonasmalacofilho commented on #68
@keton

I'm so sorry, I didn't take into account that reconnecting the strips in arbitrary order is not easy/reversible on an Ambient setup.

When I or @CaseySJ refer to 250 mm vs. 300 mm strips, we're using the standard names, which mostly only reflects the number of LEDs in each strip.

Yeah, I thought so too at first.  However the case that @CaseySJ has only comes with 300 mm (or 10 LED strips)

[2019-11-10 12:05] keton commented on #68
It seems that I missed my morning coffee. You're of course right. My strips are mounted on surface with complicated shape (not flat) that makes measuring difficult.

the correct map is:
[code]

report:
[code]

Moreover the accessory number matches connection order - accessory 1 is directly connected to the controlled, 2 is in the middle, 3 at the end.

I've checked and rechecked it couple of times

[2019-11-10 12:31] jonasmalacofilho commented on #68
I'll close this in a sec, just making some fixes to the documentation and updating the man page as well.

[2019-11-10 12:50] jonasmalacofilho commented on #68
Done in 8ddd80b.

Thanks @keton!

[2019-11-10 12:50] #68 closed

[2019-11-10 13:01] jonasmalacofilho commented on #68
What Linux distro do you run?

[2019-11-10 13:03] keton commented on #68
@jonasmalacofilho I have a couple of VMs, Debian 10 and various versions of Ubuntu. So far I've tested on Ubuntu Mate 19.10.

[2019-11-10 13:05] jonasmalacofilho commented on #62
The best route is probably to request and then work on a package for Debian, that is, a package that will eventually be part of Debian (and, as a result, Ubuntu and other Debian compatible or based distros).

You can start by:

 - opening a [Debian Request for Package (RFP)](https://wiki.debian.org/RFP)
 - taking a look at [Debian/Packaging](https://wiki.debian.org/Packaging) and [Debian/Python Po

[2019-11-10 13:06] jonasmalacofilho commented on #68
Any chance you'd be interested in working on #62 ("Package for Debian/Ubuntu")?

Good to know, thanks.

[2019-11-10 13:10] keton commented on #68
I'd need to teach myself about how .deb building works. Probably adapting recipe from another python3 module will be a good starting point.
Problem is that I'll have time no sooner than next weekend. So if that's urgent you may look for someone else. Otherwise it sounds like fun little project.

[2019-11-10 13:12] jonasmalacofilho commented on #68
It's awesome that you're interested.  Thanks again!

And there's no urgency whatsoever : )

[2019-11-10 13:27] keton commented on #62
@jonasmalacofilho is there a dependency list for liquidctl? It will be super helpful for checking if given python package/library is already packaged for given distribution or should we package it as well.

[2019-11-10 13:55] jonasmalacofilho commented on #62
The Python dependencies are specified in setup.py

[code]

but Linux packages may also need `setuptools`.

This is a common Python packaging problem when `script` entries are used, and is caused by `setup.py install` generating the executable entry point with a dependency to the `pkg_resources` Python module:

[code]

Anyway, this is all standard Python packaging stuff, so if this extra dependency

[2019-11-10 14:19] jonasmalacofilho commented on #62
Update:

 - Python `appdirs` is available as [`python3-appdirs`](https://packages.debian.org/bullseye/python3-appdirs)
 - Python `docopt` is available as [`python3-docopt`](https://packages.debian.org/bullseye/python3-docopt)
 - Python `pyusb` is available as [`python3-usb`](https://packages.debian.org/bullseye/python3-usb), already depends on libusb
 - Python `pkg_resources` **is required** and a

[2019-11-10 14:42] keton commented on #62
For Ubuntu 19.10:
* docopt: https://packages.ubuntu.com/eoan/python3-docopt
* pyusb: https://packages.ubuntu.com/eoan/python3-usb
* hidapi: https://packages.ubuntu.com/eoan/python3-hidapi
* appdirs: https://packages.ubuntu.com/eoan/python3-appdirs

Hidapi is the correct package see [Homepage entry](http://archive.ubuntu.com/ubuntu/pool/universe/p/python-hidapi/python-hidapi_0.7.99.post21-1build2.d

[2019-11-10 14:56] jonasmalacofilho commented on #62
You're right, it's the correct one.  I just wish the packages had more consistent names...

For example:

 - the source package for python3-hid is... python-hidapi
 - the source package for python3-hidapi is... hidapi-cffi
 - python-hidapi is also the name of the binary package for hidapi-cffi × python2

[2019-11-12 13:17] #66 closed

[2019-11-12 17:05] David-Frick commented on #61
@jonasmalacofilho I have a question. Is it possible the RGB on the AER 2 fans could be controlled if the AER 2 fans are connected to the mobo and not the NZXT Hue 2 or is that the issue we talked about above with the ISA Chip? I am hoping to possible get rid of the Hue 2 and the Internal USB hub as they take up so much space in my case ;/  Hope all is well!

[2019-11-12 19:44] jonasmalacofilho commented on #61
@David-Frick

All good here, hope you're fine too!

Regarding connecting AER 2 fans to motherboard headers...

Well, I'm not 100% sure, but given that HUE 2 is backwards compatible with HUE+, it probably still uses the same WS2812B LED ICs as the previous generation.  And that's the same IC most **addressable** LED systems (Aura, Mystic, Corsair) use.

So yeah, it should be compatible, but you'll

[2019-11-12 21:22] David-Frick commented on #61
I will definitely combine the USB cables. OpenAuraSDK does not seem to
support my mobo yet. I have seen some other interesting projects that are
related to that here:
https://rog.asus.com/forum/showthread.php?95652-AURA-SDK-Projects-and-Apps-List

On Tue, Nov 12, 2019 at 2:44 PM Jonas Malaco <notifications@github.com>
wrote:

[2019-11-13 09:26] jonasmalacofilho commented on #66
@cdgriffith which kernel driver are you using on Windows?

[2019-11-14 15:25] keton commented on #62
I've got to the point where .deb builds on Ubuntu eoan. Same metadata should be good for any recent Ubuntu and Debian versions.

[code]
now `sudo  liquidctl initialize` should work.

I've also set up test PPA here: https://launchpad.net/~keton22-gmail/+archive/ubuntu/liquidctl-test-ppa
[code]

Now I need to figure out how to setup similar repo for Debian.

[2019-11-14 23:23] jonasmalacofilho commented on #62
That's great, thanks!

Can you use `DIST_NAME` and `DIST_PACKAGE` to customize the output from `--version`?  It might help me when dealing with bug reports...
 - `DIST_NAME` can be something like `<Ubuntu|Debian> <version>` (`/etc/os/release` might help)
 - `DIST_PACKAGE` can be the complete distro package name, including version, release, etc. (e.g. `python3-liquidctl_1.3.0-1_all`)
 - you can use

[2019-11-14 23:28] jonasmalacofilho commented on #62
Oh, and I think you might need to split the package into two:

 - `python3-liquidctl`: Python library
 - `liquidctl`: `/usr/bin/liquidctl`, man page

I didn't see this requirement in the docs, but take a look at [flake8](https://packages.ubuntu.com/disco/flake8).

[2019-11-17 21:32] jonasmalacofilho commented on #62
I just released 1.3.0; note that `appdirs` is no longer a dependency.

[2019-11-17 21:50] jonasmalacofilho commented on #63
@CaseySJ

I just released 1.3.0 and updated our tap.

I also updated my reference [cleaned-up version for homebrew-core](https://github.com/jonasmalacofilho/homebrew-liquidctl/blob/clean-up-for-homebrew-core/Formula/liquidctl.rb), which now also includes the man page and a slightly better test.

Can you update the PR formula (and the PR title as well)?

[2019-11-18 01:54] CaseySJ commented on #63
@jonasmalacofilho

I've submitted the 1.3.0 commit to the same pull request, located [here](https://github.com/Homebrew/homebrew-core/pull/46442). It's still being 'built', though it's been over 5 minutes...

[2019-11-18 02:20] jonasmalacofilho commented on #63
@CaseySJ

Thank you!  And it's done building now, and all looks well.

[2019-11-18 02:21] jonasmalacofilho commented on #63
Hm, I'm going to close this issue: we have the custom tap and an up-to-date pull request to homebrew-core...

Thanks again!

[2019-11-18 02:21] #63 closed

[2019-11-18 09:44] aerosol opened #70 "1.3.0 - no longer able to run as a regular user"
Hey, after upgrading from 1.2.0 to 1.3.0 via AUR I'm unable to run `liquidctl` as a regular user anymore.

It doesn't look like the udev rules need an update, but maybe they do?

Here are my settings:

# lsusb

[code]

[code]

# udev rules

[code]

# liquidctl list

[code]

[code]

[code]

[2019-11-18 11:44] jonasmalacofilho commented on #70
HID devices on Linux are now normally accessed through hidraw, which is a bit faster and avoids unloading kernel drivers (like the [hwmon](https://github.com/jonasmalacofilho/liquidtux) ones I'm working on).

You can change the rule to apply for all subdevices of the parent USB device:

[code]

or add an additional rule for the hidraw device specifically:

[code]

[2019-11-19 11:51] aerosol commented on #70
Many thanks @jonasmalacofilho that helped!

[2019-11-19 11:51] #70 closed

[2019-11-19 13:27] jonasmalacofilho commented on #70
Thank you!

[2019-12-01 19:45] David-Frick commented on #62
Okay, so I got OpenAuraSDK to work thanks to the maintainers help so thanks a lot for pointing that out to me. I am adding more stuff slowly to the liquidctlgui. Do y'all need anything to help with making the Debian package?

[2019-12-02 05:08] jonasmalacofilho commented on #62
Besides the changes/fixes listed above (which will probably be required for the package to be accepted), you can look into opening a [RFP](https://wiki.debian.org/RFP) (and possibly also a [ITP](https://wiki.debian.org/ITP), since you'd be working on it).

[2019-12-02 16:58] David-Frick commented on #62
Okay, I am reading up a little on it. Let me know when you are ready for the next steps and tell me what to do :)

[2019-12-03 05:20] jonasmalacofilho commented on #62
I'm available/ready to assist you.

But besides the few changes above that I know (or at least think) are necessary, I'm not sure what else has to be done.  This is why I think it's time to open the RFP (and the ITP), and get some proper feedback.

I haven't taken charge on either because I'm not a Debian user on the desktop.¹  I would either ask them to create a package I wouldn't use, or endless

[2019-12-03 05:36] David-Frick commented on #62
Okay gotcha. Let me go ahead and contact them!

-------- Original Message --------
On Dec 3, 2019, 12:20 AM, Jonas Malaco wrote:

[2019-12-07 17:44] David-Frick commented on #62
Following up: This link on the debian website [wnpp process](https://www.debian.org/devel/wnpp/) walks through the process a little bit. Going to walk through this, this week. Seems pretty straight forward.

[2019-12-07 17:45] jonasmalacofilho commented on #62
Great, thanks!

[2019-12-11 02:03] CaseySJ opened #71 "Smart Device V2 fan status issue"
Hello @jonasmalacofilho

Line **451** of the _NZXT Smart Device V2_ driver is currently this:
[code]
But this is incorrect. It results in:
[code]
It should be changed to:
[code]
Which results in the correct status:
[code]

[2019-12-11 11:31] #71 closed

[2019-12-11 11:33] jonasmalacofilho commented on #71
Thanks for reporting this.

Already fixed it in the master branch.  Will do a release later today.

[2019-12-11 12:58] jonasmalacofilho commented on #71
@CaseySJ

I just released 1.3.2 with this fix.  Can you update our custom tap, as well as the under-review formula for homebrew-core?

[2019-12-11 15:16] CaseySJ commented on #71
Certainly, will do so this evening. Thanks for the quick turnaround on this!!

[2019-12-19 17:14] sebikolo opened #72 "Software-based fan/pump speed profiles"
How to control pump and fans based on CPU temperature, not Liquid temperature?

[2019-12-19 17:34] jonasmalacofilho commented on #72
liquidctl only exposes native device features (through a CLI and a set of APIs).

The supported coolers only have a liquid temperature sensor, and there's no way for them to _directly_ access or support CPU temperature sensors.
But you can use the liquidctl APIs + a suitable sensor API to create a script that adjusts the speeds according to the algorithm of your choice.

There's already an example

[2019-12-19 17:54] sebikolo commented on #72
Thank you for the quick reply. Unfortunately, I'm not a programmer :-(. I'm looking for a ready solution.

[2019-12-19 18:54] jonasmalacofilho commented on #72
What OS are you running?

[2019-12-19 19:02] sebikolo commented on #72
macOS Catalina 10.15.2

[2019-12-20 00:09] jonasmalacofilho commented on #72
I don't have a mac to work on this, but there should be _some_ way of getting the CPU temperature programmatically.  Maybe through the BSD layer, maybe using a library or CLI program.

If you can figure that out and point me to how it works, I should be able to help.  The example script I linked already is functional, it just lacks access to external sensors on macOS.

---

@CaseySJ do you think y

[2019-12-20 17:26] CaseySJ commented on #72
@jonasmalacofilho

One of the command line tools we can use is a Ruby app called `iStats`. We can install it via the command `sudo gem install iStats`. Here is some sample CLI output:

[code]

And more interestingly:

[code]

If we don't supply any arguments, we get (on my 2012 MacBook Air laptop):
[code]

A macOS script that can regularly monitor CPU temps and adjust fan speeds on Kraken or Smart

[2019-12-20 17:32] jonasmalacofilho commented on #72
@CaseySJ thanks!

I'll take a look at its source code and see how it does that.

: )

[2019-12-23 04:59] jonasmalacofilho commented on #72
Quick update: it seems a native extension is needed to read the data from the SMC.

It should be possible to port the extension from iStats to Python, but it's a bit too much work for me right now (besides other work, I'd need to set up a Mac system to test this).

---

Other/simpler alternatives:

 - execute iStats from krakencurve, but that isn't very efficient
 - call iStats methods using somet

[2019-12-23 05:06] jonasmalacofilho commented on #46
It seems that interest on the missing features is low.

Anyone out there still able and willing to help with this?

[2019-12-23 05:06] jonasmalacofilho commented on #62
Hi @David-Frick, did you make any progress?

[2019-12-23 05:14] David-Frick commented on #62
Hey!

The Debian docs are not the best! I am actually reading over the arch linux docs regarding how they do it to get a better idea and come back to debian. I am sorry I have not kept in touch, it has been pouring rain (in winter of all times) and I got super sick :(

I am going to jot up notes and do it first thing tomorrow. One question: I upgraded to Debian unstable (sid). Would this affect ho

[2019-12-23 05:17] jnettlet commented on #46
I am mostly just waiting until after the holiday season.  I will have
new cases coming in which means that I can free up my PSU for
development.  Right now it is integrated into my ARM64 workstation, so
no Windows ECAM support yet.   This is a pet project for me and my
time has been limiting working on higher priority items right now.

On Mon, Dec 23, 2019 at 6:06 AM Jonas Malaco <notifications@gi

[2019-12-23 05:27] jonasmalacofilho commented on #62
Hi!

Yeah, I have to admit I still have a few questions myself about how Debian's WNNP bugs work.

Actually, I think that new packages have to go to unstable anyway, at least until the next Debian stable release.  But I could be _totally_ wrong about this.  It's just that I'm no used to seeing recent software packages on Debian stable.

[2019-12-23 05:30] jonasmalacofilho commented on #46
Hi Jon!

That's fine.  It's just good to know that you're still interested.

I'll the issue open, let me know when you start working on this.

[2019-12-23 23:00] David-Frick commented on #62
@jonasmalacofilho So I went ahead and submitted the ITP. It says I should receive an email shortly and that I will need to get in touch with a Debian mentor who will help me prepare it and become a mentor myself. So we will see how it goes. I am looking at the next steps as I need to make a .deb file out of it (actually package).

They have good documentation in terms of workflows and what need to

[2019-12-26 23:40] jonasmalacofilho commented on #62
@David-Frick I still can't seem to find the ITP.  Did you get the email?

[2019-12-26 23:40] jonasmalacofilho commented on #62
Also, feel free to C/C when necessary.

[2019-12-26 23:53] David-Frick commented on #62
I did not :(
Let me try again.
I am having some issues with Debian overall as sddm of kde decided to not want to work with my monitor anymore even on stable (buster).

Can KDE Neon or even Ubuntu make Debian packages to be released on Debian because I mihht need to switch.

Sent from ProtonMail mobile

-------- Original Message --------
On Dec 26, 2019, 6:40 PM, Jonas Malaco wrote:

[2019-12-27 00:10] jonasmalacofilho commented on #62
You might have more luck with debian unstable (and more up-to-date software), assuming you're running new-ish hardware.

I would assume so, though some care might be necessary when testing or debugging, since they might be running different versions of dependencies and have slightly different default configurations.

[2019-12-27 00:19] David-Frick commented on #62
Yeah, I figured. I am making a fresh install of sid now and am almost done.

-------- Original Message --------
On Dec 26, 2019, 7:10 PM, Jonas Malaco wrote:

[2019-12-30 16:49] Frick-David commented on #62
@jonasmalacofilho so a user on another thread says that  a Trusted User (TU) needs to pick up the package for it to be put into the package manager, and implied it is hard/takes a long time to become a Trusted User. When I filled in the ITP (which I will redo to make sure it goes through), it did talk about getting in touch with a TU to become one and finish the package by getting mentored. I am h

[2019-12-31 04:55] jonasmalacofilho commented on #62
Thanks for the update... I'll also see how I know that's already involved in Debian and can help.

[2020-01-06 10:36] augustopaulogh opened #73 ""OSError: open failed" for Corsair HX1000i"
Hi,
Thanks for this great tool in Catalina (10.15.2)!
Just works great with my Kraken NZXT X72 AIO cooler, but it won't initialise my Corsair HX1000i PSU.

[code]

[code]

[code]
Can you please provide some pointers ?

Thanks.

[2020-01-06 10:59] augustopaulogh commented on #73
Sorry!
Please disregard my previous post and close this thread!
I just needed to reboot...

[2020-01-06 10:59] #73 closed

[2020-01-07 02:22] jonasmalacofilho commented on #73
Hi!  I'm glad that everything worked out.  Let me know if you have any other issues...

[2020-01-11 21:30] Louiscar1 opened #74 "Unable to get liquidctl to work on my windows machine."
As per title looking for an alternative to CAM I found this but after trying the command line tool the only thing that makes sense is:

[code]

I get my Kraken x31 shown but no status.
any other command results in "unimplimented" error like this:

[code]
Not sure why it's not working but some help would be appreciated.
Do I need to uninstall CAM .. it wasn't running when I attempted all this.

[2020-01-12 06:08] jonasmalacofilho commented on #74
Hi @Louiscar1 !

I think there are two things causing this..

First, you need to install the WinUSB driver on this device.  Unlike more modern coolers, the Kraken X31 normally uses a proprietary driver which is not compatible with (the) open-source libraries (we use).

The next thing is that you *must* pass the `--legacy-690lc`  on all invocations of liquidctl.  This is very important because ther

[2020-01-12 16:25] Louiscar1 commented on #74
Hi Jonas,

I was trawling through the documents and saw the driver thing. I had already tried the legacy-690lc and saw that the message did at least change to (assume Kraken x). I then downloaded Zadig and had after figuring how to use it, had stopped there as I wasn't sure of undoing something if it went wrong.

But thanks for the heads up as now I have confirmation that this is what needs to be

[2020-01-12 17:20] Louiscar1 commented on #74
Great I got it working however, but have some questions . It appears to me that the pump speed is fixed or can't be altered. I got confused by the status report giving me either 1800rpm or 1680rpm when I changed fan speed.

However, as it transpires I don't have to do anything I just have to poll in succession so the result is not constant. Eg. I polled twice in quick succession to get these resul

[2020-01-12 21:12] jonasmalacofilho commented on #74
I'm glad you got it to work already : )

I remember reading that the X31 was more limited than the other coolers of the same family.  Maybe one of these limitations is that the pump only runs at 1800 rpm?

On the other hand the variance in _reported_ pump speed is normal (a bit high compared to my Asetek 690LC from EVGA, but still within the expected range).

It's possible that the cooler supports

[2020-01-12 21:17] Louiscar1 commented on #74
Ok Thanks for the information Jonas,

Without the ability to set some kind of profile it would be a pain to switch to this as an alternative to CAM.

Right now it appears I'll have to tolerate  CAM's telemetry requirements until I find another solution.

Either way a big thanks to people like you who strive to make better software for us to use.

[2020-01-12 21:37] jonasmalacofilho commented on #74
Thanks! : )

You know, you can easily adapt `extra/krakencurve-poc` to work with these old Krakens, and have a software based fan profile.  You will need to set up Python, libusb and liquidctl _as a full Python package,_ but otherwise the code change should be very straightforward (if I'm not forgetting anything):

[code]

The only thing is that you'll be limited to the liquid temperature, as ther

[2020-01-13 17:05] jonasmalacofilho commented on #74
Just remembered that you'd also need to change:

[code]

---

Well, I'm going to close this since there's not much more liquidctl can do (at least for now).  But please feel free to add more comments if you have more questions or suggestions...

Also, if you start messing with Python you could also consider resurrecting #35 ("Some Kraken X61 functionality still missing").  My newer 690LC from EVGA

[2020-01-13 17:05] #74 closed

[2020-01-18 09:55] leinardi opened #75 "OSError: open failed with version 1.3.2 on Ubuntu 19.10"
I've updated liquidctl from v1.2.0 to 1.3.2 but now when I try to run a `liquidctl status` I get this error on a Kraken X62 with Firmware 6.0.2:

[code]

Before running it I've installed all the Ubuntu dependencies listed in the README.md:
[code]

I saw that #73 reported a similar issue and the solution in that case was to reboot: I tried that too but didn't work.

EDIT
Version 1.1.0 and 1.2.0 wor

[2020-01-18 13:46] jonasmalacofilho commented on #75
If I remember correctly, you use an udev rule to run liquidctl as a non-priviledged user.

As the default backend used for HIDs on Linux has changed in 1.3.2, from libusb to hid(raw), you probably need to adjust your udev rule to not only work at the USB level.

I get into a bit more detail about this in [#70 (comment)](https://github.com/jonasmalacofilho/liquidctl/issues/70#issuecomment-554980902

[2020-01-18 13:53] leinardi commented on #75
Hey thanks! Changing from `SUBSYSTEM` to `SUBSYSTEMS` did the trick :+1:

[2020-01-18 13:53] #75 closed

[2020-01-21 15:40] jwmann commented on #72
I'm also here looking for a solution to algorithmically / temp curve control my pump and fans
Also using macOS 10.15+

Just adding my +1

[2020-01-24 11:55] jwjennison opened #76 "Support for Corsair H100i/H115i Platinum"
[code]

[code]

[2020-01-24 12:11] jwjennison commented on #76
root@james-desktop:/home/james/liquidctl-master# liquidctl initialize -g
[DEBUG] liquidctl.cli: running liquidctl v1.3.1
[DEBUG] liquidctl.driver.usb: searching GenericHidBus (api=hidraw, drivers=[CommonSmartDeviceDriver, CorsairHidPsuDriver, KrakenTwoDriver, SeasonicEDriver, SmartDeviceDriver, SmartDeviceV2Driver])
**[DEBUG] liquidctl.driver.usb: probing drivers for device 0x1b1c:0xc17**
[DEBUG]

[2020-01-24 12:41] jonasmalacofilho commented on #76
Hi @jwjennison,

The H115i Platinum is not yet supported.  I would love to support it, but I don't have one of these: for the time being it will depend on someone stepping up to help write the driver for it.

By the way, there's a huge difference between the many H115i variants:

 - H115i: 5-th gen. Asetek design (supported)
 - H115i PRO: 6-th gen. Asetek design (not supported)
 - H115i Platinum:

[2020-01-24 12:44] jwjennison commented on #76
well lets get started.. what can I do to help

    On Friday, January 24, 2020, 07:41:09 AM EST, Jonas Malaco <notifications@github.com> wrote:

Hi @jwjennison,

The H115i Platinum is not yet supported. I would love to support it, but I don't have one of these: for the time being it will depend on someone stepping up to help write the driver for it.

By the way, there's a huge difference between t